---
import { Image } from "astro:assets"
import H1 from "../typography/h1.astro"
import wave from "#/assets/images/spline-holders/wave-collateral.png"
---

<section class="flex w-full justify-center pb-12 md:pb-24">
  <div class="absolute w-full max-w-[1440px] px-6 z-10">
    <div class="z-20 grid grid-cols-1 gap-16 w-full py-14 md:py-28">
      <div class="flex flex-col text-left items-start">
        <H1>Development <span class="text-accent-500">blog.</span></H1>
      </div>
    </div>
  </div>
  <div class="w-full">
    <Image
      src={wave}
      alt="Wave Collateral"
      class="w-full object-cover h-screen"
    />
  </div>
</section>
