---
import H1 from "#/components/typography/h1.astro"
import ButtonA from "#/components/ButtonA.astro"
import Subtitle from "../typography/subtitle.astro";
---
<section class="flex w-full">
    <div class="w-full max-w-[1920px] mx-auto z-10 px-4 sm:px-6">
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="flex flex-col justify-center gap-4">
                <H1>Consensus <br> verification <br> for security <br> and <span
                        class="text-accent-500">stability</span>
                </H1>
                <div class="max-w-[672px]">
                    <Subtitle class="text-lg sm:text-4xl">Union eliminates intermediaries and connects blockchains directly.
                        With Union light clients, you get
                        secure,
                        censorship-resistant connections to any ecosystem.</Subtitle>
                </div>
                <ButtonA>LEARN MORE >>></ButtonA>
            </div>
            <div class="flex justify-end">
                <img src="/src/assets/images/spline-holders/execution.png" alt="Wave Collateral"></img>
            </div>
        </div>
    </div>
</section>