---
import H1 from "#/components/typography/h1.astro"
import Subtitle from "#/components/typography/subtitle.astro"
import ButtonA from "#/components/ButtonA.astro"
import LanderSection from "../LanderSection.astro";
---

<section class="relative flex w-full">
    <div class="w-full max-w-[1920px] mx-auto px-4 sm:px-6 z-10">
        <div class="z-20 grid grid-cols-1 w-full">
            <div class="flex flex-col text-left items-start">
                <H1>The <br> Modular <br> <span class="text-accent-500">Ecosystem</span></H1>
            </div>
            <div class="flex flex-col items-end">
                <div class="text-right flex flex-col gap-4">
                    <H1>The <br> interoperability <br> <span class="text-accent-500"><span
                            class="text-2xl">0_____________0</span> revolution</span></H1>
                    <div class="max-w-[557px] text-left flex flex-col gap-4">
                        <Subtitle>
                            Connecting every blockchain, without compromising on security, efficiency, decentralization,
                            or
                            speed.
                        </Subtitle>
                        <ButtonA href="https://app.union.build">DIVE IN >>></ButtonA>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="absolute -mt-14 md:-mt-28 w-full">
        <img src="/src/assets/images/spline-holders/wave-collateral.png" alt="Wave Collateral" class="object-cover w-full">
    </div>
</section>
