---
import "../../styles/marquee.css"
import type { NamedImage } from "../../lib/types.ts"

interface Props {
  title: string
  data: Array<NamedImage>
  reverse: boolean
}

const { title, data, reverse } = Astro.props
---

  <article>
    <div class:list={[
      'marquee',
      {'marquee--reverse': reverse}
    ]}>
      <div class="marquee__group">
        {
          data.map(item => (
            <img src={item.logo.src} alt={item.name}></img>
          ))
        }
      </div>

      <div aria-hidden="true" class="marquee__group">
        {
          data.map(item => (
                  <img src={item.logo.src} alt={item.name}></img>
          ))
        }
      </div>
    </div>
  </article>

