---
import LanderSection from "#/components/LanderSection.astro";
import IntroHeading from "#/components/typography/IntroHeading.astro";
import Card from "#/components/Card.astro";
import AppleGraphContainer from '#/components/graphs/AppleGraphContainer.svelte'
import PerformanceGraph from '#/components/graphs/ValidatorPerformance.svelte'
---

<LanderSection gradient="to-b">
  <IntroHeading title="The Endgame of Infrastructure">
    Efficient zero-knowledge cryptography and consensus verification are the holy grail of interoperability. Union makes protocols fast, trustless and PLACEHOLDER.
  </IntroHeading>
  <div class="grid grid-cols-1 md:grid-cols-2 size-full gap-4">
    <Card padded>
      <AppleGraphContainer
        bars={[
          { width: 100, label: 'CometBLS V3', primary: true },
          { width: 9.1, label: 'ZkMint' },
          { width: 1.45, label: 'TendermintX' },
          { width: 0.77, label: 'Fraud-proof bridges' },
        ]}
        client:load
      />
    </Card>

    <Card>
      <div class="absolute p-4 sm:p-8 text-xl md:text-2xl font-semibold text-gray-300 z-20">
        Galois' Scalability
      </div>
      <PerformanceGraph client:load />
    </Card>
  </div>
</LanderSection>

