---
import LanderSection from "#/components/LanderSection.astro";
import IntroHeading from "#/components/typography/IntroHeading.astro";
import ProductSection from '#/components/ProductSection.astro'

import microGaloisModel from "#/spline/micro-galois-optimized.splinecode";
import microCometblsModel from "#/spline/micro-cometbls-optimized.splinecode";
import microVoyagerModel from "#/spline/micro-voyager-no-zoom.splinecode";
---
<LanderSection>
  <IntroHeading title="Products for a ZK-aligned Future">
    Trustless, decentralized, and permissionless interoperability
    is now possible. Union is the only protocol that provides all three, using state-of-the-art
    <span class="text-white">Zero-Knowledge cryptography</span>.
  </IntroHeading>
  <div
    class="grid grid-rows-3 grid-cols-1 sm:grid-cols-3 sm:grid-rows-1 gap-4 md:gap-8"
  >
    <ProductSection name="Galois" description="Decentralized proving for everyone. Galois, a key component of Union's ZK efforts, ensures proof verification with lightning-fast execution, cost-efficient operation, and decentralized infrastructure." link="/docs/architecture/galois" model={microGaloisModel}/>
    <ProductSection name="CometBLS" description="ZK-aligned consensus engine. CometBLS is an enhancement upon Tendermint which utilizes BLS signatures for efficient ZK proving, and thereby ensuring secure bridging and consensus verification." link="/docs/architecture/cometbls" model={microCometblsModel}/>
    <ProductSection name="Voyager" description="Stateless relaying for a cross-chain future. Voyager is our in-house relayer, allowing us to support new networks without waiting for up-stream support, by seamlessly integrating with Galois." link="/docs/architecture/voyager" model={microVoyagerModel}/>
  </div>
</LanderSection>
