---
import MatrixCover from "../MatrixCover.astro"
---

<div class="flex calc-h relative w-full">
  <MatrixCover/>
  <div class="absolute inset-0 flex justify-center w-full h-full">
    <div class="w-full h-full max-w-[1440px] px-6">
      <slot />
    </div>
  </div>
</div>

<style>
  .calc-h {
      height: calc(100svh - (68px));
  }
</style>

