[package]
name    = "upgradable"
version = "0.0.0"

authors      = { workspace = true }
edition      = { workspace = true }
license-file = { workspace = true }
publish      = { workspace = true }
repository   = { workspace = true }

[lints]
workspace = true

[dependencies]
cosmwasm-std = { workspace = true, features = [] }
embed-commit = { workspace = true }
frissitheto  = { workspace = true }
serde        = { workspace = true, features = ["derive"] }
serde_json   = { workspace = true }
thiserror    = { workspace = true }

[features]
default = []
library = []
