{
  "metadata": {
    "apiVersion": "2008-10-21",
    "endpointPrefix": "tnb",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Telco Network Builder",
    "serviceId": "tnb",
    "signatureVersion": "v4",
    "signingName": "tnb",
    "uid": "tnb-2008-10-21"
  },
  "operations": {
    "CancelSolNetworkOperation": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sol/nslcm/v1/ns_lcm_op_occs/{nsLcmOpOccId}/cancel",
        "responseCode": 202
      },
      "input": {
        "shape": "CancelSolNetworkOperationInput"
      },
      "name": "CancelSolNetworkOperation"
    },
    "CreateSolFunctionPackage": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sol/vnfpkgm/v1/vnf_packages",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSolFunctionPackageInput"
      },
      "name": "CreateSolFunctionPackage",
      "output": {
        "shape": "CreateSolFunctionPackageOutput"
      }
    },
    "CreateSolNetworkInstance": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sol/nslcm/v1/ns_instances",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSolNetworkInstanceInput"
      },
      "name": "CreateSolNetworkInstance",
      "output": {
        "shape": "CreateSolNetworkInstanceOutput"
      }
    },
    "CreateSolNetworkPackage": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sol/nsd/v1/ns_descriptors",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSolNetworkPackageInput"
      },
      "name": "CreateSolNetworkPackage",
      "output": {
        "shape": "CreateSolNetworkPackageOutput"
      }
    },
    "DeleteSolFunctionPackage": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSolFunctionPackageInput"
      },
      "name": "DeleteSolFunctionPackage"
    },
    "DeleteSolNetworkInstance": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSolNetworkInstanceInput"
      },
      "name": "DeleteSolNetworkInstance"
    },
    "DeleteSolNetworkPackage": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSolNetworkPackageInput"
      },
      "name": "DeleteSolNetworkPackage"
    },
    "GetSolFunctionInstance": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/vnflcm/v1/vnf_instances/{vnfInstanceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSolFunctionInstanceInput"
      },
      "name": "GetSolFunctionInstance",
      "output": {
        "shape": "GetSolFunctionInstanceOutput"
      }
    },
    "GetSolFunctionPackage": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSolFunctionPackageInput"
      },
      "name": "GetSolFunctionPackage",
      "output": {
        "shape": "GetSolFunctionPackageOutput"
      }
    },
    "GetSolFunctionPackageContent": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}/package_content",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSolFunctionPackageContentInput"
      },
      "name": "GetSolFunctionPackageContent",
      "output": {
        "shape": "GetSolFunctionPackageContentOutput"
      }
    },
    "GetSolFunctionPackageDescriptor": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}/vnfd",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSolFunctionPackageDescriptorInput"
      },
      "name": "GetSolFunctionPackageDescriptor",
      "output": {
        "shape": "GetSolFunctionPackageDescriptorOutput"
      }
    },
    "GetSolNetworkInstance": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSolNetworkInstanceInput"
      },
      "name": "GetSolNetworkInstance",
      "output": {
        "shape": "GetSolNetworkInstanceOutput"
      }
    },
    "GetSolNetworkOperation": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/nslcm/v1/ns_lcm_op_occs/{nsLcmOpOccId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSolNetworkOperationInput"
      },
      "name": "GetSolNetworkOperation",
      "output": {
        "shape": "GetSolNetworkOperationOutput"
      }
    },
    "GetSolNetworkPackage": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSolNetworkPackageInput"
      },
      "name": "GetSolNetworkPackage",
      "output": {
        "shape": "GetSolNetworkPackageOutput"
      }
    },
    "GetSolNetworkPackageContent": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}/nsd_content",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSolNetworkPackageContentInput"
      },
      "name": "GetSolNetworkPackageContent",
      "output": {
        "shape": "GetSolNetworkPackageContentOutput"
      }
    },
    "GetSolNetworkPackageDescriptor": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}/nsd",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSolNetworkPackageDescriptorInput"
      },
      "name": "GetSolNetworkPackageDescriptor",
      "output": {
        "shape": "GetSolNetworkPackageDescriptorOutput"
      }
    },
    "InstantiateSolNetworkInstance": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}/instantiate",
        "responseCode": 201
      },
      "input": {
        "shape": "InstantiateSolNetworkInstanceInput"
      },
      "name": "InstantiateSolNetworkInstance",
      "output": {
        "shape": "InstantiateSolNetworkInstanceOutput"
      }
    },
    "ListSolFunctionInstances": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/vnflcm/v1/vnf_instances",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSolFunctionInstancesInput"
      },
      "name": "ListSolFunctionInstances",
      "output": {
        "shape": "ListSolFunctionInstancesOutput"
      }
    },
    "ListSolFunctionPackages": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/vnfpkgm/v1/vnf_packages",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSolFunctionPackagesInput"
      },
      "name": "ListSolFunctionPackages",
      "output": {
        "shape": "ListSolFunctionPackagesOutput"
      }
    },
    "ListSolNetworkInstances": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/nslcm/v1/ns_instances",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSolNetworkInstancesInput"
      },
      "name": "ListSolNetworkInstances",
      "output": {
        "shape": "ListSolNetworkInstancesOutput"
      }
    },
    "ListSolNetworkOperations": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/nslcm/v1/ns_lcm_op_occs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSolNetworkOperationsInput"
      },
      "name": "ListSolNetworkOperations",
      "output": {
        "shape": "ListSolNetworkOperationsOutput"
      }
    },
    "ListSolNetworkPackages": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sol/nsd/v1/ns_descriptors",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSolNetworkPackagesInput"
      },
      "name": "ListSolNetworkPackages",
      "output": {
        "shape": "ListSolNetworkPackagesOutput"
      }
    },
    "ListTagsForResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "PutSolFunctionPackageContent": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}/package_content",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "PutSolFunctionPackageContentInput"
      },
      "name": "PutSolFunctionPackageContent",
      "output": {
        "shape": "PutSolFunctionPackageContentOutput"
      }
    },
    "PutSolNetworkPackageContent": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}/nsd_content",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "PutSolNetworkPackageContentInput"
      },
      "name": "PutSolNetworkPackageContent",
      "output": {
        "shape": "PutSolNetworkPackageContentOutput"
      }
    },
    "TagResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "TerminateSolNetworkInstance": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}/terminate",
        "responseCode": 201
      },
      "input": {
        "shape": "TerminateSolNetworkInstanceInput"
      },
      "name": "TerminateSolNetworkInstance",
      "output": {
        "shape": "TerminateSolNetworkInstanceOutput"
      }
    },
    "UntagResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateSolFunctionPackage": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSolFunctionPackageInput"
      },
      "name": "UpdateSolFunctionPackage",
      "output": {
        "shape": "UpdateSolFunctionPackageOutput"
      }
    },
    "UpdateSolNetworkInstance": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}/update",
        "responseCode": 201
      },
      "input": {
        "shape": "UpdateSolNetworkInstanceInput"
      },
      "name": "UpdateSolNetworkInstance",
      "output": {
        "shape": "UpdateSolNetworkInstanceOutput"
      }
    },
    "UpdateSolNetworkPackage": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSolNetworkPackageInput"
      },
      "name": "UpdateSolNetworkPackage",
      "output": {
        "shape": "UpdateSolNetworkPackageOutput"
      }
    },
    "ValidateSolFunctionPackageContent": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}/package_content/validate",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "ValidateSolFunctionPackageContentInput"
      },
      "name": "ValidateSolFunctionPackageContent",
      "output": {
        "shape": "ValidateSolFunctionPackageContentOutput"
      }
    },
    "ValidateSolNetworkPackageContent": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}/nsd_content/validate",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "ValidateSolNetworkPackageContentInput"
      },
      "name": "ValidateSolNetworkPackageContent",
      "output": {
        "shape": "ValidateSolNetworkPackageContentOutput"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CancelSolNetworkOperationInput": {
      "members": {
        "nsLcmOpOccId": {
          "location": "uri",
          "locationName": "nsLcmOpOccId",
          "shape": "NsLcmOpOccId"
        }
      },
      "required": [
        "nsLcmOpOccId"
      ],
      "type": "structure"
    },
    "CreateSolFunctionPackageInput": {
      "members": {
        "tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateSolFunctionPackageOutput": {
      "members": {
        "arn": {
          "shape": "VnfPkgArn"
        },
        "id": {
          "shape": "VnfPkgId"
        },
        "onboardingState": {
          "shape": "OnboardingState"
        },
        "operationalState": {
          "shape": "OperationalState"
        },
        "tags": {
          "shape": "TagMap"
        },
        "usageState": {
          "shape": "UsageState"
        }
      },
      "required": [
        "arn",
        "id",
        "onboardingState",
        "operationalState",
        "usageState"
      ],
      "type": "structure"
    },
    "CreateSolNetworkInstanceInput": {
      "members": {
        "nsDescription": {
          "shape": "CreateSolNetworkInstanceInputNsDescriptionString"
        },
        "nsName": {
          "shape": "CreateSolNetworkInstanceInputNsNameString"
        },
        "nsdInfoId": {
          "shape": "NsdInfoId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "nsName",
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "CreateSolNetworkInstanceInputNsDescriptionString": {
      "max": 255,
      "min": 0,
      "type": "string"
    },
    "CreateSolNetworkInstanceInputNsNameString": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "CreateSolNetworkInstanceOutput": {
      "members": {
        "arn": {
          "shape": "NsInstanceArn"
        },
        "id": {
          "shape": "NsInstanceId"
        },
        "nsInstanceName": {
          "shape": "String"
        },
        "nsdInfoId": {
          "shape": "NsdInfoId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "arn",
        "id",
        "nsInstanceName",
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "CreateSolNetworkPackageInput": {
      "members": {
        "tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateSolNetworkPackageOutput": {
      "members": {
        "arn": {
          "shape": "NsdInfoArn"
        },
        "id": {
          "shape": "NsdInfoId"
        },
        "nsdOnboardingState": {
          "shape": "NsdOnboardingState"
        },
        "nsdOperationalState": {
          "shape": "NsdOperationalState"
        },
        "nsdUsageState": {
          "shape": "NsdUsageState"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "arn",
        "id",
        "nsdOnboardingState",
        "nsdOperationalState",
        "nsdUsageState"
      ],
      "type": "structure"
    },
    "DeleteSolFunctionPackageInput": {
      "members": {
        "vnfPkgId": {
          "location": "uri",
          "locationName": "vnfPkgId",
          "shape": "VnfPkgId"
        }
      },
      "required": [
        "vnfPkgId"
      ],
      "type": "structure"
    },
    "DeleteSolNetworkInstanceInput": {
      "members": {
        "nsInstanceId": {
          "location": "uri",
          "locationName": "nsInstanceId",
          "shape": "NsInstanceId"
        }
      },
      "required": [
        "nsInstanceId"
      ],
      "type": "structure"
    },
    "DeleteSolNetworkPackageInput": {
      "members": {
        "nsdInfoId": {
          "location": "uri",
          "locationName": "nsdInfoId",
          "shape": "NsdInfoId"
        }
      },
      "required": [
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "DescriptorContentType": {
      "enum": [
        "text/plain"
      ],
      "type": "string"
    },
    "ErrorCause": {
      "max": 200,
      "min": 1,
      "type": "string"
    },
    "ErrorDetails": {
      "max": 10240,
      "min": 0,
      "type": "string"
    },
    "ErrorInfo": {
      "members": {
        "cause": {
          "shape": "ErrorCause"
        },
        "details": {
          "shape": "ErrorDetails"
        }
      },
      "type": "structure"
    },
    "FunctionArtifactMeta": {
      "members": {
        "overrides": {
          "shape": "OverrideList"
        }
      },
      "type": "structure"
    },
    "GetSolFunctionInstanceInput": {
      "members": {
        "vnfInstanceId": {
          "location": "uri",
          "locationName": "vnfInstanceId",
          "shape": "VnfInstanceId"
        }
      },
      "required": [
        "vnfInstanceId"
      ],
      "type": "structure"
    },
    "GetSolFunctionInstanceMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "GetSolFunctionInstanceOutput": {
      "members": {
        "arn": {
          "shape": "VnfInstanceArn"
        },
        "id": {
          "shape": "VnfInstanceId"
        },
        "instantiatedVnfInfo": {
          "shape": "GetSolVnfInfo"
        },
        "instantiationState": {
          "shape": "VnfInstantiationState"
        },
        "metadata": {
          "shape": "GetSolFunctionInstanceMetadata"
        },
        "nsInstanceId": {
          "shape": "NsInstanceId"
        },
        "tags": {
          "shape": "TagMap"
        },
        "vnfPkgId": {
          "shape": "VnfPkgId"
        },
        "vnfProductName": {
          "shape": "String"
        },
        "vnfProvider": {
          "shape": "String"
        },
        "vnfdId": {
          "shape": "VnfdId"
        },
        "vnfdVersion": {
          "shape": "String"
        }
      },
      "required": [
        "arn",
        "id",
        "instantiationState",
        "metadata",
        "nsInstanceId",
        "vnfPkgId",
        "vnfdId"
      ],
      "type": "structure"
    },
    "GetSolFunctionPackageContentInput": {
      "members": {
        "accept": {
          "location": "header",
          "locationName": "Accept",
          "shape": "PackageContentType"
        },
        "vnfPkgId": {
          "location": "uri",
          "locationName": "vnfPkgId",
          "shape": "VnfPkgId"
        }
      },
      "required": [
        "accept",
        "vnfPkgId"
      ],
      "type": "structure"
    },
    "GetSolFunctionPackageContentOutput": {
      "members": {
        "contentType": {
          "location": "header",
          "locationName": "Content-Type",
          "shape": "PackageContentType"
        },
        "packageContent": {
          "shape": "Blob"
        }
      },
      "payload": "packageContent",
      "type": "structure"
    },
    "GetSolFunctionPackageDescriptorInput": {
      "members": {
        "accept": {
          "location": "header",
          "locationName": "Accept",
          "shape": "DescriptorContentType"
        },
        "vnfPkgId": {
          "location": "uri",
          "locationName": "vnfPkgId",
          "shape": "VnfPkgId"
        }
      },
      "required": [
        "accept",
        "vnfPkgId"
      ],
      "type": "structure"
    },
    "GetSolFunctionPackageDescriptorOutput": {
      "members": {
        "contentType": {
          "location": "header",
          "locationName": "Content-Type",
          "shape": "DescriptorContentType"
        },
        "vnfd": {
          "shape": "Blob"
        }
      },
      "payload": "vnfd",
      "type": "structure"
    },
    "GetSolFunctionPackageInput": {
      "members": {
        "vnfPkgId": {
          "location": "uri",
          "locationName": "vnfPkgId",
          "shape": "VnfPkgId"
        }
      },
      "required": [
        "vnfPkgId"
      ],
      "type": "structure"
    },
    "GetSolFunctionPackageMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "vnfd": {
          "shape": "FunctionArtifactMeta"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "GetSolFunctionPackageOutput": {
      "members": {
        "arn": {
          "shape": "VnfPkgArn"
        },
        "id": {
          "shape": "VnfPkgId"
        },
        "metadata": {
          "shape": "GetSolFunctionPackageMetadata"
        },
        "onboardingState": {
          "shape": "OnboardingState"
        },
        "operationalState": {
          "shape": "OperationalState"
        },
        "tags": {
          "shape": "TagMap"
        },
        "usageState": {
          "shape": "UsageState"
        },
        "vnfProductName": {
          "shape": "String"
        },
        "vnfProvider": {
          "shape": "String"
        },
        "vnfdId": {
          "shape": "String"
        },
        "vnfdVersion": {
          "shape": "String"
        }
      },
      "required": [
        "arn",
        "id",
        "onboardingState",
        "operationalState",
        "usageState"
      ],
      "type": "structure"
    },
    "GetSolInstantiatedVnfInfo": {
      "members": {
        "vnfState": {
          "shape": "VnfOperationalState"
        }
      },
      "type": "structure"
    },
    "GetSolNetworkInstanceInput": {
      "members": {
        "nsInstanceId": {
          "location": "uri",
          "locationName": "nsInstanceId",
          "shape": "NsInstanceId"
        }
      },
      "required": [
        "nsInstanceId"
      ],
      "type": "structure"
    },
    "GetSolNetworkInstanceMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "GetSolNetworkInstanceOutput": {
      "members": {
        "arn": {
          "shape": "NsInstanceArn"
        },
        "id": {
          "shape": "NsInstanceId"
        },
        "lcmOpInfo": {
          "shape": "LcmOperationInfo"
        },
        "metadata": {
          "shape": "GetSolNetworkInstanceMetadata"
        },
        "nsInstanceDescription": {
          "shape": "String"
        },
        "nsInstanceName": {
          "shape": "String"
        },
        "nsState": {
          "shape": "NsState"
        },
        "nsdId": {
          "shape": "NsdId"
        },
        "nsdInfoId": {
          "shape": "NsdInfoId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "arn",
        "id",
        "metadata",
        "nsInstanceDescription",
        "nsInstanceName",
        "nsdId",
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "GetSolNetworkOperationInput": {
      "members": {
        "nsLcmOpOccId": {
          "location": "uri",
          "locationName": "nsLcmOpOccId",
          "shape": "NsLcmOpOccId"
        }
      },
      "required": [
        "nsLcmOpOccId"
      ],
      "type": "structure"
    },
    "GetSolNetworkOperationMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "GetSolNetworkOperationOutput": {
      "members": {
        "arn": {
          "shape": "NsLcmOpOccArn"
        },
        "error": {
          "shape": "ProblemDetails"
        },
        "id": {
          "shape": "NsLcmOpOccId"
        },
        "lcmOperationType": {
          "shape": "LcmOperationType"
        },
        "metadata": {
          "shape": "GetSolNetworkOperationMetadata"
        },
        "nsInstanceId": {
          "shape": "NsInstanceId"
        },
        "operationState": {
          "shape": "NsLcmOperationState"
        },
        "tags": {
          "shape": "TagMap"
        },
        "tasks": {
          "shape": "GetSolNetworkOperationTasksList"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "GetSolNetworkOperationTaskDetails": {
      "members": {
        "taskContext": {
          "shape": "StringMap"
        },
        "taskEndTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "taskErrorDetails": {
          "shape": "ErrorInfo"
        },
        "taskName": {
          "shape": "String"
        },
        "taskStartTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "taskStatus": {
          "shape": "TaskStatus"
        }
      },
      "type": "structure"
    },
    "GetSolNetworkOperationTasksList": {
      "member": {
        "shape": "GetSolNetworkOperationTaskDetails"
      },
      "type": "list"
    },
    "GetSolNetworkPackageContentInput": {
      "members": {
        "accept": {
          "location": "header",
          "locationName": "Accept",
          "shape": "PackageContentType"
        },
        "nsdInfoId": {
          "location": "uri",
          "locationName": "nsdInfoId",
          "shape": "NsdInfoId"
        }
      },
      "required": [
        "accept",
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "GetSolNetworkPackageContentOutput": {
      "members": {
        "contentType": {
          "location": "header",
          "locationName": "Content-Type",
          "shape": "PackageContentType"
        },
        "nsdContent": {
          "shape": "Blob"
        }
      },
      "payload": "nsdContent",
      "type": "structure"
    },
    "GetSolNetworkPackageDescriptorInput": {
      "members": {
        "nsdInfoId": {
          "location": "uri",
          "locationName": "nsdInfoId",
          "shape": "NsdInfoId"
        }
      },
      "required": [
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "GetSolNetworkPackageDescriptorOutput": {
      "members": {
        "contentType": {
          "location": "header",
          "locationName": "Content-Type",
          "shape": "DescriptorContentType"
        },
        "nsd": {
          "shape": "Blob"
        }
      },
      "payload": "nsd",
      "type": "structure"
    },
    "GetSolNetworkPackageInput": {
      "members": {
        "nsdInfoId": {
          "location": "uri",
          "locationName": "nsdInfoId",
          "shape": "NsdInfoId"
        }
      },
      "required": [
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "GetSolNetworkPackageMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "nsd": {
          "shape": "NetworkArtifactMeta"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "GetSolNetworkPackageOutput": {
      "members": {
        "arn": {
          "shape": "NsdInfoArn"
        },
        "id": {
          "shape": "NsdInfoId"
        },
        "metadata": {
          "shape": "GetSolNetworkPackageMetadata"
        },
        "nsdId": {
          "shape": "NsdId"
        },
        "nsdName": {
          "shape": "String"
        },
        "nsdOnboardingState": {
          "shape": "NsdOnboardingState"
        },
        "nsdOperationalState": {
          "shape": "NsdOperationalState"
        },
        "nsdUsageState": {
          "shape": "NsdUsageState"
        },
        "nsdVersion": {
          "shape": "String"
        },
        "tags": {
          "shape": "TagMap"
        },
        "vnfPkgIds": {
          "shape": "VnfPkgIdList"
        }
      },
      "required": [
        "arn",
        "id",
        "metadata",
        "nsdId",
        "nsdName",
        "nsdOnboardingState",
        "nsdOperationalState",
        "nsdUsageState",
        "nsdVersion",
        "vnfPkgIds"
      ],
      "type": "structure"
    },
    "GetSolVnfInfo": {
      "members": {
        "vnfState": {
          "shape": "VnfOperationalState"
        },
        "vnfcResourceInfo": {
          "shape": "GetSolVnfcResourceInfoList"
        }
      },
      "type": "structure"
    },
    "GetSolVnfcResourceInfo": {
      "members": {
        "metadata": {
          "shape": "GetSolVnfcResourceInfoMetadata"
        }
      },
      "type": "structure"
    },
    "GetSolVnfcResourceInfoList": {
      "member": {
        "shape": "GetSolVnfcResourceInfo"
      },
      "type": "list"
    },
    "GetSolVnfcResourceInfoMetadata": {
      "members": {
        "cluster": {
          "shape": "String"
        },
        "helmChart": {
          "shape": "String"
        },
        "nodeGroup": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InstantiateSolNetworkInstanceInput": {
      "members": {
        "dryRun": {
          "location": "querystring",
          "locationName": "dry_run",
          "shape": "Boolean"
        },
        "nsInstanceId": {
          "location": "uri",
          "locationName": "nsInstanceId",
          "shape": "NsInstanceId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "nsInstanceId"
      ],
      "type": "structure"
    },
    "InstantiateSolNetworkInstanceOutput": {
      "members": {
        "nsLcmOpOccId": {
          "shape": "NsLcmOpOccId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "nsLcmOpOccId"
      ],
      "type": "structure"
    },
    "InternalServerException": {
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "LcmOperationInfo": {
      "members": {
        "nsLcmOpOccId": {
          "shape": "NsLcmOpOccId"
        }
      },
      "required": [
        "nsLcmOpOccId"
      ],
      "type": "structure"
    },
    "LcmOperationType": {
      "enum": [
        "INSTANTIATE",
        "UPDATE",
        "TERMINATE"
      ],
      "type": "string"
    },
    "ListSolFunctionInstanceInfo": {
      "members": {
        "arn": {
          "shape": "VnfInstanceArn"
        },
        "id": {
          "shape": "VnfInstanceId"
        },
        "instantiatedVnfInfo": {
          "shape": "GetSolInstantiatedVnfInfo"
        },
        "instantiationState": {
          "shape": "VnfInstantiationState"
        },
        "metadata": {
          "shape": "ListSolFunctionInstanceMetadata"
        },
        "nsInstanceId": {
          "shape": "NsInstanceId"
        },
        "vnfPkgId": {
          "shape": "VnfPkgId"
        },
        "vnfPkgName": {
          "shape": "String"
        }
      },
      "required": [
        "arn",
        "id",
        "instantiationState",
        "metadata",
        "nsInstanceId",
        "vnfPkgId"
      ],
      "type": "structure"
    },
    "ListSolFunctionInstanceMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "ListSolFunctionInstanceResources": {
      "member": {
        "shape": "ListSolFunctionInstanceInfo"
      },
      "type": "list"
    },
    "ListSolFunctionInstancesInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "max_results",
          "shape": "ListSolFunctionInstancesInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextpage_opaque_marker",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListSolFunctionInstancesInputMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListSolFunctionInstancesOutput": {
      "members": {
        "functionInstances": {
          "shape": "ListSolFunctionInstanceResources"
        },
        "nextToken": {
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListSolFunctionPackageInfo": {
      "members": {
        "arn": {
          "shape": "VnfPkgArn"
        },
        "id": {
          "shape": "VnfPkgId"
        },
        "metadata": {
          "shape": "ListSolFunctionPackageMetadata"
        },
        "onboardingState": {
          "shape": "OnboardingState"
        },
        "operationalState": {
          "shape": "OperationalState"
        },
        "usageState": {
          "shape": "UsageState"
        },
        "vnfProductName": {
          "shape": "String"
        },
        "vnfProvider": {
          "shape": "String"
        },
        "vnfdId": {
          "shape": "String"
        },
        "vnfdVersion": {
          "shape": "String"
        }
      },
      "required": [
        "arn",
        "id",
        "onboardingState",
        "operationalState",
        "usageState"
      ],
      "type": "structure"
    },
    "ListSolFunctionPackageMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "ListSolFunctionPackageResources": {
      "member": {
        "shape": "ListSolFunctionPackageInfo"
      },
      "type": "list"
    },
    "ListSolFunctionPackagesInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "max_results",
          "shape": "ListSolFunctionPackagesInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextpage_opaque_marker",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListSolFunctionPackagesInputMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListSolFunctionPackagesOutput": {
      "members": {
        "functionPackages": {
          "shape": "ListSolFunctionPackageResources"
        },
        "nextToken": {
          "shape": "PaginationToken"
        }
      },
      "required": [
        "functionPackages"
      ],
      "type": "structure"
    },
    "ListSolNetworkInstanceInfo": {
      "members": {
        "arn": {
          "shape": "NsInstanceArn"
        },
        "id": {
          "shape": "NsInstanceId"
        },
        "metadata": {
          "shape": "ListSolNetworkInstanceMetadata"
        },
        "nsInstanceDescription": {
          "shape": "String"
        },
        "nsInstanceName": {
          "shape": "String"
        },
        "nsState": {
          "shape": "NsState"
        },
        "nsdId": {
          "shape": "NsdId"
        },
        "nsdInfoId": {
          "shape": "NsdInfoId"
        }
      },
      "required": [
        "arn",
        "id",
        "metadata",
        "nsInstanceDescription",
        "nsInstanceName",
        "nsState",
        "nsdId",
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "ListSolNetworkInstanceMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "ListSolNetworkInstanceResources": {
      "member": {
        "shape": "ListSolNetworkInstanceInfo"
      },
      "type": "list"
    },
    "ListSolNetworkInstancesInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "max_results",
          "shape": "ListSolNetworkInstancesInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextpage_opaque_marker",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListSolNetworkInstancesInputMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListSolNetworkInstancesOutput": {
      "members": {
        "networkInstances": {
          "shape": "ListSolNetworkInstanceResources"
        },
        "nextToken": {
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListSolNetworkOperationsInfo": {
      "members": {
        "arn": {
          "shape": "NsLcmOpOccArn"
        },
        "error": {
          "shape": "ProblemDetails"
        },
        "id": {
          "shape": "NsLcmOpOccId"
        },
        "lcmOperationType": {
          "shape": "LcmOperationType"
        },
        "metadata": {
          "shape": "ListSolNetworkOperationsMetadata"
        },
        "nsInstanceId": {
          "shape": "NsInstanceId"
        },
        "operationState": {
          "shape": "NsLcmOperationState"
        }
      },
      "required": [
        "arn",
        "id",
        "lcmOperationType",
        "nsInstanceId",
        "operationState"
      ],
      "type": "structure"
    },
    "ListSolNetworkOperationsInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "max_results",
          "shape": "ListSolNetworkOperationsInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextpage_opaque_marker",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListSolNetworkOperationsInputMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListSolNetworkOperationsMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "ListSolNetworkOperationsOutput": {
      "members": {
        "networkOperations": {
          "shape": "ListSolNetworkOperationsResources"
        },
        "nextToken": {
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListSolNetworkOperationsResources": {
      "member": {
        "shape": "ListSolNetworkOperationsInfo"
      },
      "type": "list"
    },
    "ListSolNetworkPackageInfo": {
      "members": {
        "arn": {
          "shape": "NsdInfoArn"
        },
        "id": {
          "shape": "NsdInfoId"
        },
        "metadata": {
          "shape": "ListSolNetworkPackageMetadata"
        },
        "nsdDesigner": {
          "shape": "String"
        },
        "nsdId": {
          "shape": "String"
        },
        "nsdInvariantId": {
          "shape": "String"
        },
        "nsdName": {
          "shape": "String"
        },
        "nsdOnboardingState": {
          "shape": "NsdOnboardingState"
        },
        "nsdOperationalState": {
          "shape": "NsdOperationalState"
        },
        "nsdUsageState": {
          "shape": "NsdUsageState"
        },
        "nsdVersion": {
          "shape": "String"
        },
        "vnfPkgIds": {
          "shape": "VnfPkgIdList"
        }
      },
      "required": [
        "arn",
        "id",
        "metadata",
        "nsdOnboardingState",
        "nsdOperationalState",
        "nsdUsageState"
      ],
      "type": "structure"
    },
    "ListSolNetworkPackageMetadata": {
      "members": {
        "createdAt": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "lastModified": {
          "shape": "SyntheticTimestamp_date_time"
        }
      },
      "required": [
        "createdAt",
        "lastModified"
      ],
      "type": "structure"
    },
    "ListSolNetworkPackageResources": {
      "member": {
        "shape": "ListSolNetworkPackageInfo"
      },
      "type": "list"
    },
    "ListSolNetworkPackagesInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "max_results",
          "shape": "ListSolNetworkPackagesInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextpage_opaque_marker",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListSolNetworkPackagesInputMaxResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListSolNetworkPackagesOutput": {
      "members": {
        "networkPackages": {
          "shape": "ListSolNetworkPackageResources"
        },
        "nextToken": {
          "shape": "PaginationToken"
        }
      },
      "required": [
        "networkPackages"
      ],
      "type": "structure"
    },
    "ListTagsForResourceInput": {
      "members": {
        "resourceArn": {
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "TNBResourceArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceOutput": {
      "members": {
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "tags"
      ],
      "type": "structure"
    },
    "NetworkArtifactMeta": {
      "members": {
        "overrides": {
          "shape": "OverrideList"
        }
      },
      "type": "structure"
    },
    "NsInstanceArn": {
      "pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-b|aws-us-gov):tnb:([a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-[0-9]):\\d{12}:(network-instance/ni-[a-f0-9]{17})$",
      "type": "string"
    },
    "NsInstanceId": {
      "pattern": "^ni-[a-f0-9]{17}$",
      "type": "string"
    },
    "NsLcmOpOccArn": {
      "pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-b|aws-us-gov):tnb:([a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-[0-9]):\\d{12}:(network-operation/no-[a-f0-9]{17})$",
      "type": "string"
    },
    "NsLcmOpOccId": {
      "pattern": "^no-[a-f0-9]{17}$",
      "type": "string"
    },
    "NsLcmOperationState": {
      "enum": [
        "PROCESSING",
        "COMPLETED",
        "FAILED",
        "CANCELLING",
        "CANCELLED"
      ],
      "type": "string"
    },
    "NsState": {
      "enum": [
        "INSTANTIATED",
        "NOT_INSTANTIATED",
        "IMPAIRED",
        "STOPPED",
        "DELETED",
        "INSTANTIATE_IN_PROGRESS",
        "UPDATE_IN_PROGRESS",
        "TERMINATE_IN_PROGRESS"
      ],
      "type": "string"
    },
    "NsdId": {
      "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
      "type": "string"
    },
    "NsdInfoArn": {
      "pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-b|aws-us-gov):tnb:([a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-[0-9]):\\d{12}:(network-package/np-[a-f0-9]{17})$",
      "type": "string"
    },
    "NsdInfoId": {
      "pattern": "^np-[a-f0-9]{17}$",
      "type": "string"
    },
    "NsdOnboardingState": {
      "enum": [
        "CREATED",
        "ONBOARDED",
        "ERROR"
      ],
      "type": "string"
    },
    "NsdOperationalState": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "NsdUsageState": {
      "enum": [
        "IN_USE",
        "NOT_IN_USE"
      ],
      "type": "string"
    },
    "OnboardingState": {
      "enum": [
        "CREATED",
        "ONBOARDED",
        "ERROR"
      ],
      "type": "string"
    },
    "OperationalState": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "OverrideList": {
      "member": {
        "shape": "ToscaOverride"
      },
      "type": "list"
    },
    "PackageContentType": {
      "enum": [
        "application/zip"
      ],
      "type": "string"
    },
    "PaginationToken": {
      "type": "string"
    },
    "ProblemDetails": {
      "members": {
        "detail": {
          "shape": "String"
        },
        "title": {
          "shape": "String"
        }
      },
      "required": [
        "detail"
      ],
      "type": "structure"
    },
    "PutSolFunctionPackageContentInput": {
      "members": {
        "contentType": {
          "location": "header",
          "locationName": "Content-Type",
          "shape": "PackageContentType"
        },
        "file": {
          "shape": "Blob"
        },
        "vnfPkgId": {
          "location": "uri",
          "locationName": "vnfPkgId",
          "shape": "VnfPkgId"
        }
      },
      "payload": "file",
      "required": [
        "file",
        "vnfPkgId"
      ],
      "type": "structure"
    },
    "PutSolFunctionPackageContentMetadata": {
      "members": {
        "vnfd": {
          "shape": "FunctionArtifactMeta"
        }
      },
      "type": "structure"
    },
    "PutSolFunctionPackageContentOutput": {
      "members": {
        "id": {
          "shape": "VnfPkgId"
        },
        "metadata": {
          "shape": "PutSolFunctionPackageContentMetadata"
        },
        "vnfProductName": {
          "shape": "String"
        },
        "vnfProvider": {
          "shape": "String"
        },
        "vnfdId": {
          "shape": "VnfdId"
        },
        "vnfdVersion": {
          "shape": "String"
        }
      },
      "required": [
        "id",
        "metadata",
        "vnfProductName",
        "vnfProvider",
        "vnfdId",
        "vnfdVersion"
      ],
      "type": "structure"
    },
    "PutSolNetworkPackageContentInput": {
      "members": {
        "contentType": {
          "location": "header",
          "locationName": "Content-Type",
          "shape": "PackageContentType"
        },
        "file": {
          "shape": "Blob"
        },
        "nsdInfoId": {
          "location": "uri",
          "locationName": "nsdInfoId",
          "shape": "NsdInfoId"
        }
      },
      "payload": "file",
      "required": [
        "file",
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "PutSolNetworkPackageContentMetadata": {
      "members": {
        "nsd": {
          "shape": "NetworkArtifactMeta"
        }
      },
      "type": "structure"
    },
    "PutSolNetworkPackageContentOutput": {
      "members": {
        "arn": {
          "shape": "NsdInfoArn"
        },
        "id": {
          "shape": "NsdInfoId"
        },
        "metadata": {
          "shape": "PutSolNetworkPackageContentMetadata"
        },
        "nsdId": {
          "shape": "NsdId"
        },
        "nsdName": {
          "shape": "String"
        },
        "nsdVersion": {
          "shape": "String"
        },
        "vnfPkgIds": {
          "shape": "VnfPkgIdList"
        }
      },
      "required": [
        "arn",
        "id",
        "metadata",
        "nsdId",
        "nsdName",
        "nsdVersion",
        "vnfPkgIds"
      ],
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ServiceQuotaExceededException": {
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "StringMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "SyntheticTimestamp_date_time": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "TNBResourceArn": {
      "pattern": "^arn:aws:tnb:[a-z0-9-]+:[^:]*:.*$",
      "type": "string"
    },
    "TagKey": {
      "pattern": "^(?!aws:).{1,128}$",
      "type": "string"
    },
    "TagKeys": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 200,
      "min": 0,
      "sensitive": true,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceInput": {
      "members": {
        "resourceArn": {
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "TNBResourceArn"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "TaskStatus": {
      "enum": [
        "SCHEDULED",
        "STARTED",
        "IN_PROGRESS",
        "COMPLETED",
        "ERROR",
        "SKIPPED",
        "CANCELLED"
      ],
      "type": "string"
    },
    "TerminateSolNetworkInstanceInput": {
      "members": {
        "nsInstanceId": {
          "location": "uri",
          "locationName": "nsInstanceId",
          "shape": "NsInstanceId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "nsInstanceId"
      ],
      "type": "structure"
    },
    "TerminateSolNetworkInstanceOutput": {
      "members": {
        "nsLcmOpOccId": {
          "shape": "NsLcmOpOccId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ThrottlingException": {
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ToscaOverride": {
      "members": {
        "defaultValue": {
          "shape": "String"
        },
        "name": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UntagResourceInput": {
      "members": {
        "resourceArn": {
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "TNBResourceArn"
        },
        "tagKeys": {
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeys"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "UpdateSolFunctionPackageInput": {
      "members": {
        "operationalState": {
          "shape": "OperationalState"
        },
        "vnfPkgId": {
          "location": "uri",
          "locationName": "vnfPkgId",
          "shape": "VnfPkgId"
        }
      },
      "required": [
        "operationalState",
        "vnfPkgId"
      ],
      "type": "structure"
    },
    "UpdateSolFunctionPackageOutput": {
      "members": {
        "operationalState": {
          "shape": "OperationalState"
        }
      },
      "required": [
        "operationalState"
      ],
      "type": "structure"
    },
    "UpdateSolNetworkInstanceInput": {
      "members": {
        "nsInstanceId": {
          "location": "uri",
          "locationName": "nsInstanceId",
          "shape": "NsInstanceId"
        },
        "tags": {
          "shape": "TagMap"
        },
        "updateType": {
          "shape": "UpdateSolNetworkType"
        }
      },
      "required": [
        "nsInstanceId",
        "updateType"
      ],
      "type": "structure"
    },
    "UpdateSolNetworkInstanceOutput": {
      "members": {
        "nsLcmOpOccId": {
          "shape": "NsLcmOpOccId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "UpdateSolNetworkPackageInput": {
      "members": {
        "nsdInfoId": {
          "location": "uri",
          "locationName": "nsdInfoId",
          "shape": "NsdInfoId"
        },
        "nsdOperationalState": {
          "shape": "NsdOperationalState"
        }
      },
      "required": [
        "nsdInfoId",
        "nsdOperationalState"
      ],
      "type": "structure"
    },
    "UpdateSolNetworkPackageOutput": {
      "members": {
        "nsdOperationalState": {
          "shape": "NsdOperationalState"
        }
      },
      "required": [
        "nsdOperationalState"
      ],
      "type": "structure"
    },
    "UpdateSolNetworkType": {
      "enum": [
        "MODIFY_VNF_INFORMATION"
      ],
      "type": "string"
    },
    "UsageState": {
      "enum": [
        "IN_USE",
        "NOT_IN_USE"
      ],
      "type": "string"
    },
    "ValidateSolFunctionPackageContentInput": {
      "members": {
        "contentType": {
          "location": "header",
          "locationName": "Content-Type",
          "shape": "PackageContentType"
        },
        "file": {
          "shape": "Blob"
        },
        "vnfPkgId": {
          "location": "uri",
          "locationName": "vnfPkgId",
          "shape": "VnfPkgId"
        }
      },
      "payload": "file",
      "required": [
        "file",
        "vnfPkgId"
      ],
      "type": "structure"
    },
    "ValidateSolFunctionPackageContentMetadata": {
      "members": {
        "vnfd": {
          "shape": "FunctionArtifactMeta"
        }
      },
      "type": "structure"
    },
    "ValidateSolFunctionPackageContentOutput": {
      "members": {
        "id": {
          "shape": "VnfPkgId"
        },
        "metadata": {
          "shape": "ValidateSolFunctionPackageContentMetadata"
        },
        "vnfProductName": {
          "shape": "String"
        },
        "vnfProvider": {
          "shape": "String"
        },
        "vnfdId": {
          "shape": "VnfdId"
        },
        "vnfdVersion": {
          "shape": "String"
        }
      },
      "required": [
        "id",
        "metadata",
        "vnfProductName",
        "vnfProvider",
        "vnfdId",
        "vnfdVersion"
      ],
      "type": "structure"
    },
    "ValidateSolNetworkPackageContentInput": {
      "members": {
        "contentType": {
          "location": "header",
          "locationName": "Content-Type",
          "shape": "PackageContentType"
        },
        "file": {
          "shape": "Blob"
        },
        "nsdInfoId": {
          "location": "uri",
          "locationName": "nsdInfoId",
          "shape": "NsdInfoId"
        }
      },
      "payload": "file",
      "required": [
        "file",
        "nsdInfoId"
      ],
      "type": "structure"
    },
    "ValidateSolNetworkPackageContentMetadata": {
      "members": {
        "nsd": {
          "shape": "NetworkArtifactMeta"
        }
      },
      "type": "structure"
    },
    "ValidateSolNetworkPackageContentOutput": {
      "members": {
        "arn": {
          "shape": "NsdInfoArn"
        },
        "id": {
          "shape": "NsdInfoId"
        },
        "metadata": {
          "shape": "ValidateSolNetworkPackageContentMetadata"
        },
        "nsdId": {
          "shape": "NsdId"
        },
        "nsdName": {
          "shape": "String"
        },
        "nsdVersion": {
          "shape": "String"
        },
        "vnfPkgIds": {
          "shape": "VnfPkgIdList"
        }
      },
      "required": [
        "arn",
        "id",
        "metadata",
        "nsdId",
        "nsdName",
        "nsdVersion",
        "vnfPkgIds"
      ],
      "type": "structure"
    },
    "ValidationException": {
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "VnfInstanceArn": {
      "pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-b|aws-us-gov):tnb:([a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-[0-9]):\\d{12}:(function-instance/fi-[a-f0-9]{17})$",
      "type": "string"
    },
    "VnfInstanceId": {
      "pattern": "^fi-[a-f0-9]{17}$",
      "type": "string"
    },
    "VnfInstantiationState": {
      "enum": [
        "INSTANTIATED",
        "NOT_INSTANTIATED"
      ],
      "type": "string"
    },
    "VnfOperationalState": {
      "enum": [
        "STARTED",
        "STOPPED"
      ],
      "type": "string"
    },
    "VnfPkgArn": {
      "pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-b|aws-us-gov):tnb:([a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-[0-9]):\\d{12}:(function-package/fp-[a-f0-9]{17})$",
      "type": "string"
    },
    "VnfPkgId": {
      "pattern": "^fp-[a-f0-9]{17}$",
      "type": "string"
    },
    "VnfPkgIdList": {
      "member": {
        "shape": "VnfPkgId"
      },
      "type": "list"
    },
    "VnfdId": {
      "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
      "type": "string"
    }
  },
  "version": "2.0"
}