{
  "metadata": {
    "apiVersion": "2023-10-12",
    "endpointPrefix": "deadline",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWSDeadlineCloud",
    "serviceId": "deadline",
    "signatureVersion": "v4",
    "signingName": "deadline",
    "uid": "deadline-2023-10-12"
  },
  "operations": {
    "AssociateMemberToFarm": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/members/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateMemberToFarmRequest"
      },
      "name": "AssociateMemberToFarm",
      "output": {
        "shape": "AssociateMemberToFarmResponse"
      }
    },
    "AssociateMemberToFleet": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateMemberToFleetRequest"
      },
      "name": "AssociateMemberToFleet",
      "output": {
        "shape": "AssociateMemberToFleetResponse"
      }
    },
    "AssociateMemberToJob": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateMemberToJobRequest"
      },
      "name": "AssociateMemberToJob",
      "output": {
        "shape": "AssociateMemberToJobResponse"
      }
    },
    "AssociateMemberToQueue": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateMemberToQueueRequest"
      },
      "name": "AssociateMemberToQueue",
      "output": {
        "shape": "AssociateMemberToQueueResponse"
      }
    },
    "AssumeFleetRoleForRead": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/read-roles",
        "responseCode": 200
      },
      "input": {
        "shape": "AssumeFleetRoleForReadRequest"
      },
      "name": "AssumeFleetRoleForRead",
      "output": {
        "shape": "AssumeFleetRoleForReadResponse"
      }
    },
    "AssumeFleetRoleForWorker": {
      "endpoint": {
        "hostPrefix": "scheduling."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/fleet-roles",
        "responseCode": 200
      },
      "input": {
        "shape": "AssumeFleetRoleForWorkerRequest"
      },
      "name": "AssumeFleetRoleForWorker",
      "output": {
        "shape": "AssumeFleetRoleForWorkerResponse"
      }
    },
    "AssumeQueueRoleForRead": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/read-roles",
        "responseCode": 200
      },
      "input": {
        "shape": "AssumeQueueRoleForReadRequest"
      },
      "name": "AssumeQueueRoleForRead",
      "output": {
        "shape": "AssumeQueueRoleForReadResponse"
      }
    },
    "AssumeQueueRoleForUser": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/user-roles",
        "responseCode": 200
      },
      "input": {
        "shape": "AssumeQueueRoleForUserRequest"
      },
      "name": "AssumeQueueRoleForUser",
      "output": {
        "shape": "AssumeQueueRoleForUserResponse"
      }
    },
    "AssumeQueueRoleForWorker": {
      "endpoint": {
        "hostPrefix": "scheduling."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/queue-roles",
        "responseCode": 200
      },
      "input": {
        "shape": "AssumeQueueRoleForWorkerRequest"
      },
      "name": "AssumeQueueRoleForWorker",
      "output": {
        "shape": "AssumeQueueRoleForWorkerResponse"
      }
    },
    "BatchGetJobEntity": {
      "endpoint": {
        "hostPrefix": "scheduling."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/batchGetJobEntity",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetJobEntityRequest"
      },
      "name": "BatchGetJobEntity",
      "output": {
        "shape": "BatchGetJobEntityResponse"
      }
    },
    "CopyJobTemplate": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/template",
        "responseCode": 200
      },
      "input": {
        "shape": "CopyJobTemplateRequest"
      },
      "name": "CopyJobTemplate",
      "output": {
        "shape": "CopyJobTemplateResponse"
      }
    },
    "CreateBudget": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/budgets",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateBudgetRequest"
      },
      "name": "CreateBudget",
      "output": {
        "shape": "CreateBudgetResponse"
      }
    },
    "CreateFarm": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateFarmRequest"
      },
      "name": "CreateFarm",
      "output": {
        "shape": "CreateFarmResponse"
      }
    },
    "CreateFleet": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateFleetRequest"
      },
      "name": "CreateFleet",
      "output": {
        "shape": "CreateFleetResponse"
      }
    },
    "CreateJob": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
        "responseCode": 201
      },
      "idempotent": true,
      "input": {
        "shape": "CreateJobRequest"
      },
      "name": "CreateJob",
      "output": {
        "shape": "CreateJobResponse"
      }
    },
    "CreateLicenseEndpoint": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/license-endpoints",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateLicenseEndpointRequest"
      },
      "name": "CreateLicenseEndpoint",
      "output": {
        "shape": "CreateLicenseEndpointResponse"
      }
    },
    "CreateMonitor": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/monitors",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateMonitorRequest"
      },
      "name": "CreateMonitor",
      "output": {
        "shape": "CreateMonitorResponse"
      }
    },
    "CreateQueue": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/queues",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateQueueRequest"
      },
      "name": "CreateQueue",
      "output": {
        "shape": "CreateQueueResponse"
      }
    },
    "CreateQueueEnvironment": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateQueueEnvironmentRequest"
      },
      "name": "CreateQueueEnvironment",
      "output": {
        "shape": "CreateQueueEnvironmentResponse"
      }
    },
    "CreateQueueFleetAssociation": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateQueueFleetAssociationRequest"
      },
      "name": "CreateQueueFleetAssociation",
      "output": {
        "shape": "CreateQueueFleetAssociationResponse"
      }
    },
    "CreateStorageProfile": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/storage-profiles",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateStorageProfileRequest"
      },
      "name": "CreateStorageProfile",
      "output": {
        "shape": "CreateStorageProfileResponse"
      }
    },
    "CreateWorker": {
      "endpoint": {
        "hostPrefix": "scheduling."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateWorkerRequest"
      },
      "name": "CreateWorker",
      "output": {
        "shape": "CreateWorkerResponse"
      }
    },
    "DeleteBudget": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteBudgetRequest"
      },
      "name": "DeleteBudget",
      "output": {
        "shape": "DeleteBudgetResponse"
      }
    },
    "DeleteFarm": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteFarmRequest"
      },
      "name": "DeleteFarm",
      "output": {
        "shape": "DeleteFarmResponse"
      }
    },
    "DeleteFleet": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteFleetRequest"
      },
      "name": "DeleteFleet",
      "output": {
        "shape": "DeleteFleetResponse"
      }
    },
    "DeleteLicenseEndpoint": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/license-endpoints/{licenseEndpointId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteLicenseEndpointRequest"
      },
      "name": "DeleteLicenseEndpoint",
      "output": {
        "shape": "DeleteLicenseEndpointResponse"
      }
    },
    "DeleteMeteredProduct": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products/{productId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMeteredProductRequest"
      },
      "name": "DeleteMeteredProduct",
      "output": {
        "shape": "DeleteMeteredProductResponse"
      }
    },
    "DeleteMonitor": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/monitors/{monitorId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMonitorRequest"
      },
      "name": "DeleteMonitor",
      "output": {
        "shape": "DeleteMonitorResponse"
      }
    },
    "DeleteQueue": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteQueueRequest"
      },
      "name": "DeleteQueue",
      "output": {
        "shape": "DeleteQueueResponse"
      }
    },
    "DeleteQueueEnvironment": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteQueueEnvironmentRequest"
      },
      "name": "DeleteQueueEnvironment",
      "output": {
        "shape": "DeleteQueueEnvironmentResponse"
      }
    },
    "DeleteQueueFleetAssociation": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteQueueFleetAssociationRequest"
      },
      "name": "DeleteQueueFleetAssociation",
      "output": {
        "shape": "DeleteQueueFleetAssociationResponse"
      }
    },
    "DeleteStorageProfile": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteStorageProfileRequest"
      },
      "name": "DeleteStorageProfile",
      "output": {
        "shape": "DeleteStorageProfileResponse"
      }
    },
    "DeleteWorker": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteWorkerRequest"
      },
      "name": "DeleteWorker",
      "output": {
        "shape": "DeleteWorkerResponse"
      }
    },
    "DisassociateMemberFromFarm": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/members/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociateMemberFromFarmRequest"
      },
      "name": "DisassociateMemberFromFarm",
      "output": {
        "shape": "DisassociateMemberFromFarmResponse"
      }
    },
    "DisassociateMemberFromFleet": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociateMemberFromFleetRequest"
      },
      "name": "DisassociateMemberFromFleet",
      "output": {
        "shape": "DisassociateMemberFromFleetResponse"
      }
    },
    "DisassociateMemberFromJob": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociateMemberFromJobRequest"
      },
      "name": "DisassociateMemberFromJob",
      "output": {
        "shape": "DisassociateMemberFromJobResponse"
      }
    },
    "DisassociateMemberFromQueue": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociateMemberFromQueueRequest"
      },
      "name": "DisassociateMemberFromQueue",
      "output": {
        "shape": "DisassociateMemberFromQueueResponse"
      }
    },
    "GetBudget": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBudgetRequest"
      },
      "name": "GetBudget",
      "output": {
        "shape": "GetBudgetResponse"
      }
    },
    "GetFarm": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFarmRequest"
      },
      "name": "GetFarm",
      "output": {
        "shape": "GetFarmResponse"
      }
    },
    "GetFleet": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFleetRequest"
      },
      "name": "GetFleet",
      "output": {
        "shape": "GetFleetResponse"
      }
    },
    "GetJob": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "shape": "GetJobResponse"
      }
    },
    "GetLicenseEndpoint": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/license-endpoints/{licenseEndpointId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLicenseEndpointRequest"
      },
      "name": "GetLicenseEndpoint",
      "output": {
        "shape": "GetLicenseEndpointResponse"
      }
    },
    "GetMonitor": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/monitors/{monitorId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMonitorRequest"
      },
      "name": "GetMonitor",
      "output": {
        "shape": "GetMonitorResponse"
      }
    },
    "GetQueue": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetQueueRequest"
      },
      "name": "GetQueue",
      "output": {
        "shape": "GetQueueResponse"
      }
    },
    "GetQueueEnvironment": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetQueueEnvironmentRequest"
      },
      "name": "GetQueueEnvironment",
      "output": {
        "shape": "GetQueueEnvironmentResponse"
      }
    },
    "GetQueueFleetAssociation": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetQueueFleetAssociationRequest"
      },
      "name": "GetQueueFleetAssociation",
      "output": {
        "shape": "GetQueueFleetAssociationResponse"
      }
    },
    "GetSession": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions/{sessionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSessionRequest"
      },
      "name": "GetSession",
      "output": {
        "shape": "GetSessionResponse"
      }
    },
    "GetSessionAction": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/session-actions/{sessionActionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSessionActionRequest"
      },
      "name": "GetSessionAction",
      "output": {
        "shape": "GetSessionActionResponse"
      }
    },
    "GetSessionsStatisticsAggregation": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/sessions-statistics-aggregation",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSessionsStatisticsAggregationRequest"
      },
      "name": "GetSessionsStatisticsAggregation",
      "output": {
        "shape": "GetSessionsStatisticsAggregationResponse"
      }
    },
    "GetStep": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStepRequest"
      },
      "name": "GetStep",
      "output": {
        "shape": "GetStepResponse"
      }
    },
    "GetStorageProfile": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStorageProfileRequest"
      },
      "name": "GetStorageProfile",
      "output": {
        "shape": "GetStorageProfileResponse"
      }
    },
    "GetStorageProfileForQueue": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/storage-profiles/{storageProfileId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStorageProfileForQueueRequest"
      },
      "name": "GetStorageProfileForQueue",
      "output": {
        "shape": "GetStorageProfileForQueueResponse"
      }
    },
    "GetTask": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks/{taskId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetTaskRequest"
      },
      "name": "GetTask",
      "output": {
        "shape": "GetTaskResponse"
      }
    },
    "GetWorker": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetWorkerRequest"
      },
      "name": "GetWorker",
      "output": {
        "shape": "GetWorkerResponse"
      }
    },
    "ListAvailableMeteredProducts": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/metered-products",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAvailableMeteredProductsRequest"
      },
      "name": "ListAvailableMeteredProducts",
      "output": {
        "shape": "ListAvailableMeteredProductsResponse"
      }
    },
    "ListBudgets": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/budgets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBudgetsRequest"
      },
      "name": "ListBudgets",
      "output": {
        "shape": "ListBudgetsResponse"
      }
    },
    "ListFarmMembers": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/members",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFarmMembersRequest"
      },
      "name": "ListFarmMembers",
      "output": {
        "shape": "ListFarmMembersResponse"
      }
    },
    "ListFarms": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFarmsRequest"
      },
      "name": "ListFarms",
      "output": {
        "shape": "ListFarmsResponse"
      }
    },
    "ListFleetMembers": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/members",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFleetMembersRequest"
      },
      "name": "ListFleetMembers",
      "output": {
        "shape": "ListFleetMembersResponse"
      }
    },
    "ListFleets": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFleetsRequest"
      },
      "name": "ListFleets",
      "output": {
        "shape": "ListFleetsResponse"
      }
    },
    "ListJobMembers": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobMembersRequest"
      },
      "name": "ListJobMembers",
      "output": {
        "shape": "ListJobMembersResponse"
      }
    },
    "ListJobs": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "shape": "ListJobsResponse"
      }
    },
    "ListLicenseEndpoints": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/license-endpoints",
        "responseCode": 200
      },
      "input": {
        "shape": "ListLicenseEndpointsRequest"
      },
      "name": "ListLicenseEndpoints",
      "output": {
        "shape": "ListLicenseEndpointsResponse"
      }
    },
    "ListMeteredProducts": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMeteredProductsRequest"
      },
      "name": "ListMeteredProducts",
      "output": {
        "shape": "ListMeteredProductsResponse"
      }
    },
    "ListMonitors": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/monitors",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMonitorsRequest"
      },
      "name": "ListMonitors",
      "output": {
        "shape": "ListMonitorsResponse"
      }
    },
    "ListQueueEnvironments": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments",
        "responseCode": 200
      },
      "input": {
        "shape": "ListQueueEnvironmentsRequest"
      },
      "name": "ListQueueEnvironments",
      "output": {
        "shape": "ListQueueEnvironmentsResponse"
      }
    },
    "ListQueueFleetAssociations": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListQueueFleetAssociationsRequest"
      },
      "name": "ListQueueFleetAssociations",
      "output": {
        "shape": "ListQueueFleetAssociationsResponse"
      }
    },
    "ListQueueMembers": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/members",
        "responseCode": 200
      },
      "input": {
        "shape": "ListQueueMembersRequest"
      },
      "name": "ListQueueMembers",
      "output": {
        "shape": "ListQueueMembersResponse"
      }
    },
    "ListQueues": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues",
        "responseCode": 200
      },
      "input": {
        "shape": "ListQueuesRequest"
      },
      "name": "ListQueues",
      "output": {
        "shape": "ListQueuesResponse"
      }
    },
    "ListSessionActions": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/session-actions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSessionActionsRequest"
      },
      "name": "ListSessionActions",
      "output": {
        "shape": "ListSessionActionsResponse"
      }
    },
    "ListSessions": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSessionsRequest"
      },
      "name": "ListSessions",
      "output": {
        "shape": "ListSessionsResponse"
      }
    },
    "ListSessionsForWorker": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/sessions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSessionsForWorkerRequest"
      },
      "name": "ListSessionsForWorker",
      "output": {
        "shape": "ListSessionsForWorkerResponse"
      }
    },
    "ListStepConsumers": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/consumers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStepConsumersRequest"
      },
      "name": "ListStepConsumers",
      "output": {
        "shape": "ListStepConsumersResponse"
      }
    },
    "ListStepDependencies": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/dependencies",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStepDependenciesRequest"
      },
      "name": "ListStepDependencies",
      "output": {
        "shape": "ListStepDependenciesResponse"
      }
    },
    "ListSteps": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStepsRequest"
      },
      "name": "ListSteps",
      "output": {
        "shape": "ListStepsResponse"
      }
    },
    "ListStorageProfiles": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/storage-profiles",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStorageProfilesRequest"
      },
      "name": "ListStorageProfiles",
      "output": {
        "shape": "ListStorageProfilesResponse"
      }
    },
    "ListStorageProfilesForQueue": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/storage-profiles",
        "responseCode": 200
      },
      "input": {
        "shape": "ListStorageProfilesForQueueRequest"
      },
      "name": "ListStorageProfilesForQueue",
      "output": {
        "shape": "ListStorageProfilesForQueueResponse"
      }
    },
    "ListTagsForResource": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTasks": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTasksRequest"
      },
      "name": "ListTasks",
      "output": {
        "shape": "ListTasksResponse"
      }
    },
    "ListWorkers": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListWorkersRequest"
      },
      "name": "ListWorkers",
      "output": {
        "shape": "ListWorkersResponse"
      }
    },
    "PutMeteredProduct": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products/{productId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "PutMeteredProductRequest"
      },
      "name": "PutMeteredProduct",
      "output": {
        "shape": "PutMeteredProductResponse"
      }
    },
    "SearchJobs": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/search/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchJobsRequest"
      },
      "name": "SearchJobs",
      "output": {
        "shape": "SearchJobsResponse"
      }
    },
    "SearchSteps": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/search/steps",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchStepsRequest"
      },
      "name": "SearchSteps",
      "output": {
        "shape": "SearchStepsResponse"
      }
    },
    "SearchTasks": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/search/tasks",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchTasksRequest"
      },
      "name": "SearchTasks",
      "output": {
        "shape": "SearchTasksResponse"
      }
    },
    "SearchWorkers": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/search/workers",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchWorkersRequest"
      },
      "name": "SearchWorkers",
      "output": {
        "shape": "SearchWorkersResponse"
      }
    },
    "StartSessionsStatisticsAggregation": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/farms/{farmId}/sessions-statistics-aggregation",
        "responseCode": 200
      },
      "input": {
        "shape": "StartSessionsStatisticsAggregationRequest"
      },
      "name": "StartSessionsStatisticsAggregation",
      "output": {
        "shape": "StartSessionsStatisticsAggregationResponse"
      }
    },
    "TagResource": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2023-10-12/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2023-10-12/tags/{resourceArn}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateBudget": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateBudgetRequest"
      },
      "name": "UpdateBudget",
      "output": {
        "shape": "UpdateBudgetResponse"
      }
    },
    "UpdateFarm": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateFarmRequest"
      },
      "name": "UpdateFarm",
      "output": {
        "shape": "UpdateFarmResponse"
      }
    },
    "UpdateFleet": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateFleetRequest"
      },
      "name": "UpdateFleet",
      "output": {
        "shape": "UpdateFleetResponse"
      }
    },
    "UpdateJob": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateJobRequest"
      },
      "name": "UpdateJob",
      "output": {
        "shape": "UpdateJobResponse"
      }
    },
    "UpdateMonitor": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/monitors/{monitorId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateMonitorRequest"
      },
      "name": "UpdateMonitor",
      "output": {
        "shape": "UpdateMonitorResponse"
      }
    },
    "UpdateQueue": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateQueueRequest"
      },
      "name": "UpdateQueue",
      "output": {
        "shape": "UpdateQueueResponse"
      }
    },
    "UpdateQueueEnvironment": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateQueueEnvironmentRequest"
      },
      "name": "UpdateQueueEnvironment",
      "output": {
        "shape": "UpdateQueueEnvironmentResponse"
      }
    },
    "UpdateQueueFleetAssociation": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateQueueFleetAssociationRequest"
      },
      "name": "UpdateQueueFleetAssociation",
      "output": {
        "shape": "UpdateQueueFleetAssociationResponse"
      }
    },
    "UpdateSession": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions/{sessionId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateSessionRequest"
      },
      "name": "UpdateSession",
      "output": {
        "shape": "UpdateSessionResponse"
      }
    },
    "UpdateStep": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateStepRequest"
      },
      "name": "UpdateStep",
      "output": {
        "shape": "UpdateStepResponse"
      }
    },
    "UpdateStorageProfile": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateStorageProfileRequest"
      },
      "name": "UpdateStorageProfile",
      "output": {
        "shape": "UpdateStorageProfileResponse"
      }
    },
    "UpdateTask": {
      "endpoint": {
        "hostPrefix": "management."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks/{taskId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateTaskRequest"
      },
      "name": "UpdateTask",
      "output": {
        "shape": "UpdateTaskResponse"
      }
    },
    "UpdateWorker": {
      "endpoint": {
        "hostPrefix": "scheduling."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateWorkerRequest"
      },
      "name": "UpdateWorker",
      "output": {
        "shape": "UpdateWorkerResponse"
      }
    },
    "UpdateWorkerSchedule": {
      "endpoint": {
        "hostPrefix": "scheduling."
      },
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/schedule",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateWorkerScheduleRequest"
      },
      "name": "UpdateWorkerSchedule",
      "output": {
        "shape": "UpdateWorkerScheduleResponse"
      }
    }
  },
  "shapes": {
    "AcceleratorCountRange": {
      "members": {
        "max": {
          "shape": "MinZeroMaxInteger"
        },
        "min": {
          "shape": "MinZeroMaxInteger"
        }
      },
      "required": [
        "min"
      ],
      "type": "structure"
    },
    "AcceleratorTotalMemoryMiBRange": {
      "members": {
        "max": {
          "shape": "MinZeroMaxInteger"
        },
        "min": {
          "shape": "MinZeroMaxInteger"
        }
      },
      "required": [
        "min"
      ],
      "type": "structure"
    },
    "AcceleratorType": {
      "enum": [
        "gpu"
      ],
      "type": "string"
    },
    "AcceleratorTypes": {
      "member": {
        "shape": "AcceleratorType"
      },
      "type": "list"
    },
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "context": {
          "shape": "ExceptionContext"
        },
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "AccessKeyId": {
      "sensitive": true,
      "type": "string"
    },
    "AggregationId": {
      "pattern": "^[0-9a-f]{32}$",
      "type": "string"
    },
    "AllowedStorageProfileIds": {
      "max": 20,
      "member": {
        "shape": "StorageProfileId"
      },
      "min": 0,
      "type": "list"
    },
    "AmountCapabilityName": {
      "max": 100,
      "min": 1,
      "pattern": "^([a-zA-Z][a-zA-Z0-9]{0,63}:)?amount(\\.[a-zA-Z][a-zA-Z0-9]{0,63})+$",
      "type": "string"
    },
    "AssignedEnvironmentEnterSessionActionDefinition": {
      "members": {
        "environmentId": {
          "shape": "EnvironmentId"
        }
      },
      "required": [
        "environmentId"
      ],
      "type": "structure"
    },
    "AssignedEnvironmentExitSessionActionDefinition": {
      "members": {
        "environmentId": {
          "shape": "EnvironmentId"
        }
      },
      "required": [
        "environmentId"
      ],
      "type": "structure"
    },
    "AssignedSession": {
      "members": {
        "jobId": {
          "shape": "JobId"
        },
        "logConfiguration": {
          "shape": "LogConfiguration"
        },
        "queueId": {
          "shape": "QueueId"
        },
        "sessionActions": {
          "shape": "AssignedSessionActions"
        }
      },
      "required": [
        "jobId",
        "logConfiguration",
        "queueId",
        "sessionActions"
      ],
      "type": "structure"
    },
    "AssignedSessionAction": {
      "members": {
        "definition": {
          "shape": "AssignedSessionActionDefinition"
        },
        "sessionActionId": {
          "shape": "SessionActionId"
        }
      },
      "required": [
        "definition",
        "sessionActionId"
      ],
      "type": "structure"
    },
    "AssignedSessionActionDefinition": {
      "members": {
        "envEnter": {
          "shape": "AssignedEnvironmentEnterSessionActionDefinition"
        },
        "envExit": {
          "shape": "AssignedEnvironmentExitSessionActionDefinition"
        },
        "syncInputJobAttachments": {
          "shape": "AssignedSyncInputJobAttachmentsSessionActionDefinition"
        },
        "taskRun": {
          "shape": "AssignedTaskRunSessionActionDefinition"
        }
      },
      "type": "structure",
      "union": true
    },
    "AssignedSessionActions": {
      "member": {
        "shape": "AssignedSessionAction"
      },
      "type": "list"
    },
    "AssignedSessions": {
      "key": {
        "shape": "SessionId"
      },
      "type": "map",
      "value": {
        "shape": "AssignedSession"
      }
    },
    "AssignedSyncInputJobAttachmentsSessionActionDefinition": {
      "members": {
        "stepId": {
          "shape": "StepId"
        }
      },
      "type": "structure"
    },
    "AssignedTaskRunSessionActionDefinition": {
      "members": {
        "parameters": {
          "shape": "TaskParameters"
        },
        "stepId": {
          "shape": "StepId"
        },
        "taskId": {
          "shape": "TaskId"
        }
      },
      "required": [
        "parameters",
        "stepId",
        "taskId"
      ],
      "type": "structure"
    },
    "AssociateMemberToFarmRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "identityStoreId": {
          "shape": "IdentityStoreId"
        },
        "membershipLevel": {
          "shape": "MembershipLevel"
        },
        "principalId": {
          "location": "uri",
          "locationName": "principalId",
          "shape": "IdentityCenterPrincipalId"
        },
        "principalType": {
          "shape": "PrincipalType"
        }
      },
      "required": [
        "farmId",
        "identityStoreId",
        "membershipLevel",
        "principalId",
        "principalType"
      ],
      "type": "structure"
    },
    "AssociateMemberToFarmResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateMemberToFleetRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "fleetId": {
          "location": "uri",
          "locationName": "fleetId",
          "shape": "FleetId"
        },
        "identityStoreId": {
          "shape": "IdentityStoreId"
        },
        "membershipLevel": {
          "shape": "MembershipLevel"
        },
        "principalId": {
          "location": "uri",
          "locationName": "principalId",
          "shape": "IdentityCenterPrincipalId"
        },
        "principalType": {
          "shape": "PrincipalType"
        }
      },
      "required": [
        "farmId",
        "fleetId",
        "identityStoreId",
        "membershipLevel",
        "principalId",
        "principalType"
      ],
      "type": "structure"
    },
    "AssociateMemberToFleetResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateMemberToJobRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "identityStoreId": {
          "shape": "IdentityStoreId"
        },
        "jobId": {
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        },
        "membershipLevel": {
          "shape": "MembershipLevel"
        },
        "principalId": {
          "location": "uri",
          "locationName": "principalId",
          "shape": "IdentityCenterPrincipalId"
        },
        "principalType": {
          "shape": "PrincipalType"
        },
        "queueId": {
          "location": "uri",
          "locationName": "queueId",
          "shape": "QueueId"
        }
      },
      "required": [
        "farmId",
        "identityStoreId",
        "jobId",
        "membershipLevel",
        "principalId",
        "principalType",
        "queueId"
      ],
      "type": "structure"
    },
    "AssociateMemberToJobResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateMemberToQueueRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "identityStoreId": {
          "shape": "IdentityStoreId"
        },
        "membershipLevel": {
          "shape": "MembershipLevel"
        },
        "principalId": {
          "location": "uri",
          "locationName": "principalId",
          "shape": "IdentityCenterPrincipalId"
        },
        "principalType": {
          "shape": "PrincipalType"
        },
        "queueId": {
          "location": "uri",
          "locationName": "queueId",
          "shape": "QueueId"
        }
      },
      "required": [
        "farmId",
        "identityStoreId",
        "membershipLevel",
        "principalId",
        "principalType",
        "queueId"
      ],
      "type": "structure"
    },
    "AssociateMemberToQueueResponse": {
      "members": {},
      "type": "structure"
    },
    "AssumeFleetRoleForReadRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "fleetId": {
          "location": "uri",
          "locationName": "fleetId",
          "shape": "FleetId"
        }
      },
      "required": [
        "farmId",
        "fleetId"
      ],
      "type": "structure"
    },
    "AssumeFleetRoleForReadResponse": {
      "members": {
        "credentials": {
          "shape": "AwsCredentials"
        }
      },
      "required": [
        "credentials"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "AssumeFleetRoleForWorkerRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "fleetId": {
          "location": "uri",
          "locationName": "fleetId",
          "shape": "FleetId"
        },
        "workerId": {
          "location": "uri",
          "locationName": "workerId",
          "shape": "WorkerId"
        }
      },
      "required": [
        "farmId",
        "fleetId",
        "workerId"
      ],
      "type": "structure"
    },
    "AssumeFleetRoleForWorkerResponse": {
      "members": {
        "credentials": {
          "shape": "AwsCredentials"
        }
      },
      "required": [
        "credentials"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "AssumeQueueRoleForReadRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "queueId": {
          "location": "uri",
          "locationName": "queueId",
          "shape": "QueueId"
        }
      },
      "required": [
        "farmId",
        "queueId"
      ],
      "type": "structure"
    },
    "AssumeQueueRoleForReadResponse": {
      "members": {
        "credentials": {
          "shape": "AwsCredentials"
        }
      },
      "required": [
        "credentials"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "AssumeQueueRoleForUserRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "queueId": {
          "location": "uri",
          "locationName": "queueId",
          "shape": "QueueId"
        }
      },
      "required": [
        "farmId",
        "queueId"
      ],
      "type": "structure"
    },
    "AssumeQueueRoleForUserResponse": {
      "members": {
        "credentials": {
          "shape": "AwsCredentials"
        }
      },
      "required": [
        "credentials"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "AssumeQueueRoleForWorkerRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "fleetId": {
          "location": "uri",
          "locationName": "fleetId",
          "shape": "FleetId"
        },
        "queueId": {
          "location": "querystring",
          "locationName": "queueId",
          "shape": "QueueId"
        },
        "workerId": {
          "location": "uri",
          "locationName": "workerId",
          "shape": "WorkerId"
        }
      },
      "required": [
        "farmId",
        "fleetId",
        "queueId",
        "workerId"
      ],
      "type": "structure"
    },
    "AssumeQueueRoleForWorkerResponse": {
      "members": {
        "credentials": {
          "shape": "AwsCredentials"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "Attachments": {
      "members": {
        "fileSystem": {
          "shape": "JobAttachmentsFileSystem"
        },
        "manifests": {
          "shape": "ManifestPropertiesList"
        }
      },
      "required": [
        "manifests"
      ],
      "type": "structure"
    },
    "AttributeCapabilityName": {
      "max": 100,
      "min": 1,
      "pattern": "^([a-zA-Z][a-zA-Z0-9]{0,63}:)?attr(\\.[a-zA-Z][a-zA-Z0-9]{0,63})+$",
      "type": "string"
    },
    "AttributeCapabilityValue": {
      "max": 100,
      "min": 1,
      "pattern": "^[a-zA-Z_]([a-zA-Z0-9_\\-]{0,99})$",
      "type": "string"
    },
    "AttributeCapabilityValuesList": {
      "max": 10,
      "member": {
        "shape": "AttributeCapabilityValue"
      },
      "min": 1,
      "type": "list"
    },
    "AutoScalingMode": {
      "enum": [
        "NO_SCALING",
        "EVENT_BASED_AUTO_SCALING"
      ],
      "type": "string"
    },
    "AutoScalingStatus": {
      "enum": [
        "GROWING",
        "STEADY",
        "SHRINKING"
      ],
      "type": "string"
    },
    "AwsCredentials": {
      "members": {
        "accessKeyId": {
          "shape": "AccessKeyId"
        },
        "expiration": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "secretAccessKey": {
          "shape": "SecretAccessKey"
        },
        "sessionToken": {
          "shape": "SessionToken"
        }
      },
      "required": [
        "accessKeyId",
        "expiration",
        "secretAccessKey",
        "sessionToken"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "BatchGetJobEntityErrors": {
      "member": {
        "shape": "GetJobEntityError"
      },
      "type": "list"
    },
    "BatchGetJobEntityList": {
      "max": 25,
      "member": {
        "shape": "JobEntity"
      },
      "min": 0,
      "type": "list"
    },
    "BatchGetJobEntityRequest": {
      "members": {
        "farmId": {
          "location": "uri",
          "locationName": "farmId",
          "shape": "FarmId"
        },
        "fleetId": {
          "location": "uri",
          "locationName": "fleetId",
          "shape": "FleetId"
        },
        "identifiers": {
          "shape": "JobEntityIdentifiers"
        },
        "workerId": {
          "location": "uri",
          "locationName": "workerId",
          "shape": "WorkerId"
        }
      },
      "required": [
        "farmId",
        "fleetId",
        "identifiers",
        "workerId"
      ],
      "type": "structure"
    },
    "BatchGetJobEntityResponse": {
      "members": {
        "entities": {
          "shape": "BatchGetJobEntityList"
        },
        "errors": {
          "shape": "BatchGetJobEntityErrors"
        }
      },
      "required": [
        "entities",
        "errors"
      ],
      "type": "structure"
    },
    "BoundedString": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "BudgetActionToAdd": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "thresholdPercentage": {
          "shape": "ThresholdPercentage"
        },
        "type": {
          "shape": "BudgetActionType"
        }
      },
      "required": [
        "thresholdPercentage",
        "type"
      ],
      "type": "structure"
    },
    "BudgetActionToRemove": {
      "members": {
        "thresholdPercentage": {
          "shape": "ThresholdPercentage"
        },
        "type": {
          "shape": "BudgetActionType"
        }
      },
      "required": [
        "thresholdPercentage",
        "type"
      ],
      "type": "structure"
    },
    "BudgetActionType": {
      "enum": [
        "STOP_SCHEDULING_AND_COMPLETE_TASKS",
        "STOP_SCHEDULING_AND_CANCEL_TASKS"
      ],
      "type": "string"
    },
    "BudgetActionsToAdd": {
      "max": 10,
      "member": {
        "shape": "BudgetActionToAdd"
      },
      "min": 0,
      "type": "list"
    },
    "BudgetActionsToRemove": {
      "max": 10,
      "member": {
        "shape": "BudgetActionToRemove"
      },
      "min": 0,
      "type": "list"
    },
    "BudgetId": {
      "pattern": "^budget-[0-9a-f]{32}$",
      "type": "string"
    },
    "BudgetSchedule": {
      "members": {
        "fixed": {
          "shape": "FixedBudgetSchedule"
        }
      },
      "type": "structure",
      "union": true
    },
    "BudgetStatus": {
      "enum": [
        "ACTIVE",
        "INACTIVE"
      ],
      "type": "string"
    },
    "BudgetSummaries": {
      "member": {
        "shape": "BudgetSummary"
      },
      "type": "list"
    },
    "BudgetSummary": {
      "members": {
        "approximateDollarLimit": {
          "shape": "ConsumedUsageLimit"
        },
        "budgetId": {
          "shape": "BudgetId"
        },
        "createdAt": {
          "shape": "CreatedAt"
        },
        "createdBy": {
          "shape": "CreatedBy"
        },
        "description": {
          "shape": "Description"
        },
        "displayName": {
          "shape": "ResourceName"
[...]
