# Core Verification

Deprecated, please see [light-client/verification](https://github.com/cometbft/cometbft/blob/main/spec/light-client/verification).
