{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-08-20",
    "endpointPrefix":"s3-control",
    "protocol":"rest-xml",
    "serviceFullName":"AWS S3 Control",
    "serviceId":"S3 Control",
    "signatureVersion":"s3v4",
    "signingName":"s3",
    "uid":"s3control-2018-08-20"
  },
  "operations":{
    "AssociateAccessGrantsIdentityCenter":{
      "name":"AssociateAccessGrantsIdentityCenter",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/accessgrantsinstance/identitycenter"
      },
      "input":{
        "shape":"AssociateAccessGrantsIdentityCenterRequest",
        "locationName":"AssociateAccessGrantsIdentityCenterRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "CreateAccessGrant":{
      "name":"CreateAccessGrant",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/accessgrantsinstance/grant"
      },
      "input":{
        "shape":"CreateAccessGrantRequest",
        "locationName":"CreateAccessGrantRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"CreateAccessGrantResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "CreateAccessGrantsInstance":{
      "name":"CreateAccessGrantsInstance",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/accessgrantsinstance"
      },
      "input":{
        "shape":"CreateAccessGrantsInstanceRequest",
        "locationName":"CreateAccessGrantsInstanceRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"CreateAccessGrantsInstanceResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "CreateAccessGrantsLocation":{
      "name":"CreateAccessGrantsLocation",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/accessgrantsinstance/location"
      },
      "input":{
        "shape":"CreateAccessGrantsLocationRequest",
        "locationName":"CreateAccessGrantsLocationRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"CreateAccessGrantsLocationResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "CreateAccessPoint":{
      "name":"CreateAccessPoint",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/accesspoint/{name}"
      },
      "input":{
        "shape":"CreateAccessPointRequest",
        "locationName":"CreateAccessPointRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"CreateAccessPointResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "CreateAccessPointForObjectLambda":{
      "name":"CreateAccessPointForObjectLambda",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/accesspointforobjectlambda/{name}"
      },
      "input":{
        "shape":"CreateAccessPointForObjectLambdaRequest",
        "locationName":"CreateAccessPointForObjectLambdaRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"CreateAccessPointForObjectLambdaResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "CreateBucket":{
      "name":"CreateBucket",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/bucket/{name}"
      },
      "input":{"shape":"CreateBucketRequest"},
      "output":{"shape":"CreateBucketResult"},
      "errors":[
        {"shape":"BucketAlreadyExists"},
        {"shape":"BucketAlreadyOwnedByYou"}
      ],
      "httpChecksumRequired":true
    },
    "CreateJob":{
      "name":"CreateJob",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/jobs"
      },
      "input":{
        "shape":"CreateJobRequest",
        "locationName":"CreateJobRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"CreateJobResult"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"IdempotencyException"},
        {"shape":"InternalServiceException"}
      ],
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "CreateMultiRegionAccessPoint":{
      "name":"CreateMultiRegionAccessPoint",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/async-requests/mrap/create"
      },
      "input":{
        "shape":"CreateMultiRegionAccessPointRequest",
        "locationName":"CreateMultiRegionAccessPointRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"CreateMultiRegionAccessPointResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "CreateStorageLensGroup":{
      "name":"CreateStorageLensGroup",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/storagelensgroup",
        "responseCode":204
      },
      "input":{
        "shape":"CreateStorageLensGroupRequest",
        "locationName":"CreateStorageLensGroupRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteAccessGrant":{
      "name":"DeleteAccessGrant",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/accessgrantsinstance/grant/{id}"
      },
      "input":{"shape":"DeleteAccessGrantRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteAccessGrantsInstance":{
      "name":"DeleteAccessGrantsInstance",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/accessgrantsinstance"
      },
      "input":{"shape":"DeleteAccessGrantsInstanceRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteAccessGrantsInstanceResourcePolicy":{
      "name":"DeleteAccessGrantsInstanceResourcePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/accessgrantsinstance/resourcepolicy"
      },
      "input":{"shape":"DeleteAccessGrantsInstanceResourcePolicyRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteAccessGrantsLocation":{
      "name":"DeleteAccessGrantsLocation",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/accessgrantsinstance/location/{id}"
      },
      "input":{"shape":"DeleteAccessGrantsLocationRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteAccessPoint":{
      "name":"DeleteAccessPoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/accesspoint/{name}"
      },
      "input":{"shape":"DeleteAccessPointRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteAccessPointForObjectLambda":{
      "name":"DeleteAccessPointForObjectLambda",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/accesspointforobjectlambda/{name}"
      },
      "input":{"shape":"DeleteAccessPointForObjectLambdaRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteAccessPointPolicy":{
      "name":"DeleteAccessPointPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/accesspoint/{name}/policy"
      },
      "input":{"shape":"DeleteAccessPointPolicyRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteAccessPointPolicyForObjectLambda":{
      "name":"DeleteAccessPointPolicyForObjectLambda",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/accesspointforobjectlambda/{name}/policy"
      },
      "input":{"shape":"DeleteAccessPointPolicyForObjectLambdaRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteBucket":{
      "name":"DeleteBucket",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/bucket/{name}"
      },
      "input":{"shape":"DeleteBucketRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteBucketLifecycleConfiguration":{
      "name":"DeleteBucketLifecycleConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/bucket/{name}/lifecycleconfiguration"
      },
      "input":{"shape":"DeleteBucketLifecycleConfigurationRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteBucketPolicy":{
      "name":"DeleteBucketPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/bucket/{name}/policy"
      },
      "input":{"shape":"DeleteBucketPolicyRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteBucketReplication":{
      "name":"DeleteBucketReplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/bucket/{name}/replication"
      },
      "input":{"shape":"DeleteBucketReplicationRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteBucketTagging":{
      "name":"DeleteBucketTagging",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/bucket/{name}/tagging",
        "responseCode":204
      },
      "input":{"shape":"DeleteBucketTaggingRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteJobTagging":{
      "name":"DeleteJobTagging",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/jobs/{id}/tagging"
      },
      "input":{"shape":"DeleteJobTaggingRequest"},
      "output":{"shape":"DeleteJobTaggingResult"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"}
      ],
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteMultiRegionAccessPoint":{
      "name":"DeleteMultiRegionAccessPoint",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/async-requests/mrap/delete"
      },
      "input":{
        "shape":"DeleteMultiRegionAccessPointRequest",
        "locationName":"DeleteMultiRegionAccessPointRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"DeleteMultiRegionAccessPointResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeletePublicAccessBlock":{
      "name":"DeletePublicAccessBlock",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/configuration/publicAccessBlock"
      },
      "input":{"shape":"DeletePublicAccessBlockRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteStorageLensConfiguration":{
      "name":"DeleteStorageLensConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/storagelens/{storagelensid}"
      },
      "input":{"shape":"DeleteStorageLensConfigurationRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteStorageLensConfigurationTagging":{
      "name":"DeleteStorageLensConfigurationTagging",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/storagelens/{storagelensid}/tagging"
      },
      "input":{"shape":"DeleteStorageLensConfigurationTaggingRequest"},
      "output":{"shape":"DeleteStorageLensConfigurationTaggingResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DeleteStorageLensGroup":{
      "name":"DeleteStorageLensGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/storagelensgroup/{name}",
        "responseCode":204
      },
      "input":{"shape":"DeleteStorageLensGroupRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DescribeJob":{
      "name":"DescribeJob",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/jobs/{id}"
      },
      "input":{"shape":"DescribeJobRequest"},
      "output":{"shape":"DescribeJobResult"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DescribeMultiRegionAccessPointOperation":{
      "name":"DescribeMultiRegionAccessPointOperation",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/async-requests/mrap/{request_token+}"
      },
      "input":{"shape":"DescribeMultiRegionAccessPointOperationRequest"},
      "output":{"shape":"DescribeMultiRegionAccessPointOperationResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "DissociateAccessGrantsIdentityCenter":{
      "name":"DissociateAccessGrantsIdentityCenter",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/accessgrantsinstance/identitycenter"
      },
      "input":{"shape":"DissociateAccessGrantsIdentityCenterRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessGrant":{
      "name":"GetAccessGrant",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accessgrantsinstance/grant/{id}"
      },
      "input":{"shape":"GetAccessGrantRequest"},
      "output":{"shape":"GetAccessGrantResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessGrantsInstance":{
      "name":"GetAccessGrantsInstance",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accessgrantsinstance"
      },
      "input":{"shape":"GetAccessGrantsInstanceRequest"},
      "output":{"shape":"GetAccessGrantsInstanceResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessGrantsInstanceForPrefix":{
      "name":"GetAccessGrantsInstanceForPrefix",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accessgrantsinstance/prefix"
      },
      "input":{"shape":"GetAccessGrantsInstanceForPrefixRequest"},
      "output":{"shape":"GetAccessGrantsInstanceForPrefixResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessGrantsInstanceResourcePolicy":{
      "name":"GetAccessGrantsInstanceResourcePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accessgrantsinstance/resourcepolicy"
      },
      "input":{"shape":"GetAccessGrantsInstanceResourcePolicyRequest"},
      "output":{"shape":"GetAccessGrantsInstanceResourcePolicyResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessGrantsLocation":{
      "name":"GetAccessGrantsLocation",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accessgrantsinstance/location/{id}"
      },
      "input":{"shape":"GetAccessGrantsLocationRequest"},
      "output":{"shape":"GetAccessGrantsLocationResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessPoint":{
      "name":"GetAccessPoint",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accesspoint/{name}"
      },
      "input":{"shape":"GetAccessPointRequest"},
      "output":{"shape":"GetAccessPointResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessPointConfigurationForObjectLambda":{
      "name":"GetAccessPointConfigurationForObjectLambda",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accesspointforobjectlambda/{name}/configuration"
      },
      "input":{"shape":"GetAccessPointConfigurationForObjectLambdaRequest"},
      "output":{"shape":"GetAccessPointConfigurationForObjectLambdaResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessPointForObjectLambda":{
      "name":"GetAccessPointForObjectLambda",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accesspointforobjectlambda/{name}"
      },
      "input":{"shape":"GetAccessPointForObjectLambdaRequest"},
      "output":{"shape":"GetAccessPointForObjectLambdaResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessPointPolicy":{
      "name":"GetAccessPointPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accesspoint/{name}/policy"
      },
      "input":{"shape":"GetAccessPointPolicyRequest"},
      "output":{"shape":"GetAccessPointPolicyResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessPointPolicyForObjectLambda":{
      "name":"GetAccessPointPolicyForObjectLambda",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accesspointforobjectlambda/{name}/policy"
      },
      "input":{"shape":"GetAccessPointPolicyForObjectLambdaRequest"},
      "output":{"shape":"GetAccessPointPolicyForObjectLambdaResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessPointPolicyStatus":{
      "name":"GetAccessPointPolicyStatus",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accesspoint/{name}/policyStatus"
      },
      "input":{"shape":"GetAccessPointPolicyStatusRequest"},
      "output":{"shape":"GetAccessPointPolicyStatusResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetAccessPointPolicyStatusForObjectLambda":{
      "name":"GetAccessPointPolicyStatusForObjectLambda",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accesspointforobjectlambda/{name}/policyStatus"
      },
      "input":{"shape":"GetAccessPointPolicyStatusForObjectLambdaRequest"},
      "output":{"shape":"GetAccessPointPolicyStatusForObjectLambdaResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetBucket":{
      "name":"GetBucket",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/bucket/{name}"
      },
      "input":{"shape":"GetBucketRequest"},
      "output":{"shape":"GetBucketResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetBucketLifecycleConfiguration":{
      "name":"GetBucketLifecycleConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/bucket/{name}/lifecycleconfiguration"
      },
      "input":{"shape":"GetBucketLifecycleConfigurationRequest"},
      "output":{"shape":"GetBucketLifecycleConfigurationResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetBucketPolicy":{
      "name":"GetBucketPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/bucket/{name}/policy"
      },
      "input":{"shape":"GetBucketPolicyRequest"},
      "output":{"shape":"GetBucketPolicyResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetBucketReplication":{
      "name":"GetBucketReplication",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/bucket/{name}/replication"
      },
      "input":{"shape":"GetBucketReplicationRequest"},
      "output":{"shape":"GetBucketReplicationResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetBucketTagging":{
      "name":"GetBucketTagging",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/bucket/{name}/tagging"
      },
      "input":{"shape":"GetBucketTaggingRequest"},
      "output":{"shape":"GetBucketTaggingResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetBucketVersioning":{
      "name":"GetBucketVersioning",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/bucket/{name}/versioning"
      },
      "input":{"shape":"GetBucketVersioningRequest"},
      "output":{"shape":"GetBucketVersioningResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetDataAccess":{
      "name":"GetDataAccess",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accessgrantsinstance/dataaccess"
      },
      "input":{"shape":"GetDataAccessRequest"},
      "output":{"shape":"GetDataAccessResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetJobTagging":{
      "name":"GetJobTagging",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/jobs/{id}/tagging"
      },
      "input":{"shape":"GetJobTaggingRequest"},
      "output":{"shape":"GetJobTaggingResult"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"}
      ],
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetMultiRegionAccessPoint":{
      "name":"GetMultiRegionAccessPoint",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/mrap/instances/{name+}"
      },
      "input":{"shape":"GetMultiRegionAccessPointRequest"},
      "output":{"shape":"GetMultiRegionAccessPointResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetMultiRegionAccessPointPolicy":{
      "name":"GetMultiRegionAccessPointPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/mrap/instances/{name+}/policy"
      },
      "input":{"shape":"GetMultiRegionAccessPointPolicyRequest"},
      "output":{"shape":"GetMultiRegionAccessPointPolicyResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetMultiRegionAccessPointPolicyStatus":{
      "name":"GetMultiRegionAccessPointPolicyStatus",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/mrap/instances/{name+}/policystatus"
      },
      "input":{"shape":"GetMultiRegionAccessPointPolicyStatusRequest"},
      "output":{"shape":"GetMultiRegionAccessPointPolicyStatusResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetMultiRegionAccessPointRoutes":{
      "name":"GetMultiRegionAccessPointRoutes",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/mrap/instances/{mrap+}/routes"
      },
      "input":{"shape":"GetMultiRegionAccessPointRoutesRequest"},
      "output":{"shape":"GetMultiRegionAccessPointRoutesResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetPublicAccessBlock":{
      "name":"GetPublicAccessBlock",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/configuration/publicAccessBlock"
      },
      "input":{"shape":"GetPublicAccessBlockRequest"},
      "output":{"shape":"GetPublicAccessBlockOutput"},
      "errors":[
        {"shape":"NoSuchPublicAccessBlockConfiguration"}
      ],
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetStorageLensConfiguration":{
      "name":"GetStorageLensConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/storagelens/{storagelensid}"
      },
      "input":{"shape":"GetStorageLensConfigurationRequest"},
      "output":{"shape":"GetStorageLensConfigurationResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetStorageLensConfigurationTagging":{
      "name":"GetStorageLensConfigurationTagging",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/storagelens/{storagelensid}/tagging"
      },
      "input":{"shape":"GetStorageLensConfigurationTaggingRequest"},
      "output":{"shape":"GetStorageLensConfigurationTaggingResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "GetStorageLensGroup":{
      "name":"GetStorageLensGroup",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/storagelensgroup/{name}"
      },
      "input":{"shape":"GetStorageLensGroupRequest"},
      "output":{"shape":"GetStorageLensGroupResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListAccessGrants":{
      "name":"ListAccessGrants",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accessgrantsinstance/grants"
      },
      "input":{"shape":"ListAccessGrantsRequest"},
      "output":{"shape":"ListAccessGrantsResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListAccessGrantsInstances":{
      "name":"ListAccessGrantsInstances",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accessgrantsinstances"
      },
      "input":{"shape":"ListAccessGrantsInstancesRequest"},
      "output":{"shape":"ListAccessGrantsInstancesResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListAccessGrantsLocations":{
      "name":"ListAccessGrantsLocations",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accessgrantsinstance/locations"
      },
      "input":{"shape":"ListAccessGrantsLocationsRequest"},
      "output":{"shape":"ListAccessGrantsLocationsResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListAccessPoints":{
      "name":"ListAccessPoints",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accesspoint"
      },
      "input":{"shape":"ListAccessPointsRequest"},
      "output":{"shape":"ListAccessPointsResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListAccessPointsForObjectLambda":{
      "name":"ListAccessPointsForObjectLambda",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/accesspointforobjectlambda"
      },
      "input":{"shape":"ListAccessPointsForObjectLambdaRequest"},
      "output":{"shape":"ListAccessPointsForObjectLambdaResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/jobs"
      },
      "input":{"shape":"ListJobsRequest"},
      "output":{"shape":"ListJobsResult"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListMultiRegionAccessPoints":{
      "name":"ListMultiRegionAccessPoints",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/mrap/instances"
      },
      "input":{"shape":"ListMultiRegionAccessPointsRequest"},
      "output":{"shape":"ListMultiRegionAccessPointsResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListRegionalBuckets":{
      "name":"ListRegionalBuckets",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/bucket"
      },
      "input":{"shape":"ListRegionalBucketsRequest"},
      "output":{"shape":"ListRegionalBucketsResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListStorageLensConfigurations":{
      "name":"ListStorageLensConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/storagelens"
      },
      "input":{"shape":"ListStorageLensConfigurationsRequest"},
      "output":{"shape":"ListStorageLensConfigurationsResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListStorageLensGroups":{
      "name":"ListStorageLensGroups",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/storagelensgroup"
      },
      "input":{"shape":"ListStorageLensGroupsRequest"},
      "output":{"shape":"ListStorageLensGroupsResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/v20180820/tags/{resourceArn+}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutAccessGrantsInstanceResourcePolicy":{
      "name":"PutAccessGrantsInstanceResourcePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/accessgrantsinstance/resourcepolicy"
      },
      "input":{
        "shape":"PutAccessGrantsInstanceResourcePolicyRequest",
        "locationName":"PutAccessGrantsInstanceResourcePolicyRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"PutAccessGrantsInstanceResourcePolicyResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutAccessPointConfigurationForObjectLambda":{
      "name":"PutAccessPointConfigurationForObjectLambda",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/accesspointforobjectlambda/{name}/configuration"
      },
      "input":{
        "shape":"PutAccessPointConfigurationForObjectLambdaRequest",
        "locationName":"PutAccessPointConfigurationForObjectLambdaRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutAccessPointPolicy":{
      "name":"PutAccessPointPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/accesspoint/{name}/policy"
      },
      "input":{
        "shape":"PutAccessPointPolicyRequest",
        "locationName":"PutAccessPointPolicyRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutAccessPointPolicyForObjectLambda":{
      "name":"PutAccessPointPolicyForObjectLambda",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/accesspointforobjectlambda/{name}/policy"
      },
      "input":{
        "shape":"PutAccessPointPolicyForObjectLambdaRequest",
        "locationName":"PutAccessPointPolicyForObjectLambdaRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutBucketLifecycleConfiguration":{
      "name":"PutBucketLifecycleConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/bucket/{name}/lifecycleconfiguration"
      },
      "input":{"shape":"PutBucketLifecycleConfigurationRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutBucketPolicy":{
      "name":"PutBucketPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/bucket/{name}/policy"
      },
      "input":{
        "shape":"PutBucketPolicyRequest",
        "locationName":"PutBucketPolicyRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutBucketReplication":{
      "name":"PutBucketReplication",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/bucket/{name}/replication"
      },
      "input":{"shape":"PutBucketReplicationRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutBucketTagging":{
      "name":"PutBucketTagging",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/bucket/{name}/tagging"
      },
      "input":{"shape":"PutBucketTaggingRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutBucketVersioning":{
      "name":"PutBucketVersioning",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/bucket/{name}/versioning"
      },
      "input":{"shape":"PutBucketVersioningRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutJobTagging":{
      "name":"PutJobTagging",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/jobs/{id}/tagging"
      },
      "input":{
        "shape":"PutJobTaggingRequest",
        "locationName":"PutJobTaggingRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"PutJobTaggingResult"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyTagsException"}
      ],
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutMultiRegionAccessPointPolicy":{
      "name":"PutMultiRegionAccessPointPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/async-requests/mrap/put-policy"
      },
      "input":{
        "shape":"PutMultiRegionAccessPointPolicyRequest",
        "locationName":"PutMultiRegionAccessPointPolicyRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"PutMultiRegionAccessPointPolicyResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutPublicAccessBlock":{
      "name":"PutPublicAccessBlock",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/configuration/publicAccessBlock"
      },
      "input":{"shape":"PutPublicAccessBlockRequest"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutStorageLensConfiguration":{
      "name":"PutStorageLensConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/storagelens/{storagelensid}"
      },
      "input":{
        "shape":"PutStorageLensConfigurationRequest",
        "locationName":"PutStorageLensConfigurationRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "PutStorageLensConfigurationTagging":{
      "name":"PutStorageLensConfigurationTagging",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/storagelens/{storagelensid}/tagging"
      },
      "input":{
        "shape":"PutStorageLensConfigurationTaggingRequest",
        "locationName":"PutStorageLensConfigurationTaggingRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"PutStorageLensConfigurationTaggingResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "SubmitMultiRegionAccessPointRoutes":{
      "name":"SubmitMultiRegionAccessPointRoutes",
      "http":{
        "method":"PATCH",
        "requestUri":"/v20180820/mrap/instances/{mrap+}/routes"
      },
      "input":{
        "shape":"SubmitMultiRegionAccessPointRoutesRequest",
        "locationName":"SubmitMultiRegionAccessPointRoutesRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"SubmitMultiRegionAccessPointRoutesResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/tags/{resourceArn+}",
        "responseCode":204
      },
      "input":{
        "shape":"TagResourceRequest",
        "locationName":"TagResourceRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"TagResourceResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20180820/tags/{resourceArn+}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "UpdateAccessGrantsLocation":{
      "name":"UpdateAccessGrantsLocation",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/accessgrantsinstance/location/{id}"
      },
      "input":{
        "shape":"UpdateAccessGrantsLocationRequest",
        "locationName":"UpdateAccessGrantsLocationRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "output":{"shape":"UpdateAccessGrantsLocationResult"},
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "httpChecksumRequired":true,
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "UpdateJobPriority":{
      "name":"UpdateJobPriority",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/jobs/{id}/priority"
      },
      "input":{"shape":"UpdateJobPriorityRequest"},
      "output":{"shape":"UpdateJobPriorityResult"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "UpdateJobStatus":{
      "name":"UpdateJobStatus",
      "http":{
        "method":"POST",
        "requestUri":"/v20180820/jobs/{id}/status"
      },
      "input":{"shape":"UpdateJobStatusRequest"},
      "output":{"shape":"UpdateJobStatusResult"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"JobStatusException"},
        {"shape":"InternalServiceException"}
      ],
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    },
    "UpdateStorageLensGroup":{
      "name":"UpdateStorageLensGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/v20180820/storagelensgroup/{name}",
        "responseCode":204
      },
      "input":{
        "shape":"UpdateStorageLensGroupRequest",
        "locationName":"UpdateStorageLensGroupRequest",
        "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
      },
      "endpoint":{
        "hostPrefix":"{AccountId}."
      },
      "staticContextParams":{
        "RequiresAccountId":{"value":true}
      }
    }
  },
  "shapes":{
    "AbortIncompleteMultipartUpload":{
      "type":"structure",
      "members":{
        "DaysAfterInitiation":{"shape":"DaysAfterInitiation"}
      }
    },
    "AccessControlTranslation":{
      "type":"structure",
      "required":["Owner"],
      "members":{
        "Owner":{"shape":"OwnerOverride"}
      }
    },
    "AccessGrantArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:[a-z\\-]+:s3:[a-z0-9\\-]+:\\d{12}:access\\-grants\\/grant/[a-zA-Z0-9\\-]+"
    },
    "AccessGrantId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9\\-]+"
    },
    "AccessGrantsInstanceArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:[a-z\\-]+:s3:[a-z0-9\\-]+:\\d{12}:access\\-grants\\/[a-zA-Z0-9\\-]+"
    },
    "AccessGrantsInstanceId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9\\-]+"
    },
    "AccessGrantsInstancesList":{
      "type":"list",
      "member":{
        "shape":"ListAccessGrantsInstanceEntry",
        "locationName":"AccessGrantsInstance"
      }
    },
    "AccessGrantsList":{
      "type":"list",
      "member":{
        "shape":"ListAccessGrantEntry",
        "locationName":"AccessGrant"
      }
    },
    "AccessGrantsLocationArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:[a-z\\-]+:s3:[a-z0-9\\-]+:\\d{12}:access\\-grants\\/location/[a-zA-Z0-9\\-]+"
    },
    "AccessGrantsLocationConfiguration":{
      "type":"structure",
      "members":{
        "S3SubPrefix":{"shape":"S3Prefix"}
      }
    },
    "AccessGrantsLocationId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9\\-]+"
    },
    "AccessGrantsLocationsList":{
      "type":"list",
      "member":{
        "shape":"ListAccessGrantsLocationsEntry",
        "locationName":"AccessGrantsLocation"
      }
    },
    "AccessKeyId":{
      "type":"string",
      "sensitive":true
    },
    "AccessPoint":{
      "type":"structure",
      "required":[
        "Name",
        "NetworkOrigin",
        "Bucket"
      ],
      "members":{
        "Name":{"shape":"AccessPointName"},
        "NetworkOrigin":{"shape":"NetworkOrigin"},
        "VpcConfiguration":{"shape":"VpcConfiguration"},
        "Bucket":{"shape":"BucketName"},
        "AccessPointArn":{"shape":"S3AccessPointArn"},
        "Alias":{"shape":"Alias"},
        "BucketAccountId":{"shape":"AccountId"}
      }
    },
    "AccessPointList":{
      "type":"list",
      "member":{
        "shape":"AccessPoint",
        "locationName":"AccessPoint"
      }
    },
    "AccessPointName":{
      "type":"string",
      "max":255,
      "min":3
    },
    "AccountId":{
      "type":"string",
      "max":64,
      "pattern":"^\\d{12}$"
    },
    "AccountLevel":{
      "type":"structure",
      "required":["BucketLevel"],
      "members":{
        "ActivityMetrics":{"shape":"ActivityMetrics"},
        "BucketLevel":{"shape":"BucketLevel"},
        "AdvancedCostOptimizationMetrics":{"shape":"AdvancedCostOptimizationMetrics"},
        "AdvancedDataProtectionMetrics":{"shape":"AdvancedDataProtectionMetrics"},
        "DetailedStatusCodesMetrics":{"shape":"DetailedStatusCodesMetrics"},
        "StorageLensGroupLevel":{"shape":"StorageLensGroupLevel"}
      }
    },
    "ActivityMetrics":{
      "type":"structure",
      "members":{
        "IsEnabled":{"shape":"IsEnabled"}
      }
    },
    "AdvancedCostOptimizationMetrics":{
      "type":"structure",
      "members":{
        "IsEnabled":{"shape":"IsEnabled"}
      }
    },
    "AdvancedDataProtectionMetrics":{
      "type":"structure",
      "members":{
        "IsEnabled":{"shape":"IsEnabled"}
      }
    },
    "Alias":{
      "type":"string",
      "max":63,
      "pattern":"^[0-9a-z\\\\-]{63}"
    },
    "AssociateAccessGrantsIdentityCenterRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "IdentityCenterArn"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "IdentityCenterArn":{"shape":"IdentityCenterArn"}
      }
    },
    "AsyncCreationTimestamp":{"type":"timestamp"},
    "AsyncErrorDetails":{
      "type":"structure",
      "members":{
        "Code":{"shape":"MaxLength1024String"},
        "Message":{"shape":"MaxLength1024String"},
        "Resource":{"shape":"MaxLength1024String"},
        "RequestId":{"shape":"MaxLength1024String"}
      }
    },
    "AsyncOperation":{
      "type":"structure",
      "members":{
        "CreationTime":{"shape":"AsyncCreationTimestamp"},
        "Operation":{"shape":"AsyncOperationName"},
        "RequestTokenARN":{"shape":"AsyncRequestTokenARN"},
        "RequestParameters":{"shape":"AsyncRequestParameters"},
        "RequestStatus":{"shape":"AsyncRequestStatus"},
        "ResponseDetails":{"shape":"AsyncResponseDetails"}
      }
    },
    "AsyncOperationName":{
      "type":"string",
      "enum":[
        "CreateMultiRegionAccessPoint",
        "DeleteMultiRegionAccessPoint",
        "PutMultiRegionAccessPointPolicy"
      ]
    },
    "AsyncRequestParameters":{
      "type":"structure",
      "members":{
        "CreateMultiRegionAccessPointRequest":{"shape":"CreateMultiRegionAccessPointInput"},
        "DeleteMultiRegionAccessPointRequest":{"shape":"DeleteMultiRegionAccessPointInput"},
        "PutMultiRegionAccessPointPolicyRequest":{"shape":"PutMultiRegionAccessPointPolicyInput"}
      }
    },
    "AsyncRequestStatus":{"type":"string"},
    "AsyncRequestTokenARN":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"arn:.+"
    },
    "AsyncResponseDetails":{
      "type":"structure",
      "members":{
        "MultiRegionAccessPointDetails":{"shape":"MultiRegionAccessPointsAsyncResponse"},
        "ErrorDetails":{"shape":"AsyncErrorDetails"}
      }
    },
    "AwsLambdaTransformation":{
      "type":"structure",
      "required":["FunctionArn"],
      "members":{
        "FunctionArn":{"shape":"FunctionArnString"},
        "FunctionPayload":{"shape":"AwsLambdaTransformationPayload"}
      }
    },
    "AwsLambdaTransformationPayload":{"type":"string"},
    "AwsOrgArn":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"arn:[a-z\\-]+:organizations::\\d{12}:organization\\/o-[a-z0-9]{10,32}"
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"}
      },
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "BucketAlreadyExists":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BucketAlreadyOwnedByYou":{
      "type":"structure",
      "members":{
      },
      "exception":true
    },
    "BucketCannedACL":{
      "type":"string",
      "enum":[
        "private",
        "public-read",
        "public-read-write",
        "authenticated-read"
      ]
    },
    "BucketIdentifierString":{"type":"string"},
    "BucketLevel":{
      "type":"structure",
      "members":{
        "ActivityMetrics":{"shape":"ActivityMetrics"},
        "PrefixLevel":{"shape":"PrefixLevel"},
        "AdvancedCostOptimizationMetrics":{"shape":"AdvancedCostOptimizationMetrics"},
        "AdvancedDataProtectionMetrics":{"shape":"AdvancedDataProtectionMetrics"},
        "DetailedStatusCodesMetrics":{"shape":"DetailedStatusCodesMetrics"}
      }
    },
    "BucketLocationConstraint":{
      "type":"string",
      "enum":[
        "EU",
        "eu-west-1",
        "us-west-1",
        "us-west-2",
        "ap-south-1",
        "ap-southeast-1",
        "ap-southeast-2",
        "ap-northeast-1",
        "sa-east-1",
        "cn-north-1",
        "eu-central-1"
      ]
    },
    "BucketName":{
      "type":"string",
      "max":255,
      "min":3
    },
    "BucketVersioningStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Suspended"
      ]
    },
    "Buckets":{
      "type":"list",
      "member":{
        "shape":"S3BucketArnString",
        "locationName":"Arn"
      }
    },
    "CloudWatchMetrics":{
      "type":"structure",
      "required":["IsEnabled"],
      "members":{
        "IsEnabled":{"shape":"IsEnabled"}
      }
    },
    "ConfigId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9\\-\\_\\.]+"
    },
    "ConfirmRemoveSelfBucketAccess":{"type":"boolean"},
    "ConfirmationRequired":{"type":"boolean"},
    "ContinuationToken":{"type":"string"},
    "CreateAccessGrantRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "AccessGrantsLocationId",
        "Grantee",
        "Permission"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "AccessGrantsLocationId":{"shape":"AccessGrantsLocationId"},
        "AccessGrantsLocationConfiguration":{"shape":"AccessGrantsLocationConfiguration"},
        "Grantee":{"shape":"Grantee"},
        "Permission":{"shape":"Permission"},
        "ApplicationArn":{"shape":"IdentityCenterApplicationArn"},
        "S3PrefixType":{"shape":"S3PrefixType"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateAccessGrantResult":{
      "type":"structure",
      "members":{
        "CreatedAt":{"shape":"CreationTimestamp"},
        "AccessGrantId":{"shape":"AccessGrantId"},
        "AccessGrantArn":{"shape":"AccessGrantArn"},
        "Grantee":{"shape":"Grantee"},
        "AccessGrantsLocationId":{"shape":"AccessGrantsLocationId"},
        "AccessGrantsLocationConfiguration":{"shape":"AccessGrantsLocationConfiguration"},
        "Permission":{"shape":"Permission"},
        "ApplicationArn":{"shape":"IdentityCenterApplicationArn"},
        "GrantScope":{"shape":"S3Prefix"}
      }
    },
    "CreateAccessGrantsInstanceRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "IdentityCenterArn":{"shape":"IdentityCenterArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateAccessGrantsInstanceResult":{
      "type":"structure",
      "members":{
        "CreatedAt":{"shape":"CreationTimestamp"},
        "AccessGrantsInstanceId":{"shape":"AccessGrantsInstanceId"},
        "AccessGrantsInstanceArn":{"shape":"AccessGrantsInstanceArn"},
        "IdentityCenterArn":{"shape":"IdentityCenterArn"}
      }
    },
    "CreateAccessGrantsLocationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "LocationScope",
        "IAMRoleArn"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "LocationScope":{"shape":"S3Prefix"},
        "IAMRoleArn":{"shape":"IAMRoleArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateAccessGrantsLocationResult":{
      "type":"structure",
      "members":{
        "CreatedAt":{"shape":"CreationTimestamp"},
        "AccessGrantsLocationId":{"shape":"AccessGrantsLocationId"},
        "AccessGrantsLocationArn":{"shape":"AccessGrantsLocationArn"},
        "LocationScope":{"shape":"S3Prefix"},
        "IAMRoleArn":{"shape":"IAMRoleArn"}
      }
    },
    "CreateAccessPointForObjectLambdaRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name",
        "Configuration"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"ObjectLambdaAccessPointName",
          "location":"uri",
          "locationName":"name"
        },
        "Configuration":{"shape":"ObjectLambdaConfiguration"}
      }
    },
    "CreateAccessPointForObjectLambdaResult":{
      "type":"structure",
      "members":{
        "ObjectLambdaAccessPointArn":{"shape":"ObjectLambdaAccessPointArn"},
        "Alias":{"shape":"ObjectLambdaAccessPointAlias"}
      }
    },
    "CreateAccessPointRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"AccessPointName",
          "location":"uri",
          "locationName":"name"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"}
        },
        "VpcConfiguration":{"shape":"VpcConfiguration"},
        "PublicAccessBlockConfiguration":{"shape":"PublicAccessBlockConfiguration"},
        "BucketAccountId":{"shape":"AccountId"}
      }
    },
    "CreateAccessPointResult":{
      "type":"structure",
      "members":{
        "AccessPointArn":{"shape":"S3AccessPointArn"},
        "Alias":{"shape":"Alias"}
      }
    },
    "CreateBucketConfiguration":{
      "type":"structure",
      "members":{
        "LocationConstraint":{"shape":"BucketLocationConstraint"}
      }
    },
    "CreateBucketRequest":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "ACL":{
          "shape":"BucketCannedACL",
          "location":"header",
          "locationName":"x-amz-acl"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        },
        "CreateBucketConfiguration":{
          "shape":"CreateBucketConfiguration",
          "locationName":"CreateBucketConfiguration",
          "xmlNamespace":{"uri":"http://awss3control.amazonaws.com/doc/2018-08-20/"}
        },
        "GrantFullControl":{
          "shape":"GrantFullControl",
          "location":"header",
          "locationName":"x-amz-grant-full-control"
        },
        "GrantRead":{
          "shape":"GrantRead",
          "location":"header",
          "locationName":"x-amz-grant-read"
        },
        "GrantReadACP":{
          "shape":"GrantReadACP",
          "location":"header",
          "locationName":"x-amz-grant-read-acp"
        },
        "GrantWrite":{
          "shape":"GrantWrite",
          "location":"header",
          "locationName":"x-amz-grant-write"
        },
        "GrantWriteACP":{
          "shape":"GrantWriteACP",
          "location":"header",
          "locationName":"x-amz-grant-write-acp"
        },
        "ObjectLockEnabledForBucket":{
          "shape":"ObjectLockEnabledForBucket",
          "location":"header",
          "locationName":"x-amz-bucket-object-lock-enabled"
        },
        "OutpostId":{
          "shape":"NonEmptyMaxLength64String",
          "contextParam":{"name":"OutpostId"},
          "location":"header",
          "locationName":"x-amz-outpost-id"
        }
      },
      "payload":"CreateBucketConfiguration"
    },
    "CreateBucketResult":{
      "type":"structure",
      "members":{
        "Location":{
          "shape":"Location",
          "location":"header",
          "locationName":"Location"
        },
        "BucketArn":{"shape":"S3RegionalBucketArn"}
      }
    },
    "CreateJobRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Operation",
        "Report",
        "ClientRequestToken",
        "Priority",
        "RoleArn"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "ConfirmationRequired":{
          "shape":"ConfirmationRequired",
          "box":true
        },
        "Operation":{"shape":"JobOperation"},
        "Report":{"shape":"JobReport"},
        "ClientRequestToken":{
          "shape":"NonEmptyMaxLength64String",
          "idempotencyToken":true
        },
        "Manifest":{"shape":"JobManifest"},
        "Description":{"shape":"NonEmptyMaxLength256String"},
        "Priority":{
          "shape":"JobPriority",
          "box":true
        },
        "RoleArn":{"shape":"IAMRoleArn"},
        "Tags":{"shape":"S3TagSet"},
        "ManifestGenerator":{"shape":"JobManifestGenerator"}
      }
    },
    "CreateJobResult":{
      "type":"structure",
      "members":{
        "JobId":{"shape":"JobId"}
      }
    },
    "CreateMultiRegionAccessPointInput":{
      "type":"structure",
      "required":[
        "Name",
        "Regions"
      ],
      "members":{
        "Name":{"shape":"MultiRegionAccessPointName"},
        "PublicAccessBlock":{"shape":"PublicAccessBlockConfiguration"},
        "Regions":{"shape":"RegionCreationList"}
      }
    },
    "CreateMultiRegionAccessPointRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "ClientToken",
        "Details"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "ClientToken":{
          "shape":"MultiRegionAccessPointClientToken",
          "idempotencyToken":true
        },
        "Details":{"shape":"CreateMultiRegionAccessPointInput"}
      }
    },
    "CreateMultiRegionAccessPointResult":{
      "type":"structure",
      "members":{
        "RequestTokenARN":{"shape":"AsyncRequestTokenARN"}
      }
    },
    "CreateStorageLensGroupRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "StorageLensGroup"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "StorageLensGroup":{"shape":"StorageLensGroup"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreationDate":{"type":"timestamp"},
    "CreationTimestamp":{"type":"timestamp"},
    "Credentials":{
      "type":"structure",
      "members":{
        "AccessKeyId":{"shape":"AccessKeyId"},
        "SecretAccessKey":{"shape":"SecretAccessKey"},
        "SessionToken":{"shape":"SessionToken"},
        "Expiration":{"shape":"Expiration"}
      },
      "sensitive":true
    },
    "Date":{"type":"timestamp"},
    "Days":{"type":"integer"},
    "DaysAfterInitiation":{"type":"integer"},
    "DeleteAccessGrantRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "AccessGrantId"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "AccessGrantId":{
          "shape":"AccessGrantId",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "DeleteAccessGrantsInstanceRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        }
      }
    },
    "DeleteAccessGrantsInstanceResourcePolicyRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        }
      }
    },
    "DeleteAccessGrantsLocationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "AccessGrantsLocationId"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "AccessGrantsLocationId":{
          "shape":"AccessGrantsLocationId",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "DeleteAccessPointForObjectLambdaRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"ObjectLambdaAccessPointName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteAccessPointPolicyForObjectLambdaRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"ObjectLambdaAccessPointName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteAccessPointPolicyRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"AccessPointName",
          "contextParam":{"name":"AccessPointName"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteAccessPointRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"AccessPointName",
          "contextParam":{"name":"AccessPointName"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteBucketLifecycleConfigurationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteBucketPolicyRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteBucketReplicationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteBucketRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteBucketTaggingRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteJobTaggingRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "JobId"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "JobId":{
          "shape":"JobId",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "DeleteJobTaggingResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteMarkerReplication":{
      "type":"structure",
      "required":["Status"],
      "members":{
        "Status":{"shape":"DeleteMarkerReplicationStatus"}
      }
    },
    "DeleteMarkerReplicationStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Disabled"
      ]
    },
    "DeleteMultiRegionAccessPointInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{"shape":"MultiRegionAccessPointName"}
      }
    },
    "DeleteMultiRegionAccessPointRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "ClientToken",
        "Details"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "ClientToken":{
          "shape":"MultiRegionAccessPointClientToken",
          "idempotencyToken":true
        },
        "Details":{"shape":"DeleteMultiRegionAccessPointInput"}
      }
    },
    "DeleteMultiRegionAccessPointResult":{
      "type":"structure",
      "members":{
        "RequestTokenARN":{"shape":"AsyncRequestTokenARN"}
      }
    },
    "DeletePublicAccessBlockRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        }
      }
    },
    "DeleteStorageLensConfigurationRequest":{
      "type":"structure",
      "required":[
        "ConfigId",
        "AccountId"
      ],
      "members":{
        "ConfigId":{
          "shape":"ConfigId",
          "location":"uri",
          "locationName":"storagelensid"
        },
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        }
      }
    },
    "DeleteStorageLensConfigurationTaggingRequest":{
      "type":"structure",
      "required":[
        "ConfigId",
        "AccountId"
      ],
      "members":{
        "ConfigId":{
          "shape":"ConfigId",
          "location":"uri",
          "locationName":"storagelensid"
        },
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        }
      }
    },
    "DeleteStorageLensConfigurationTaggingResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteStorageLensGroupRequest":{
      "type":"structure",
      "required":[
        "Name",
        "AccountId"
      ],
      "members":{
        "Name":{
          "shape":"StorageLensGroupName",
          "location":"uri",
          "locationName":"name"
        },
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        }
      }
    },
    "DescribeJobRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "JobId"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "JobId":{
          "shape":"JobId",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "DescribeJobResult":{
      "type":"structure",
      "members":{
        "Job":{"shape":"JobDescriptor"}
      }
    },
    "DescribeMultiRegionAccessPointOperationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "RequestTokenARN"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "RequestTokenARN":{
          "shape":"AsyncRequestTokenARN",
          "location":"uri",
          "locationName":"request_token"
        }
      }
    },
    "DescribeMultiRegionAccessPointOperationResult":{
      "type":"structure",
      "members":{
        "AsyncOperation":{"shape":"AsyncOperation"}
      }
    },
    "Destination":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Account":{"shape":"AccountId"},
        "Bucket":{"shape":"BucketIdentifierString"},
        "ReplicationTime":{"shape":"ReplicationTime"},
        "AccessControlTranslation":{"shape":"AccessControlTranslation"},
        "EncryptionConfiguration":{"shape":"EncryptionConfiguration"},
        "Metrics":{"shape":"Metrics"},
        "StorageClass":{"shape":"ReplicationStorageClass"}
      }
    },
    "DetailedStatusCodesMetrics":{
      "type":"structure",
      "members":{
        "IsEnabled":{"shape":"IsEnabled"}
      }
    },
    "DissociateAccessGrantsIdentityCenterRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        }
      }
    },
    "DurationSeconds":{
      "type":"integer",
      "box":true,
      "max":43200,
      "min":900
    },
    "EncryptionConfiguration":{
      "type":"structure",
      "members":{
        "ReplicaKmsKeyID":{
          "shape":"ReplicaKmsKeyID",
          "box":true
        }
      }
    },
    "Endpoints":{
      "type":"map",
      "key":{"shape":"NonEmptyMaxLength64String"},
      "value":{"shape":"NonEmptyMaxLength1024String"}
    },
    "EstablishedMultiRegionAccessPointPolicy":{
      "type":"structure",
      "members":{
        "Policy":{"shape":"Policy"}
      }
    },
    "ExceptionMessage":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "Exclude":{
      "type":"structure",
      "members":{
        "Buckets":{"shape":"Buckets"},
        "Regions":{"shape":"Regions"}
      }
    },
    "ExistingObjectReplication":{
      "type":"structure",
      "required":["Status"],
      "members":{
        "Status":{"shape":"ExistingObjectReplicationStatus"}
      }
    },
    "ExistingObjectReplicationStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Disabled"
      ]
    },
    "Expiration":{"type":"timestamp"},
    "ExpirationStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Disabled"
      ]
    },
    "ExpiredObjectDeleteMarker":{"type":"boolean"},
    "Format":{
      "type":"string",
      "enum":[
        "CSV",
        "Parquet"
      ]
    },
    "FunctionArnString":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "GeneratedManifestEncryption":{
      "type":"structure",
      "members":{
        "SSES3":{
          "shape":"SSES3Encryption",
          "locationName":"SSE-S3"
        },
        "SSEKMS":{
          "shape":"SSEKMSEncryption",
          "locationName":"SSE-KMS"
        }
      }
    },
    "GeneratedManifestFormat":{
      "type":"string",
      "enum":["S3InventoryReport_CSV_20211130"]
    },
    "GetAccessGrantRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "AccessGrantId"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "AccessGrantId":{
          "shape":"AccessGrantId",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "GetAccessGrantResult":{
      "type":"structure",
      "members":{
        "CreatedAt":{"shape":"CreationTimestamp"},
        "AccessGrantId":{"shape":"AccessGrantId"},
        "AccessGrantArn":{"shape":"AccessGrantArn"},
        "Grantee":{"shape":"Grantee"},
        "Permission":{"shape":"Permission"},
        "AccessGrantsLocationId":{"shape":"AccessGrantsLocationId"},
        "AccessGrantsLocationConfiguration":{"shape":"AccessGrantsLocationConfiguration"},
        "GrantScope":{"shape":"S3Prefix"},
        "ApplicationArn":{"shape":"IdentityCenterApplicationArn"}
      }
    },
    "GetAccessGrantsInstanceForPrefixRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "S3Prefix"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "S3Prefix":{
          "shape":"S3Prefix",
          "location":"querystring",
          "locationName":"s3prefix"
        }
      }
    },
    "GetAccessGrantsInstanceForPrefixResult":{
      "type":"structure",
      "members":{
        "AccessGrantsInstanceArn":{"shape":"AccessGrantsInstanceArn"},
        "AccessGrantsInstanceId":{"shape":"AccessGrantsInstanceId"}
      }
    },
    "GetAccessGrantsInstanceRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        }
      }
    },
    "GetAccessGrantsInstanceResourcePolicyRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        }
      }
    },
    "GetAccessGrantsInstanceResourcePolicyResult":{
      "type":"structure",
      "members":{
        "Policy":{"shape":"PolicyDocument"},
        "Organization":{"shape":"Organization"},
        "CreatedAt":{"shape":"CreationTimestamp"}
      }
    },
    "GetAccessGrantsInstanceResult":{
      "type":"structure",
      "members":{
        "AccessGrantsInstanceArn":{"shape":"AccessGrantsInstanceArn"},
        "AccessGrantsInstanceId":{"shape":"AccessGrantsInstanceId"},
        "IdentityCenterArn":{"shape":"IdentityCenterArn"},
        "CreatedAt":{"shape":"CreationTimestamp"}
      }
    },
    "GetAccessGrantsLocationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "AccessGrantsLocationId"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "AccessGrantsLocationId":{
          "shape":"AccessGrantsLocationId",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "GetAccessGrantsLocationResult":{
      "type":"structure",
      "members":{
        "CreatedAt":{"shape":"CreationTimestamp"},
        "AccessGrantsLocationId":{"shape":"AccessGrantsLocationId"},
        "AccessGrantsLocationArn":{"shape":"AccessGrantsLocationArn"},
        "LocationScope":{"shape":"S3Prefix"},
        "IAMRoleArn":{"shape":"IAMRoleArn"}
      }
    },
    "GetAccessPointConfigurationForObjectLambdaRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"ObjectLambdaAccessPointName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAccessPointConfigurationForObjectLambdaResult":{
      "type":"structure",
      "members":{
        "Configuration":{"shape":"ObjectLambdaConfiguration"}
      }
    },
    "GetAccessPointForObjectLambdaRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"ObjectLambdaAccessPointName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAccessPointForObjectLambdaResult":{
      "type":"structure",
      "members":{
        "Name":{"shape":"ObjectLambdaAccessPointName"},
        "PublicAccessBlockConfiguration":{"shape":"PublicAccessBlockConfiguration"},
        "CreationDate":{"shape":"CreationDate"},
        "Alias":{"shape":"ObjectLambdaAccessPointAlias"}
      }
    },
    "GetAccessPointPolicyForObjectLambdaRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"ObjectLambdaAccessPointName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAccessPointPolicyForObjectLambdaResult":{
      "type":"structure",
      "members":{
        "Policy":{"shape":"ObjectLambdaPolicy"}
      }
    },
    "GetAccessPointPolicyRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"AccessPointName",
          "contextParam":{"name":"AccessPointName"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAccessPointPolicyResult":{
      "type":"structure",
      "members":{
        "Policy":{"shape":"Policy"}
      }
    },
    "GetAccessPointPolicyStatusForObjectLambdaRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"ObjectLambdaAccessPointName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAccessPointPolicyStatusForObjectLambdaResult":{
      "type":"structure",
      "members":{
        "PolicyStatus":{"shape":"PolicyStatus"}
      }
    },
    "GetAccessPointPolicyStatusRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"AccessPointName",
          "contextParam":{"name":"AccessPointName"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAccessPointPolicyStatusResult":{
      "type":"structure",
      "members":{
        "PolicyStatus":{"shape":"PolicyStatus"}
      }
    },
    "GetAccessPointRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"AccessPointName",
          "contextParam":{"name":"AccessPointName"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAccessPointResult":{
      "type":"structure",
      "members":{
        "Name":{"shape":"AccessPointName"},
        "Bucket":{"shape":"BucketName"},
        "NetworkOrigin":{"shape":"NetworkOrigin"},
        "VpcConfiguration":{"shape":"VpcConfiguration"},
        "PublicAccessBlockConfiguration":{"shape":"PublicAccessBlockConfiguration"},
        "CreationDate":{"shape":"CreationDate"},
        "Alias":{"shape":"Alias"},
        "AccessPointArn":{"shape":"S3AccessPointArn"},
        "Endpoints":{"shape":"Endpoints"},
        "BucketAccountId":{"shape":"AccountId"}
      }
    },
    "GetBucketLifecycleConfigurationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetBucketLifecycleConfigurationResult":{
      "type":"structure",
      "members":{
        "Rules":{"shape":"LifecycleRules"}
      }
    },
    "GetBucketPolicyRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetBucketPolicyResult":{
      "type":"structure",
      "members":{
        "Policy":{"shape":"Policy"}
      }
    },
    "GetBucketReplicationRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetBucketReplicationResult":{
      "type":"structure",
      "members":{
        "ReplicationConfiguration":{"shape":"ReplicationConfiguration"}
      }
    },
    "GetBucketRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetBucketResult":{
      "type":"structure",
      "members":{
        "Bucket":{"shape":"BucketName"},
        "PublicAccessBlockEnabled":{"shape":"PublicAccessBlockEnabled"},
        "CreationDate":{"shape":"CreationDate"}
      }
    },
    "GetBucketTaggingRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetBucketTaggingResult":{
      "type":"structure",
      "required":["TagSet"],
      "members":{
        "TagSet":{"shape":"S3TagSet"}
      }
    },
    "GetBucketVersioningRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Bucket"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Bucket":{
          "shape":"BucketName",
          "contextParam":{"name":"Bucket"},
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetBucketVersioningResult":{
      "type":"structure",
      "members":{
        "Status":{"shape":"BucketVersioningStatus"},
        "MFADelete":{
          "shape":"MFADeleteStatus",
          "locationName":"MfaDelete"
        }
      }
    },
    "GetDataAccessRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Target",
        "Permission"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Target":{
          "shape":"S3Prefix",
          "location":"querystring",
          "locationName":"target"
        },
        "Permission":{
          "shape":"Permission",
          "location":"querystring",
          "locationName":"permission"
        },
        "DurationSeconds":{
          "shape":"DurationSeconds",
          "location":"querystring",
          "locationName":"durationSeconds"
        },
        "Privilege":{
          "shape":"Privilege",
          "location":"querystring",
          "locationName":"privilege"
        },
        "TargetType":{
          "shape":"S3PrefixType",
          "location":"querystring",
          "locationName":"targetType"
        }
      }
    },
    "GetDataAccessResult":{
      "type":"structure",
      "members":{
        "Credentials":{"shape":"Credentials"},
        "MatchedGrantTarget":{"shape":"S3Prefix"}
      }
    },
    "GetJobTaggingRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "JobId"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "JobId":{
          "shape":"JobId",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "GetJobTaggingResult":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"S3TagSet"}
      }
    },
    "GetMultiRegionAccessPointPolicyRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"MultiRegionAccessPointName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetMultiRegionAccessPointPolicyResult":{
      "type":"structure",
      "members":{
        "Policy":{"shape":"MultiRegionAccessPointPolicyDocument"}
      }
    },
    "GetMultiRegionAccessPointPolicyStatusRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"MultiRegionAccessPointName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetMultiRegionAccessPointPolicyStatusResult":{
      "type":"structure",
      "members":{
        "Established":{"shape":"PolicyStatus"}
      }
    },
    "GetMultiRegionAccessPointRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Name"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Name":{
          "shape":"MultiRegionAccessPointName",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetMultiRegionAccessPointResult":{
      "type":"structure",
      "members":{
        "AccessPoint":{"shape":"MultiRegionAccessPointReport"}
      }
    },
    "GetMultiRegionAccessPointRoutesRequest":{
      "type":"structure",
      "required":[
        "AccountId",
        "Mrap"
      ],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
          "locationName":"x-amz-account-id"
        },
        "Mrap":{
          "shape":"MultiRegionAccessPointId",
          "location":"uri",
          "locationName":"mrap"
        }
      }
    },
    "GetMultiRegionAccessPointRoutesResult":{
      "type":"structure",
      "members":{
        "Mrap":{"shape":"MultiRegionAccessPointId"},
        "Routes":{"shape":"RouteList"}
      }
    },
    "GetPublicAccessBlockOutput":{
      "type":"structure",
      "members":{
        "PublicAccessBlockConfiguration":{"shape":"PublicAccessBlockConfiguration"}
      },
      "payload":"PublicAccessBlockConfiguration"
    },
    "GetPublicAccessBlockRequest":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "contextParam":{"name":"AccountId"},
          "hostLabel":true,
          "location":"header",
[...]
