{
  "metadata": {
    "apiVersion": "2022-11-28",
    "endpointPrefix": "omics",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Omics",
    "serviceId": "Omics",
    "signatureVersion": "v4",
    "signingName": "omics",
    "uid": "omics-2022-11-28"
  },
  "operations": {
    "AbortMultipartReadSetUpload": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "NotSupportedOperationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/abort",
        "responseCode": 200
      },
      "input": {
        "shape": "AbortMultipartReadSetUploadRequest"
      },
      "name": "AbortMultipartReadSetUpload",
      "output": {
        "shape": "AbortMultipartReadSetUploadResponse"
      }
    },
    "AcceptShare": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/share/{shareId}",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptShareRequest"
      },
      "name": "AcceptShare",
      "output": {
        "shape": "AcceptShareResponse"
      }
    },
    "BatchDeleteReadSet": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/readset/batch/delete",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "BatchDeleteReadSetRequest"
      },
      "name": "BatchDeleteReadSet",
      "output": {
        "shape": "BatchDeleteReadSetResponse"
      }
    },
    "CancelAnnotationImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/import/annotation/{jobId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CancelAnnotationImportRequest"
      },
      "name": "CancelAnnotationImportJob",
      "output": {
        "shape": "CancelAnnotationImportResponse"
      }
    },
    "CancelRun": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/run/{id}/cancel",
        "responseCode": 202
      },
      "input": {
        "shape": "CancelRunRequest"
      },
      "name": "CancelRun"
    },
    "CancelVariantImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/import/variant/{jobId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CancelVariantImportRequest"
      },
      "name": "CancelVariantImportJob",
      "output": {
        "shape": "CancelVariantImportResponse"
      }
    },
    "CompleteMultipartReadSetUpload": {
      "endpoint": {
        "hostPrefix": "storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "NotSupportedOperationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/complete",
        "responseCode": 200
      },
      "input": {
        "shape": "CompleteMultipartReadSetUploadRequest"
      },
      "name": "CompleteMultipartReadSetUpload",
      "output": {
        "shape": "CompleteMultipartReadSetUploadResponse"
      }
    },
    "CreateAnnotationStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStore",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateAnnotationStoreRequest"
      },
      "name": "CreateAnnotationStore",
      "output": {
        "shape": "CreateAnnotationStoreResponse"
      }
    },
    "CreateAnnotationStoreVersion": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStore/{name}/version",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateAnnotationStoreVersionRequest"
      },
      "name": "CreateAnnotationStoreVersion",
      "output": {
        "shape": "CreateAnnotationStoreVersionResponse"
      }
    },
    "CreateMultipartReadSetUpload": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "NotSupportedOperationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/upload",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMultipartReadSetUploadRequest"
      },
      "name": "CreateMultipartReadSetUpload",
      "output": {
        "shape": "CreateMultipartReadSetUploadResponse"
      }
    },
    "CreateReferenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestore",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateReferenceStoreRequest"
      },
      "name": "CreateReferenceStore",
      "output": {
        "shape": "CreateReferenceStoreResponse"
      }
    },
    "CreateRunGroup": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/runGroup",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRunGroupRequest"
      },
      "name": "CreateRunGroup",
      "output": {
        "shape": "CreateRunGroupResponse"
      }
    },
    "CreateSequenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSequenceStoreRequest"
      },
      "name": "CreateSequenceStore",
      "output": {
        "shape": "CreateSequenceStoreResponse"
      }
    },
    "CreateShare": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/share",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateShareRequest"
      },
      "name": "CreateShare",
      "output": {
        "shape": "CreateShareResponse"
      }
    },
    "CreateVariantStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/variantStore",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateVariantStoreRequest"
      },
      "name": "CreateVariantStore",
      "output": {
        "shape": "CreateVariantStoreResponse"
      }
    },
    "CreateWorkflow": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workflow",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateWorkflowRequest"
      },
      "name": "CreateWorkflow",
      "output": {
        "shape": "CreateWorkflowResponse"
      }
    },
    "DeleteAnnotationStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/annotationStore/{name}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAnnotationStoreRequest"
      },
      "name": "DeleteAnnotationStore",
      "output": {
        "shape": "DeleteAnnotationStoreResponse"
      }
    },
    "DeleteAnnotationStoreVersions": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStore/{name}/versions/delete",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAnnotationStoreVersionsRequest"
      },
      "name": "DeleteAnnotationStoreVersions",
      "output": {
        "shape": "DeleteAnnotationStoreVersionsResponse"
      }
    },
    "DeleteReference": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteReferenceRequest"
      },
      "name": "DeleteReference",
      "output": {
        "shape": "DeleteReferenceResponse"
      }
    },
    "DeleteReferenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/referencestore/{id}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteReferenceStoreRequest"
      },
      "name": "DeleteReferenceStore",
      "output": {
        "shape": "DeleteReferenceStoreResponse"
      }
    },
    "DeleteRun": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/run/{id}",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRunRequest"
      },
      "name": "DeleteRun"
    },
    "DeleteRunGroup": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/runGroup/{id}",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRunGroupRequest"
      },
      "name": "DeleteRunGroup"
    },
    "DeleteSequenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/sequencestore/{id}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSequenceStoreRequest"
      },
      "name": "DeleteSequenceStore",
      "output": {
        "shape": "DeleteSequenceStoreResponse"
      }
    },
    "DeleteShare": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/share/{shareId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteShareRequest"
      },
      "name": "DeleteShare",
      "output": {
        "shape": "DeleteShareResponse"
      }
    },
    "DeleteVariantStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/variantStore/{name}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVariantStoreRequest"
      },
      "name": "DeleteVariantStore",
      "output": {
        "shape": "DeleteVariantStoreResponse"
      }
    },
    "DeleteWorkflow": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/workflow/{id}",
        "responseCode": 202
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteWorkflowRequest"
      },
      "name": "DeleteWorkflow"
    },
    "GetAnnotationImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/import/annotation/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnnotationImportRequest"
      },
      "name": "GetAnnotationImportJob",
      "output": {
        "shape": "GetAnnotationImportResponse"
      }
    },
    "GetAnnotationStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/annotationStore/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnnotationStoreRequest"
      },
      "name": "GetAnnotationStore",
      "output": {
        "shape": "GetAnnotationStoreResponse"
      }
    },
    "GetAnnotationStoreVersion": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/annotationStore/{name}/version/{versionName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnnotationStoreVersionRequest"
      },
      "name": "GetAnnotationStoreVersion",
      "output": {
        "shape": "GetAnnotationStoreVersionResponse"
      }
    },
    "GetReadSet": {
      "endpoint": {
        "hostPrefix": "storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RangeNotSatisfiableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/readset/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetRequest"
      },
      "name": "GetReadSet",
      "output": {
        "shape": "GetReadSetResponse"
      }
    },
    "GetReadSetActivationJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/activationjob/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetActivationJobRequest"
      },
      "name": "GetReadSetActivationJob",
      "output": {
        "shape": "GetReadSetActivationJobResponse"
      }
    },
    "GetReadSetExportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/exportjob/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetExportJobRequest"
      },
      "name": "GetReadSetExportJob",
      "output": {
        "shape": "GetReadSetExportJobResponse"
      }
    },
    "GetReadSetImportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/importjob/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetImportJobRequest"
      },
      "name": "GetReadSetImportJob",
      "output": {
        "shape": "GetReadSetImportJobResponse"
      }
    },
    "GetReadSetMetadata": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{sequenceStoreId}/readset/{id}/metadata",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReadSetMetadataRequest"
      },
      "name": "GetReadSetMetadata",
      "output": {
        "shape": "GetReadSetMetadataResponse"
      }
    },
    "GetReference": {
      "endpoint": {
        "hostPrefix": "storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "RangeNotSatisfiableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReferenceRequest"
      },
      "name": "GetReference",
      "output": {
        "shape": "GetReferenceResponse"
      }
    },
    "GetReferenceImportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/referencestore/{referenceStoreId}/importjob/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReferenceImportJobRequest"
      },
      "name": "GetReferenceImportJob",
      "output": {
        "shape": "GetReferenceImportJobResponse"
      }
    },
    "GetReferenceMetadata": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/referencestore/{referenceStoreId}/reference/{id}/metadata",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReferenceMetadataRequest"
      },
      "name": "GetReferenceMetadata",
      "output": {
        "shape": "GetReferenceMetadataResponse"
      }
    },
    "GetReferenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/referencestore/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetReferenceStoreRequest"
      },
      "name": "GetReferenceStore",
      "output": {
        "shape": "GetReferenceStoreResponse"
      }
    },
    "GetRun": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/run/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRunRequest"
      },
      "name": "GetRun",
      "output": {
        "shape": "GetRunResponse"
      }
    },
    "GetRunGroup": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/runGroup/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRunGroupRequest"
      },
      "name": "GetRunGroup",
      "output": {
        "shape": "GetRunGroupResponse"
      }
    },
    "GetRunTask": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/run/{id}/task/{taskId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRunTaskRequest"
      },
      "name": "GetRunTask",
      "output": {
        "shape": "GetRunTaskResponse"
      }
    },
    "GetSequenceStore": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sequencestore/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSequenceStoreRequest"
      },
      "name": "GetSequenceStore",
      "output": {
        "shape": "GetSequenceStoreResponse"
      }
    },
    "GetShare": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/share/{shareId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetShareRequest"
      },
      "name": "GetShare",
      "output": {
        "shape": "GetShareResponse"
      }
    },
    "GetVariantImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/import/variant/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVariantImportRequest"
      },
      "name": "GetVariantImportJob",
      "output": {
        "shape": "GetVariantImportResponse"
      }
    },
    "GetVariantStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/variantStore/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVariantStoreRequest"
      },
      "name": "GetVariantStore",
      "output": {
        "shape": "GetVariantStoreResponse"
      }
    },
    "GetWorkflow": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workflow/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetWorkflowRequest"
      },
      "name": "GetWorkflow",
      "output": {
        "shape": "GetWorkflowResponse"
      }
    },
    "ListAnnotationImportJobs": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/import/annotations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnnotationImportJobsRequest"
      },
      "name": "ListAnnotationImportJobs",
      "output": {
        "shape": "ListAnnotationImportJobsResponse"
      }
    },
    "ListAnnotationStoreVersions": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStore/{name}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnnotationStoreVersionsRequest"
      },
      "name": "ListAnnotationStoreVersions",
      "output": {
        "shape": "ListAnnotationStoreVersionsResponse"
      }
    },
    "ListAnnotationStores": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnnotationStoresRequest"
      },
      "name": "ListAnnotationStores",
      "output": {
        "shape": "ListAnnotationStoresResponse"
      }
    },
    "ListMultipartReadSetUploads": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "NotSupportedOperationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/uploads",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultipartReadSetUploadsRequest"
      },
      "name": "ListMultipartReadSetUploads",
      "output": {
        "shape": "ListMultipartReadSetUploadsResponse"
      }
    },
    "ListReadSetActivationJobs": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/activationjobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReadSetActivationJobsRequest"
      },
      "name": "ListReadSetActivationJobs",
      "output": {
        "shape": "ListReadSetActivationJobsResponse"
      }
    },
    "ListReadSetExportJobs": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/exportjobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReadSetExportJobsRequest"
      },
      "name": "ListReadSetExportJobs",
      "output": {
        "shape": "ListReadSetExportJobsResponse"
      }
    },
    "ListReadSetImportJobs": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/importjobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReadSetImportJobsRequest"
      },
      "name": "ListReadSetImportJobs",
      "output": {
        "shape": "ListReadSetImportJobsResponse"
      }
    },
    "ListReadSetUploadParts": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "NotSupportedOperationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/parts",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReadSetUploadPartsRequest"
      },
      "name": "ListReadSetUploadParts",
      "output": {
        "shape": "ListReadSetUploadPartsResponse"
      }
    },
    "ListReadSets": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/readsets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReadSetsRequest"
      },
      "name": "ListReadSets",
      "output": {
        "shape": "ListReadSetsResponse"
      }
    },
    "ListReferenceImportJobs": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestore/{referenceStoreId}/importjobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReferenceImportJobsRequest"
      },
      "name": "ListReferenceImportJobs",
      "output": {
        "shape": "ListReferenceImportJobsResponse"
      }
    },
    "ListReferenceStores": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReferenceStoresRequest"
      },
      "name": "ListReferenceStores",
      "output": {
        "shape": "ListReferenceStoresResponse"
      }
    },
    "ListReferences": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestore/{referenceStoreId}/references",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReferencesRequest"
      },
      "name": "ListReferences",
      "output": {
        "shape": "ListReferencesResponse"
      }
    },
    "ListRunGroups": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/runGroup",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRunGroupsRequest"
      },
      "name": "ListRunGroups",
      "output": {
        "shape": "ListRunGroupsResponse"
      }
    },
    "ListRunTasks": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/run/{id}/task",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRunTasksRequest"
      },
      "name": "ListRunTasks",
      "output": {
        "shape": "ListRunTasksResponse"
      }
    },
    "ListRuns": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/run",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRunsRequest"
      },
      "name": "ListRuns",
      "output": {
        "shape": "ListRunsResponse"
      }
    },
    "ListSequenceStores": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSequenceStoresRequest"
      },
      "name": "ListSequenceStores",
      "output": {
        "shape": "ListSequenceStoresResponse"
      }
    },
    "ListShares": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/shares",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSharesRequest"
      },
      "name": "ListShares",
      "output": {
        "shape": "ListSharesResponse"
      }
    },
    "ListTagsForResource": {
      "endpoint": {
        "hostPrefix": "tags-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListVariantImportJobs": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/import/variants",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVariantImportJobsRequest"
      },
      "name": "ListVariantImportJobs",
      "output": {
        "shape": "ListVariantImportJobsResponse"
      }
    },
    "ListVariantStores": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/variantStores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVariantStoresRequest"
      },
      "name": "ListVariantStores",
      "output": {
        "shape": "ListVariantStoresResponse"
      }
    },
    "ListWorkflows": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/workflow",
        "responseCode": 200
      },
      "input": {
        "shape": "ListWorkflowsRequest"
      },
      "name": "ListWorkflows",
      "output": {
        "shape": "ListWorkflowsResponse"
      }
    },
    "StartAnnotationImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/import/annotation",
        "responseCode": 200
      },
      "input": {
        "shape": "StartAnnotationImportRequest"
      },
      "name": "StartAnnotationImportJob",
      "output": {
        "shape": "StartAnnotationImportResponse"
      }
    },
    "StartReadSetActivationJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/activationjob",
        "responseCode": 200
      },
      "input": {
        "shape": "StartReadSetActivationJobRequest"
      },
      "name": "StartReadSetActivationJob",
      "output": {
        "shape": "StartReadSetActivationJobResponse"
      }
    },
    "StartReadSetExportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/exportjob",
        "responseCode": 200
      },
      "input": {
        "shape": "StartReadSetExportJobRequest"
      },
      "name": "StartReadSetExportJob",
      "output": {
        "shape": "StartReadSetExportJobResponse"
      }
    },
    "StartReadSetImportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/sequencestore/{sequenceStoreId}/importjob",
        "responseCode": 200
      },
      "input": {
        "shape": "StartReadSetImportJobRequest"
      },
      "name": "StartReadSetImportJob",
      "output": {
        "shape": "StartReadSetImportJobResponse"
      }
    },
    "StartReferenceImportJob": {
      "endpoint": {
        "hostPrefix": "control-storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/referencestore/{referenceStoreId}/importjob",
        "responseCode": 200
      },
      "input": {
        "shape": "StartReferenceImportJobRequest"
      },
      "name": "StartReferenceImportJob",
      "output": {
        "shape": "StartReferenceImportJobResponse"
      }
    },
    "StartRun": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/run",
        "responseCode": 201
      },
      "input": {
        "shape": "StartRunRequest"
      },
      "name": "StartRun",
      "output": {
        "shape": "StartRunResponse"
      }
    },
    "StartVariantImportJob": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/import/variant",
        "responseCode": 200
      },
      "input": {
        "shape": "StartVariantImportRequest"
      },
      "name": "StartVariantImportJob",
      "output": {
        "shape": "StartVariantImportResponse"
      }
    },
    "TagResource": {
      "endpoint": {
        "hostPrefix": "tags-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "endpoint": {
        "hostPrefix": "tags-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAnnotationStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStore/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAnnotationStoreRequest"
      },
      "name": "UpdateAnnotationStore",
      "output": {
        "shape": "UpdateAnnotationStoreResponse"
      }
    },
    "UpdateAnnotationStoreVersion": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/annotationStore/{name}/version/{versionName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAnnotationStoreVersionRequest"
      },
      "name": "UpdateAnnotationStoreVersion",
      "output": {
        "shape": "UpdateAnnotationStoreVersionResponse"
      }
    },
    "UpdateRunGroup": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/runGroup/{id}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateRunGroupRequest"
      },
      "name": "UpdateRunGroup"
    },
    "UpdateVariantStore": {
      "endpoint": {
        "hostPrefix": "analytics-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/variantStore/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateVariantStoreRequest"
      },
      "name": "UpdateVariantStore",
      "output": {
        "shape": "UpdateVariantStoreResponse"
      }
    },
    "UpdateWorkflow": {
      "endpoint": {
        "hostPrefix": "workflows-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/workflow/{id}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateWorkflowRequest"
      },
      "name": "UpdateWorkflow"
    },
    "UploadReadSetPart": {
      "authtype": "v4-unsigned-body",
      "endpoint": {
        "hostPrefix": "storage-"
      },
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "NotSupportedOperationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RequestTimeoutException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/sequencestore/{sequenceStoreId}/upload/{uploadId}/part",
        "responseCode": 200
      },
      "input": {
        "shape": "UploadReadSetPartRequest"
      },
      "name": "UploadReadSetPart",
      "output": {
        "shape": "UploadReadSetPartResponse"
      }
    }
  },
  "shapes": {
    "AbortMultipartReadSetUploadRequest": {
      "members": {
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        },
        "uploadId": {
          "location": "uri",
          "locationName": "uploadId",
          "shape": "UploadId"
        }
      },
      "required": [
        "sequenceStoreId",
        "uploadId"
      ],
      "type": "structure"
    },
    "AbortMultipartReadSetUploadResponse": {
      "members": {},
      "type": "structure"
    },
    "Accelerators": {
      "enum": [
        "GPU"
      ],
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "AcceptShareRequest": {
      "members": {
        "shareId": {
          "location": "uri",
          "locationName": "shareId",
          "shape": "String"
        }
      },
      "required": [
        "shareId"
      ],
      "type": "structure"
    },
    "AcceptShareResponse": {
      "members": {
        "status": {
          "shape": "ShareStatus"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ActivateReadSetFilter": {
      "members": {
        "createdAfter": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "createdBefore": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "status": {
          "shape": "ReadSetActivationJobStatus"
        }
      },
      "type": "structure"
    },
    "ActivateReadSetJobItem": {
      "members": {
        "completionTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "id": {
          "shape": "ActivationJobId"
        },
        "sequenceStoreId": {
          "shape": "SequenceStoreId"
        },
        "status": {
          "shape": "ReadSetActivationJobStatus"
        }
      },
      "required": [
        "id",
        "sequenceStoreId",
        "status",
        "creationTime"
      ],
      "type": "structure"
    },
    "ActivateReadSetJobList": {
      "member": {
        "shape": "ActivateReadSetJobItem"
      },
      "type": "list"
    },
    "ActivateReadSetSourceItem": {
      "members": {
        "readSetId": {
          "shape": "ReadSetId"
        },
        "status": {
          "shape": "ReadSetActivationJobItemStatus"
        },
        "statusMessage": {
          "shape": "JobStatusMessage"
        }
      },
      "required": [
        "readSetId",
        "status"
      ],
      "type": "structure"
    },
    "ActivateReadSetSourceList": {
      "member": {
        "shape": "ActivateReadSetSourceItem"
      },
      "type": "list"
    },
    "ActivationJobId": {
      "max": 36,
      "min": 10,
      "pattern": "[0-9]+",
      "type": "string"
    },
    "AnnotationFieldMap": {
      "key": {
        "shape": "AnnotationFieldMapKeyString"
      },
      "type": "map",
      "value": {
        "shape": "AnnotationFieldMapValueString"
      }
    },
    "AnnotationFieldMapKeyString": {
      "max": 21,
      "min": 1,
      "type": "string"
    },
    "AnnotationFieldMapValueString": {
      "max": 21,
      "min": 1,
      "type": "string"
    },
    "AnnotationImportItemDetail": {
      "members": {
        "jobStatus": {
          "shape": "JobStatus"
        },
        "source": {
          "shape": "S3Uri"
        }
      },
      "required": [
        "source",
        "jobStatus"
      ],
      "type": "structure"
    },
    "AnnotationImportItemDetails": {
      "max": 1,
      "member": {
        "shape": "AnnotationImportItemDetail"
      },
      "min": 1,
      "type": "list"
    },
    "AnnotationImportItemSource": {
      "members": {
        "source": {
          "shape": "S3Uri"
        }
      },
      "required": [
        "source"
      ],
      "type": "structure"
    },
    "AnnotationImportItemSources": {
      "member": {
        "shape": "AnnotationImportItemSource"
      },
      "min": 1,
      "type": "list"
    },
    "AnnotationImportJobItem": {
      "members": {
        "annotationFields": {
          "shape": "AnnotationFieldMap"
        },
        "completionTime": {
          "shape": "CompletionTime"
        },
        "creationTime": {
          "shape": "CreationTime"
        },
        "destinationName": {
          "shape": "String"
        },
        "id": {
          "shape": "String"
        },
        "roleArn": {
          "shape": "Arn"
        },
        "runLeftNormalization": {
          "shape": "RunLeftNormalization"
        },
        "status": {
          "shape": "JobStatus"
        },
        "updateTime": {
          "shape": "UpdateTime"
        },
        "versionName": {
          "shape": "VersionName"
        }
      },
      "required": [
        "id",
        "destinationName",
        "versionName",
        "roleArn",
        "status",
        "creationTime",
        "updateTime"
      ],
      "type": "structure"
    },
    "AnnotationImportJobItems": {
      "member": {
        "shape": "AnnotationImportJobItem"
      },
      "type": "list"
    },
    "AnnotationStoreItem": {
      "members": {
        "creationTime": {
          "shape": "CreationTime"
        },
        "description": {
          "shape": "Description"
        },
        "id": {
          "shape": "ResourceId"
        },
        "name": {
          "shape": "String"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "status": {
          "shape": "StoreStatus"
        },
        "statusMessage": {
          "shape": "StatusMessage"
        },
        "storeArn": {
          "shape": "Arn"
        },
        "storeFormat": {
          "shape": "StoreFormat"
        },
        "storeSizeBytes": {
          "shape": "Long"
        },
        "updateTime": {
          "shape": "UpdateTime"
        }
      },
      "required": [
        "id",
        "reference",
        "status",
        "storeArn",
        "name",
        "storeFormat",
        "description",
        "sseConfig",
        "creationTime",
        "updateTime",
        "statusMessage",
        "storeSizeBytes"
      ],
      "type": "structure"
    },
    "AnnotationStoreItems": {
      "member": {
        "shape": "AnnotationStoreItem"
      },
      "type": "list"
    },
    "AnnotationStoreVersionItem": {
      "members": {
        "creationTime": {
          "shape": "CreationTime"
        },
        "description": {
          "shape": "Description"
        },
        "id": {
          "shape": "ResourceId"
        },
        "name": {
          "shape": "StoreName"
        },
        "status": {
          "shape": "VersionStatus"
        },
        "statusMessage": {
          "shape": "StatusMessage"
        },
        "storeId": {
          "shape": "ResourceId"
        },
        "updateTime": {
          "shape": "UpdateTime"
        },
        "versionArn": {
          "shape": "Arn"
        },
        "versionName": {
          "shape": "VersionName"
        },
        "versionSizeBytes": {
          "shape": "Long"
        }
      },
      "required": [
        "storeId",
        "id",
        "status",
        "versionArn",
        "name",
        "versionName",
        "description",
        "creationTime",
        "updateTime",
        "statusMessage",
        "versionSizeBytes"
      ],
      "type": "structure"
    },
    "AnnotationStoreVersionItems": {
      "member": {
        "shape": "AnnotationStoreVersionItem"
      },
      "type": "list"
    },
    "AnnotationType": {
      "enum": [
        "GENERIC",
        "CHR_POS",
        "CHR_POS_REF_ALT",
        "CHR_START_END_ONE_BASE",
        "CHR_START_END_REF_ALT_ONE_BASE",
        "CHR_START_END_ZERO_BASE",
        "CHR_START_END_REF_ALT_ZERO_BASE"
      ],
      "type": "string"
    },
    "Arn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:([^: ]*):([^: ]*):([^: ]*):([0-9]{12}):([^: ]*)",
      "type": "string"
    },
    "ArnList": {
      "max": 10,
      "member": {
        "shape": "String"
      },
      "min": 1,
      "type": "list"
    },
    "BatchDeleteReadSetRequest": {
      "members": {
        "ids": {
          "shape": "ReadSetIdList"
        },
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "ids",
        "sequenceStoreId"
      ],
      "type": "structure"
    },
    "BatchDeleteReadSetResponse": {
      "members": {
        "errors": {
          "shape": "ReadSetBatchErrorList"
        }
      },
      "type": "structure"
    },
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CancelAnnotationImportRequest": {
      "members": {
        "jobId": {
          "location": "uri",
          "locationName": "jobId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "CancelAnnotationImportResponse": {
      "members": {},
      "type": "structure"
    },
    "CancelRunRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "RunId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "CancelVariantImportRequest": {
      "members": {
        "jobId": {
          "location": "uri",
          "locationName": "jobId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "CancelVariantImportResponse": {
      "members": {},
      "type": "structure"
    },
    "ClientToken": {
      "max": 127,
      "min": 1,
      "pattern": "[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+",
      "type": "string"
    },
    "CommentChar": {
      "max": 1,
      "min": 1,
      "type": "string"
    },
    "CompleteMultipartReadSetUploadRequest": {
      "members": {
        "parts": {
          "shape": "CompleteReadSetUploadPartList"
        },
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        },
        "uploadId": {
          "location": "uri",
          "locationName": "uploadId",
          "shape": "UploadId"
        }
      },
      "required": [
        "sequenceStoreId",
        "uploadId",
        "parts"
      ],
      "type": "structure"
    },
    "CompleteMultipartReadSetUploadResponse": {
      "members": {
        "readSetId": {
          "shape": "ReadSetId"
        }
      },
      "required": [
        "readSetId"
      ],
      "type": "structure"
    },
    "CompleteReadSetUploadPartList": {
      "member": {
        "shape": "CompleteReadSetUploadPartListItem"
      },
      "type": "list"
    },
    "CompleteReadSetUploadPartListItem": {
      "members": {
        "checksum": {
          "shape": "CompleteReadSetUploadPartListItemChecksumString"
        },
        "partNumber": {
          "shape": "CompleteReadSetUploadPartListItemPartNumberInteger"
        },
        "partSource": {
          "shape": "ReadSetPartSource"
        }
      },
      "required": [
        "partNumber",
        "partSource",
        "checksum"
      ],
      "type": "structure"
    },
    "CompleteReadSetUploadPartListItemChecksumString": {
      "max": 100,
      "min": 1,
      "pattern": "[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+",
      "type": "string"
    },
    "CompleteReadSetUploadPartListItemPartNumberInteger": {
      "box": true,
      "max": 10000,
      "min": 1,
      "type": "integer"
    },
    "CompletionTime": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "ConflictException": {
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "CreateAnnotationStoreRequest": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "name": {
          "shape": "StoreName"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "storeFormat": {
          "shape": "StoreFormat"
        },
        "storeOptions": {
          "shape": "StoreOptions"
        },
        "tags": {
          "shape": "TagMap"
        },
        "versionName": {
          "shape": "VersionName"
        }
      },
      "required": [
        "storeFormat"
      ],
      "type": "structure"
    },
    "CreateAnnotationStoreResponse": {
      "members": {
        "creationTime": {
          "shape": "CreationTime"
        },
        "id": {
          "shape": "ResourceId"
        },
        "name": {
          "shape": "String"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "status": {
          "shape": "StoreStatus"
        },
        "storeFormat": {
          "shape": "StoreFormat"
        },
        "storeOptions": {
          "shape": "StoreOptions"
        },
        "versionName": {
          "shape": "VersionName"
        }
      },
      "required": [
        "id",
        "status",
        "name",
        "versionName",
        "creationTime"
      ],
      "type": "structure"
    },
    "CreateAnnotationStoreVersionRequest": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "name": {
          "location": "uri",
          "locationName": "name",
          "shape": "StoreName"
        },
        "tags": {
          "shape": "TagMap"
        },
        "versionName": {
          "shape": "VersionName"
        },
        "versionOptions": {
          "shape": "VersionOptions"
        }
      },
      "required": [
        "name",
        "versionName"
      ],
      "type": "structure"
    },
    "CreateAnnotationStoreVersionResponse": {
      "members": {
        "creationTime": {
          "shape": "CreationTime"
        },
        "id": {
          "shape": "ResourceId"
        },
        "name": {
          "shape": "StoreName"
        },
        "status": {
          "shape": "VersionStatus"
        },
        "storeId": {
          "shape": "ResourceId"
        },
        "versionName": {
          "shape": "VersionName"
        },
        "versionOptions": {
          "shape": "VersionOptions"
        }
      },
      "required": [
        "id",
        "versionName",
        "storeId",
        "name",
        "status",
        "creationTime"
      ],
      "type": "structure"
    },
    "CreateMultipartReadSetUploadRequest": {
      "members": {
        "clientToken": {
          "shape": "ClientToken"
        },
        "description": {
          "shape": "ReadSetDescription"
        },
        "generatedFrom": {
          "shape": "GeneratedFrom"
        },
        "name": {
          "shape": "ReadSetName"
        },
        "referenceArn": {
          "shape": "ReferenceArn"
        },
        "sampleId": {
          "shape": "SampleId"
        },
        "sequenceStoreId": {
          "location": "uri",
          "locationName": "sequenceStoreId",
          "shape": "SequenceStoreId"
        },
        "sourceFileType": {
          "shape": "FileType"
        },
        "subjectId": {
          "shape": "SubjectId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "sequenceStoreId",
        "sourceFileType",
        "subjectId",
        "sampleId",
        "name"
      ],
      "type": "structure"
    },
    "CreateMultipartReadSetUploadResponse": {
      "members": {
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "description": {
          "shape": "ReadSetDescription"
        },
        "generatedFrom": {
          "shape": "GeneratedFrom"
        },
        "name": {
          "shape": "ReadSetName"
        },
        "referenceArn": {
          "shape": "ReferenceArn"
        },
        "sampleId": {
          "shape": "SampleId"
        },
        "sequenceStoreId": {
          "shape": "SequenceStoreId"
        },
        "sourceFileType": {
          "shape": "FileType"
        },
        "subjectId": {
          "shape": "SubjectId"
        },
        "tags": {
          "shape": "TagMap"
        },
        "uploadId": {
          "shape": "UploadId"
        }
      },
      "required": [
        "sequenceStoreId",
        "uploadId",
        "sourceFileType",
        "subjectId",
        "sampleId",
        "referenceArn",
        "creationTime"
      ],
      "type": "structure"
    },
    "CreateReferenceStoreRequest": {
      "members": {
        "clientToken": {
          "shape": "ClientToken"
        },
        "description": {
          "shape": "ReferenceStoreDescription"
        },
        "name": {
          "shape": "ReferenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateReferenceStoreResponse": {
      "members": {
        "arn": {
          "shape": "ReferenceStoreArn"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "description": {
          "shape": "ReferenceStoreDescription"
        },
        "id": {
          "shape": "ReferenceStoreId"
        },
        "name": {
          "shape": "ReferenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        }
      },
      "required": [
        "id",
        "arn",
        "creationTime"
      ],
      "type": "structure"
    },
    "CreateRunGroupRequest": {
      "members": {
        "maxCpus": {
          "shape": "CreateRunGroupRequestMaxCpusInteger"
        },
        "maxDuration": {
          "shape": "CreateRunGroupRequestMaxDurationInteger"
        },
        "maxGpus": {
          "shape": "CreateRunGroupRequestMaxGpusInteger"
        },
        "maxRuns": {
          "shape": "CreateRunGroupRequestMaxRunsInteger"
        },
        "name": {
          "shape": "RunGroupName"
        },
        "requestId": {
          "idempotencyToken": true,
          "shape": "RunGroupRequestId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "requestId"
      ],
      "type": "structure"
    },
    "CreateRunGroupRequestMaxCpusInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "CreateRunGroupRequestMaxDurationInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "CreateRunGroupRequestMaxGpusInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "CreateRunGroupRequestMaxRunsInteger": {
      "box": true,
      "max": 100000,
      "min": 1,
      "type": "integer"
    },
    "CreateRunGroupResponse": {
      "members": {
        "arn": {
          "shape": "RunGroupArn"
        },
        "id": {
          "shape": "RunGroupId"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateSequenceStoreRequest": {
      "members": {
        "clientToken": {
          "shape": "ClientToken"
        },
        "description": {
          "shape": "SequenceStoreDescription"
        },
        "eTagAlgorithmFamily": {
          "shape": "ETagAlgorithmFamily"
        },
        "fallbackLocation": {
          "shape": "S3Destination"
        },
        "name": {
          "shape": "SequenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateSequenceStoreResponse": {
      "members": {
        "arn": {
          "shape": "SequenceStoreArn"
        },
        "creationTime": {
          "shape": "SyntheticTimestamp_date_time"
        },
        "description": {
          "shape": "SequenceStoreDescription"
        },
        "eTagAlgorithmFamily": {
          "shape": "ETagAlgorithmFamily"
        },
        "fallbackLocation": {
          "shape": "S3Destination"
        },
        "id": {
          "shape": "SequenceStoreId"
        },
        "name": {
          "shape": "SequenceStoreName"
        },
        "sseConfig": {
          "shape": "SseConfig"
        }
      },
      "required": [
        "id",
        "arn",
        "creationTime"
      ],
      "type": "structure"
    },
    "CreateShareRequest": {
      "members": {
        "principalSubscriber": {
          "shape": "String"
        },
        "resourceArn": {
          "shape": "String"
        },
        "shareName": {
          "shape": "ShareName"
        }
      },
      "required": [
        "resourceArn",
        "principalSubscriber"
      ],
      "type": "structure"
    },
    "CreateShareResponse": {
      "members": {
        "shareId": {
          "shape": "String"
        },
        "shareName": {
          "shape": "ShareName"
        },
        "status": {
          "shape": "ShareStatus"
        }
      },
      "type": "structure"
    },
    "CreateVariantStoreRequest": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "name": {
          "shape": "StoreName"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "sseConfig": {
          "shape": "SseConfig"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "reference"
      ],
      "type": "structure"
    },
    "CreateVariantStoreResponse": {
      "members": {
        "creationTime": {
          "shape": "CreationTime"
        },
        "id": {
          "shape": "ResourceId"
        },
        "name": {
          "shape": "String"
        },
        "reference": {
          "shape": "ReferenceItem"
        },
        "status": {
          "shape": "StoreStatus"
        }
      },
      "required": [
        "id",
        "status",
        "name",
        "creationTime"
      ],
      "type": "structure"
    },
    "CreateWorkflowRequest": {
      "members": {
        "accelerators": {
          "shape": "Accelerators"
        },
        "definitionUri": {
          "shape": "WorkflowDefinition"
        },
        "definitionZip": {
          "shape": "Blob"
        },
        "description": {
          "shape": "WorkflowDescription"
        },
        "engine": {
          "shape": "WorkflowEngine"
        },
        "main": {
          "shape": "WorkflowMain"
        },
        "name": {
          "shape": "WorkflowName"
        },
        "parameterTemplate": {
          "shape": "WorkflowParameterTemplate"
        },
        "requestId": {
          "idempotencyToken": true,
          "shape": "WorkflowRequestId"
        },
        "storageCapacity": {
          "shape": "CreateWorkflowRequestStorageCapacityInteger"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "requestId"
      ],
      "type": "structure"
    },
    "CreateWorkflowRequestStorageCapacityInteger": {
      "box": true,
      "max": 100000,
      "min": 0,
      "type": "integer"
    },
    "CreateWorkflowResponse": {
      "members": {
        "arn": {
          "shape": "WorkflowArn"
        },
        "id": {
          "shape": "WorkflowId"
        },
        "status": {
          "shape": "WorkflowStatus"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreationTime": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "CreationType": {
      "enum": [
        "IMPORT",
        "UPLOAD"
      ],
      "type": "string"
    },
    "DeleteAnnotationStoreRequest": {
      "members": {
        "force": {
          "location": "querystring",
          "locationName": "force",
          "shape": "PrimitiveBoolean"
        },
        "name": {
          "location": "uri",
          "locationName": "name",
          "shape": "String"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteAnnotationStoreResponse": {
      "members": {
        "status": {
          "shape": "StoreStatus"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "DeleteAnnotationStoreVersionsRequest": {
      "members": {
        "force": {
          "location": "querystring",
          "locationName": "force",
          "shape": "PrimitiveBoolean"
        },
        "name": {
          "location": "uri",
          "locationName": "name",
          "shape": "String"
        },
        "versions": {
          "shape": "VersionList"
        }
      },
      "required": [
        "name",
        "versions"
      ],
      "type": "structure"
    },
    "DeleteAnnotationStoreVersionsResponse": {
      "members": {
        "errors": {
          "shape": "VersionDeleteErrorList"
        }
      },
      "type": "structure"
    },
    "DeleteReferenceRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ReferenceId"
        },
        "referenceStoreId": {
          "location": "uri",
          "locationName": "referenceStoreId",
          "shape": "ReferenceStoreId"
        }
      },
      "required": [
        "id",
        "referenceStoreId"
      ],
      "type": "structure"
    },
    "DeleteReferenceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteReferenceStoreRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "ReferenceStoreId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteReferenceStoreResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRunGroupRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "RunGroupId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteRunRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "RunId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteSequenceStoreRequest": {
      "members": {
        "id": {
          "location": "uri",
          "locationName": "id",
          "shape": "SequenceStoreId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteSequenceStoreResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteShareRequest": {
      "members": {
        "shareId": {
          "location": "uri",
          "locationName": "shareId",
          "shape": "String"
        }
      },
      "required": [
        "shareId"
      ],
      "type": "structure"
    },
    "DeleteShareResponse": {
      "members": {
        "status": {
          "shape": "ShareStatus"
        }
      },
      "type": "structure"
    },
    "DeleteVariantStoreRequest": {
      "members": {
        "force": {
          "location": "querystring",
          "locationName": "force",
          "shape": "PrimitiveBoolean"
        },
        "name": {
          "location": "uri",
          "locationName": "name",
          "shape": "String"
        }
      },
      "required": [
[...]
