[[ -f .envrc.local ]] && source_env .envrc.local
use flake

watch_file flake.nix
watch_file flake.lock

watch_file treefmt.nix
watch_file devShell.nix

export DIRENV_WARN_TIMEOUT=2m
# ^ our devShell is big
export GIT_LFS_SKIP_SMUDGE=true
# ^ waiting for Nix to fix LFS support: https://github.com/NixOS/nix/pull/10153
