[submodule "networks/genesis/devnet-evm/tests/foundry/lib/forge-std"]
	path = networks/genesis/devnet-evm/tests/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "networks/genesis/devnet-evm/tests/foundry/lib/solady"]
	path = networks/genesis/devnet-evm/tests/foundry/lib/solady
	url = https://github.com/Vectorized/solady
