# Ensure Nix is able to discover lockfile per-project.
# See: https://pnpm.io/npmrc#shared-workspace-lockfile
## XXX: trying with singular lockfile for monorepository-like derivation
#shared-workspace-lockfile=false
