[workspace]
members = [
  "lib/beacon-api",
  "lib/chain-utils",
  "lib/cometbls-groth16-verifier",
  "lib/ethereum-verifier",
  "lib/ics-008-wasm-client",
  "lib/pg-queue",
  "lib/serde-utils",
  "lib/unionlabs",
  "lib/ics23",
  "lib/ics23/test-suite",
  "lib/*/fuzz",
  "tools/generate-rust-sol-bindings",
  "light-clients/*",
  "e2e/*",
  "generated/rust",
  "generated/contracts",
  "ucli",
  "unionvisor",
  "voyager",
  "cosmwasm/*",
  "hubble",
  "tools/parse-wasm-client-type",
  "zerg",
]

resolver = "2"

# TODO: Review if crane uses this and if so, how we should set these values
[profile.release]
opt-level = 3
debug = true
# rpath = false
lto = "fat"
# debug-assertions = false
# codegen-units = 1
# panic = "abort"
# incremental = false
# overflow-checks = true
# strip = true

[workspace.dependencies]

# ssz
# cspell:disable-next-line (isnt)
ssz = { package = "ethereum_ssz", git = "https://github.com/unionlabs/ethereum_ssz", branch = "vec-isnt-valid-ssz", default-features = false }
ssz_types = { git = "https://github.com/unionlabs/ssz_types", branch = "try-from-instead-of-from", default-features = false }
tree_hash = { git = "https://github.com/unionlabs/tree_hash", branch = "use-unionlabs-ssz", default-features = false }

milagro_bls = { git = "https://github.com/Snowfork/milagro_bls", rev = "bc2b5b5e8d48b7e2e1bfaa56dc2d93e13cb32095", default-features = false }

contracts = { path = "generated/contracts", default-features = false }
serde-utils = { path = "lib/serde-utils", default-features = false }
pg-queue = { path = "lib/pg-queue", default-features = false }
ethereum-verifier = { path = "lib/ethereum-verifier", default-features = false }
cometbls-groth16-verifier = { path = "lib/cometbls-groth16-verifier", default-features = false }
ics008-wasm-client = { path = "lib/ics-008-wasm-client", default-features = false }
protos = { path = "generated/rust", default-features = false }
unionlabs = { path = "lib/unionlabs", default-features = false }
beacon-api = { path = "lib/beacon-api", default-features = false }
chain-utils = { path = "lib/chain-utils", default-features = false }
hubble = { path = "hubble" }
token-factory-api = { path = "cosmwasm/token-factory-api", default-features = false }
ucs01-relay-api = { path = "cosmwasm/ucs01-relay-api", default-features = false }
voyager-message = { path = "voyager/voyager-message", default-features = false }
derive_more = { version = "0.99.17", default-features = false }
ucs01-relay = { path = "cosmwasm/ucs01-relay", default-features = false }
ics23 = { path = "lib/ics23", default-features = false }

# external dependencies

tendermint = { git = "https://github.com/unionlabs/tendermint-rs", branch = "v0.34.0-bn254", default-features = false }
tendermint-proto = { git = "https://github.com/unionlabs/tendermint-rs", branch = "v0.34.0-bn254", default-features = false }
tendermint-rpc = { git = "https://github.com/unionlabs/tendermint-rs", branch = "v0.34.0-bn254", default-features = false }

ethers = { git = "https://github.com/unionlabs/ethers-rs", branch = "ethers-core-wasm", default-features = false }
ethers-contract-derive = { git = "https://github.com/unionlabs/ethers-rs", branch = "ethers-core-wasm", default-features = false }
ethers-core = { git = "https://github.com/unionlabs/ethers-rs", branch = "ethers-core-wasm", default-features = false }
ethers-contract-abigen = { git = "https://github.com/unionlabs/ethers-rs", branch = "ethers-core-wasm", default-features = false }
sha2 = { version = "0.10.7", default-features = false }

# ethers = { path = "/home/ben/projects/union/ethers-rs/ethers", default-features = false }
# ethers-contract-derive = { path = "/home/ben/projects/union/ethers-rs/ethers-contract/ethers-contract-derive", default-features = false }
# ethers-core = { path = "/home/ben/projects/union/ethers-rs/ethers-core", default-features = false }
# ethers-contract-abigen = { path = "/home/ben/projects/union/ethers-rs/ethers-core" }

[patch.crates-io]
typenum = { git = "https://github.com/unionlabs/typenum", branch = "ben/192-const-generic-32-bit" }
