[workspace]
resolver = "2"
# NOTE: All paths must be listed out (i.e. no globs) since ifd is still broken in nix (still can't import the output of `cargo metadata` :( ). See crane.nix for where this is used.
members = [
  "cosmwasm/token-factory-api",
  "cosmwasm/ucs00-pingpong",
  "cosmwasm/ucs01-relay",
  "cosmwasm/ucs01-relay-api",
  "cosmwasm/ucs02-nft", "devnet-compose",

  "e2e/ensure-blocks",

  "fuzz",

  "generated/rust/contracts",
  "generated/rust/protos",

  "hubble",

  "lib/beacon-api",
  "lib/block-message",
  "lib/chain-utils",
  "lib/cometbls-groth16-verifier",
  "lib/ethereum-verifier",
  "lib/ics-008-wasm-client",
  "lib/ics23",
  "lib/macros",
  "lib/pg-queue",
  "lib/poseidon-rs",
  "lib/queue-msg",
  "lib/queue-msg-macro",
  "lib/scroll-api",
  "lib/scroll-rpc",
  "lib/scroll-verifier",
  "lib/serde-utils",
  "lib/ssz",
  "lib/ssz-derive",
  "lib/tendermint-verifier",
  "lib/unionlabs",
  "lib/voyager-message",
  "lib/zktrie-rs",

  "light-clients/cometbls-light-client",
  "light-clients/ethereum-light-client",
  "light-clients/scroll-light-client",
  "light-clients/tendermint-light-client",

  "tools/generate-rust-sol-bindings",
  "tools/keygen",
  "tools/parse-wasm-client-type",
  "tools/tidy",

  "ucli",
  "unionvisor",
  "voyager",
  "zerg",
]

[workspace.package]
edition      = "2021"
license-file = "LICENSE"
repository   = "https://github.com/unionlabs/union"

[workspace.lints.clippy]
disallowed_types = "deny"

[profile.release]
lto       = "thin"
opt-level = 3

[workspace.dependencies]
beacon-api                = { path = "lib/beacon-api", default-features = false }
block-message             = { path = "lib/block-message", default-features = false }
chain-utils               = { path = "lib/chain-utils", default-features = false }
cometbls-groth16-verifier = { path = "lib/cometbls-groth16-verifier", default-features = false }
contracts                 = { path = "generated/rust/contracts", default-features = false }
ethereum-verifier         = { path = "lib/ethereum-verifier", default-features = false }
ics008-wasm-client        = { path = "lib/ics-008-wasm-client", default-features = false }
ics23                     = { path = "lib/ics23", default-features = false }
macros                    = { path = "lib/macros", default-features = false }
pg-queue                  = { path = "lib/pg-queue", default-features = false }
poseidon-rs               = { path = "lib/poseidon-rs", default-features = false }
protos                    = { path = "generated/rust/protos", default-features = false }
queue-msg                 = { path = "lib/queue-msg", default-features = false }
queue-msg-macro           = { path = "lib/queue-msg-macro", default-features = false }
relay-message             = { path = "lib/relay-message", default-features = false }
scroll-api                = { path = "lib/scroll-api", default-features = false }
scroll-rpc                = { path = "lib/scroll-rpc", default-features = false }
scroll-verifier           = { path = "lib/scroll-verifier", default-features = false }
serde-utils               = { path = "lib/serde-utils", default-features = false }
ssz                       = { path = "lib/ssz", default-features = false }
ssz-derive                = { path = "lib/ssz-derive", default-features = false }
tendermint-verifier       = { path = "lib/tendermint-verifier", default-features = false }
token-factory-api         = { path = "cosmwasm/token-factory-api", default-features = false }
ucs01-relay               = { path = "cosmwasm/ucs01-relay", default-features = false }
ucs01-relay-api           = { path = "cosmwasm/ucs01-relay-api", default-features = false }
unionlabs                 = { path = "lib/unionlabs", default-features = false }
voyager-message           = { path = "lib/voyager-message", default-features = false }
zktrie                    = { path = "lib/zktrie-rs", default-features = false }

# external dependencies
milagro_bls = { git = "https://github.com/Snowfork/milagro_bls", rev = "bc2b5b5e8d48b7e2e1bfaa56dc2d93e13cb32095", default-features = false }

tendermint       = { git = "https://github.com/unionlabs/tendermint-rs", branch = "v0.34.0-bn254", default-features = false }
tendermint-proto = { git = "https://github.com/unionlabs/tendermint-rs", branch = "v0.34.0-bn254", default-features = false }
tendermint-rpc   = { git = "https://github.com/unionlabs/tendermint-rs", branch = "v0.34.0-bn254", default-features = false }

ethers                 = { git = "https://github.com/unionlabs/ethers-rs", branch = "ethers-core-wasm", default-features = false }
ethers-contract-abigen = { git = "https://github.com/unionlabs/ethers-rs", branch = "ethers-core-wasm", default-features = false }
ethers-contract-derive = { git = "https://github.com/unionlabs/ethers-rs", branch = "ethers-core-wasm", default-features = false }
ethers-core            = { git = "https://github.com/unionlabs/ethers-rs", branch = "ethers-core-wasm", default-features = false }

arbitrary                = { version = "1.3.0", default-features = false }
axum                     = { version = "0.6.20", default-features = false }
base64                   = { version = "0.21", default-features = false }
bip32                    = { version = "0.5.0", default-features = false }
bitvec                   = { version = "1.0.1", default-features = false }
bytes                    = { version = "1.2.1", default-features = false }
chrono                   = { version = "0.4.26", default-features = false }
clap                     = { version = "4.3.0", default-features = false, features = ["std"] }       # clap has a fake std feature that is required to be enabled by default
color-eyre               = { version = "0.6.2", default-features = false }
cosmwasm-schema          = { version = "1.5", default-features = false }
cosmwasm-std             = { version = "1.5", default-features = false }
crossbeam-queue          = { version = "0.3.8", default-features = false }
cw-storage-plus          = { version = "1.2", default-features = false }
dashmap                  = { version = "5.5.3", default-features = false }
derive_more              = { version = "0.99.17", default-features = false }
dlmalloc                 = { version = "=0.2.4", default-features = false }
either                   = { version = "1.9.0", default-features = false }
enumorph                 = { version = "0.1.2", default-features = false }
ethabi                   = { version = "18.0.0", default-features = false }
frame-support-procedural = { version = "22.0.0", default-features = false }
frunk                    = { version = "0.4.2", default-features = false }
futures                  = { version = "0.3.28", default-features = false }
hex                      = { version = "0.4.3", default-features = false }
hex-literal              = { version = "0.4.1", default-features = false }
lazy_static              = { version = "1.4.0", default-features = false }
num-bigint               = { version = "0.4", default-features = false }
primitive-types          = { version = "0.12.1", default-features = false }
prost                    = { version = "0.12.3", default-features = false }
reqwest                  = { version = "0.11.17", default-features = false }
ripemd                   = { version = "0.1.3", default-features = false }
rlp                      = { version = "0.5.2", default-features = false }
schemars                 = { version = "0.8.3", default-features = false }
serde                    = { version = "1.0.0", default-features = false }
serde_with               = { version = "3.7.0", default-features = false, features = ["macros"] }
serde-json-wasm          = { version = "1.0.0", default-features = false }
serde_json               = { version = "1.0.0", default-features = false, features = ["alloc"] }     # serde-json requires one of "std" or "alloc"
sha2                     = { version = "0.10.7", default-features = false }
sha3                     = { version = "0.10.8", default-features = false }
sqlx                     = { version = "0.7.2", default-features = false }
subtle-encoding          = { version = "0.5.1", default-features = false }
thiserror                = { version = "1.0.0", default-features = false }
tiny-keccak              = { version = "2.0.2", default-features = false }
tokio                    = { version = "1.33.0", default-features = false }
tokio-stream             = { version = "0.1.14", default-features = false }
toml                     = { version = "0.8.8", default-features = false }
tonic                    = { version = "0.10", default-features = false }
tracing                  = { version = "0.1.40", default-features = false }
tracing-subscriber       = { version = "0.3", default-features = false, features = ["fmt", "ansi"] }
typenum                  = { version = "1.17.0", default-features = false }

[patch."crates-io"]
arbitrary = { git = "https://github.com/unionlabs/arbitrary" }
