{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-04-01",
    "endpointPrefix":"quicksight",
    "jsonVersion":"1.0",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon QuickSight",
    "serviceId":"QuickSight",
    "signatureVersion":"v4",
    "uid":"quicksight-2018-04-01"
  },
  "operations":{
    "CancelIngestion":{
      "name":"CancelIngestion",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CancelIngestionRequest"},
      "output":{"shape":"CancelIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateAccountCustomization":{
      "name":"CreateAccountCustomization",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"CreateAccountCustomizationRequest"},
      "output":{"shape":"CreateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateAccountSubscription":{
      "name":"CreateAccountSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/account/{AwsAccountId}"
      },
      "input":{"shape":"CreateAccountSubscriptionRequest"},
      "output":{"shape":"CreateAccountSubscriptionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateAnalysis":{
      "name":"CreateAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"CreateAnalysisRequest"},
      "output":{"shape":"CreateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDataSet":{
      "name":"CreateDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"CreateDataSetRequest"},
      "output":{"shape":"CreateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateFolder":{
      "name":"CreateFolder",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"CreateFolderRequest"},
      "output":{"shape":"CreateFolderResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateFolderMembership":{
      "name":"CreateFolderMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input":{"shape":"CreateFolderMembershipRequest"},
      "output":{"shape":"CreateFolderMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{"shape":"CreateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateGroupMembership":{
      "name":"CreateGroupMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"CreateGroupMembershipRequest"},
      "output":{"shape":"CreateGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateIAMPolicyAssignment":{
      "name":"CreateIAMPolicyAssignment",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input":{"shape":"CreateIAMPolicyAssignmentRequest"},
      "output":{"shape":"CreateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateIngestion":{
      "name":"CreateIngestion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CreateIngestionRequest"},
      "output":{"shape":"CreateIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateNamespace":{
      "name":"CreateNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}"
      },
      "input":{"shape":"CreateNamespaceRequest"},
      "output":{"shape":"CreateNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateRefreshSchedule":{
      "name":"CreateRefreshSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules"
      },
      "input":{"shape":"CreateRefreshScheduleRequest"},
      "output":{"shape":"CreateRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateRoleMembership":{
      "name":"CreateRoleMembership",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/members/{MemberName}"
      },
      "input":{"shape":"CreateRoleMembershipRequest"},
      "output":{"shape":"CreateRoleMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"CreateTemplateRequest"},
      "output":{"shape":"CreateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTemplateAlias":{
      "name":"CreateTemplateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateTemplateAliasRequest"},
      "output":{"shape":"CreateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTheme":{
      "name":"CreateTheme",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"CreateThemeRequest"},
      "output":{"shape":"CreateThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateThemeAlias":{
      "name":"CreateThemeAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateThemeAliasRequest"},
      "output":{"shape":"CreateThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTopic":{
      "name":"CreateTopic",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/topics"
      },
      "input":{"shape":"CreateTopicRequest"},
      "output":{"shape":"CreateTopicResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateTopicRefreshSchedule":{
      "name":"CreateTopicRefreshSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/schedules"
      },
      "input":{"shape":"CreateTopicRefreshScheduleRequest"},
      "output":{"shape":"CreateTopicRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "CreateVPCConnection":{
      "name":"CreateVPCConnection",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/vpc-connections"
      },
      "input":{"shape":"CreateVPCConnectionRequest"},
      "output":{"shape":"CreateVPCConnectionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteAccountCustomization":{
      "name":"DeleteAccountCustomization",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DeleteAccountCustomizationRequest"},
      "output":{"shape":"DeleteAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteAccountSubscription":{
      "name":"DeleteAccountSubscription",
      "http":{
        "method":"DELETE",
        "requestUri":"/account/{AwsAccountId}"
      },
      "input":{"shape":"DeleteAccountSubscriptionRequest"},
      "output":{"shape":"DeleteAccountSubscriptionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteAnalysis":{
      "name":"DeleteAnalysis",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DeleteAnalysisRequest"},
      "output":{"shape":"DeleteAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDashboard":{
      "name":"DeleteDashboard",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DeleteDashboardRequest"},
      "output":{"shape":"DeleteDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDataSet":{
      "name":"DeleteDataSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DeleteDataSetRequest"},
      "output":{"shape":"DeleteDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDataSetRefreshProperties":{
      "name":"DeleteDataSetRefreshProperties",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-properties"
      },
      "input":{"shape":"DeleteDataSetRefreshPropertiesRequest"},
      "output":{"shape":"DeleteDataSetRefreshPropertiesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteFolder":{
      "name":"DeleteFolder",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"DeleteFolderRequest"},
      "output":{"shape":"DeleteFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteFolderMembership":{
      "name":"DeleteFolderMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input":{"shape":"DeleteFolderMembershipRequest"},
      "output":{"shape":"DeleteFolderMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteGroupMembership":{
      "name":"DeleteGroupMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DeleteGroupMembershipRequest"},
      "output":{"shape":"DeleteGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteIAMPolicyAssignment":{
      "name":"DeleteIAMPolicyAssignment",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DeleteIAMPolicyAssignmentRequest"},
      "output":{"shape":"DeleteIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteIdentityPropagationConfig":{
      "name":"DeleteIdentityPropagationConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/identity-propagation-config/{Service}"
      },
      "input":{"shape":"DeleteIdentityPropagationConfigRequest"},
      "output":{"shape":"DeleteIdentityPropagationConfigResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteNamespace":{
      "name":"DeleteNamespace",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DeleteNamespaceRequest"},
      "output":{"shape":"DeleteNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteRefreshSchedule":{
      "name":"DeleteRefreshSchedule",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules/{ScheduleId}"
      },
      "input":{"shape":"DeleteRefreshScheduleRequest"},
      "output":{"shape":"DeleteRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteRoleCustomPermission":{
      "name":"DeleteRoleCustomPermission",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/custom-permission"
      },
      "input":{"shape":"DeleteRoleCustomPermissionRequest"},
      "output":{"shape":"DeleteRoleCustomPermissionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteRoleMembership":{
      "name":"DeleteRoleMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/members/{MemberName}"
      },
      "input":{"shape":"DeleteRoleMembershipRequest"},
      "output":{"shape":"DeleteRoleMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DeleteTemplateRequest"},
      "output":{"shape":"DeleteTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTemplateAlias":{
      "name":"DeleteTemplateAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteTemplateAliasRequest"},
      "output":{"shape":"DeleteTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTheme":{
      "name":"DeleteTheme",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DeleteThemeRequest"},
      "output":{"shape":"DeleteThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteThemeAlias":{
      "name":"DeleteThemeAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteThemeAliasRequest"},
      "output":{"shape":"DeleteThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTopic":{
      "name":"DeleteTopic",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}"
      },
      "input":{"shape":"DeleteTopicRequest"},
      "output":{"shape":"DeleteTopicResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteTopicRefreshSchedule":{
      "name":"DeleteTopicRefreshSchedule",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/schedules/{DatasetId}"
      },
      "input":{"shape":"DeleteTopicRefreshScheduleRequest"},
      "output":{"shape":"DeleteTopicRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteUserByPrincipalId":{
      "name":"DeleteUserByPrincipalId",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input":{"shape":"DeleteUserByPrincipalIdRequest"},
      "output":{"shape":"DeleteUserByPrincipalIdResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DeleteVPCConnection":{
      "name":"DeleteVPCConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/vpc-connections/{VPCConnectionId}"
      },
      "input":{"shape":"DeleteVPCConnectionRequest"},
      "output":{"shape":"DeleteVPCConnectionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeAccountCustomization":{
      "name":"DescribeAccountCustomization",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DescribeAccountCustomizationRequest"},
      "output":{"shape":"DescribeAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAccountSettings":{
      "name":"DescribeAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"DescribeAccountSettingsRequest"},
      "output":{"shape":"DescribeAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAccountSubscription":{
      "name":"DescribeAccountSubscription",
      "http":{
        "method":"GET",
        "requestUri":"/account/{AwsAccountId}"
      },
      "input":{"shape":"DescribeAccountSubscriptionRequest"},
      "output":{"shape":"DescribeAccountSubscriptionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeAnalysis":{
      "name":"DescribeAnalysis",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DescribeAnalysisRequest"},
      "output":{"shape":"DescribeAnalysisResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeAnalysisDefinition":{
      "name":"DescribeAnalysisDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/definition"
      },
      "input":{"shape":"DescribeAnalysisDefinitionRequest"},
      "output":{"shape":"DescribeAnalysisDefinitionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeAnalysisPermissions":{
      "name":"DescribeAnalysisPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"DescribeAnalysisPermissionsRequest"},
      "output":{"shape":"DescribeAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeAssetBundleExportJob":{
      "name":"DescribeAssetBundleExportJob",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/asset-bundle-export-jobs/{AssetBundleExportJobId}"
      },
      "input":{"shape":"DescribeAssetBundleExportJobRequest"},
      "output":{"shape":"DescribeAssetBundleExportJobResponse"},
      "errors":[
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeAssetBundleImportJob":{
      "name":"DescribeAssetBundleImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/asset-bundle-import-jobs/{AssetBundleImportJobId}"
      },
      "input":{"shape":"DescribeAssetBundleImportJobRequest"},
      "output":{"shape":"DescribeAssetBundleImportJobResponse"},
      "errors":[
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "DescribeDashboard":{
      "name":"DescribeDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DescribeDashboardRequest"},
      "output":{"shape":"DescribeDashboardResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboardDefinition":{
      "name":"DescribeDashboardDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/definition"
      },
      "input":{"shape":"DescribeDashboardDefinitionRequest"},
      "output":{"shape":"DescribeDashboardDefinitionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboardPermissions":{
      "name":"DescribeDashboardPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"DescribeDashboardPermissionsRequest"},
      "output":{"shape":"DescribeDashboardPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboardSnapshotJob":{
      "name":"DescribeDashboardSnapshotJob",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/snapshot-jobs/{SnapshotJobId}"
      },
      "input":{"shape":"DescribeDashboardSnapshotJobRequest"},
      "output":{"shape":"DescribeDashboardSnapshotJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDashboardSnapshotJobResult":{
      "name":"DescribeDashboardSnapshotJobResult",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/snapshot-jobs/{SnapshotJobId}/result"
      },
      "input":{"shape":"DescribeDashboardSnapshotJobResultRequest"},
      "output":{"shape":"DescribeDashboardSnapshotJobResultResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSet":{
      "name":"DescribeDataSet",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DescribeDataSetRequest"},
      "output":{"shape":"DescribeDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSetPermissions":{
      "name":"DescribeDataSetPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"DescribeDataSetPermissionsRequest"},
      "output":{"shape":"DescribeDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSetRefreshProperties":{
      "name":"DescribeDataSetRefreshProperties",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-properties"
      },
      "input":{"shape":"DescribeDataSetRefreshPropertiesRequest"},
      "output":{"shape":"DescribeDataSetRefreshPropertiesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSource":{
      "name":"DescribeDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DescribeDataSourceRequest"},
      "output":{"shape":"DescribeDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeDataSourcePermissions":{
      "name":"DescribeDataSourcePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"DescribeDataSourcePermissionsRequest"},
      "output":{"shape":"DescribeDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeFolder":{
      "name":"DescribeFolder",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"DescribeFolderRequest"},
      "output":{"shape":"DescribeFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeFolderPermissions":{
      "name":"DescribeFolderPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input":{"shape":"DescribeFolderPermissionsRequest"},
      "output":{"shape":"DescribeFolderPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeFolderResolvedPermissions":{
      "name":"DescribeFolderResolvedPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/resolved-permissions"
      },
      "input":{"shape":"DescribeFolderResolvedPermissionsRequest"},
      "output":{"shape":"DescribeFolderResolvedPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeGroup":{
      "name":"DescribeGroup",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DescribeGroupRequest"},
      "output":{"shape":"DescribeGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeGroupMembership":{
      "name":"DescribeGroupMembership",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DescribeGroupMembershipRequest"},
      "output":{"shape":"DescribeGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeIAMPolicyAssignment":{
      "name":"DescribeIAMPolicyAssignment",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DescribeIAMPolicyAssignmentRequest"},
      "output":{"shape":"DescribeIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeIngestion":{
      "name":"DescribeIngestion",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"DescribeIngestionRequest"},
      "output":{"shape":"DescribeIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeIpRestriction":{
      "name":"DescribeIpRestriction",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/ip-restriction"
      },
      "input":{"shape":"DescribeIpRestrictionRequest"},
      "output":{"shape":"DescribeIpRestrictionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeKeyRegistration":{
      "name":"DescribeKeyRegistration",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/key-registration"
      },
      "input":{"shape":"DescribeKeyRegistrationRequest"},
      "output":{"shape":"DescribeKeyRegistrationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeNamespace":{
      "name":"DescribeNamespace",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DescribeNamespaceRequest"},
      "output":{"shape":"DescribeNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeRefreshSchedule":{
      "name":"DescribeRefreshSchedule",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules/{ScheduleId}"
      },
      "input":{"shape":"DescribeRefreshScheduleRequest"},
      "output":{"shape":"DescribeRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeRoleCustomPermission":{
      "name":"DescribeRoleCustomPermission",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/custom-permission"
      },
      "input":{"shape":"DescribeRoleCustomPermissionRequest"},
      "output":{"shape":"DescribeRoleCustomPermissionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeTemplate":{
      "name":"DescribeTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DescribeTemplateRequest"},
      "output":{"shape":"DescribeTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplateAlias":{
      "name":"DescribeTemplateAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeTemplateAliasRequest"},
      "output":{"shape":"DescribeTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplateDefinition":{
      "name":"DescribeTemplateDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/definition"
      },
      "input":{"shape":"DescribeTemplateDefinitionRequest"},
      "output":{"shape":"DescribeTemplateDefinitionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTemplatePermissions":{
      "name":"DescribeTemplatePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"DescribeTemplatePermissionsRequest"},
      "output":{"shape":"DescribeTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTheme":{
      "name":"DescribeTheme",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DescribeThemeRequest"},
      "output":{"shape":"DescribeThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeThemeAlias":{
      "name":"DescribeThemeAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeThemeAliasRequest"},
      "output":{"shape":"DescribeThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeThemePermissions":{
      "name":"DescribeThemePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input":{"shape":"DescribeThemePermissionsRequest"},
      "output":{"shape":"DescribeThemePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTopic":{
      "name":"DescribeTopic",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}"
      },
      "input":{"shape":"DescribeTopicRequest"},
      "output":{"shape":"DescribeTopicResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTopicPermissions":{
      "name":"DescribeTopicPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/permissions"
      },
      "input":{"shape":"DescribeTopicPermissionsRequest"},
      "output":{"shape":"DescribeTopicPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTopicRefresh":{
      "name":"DescribeTopicRefresh",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/refresh/{RefreshId}"
      },
      "input":{"shape":"DescribeTopicRefreshRequest"},
      "output":{"shape":"DescribeTopicRefreshResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeTopicRefreshSchedule":{
      "name":"DescribeTopicRefreshSchedule",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/schedules/{DatasetId}"
      },
      "input":{"shape":"DescribeTopicRefreshScheduleRequest"},
      "output":{"shape":"DescribeTopicRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "DescribeVPCConnection":{
      "name":"DescribeVPCConnection",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/vpc-connections/{VPCConnectionId}"
      },
      "input":{"shape":"DescribeVPCConnectionRequest"},
      "output":{"shape":"DescribeVPCConnectionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "GenerateEmbedUrlForAnonymousUser":{
      "name":"GenerateEmbedUrlForAnonymousUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/embed-url/anonymous-user"
      },
      "input":{"shape":"GenerateEmbedUrlForAnonymousUserRequest"},
      "output":{"shape":"GenerateEmbedUrlForAnonymousUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "GenerateEmbedUrlForRegisteredUser":{
      "name":"GenerateEmbedUrlForRegisteredUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/embed-url/registered-user"
      },
      "input":{"shape":"GenerateEmbedUrlForRegisteredUserRequest"},
      "output":{"shape":"GenerateEmbedUrlForRegisteredUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "GetDashboardEmbedUrl":{
      "name":"GetDashboardEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input":{"shape":"GetDashboardEmbedUrlRequest"},
      "output":{"shape":"GetDashboardEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"DomainNotWhitelistedException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"IdentityTypeNotSupportedException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "GetSessionEmbedUrl":{
      "name":"GetSessionEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/session-embed-url"
      },
      "input":{"shape":"GetSessionEmbedUrlRequest"},
      "output":{"shape":"GetSessionEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListAnalyses":{
      "name":"ListAnalyses",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses"
      },
      "input":{"shape":"ListAnalysesRequest"},
      "output":{"shape":"ListAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListAssetBundleExportJobs":{
      "name":"ListAssetBundleExportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/asset-bundle-export-jobs"
      },
      "input":{"shape":"ListAssetBundleExportJobsRequest"},
      "output":{"shape":"ListAssetBundleExportJobsResponse"},
      "errors":[
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListAssetBundleImportJobs":{
      "name":"ListAssetBundleImportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/asset-bundle-import-jobs"
      },
      "input":{"shape":"ListAssetBundleImportJobsRequest"},
      "output":{"shape":"ListAssetBundleImportJobsResponse"},
      "errors":[
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListDashboardVersions":{
      "name":"ListDashboardVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions"
      },
      "input":{"shape":"ListDashboardVersionsRequest"},
      "output":{"shape":"ListDashboardVersionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDashboards":{
      "name":"ListDashboards",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards"
      },
      "input":{"shape":"ListDashboardsRequest"},
      "output":{"shape":"ListDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDataSets":{
      "name":"ListDataSets",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"ListDataSetsRequest"},
      "output":{"shape":"ListDataSetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListFolderMembers":{
      "name":"ListFolderMembers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members"
      },
      "input":{"shape":"ListFolderMembersRequest"},
      "output":{"shape":"ListFolderMembersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListFolders":{
      "name":"ListFolders",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders"
      },
      "input":{"shape":"ListFoldersRequest"},
      "output":{"shape":"ListFoldersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListGroupMemberships":{
      "name":"ListGroupMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members"
      },
      "input":{"shape":"ListGroupMembershipsRequest"},
      "output":{"shape":"ListGroupMembershipsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListIAMPolicyAssignments":{
      "name":"ListIAMPolicyAssignments",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/v2/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListIAMPolicyAssignmentsForUser":{
      "name":"ListIAMPolicyAssignmentsForUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsForUserRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsForUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListIdentityPropagationConfigs":{
      "name":"ListIdentityPropagationConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/identity-propagation-config"
      },
      "input":{"shape":"ListIdentityPropagationConfigsRequest"},
      "output":{"shape":"ListIdentityPropagationConfigsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListIngestions":{
      "name":"ListIngestions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions"
      },
      "input":{"shape":"ListIngestionsRequest"},
      "output":{"shape":"ListIngestionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListNamespaces":{
      "name":"ListNamespaces",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces"
      },
      "input":{"shape":"ListNamespacesRequest"},
      "output":{"shape":"ListNamespacesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListRefreshSchedules":{
      "name":"ListRefreshSchedules",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules"
      },
      "input":{"shape":"ListRefreshSchedulesRequest"},
      "output":{"shape":"ListRefreshSchedulesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListRoleMemberships":{
      "name":"ListRoleMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/members"
      },
      "input":{"shape":"ListRoleMembershipsRequest"},
      "output":{"shape":"ListRoleMembershipsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplateAliases":{
      "name":"ListTemplateAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases"
      },
      "input":{"shape":"ListTemplateAliasesRequest"},
      "output":{"shape":"ListTemplateAliasesResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplateVersions":{
      "name":"ListTemplateVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/versions"
      },
      "input":{"shape":"ListTemplateVersionsRequest"},
      "output":{"shape":"ListTemplateVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTemplates":{
      "name":"ListTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates"
      },
      "input":{"shape":"ListTemplatesRequest"},
      "output":{"shape":"ListTemplatesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListThemeAliases":{
      "name":"ListThemeAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases"
      },
      "input":{"shape":"ListThemeAliasesRequest"},
      "output":{"shape":"ListThemeAliasesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListThemeVersions":{
      "name":"ListThemeVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/versions"
      },
      "input":{"shape":"ListThemeVersionsRequest"},
      "output":{"shape":"ListThemeVersionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListThemes":{
      "name":"ListThemes",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes"
      },
      "input":{"shape":"ListThemesRequest"},
      "output":{"shape":"ListThemesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTopicRefreshSchedules":{
      "name":"ListTopicRefreshSchedules",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/schedules"
      },
      "input":{"shape":"ListTopicRefreshSchedulesRequest"},
      "output":{"shape":"ListTopicRefreshSchedulesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListTopics":{
      "name":"ListTopics",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics"
      },
      "input":{"shape":"ListTopicsRequest"},
      "output":{"shape":"ListTopicsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "ListUserGroups":{
      "name":"ListUserGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/groups"
      },
      "input":{"shape":"ListUserGroupsRequest"},
      "output":{"shape":"ListUserGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "ListVPCConnections":{
      "name":"ListVPCConnections",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/vpc-connections"
      },
      "input":{"shape":"ListVPCConnectionsRequest"},
      "output":{"shape":"ListVPCConnectionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "PutDataSetRefreshProperties":{
      "name":"PutDataSetRefreshProperties",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-properties"
      },
      "input":{"shape":"PutDataSetRefreshPropertiesRequest"},
      "output":{"shape":"PutDataSetRefreshPropertiesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "RegisterUser":{
      "name":"RegisterUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"RegisterUserRequest"},
      "output":{"shape":"RegisterUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "RestoreAnalysis":{
      "name":"RestoreAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/restore/analyses/{AnalysisId}"
      },
      "input":{"shape":"RestoreAnalysisRequest"},
      "output":{"shape":"RestoreAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchAnalyses":{
      "name":"SearchAnalyses",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/analyses"
      },
      "input":{"shape":"SearchAnalysesRequest"},
      "output":{"shape":"SearchAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchDashboards":{
      "name":"SearchDashboards",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/dashboards"
      },
      "input":{"shape":"SearchDashboardsRequest"},
      "output":{"shape":"SearchDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchDataSets":{
      "name":"SearchDataSets",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/data-sets"
      },
      "input":{"shape":"SearchDataSetsRequest"},
      "output":{"shape":"SearchDataSetsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchDataSources":{
      "name":"SearchDataSources",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/data-sources"
      },
      "input":{"shape":"SearchDataSourcesRequest"},
      "output":{"shape":"SearchDataSourcesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchFolders":{
      "name":"SearchFolders",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/folders"
      },
      "input":{"shape":"SearchFoldersRequest"},
      "output":{"shape":"SearchFoldersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "SearchGroups":{
      "name":"SearchGroups",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups-search"
      },
      "input":{"shape":"SearchGroupsRequest"},
      "output":{"shape":"SearchGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "StartAssetBundleExportJob":{
      "name":"StartAssetBundleExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/asset-bundle-export-jobs/export"
      },
      "input":{"shape":"StartAssetBundleExportJobRequest"},
      "output":{"shape":"StartAssetBundleExportJobResponse"},
      "errors":[
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "StartAssetBundleImportJob":{
      "name":"StartAssetBundleImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/asset-bundle-import-jobs/import"
      },
      "input":{"shape":"StartAssetBundleImportJobRequest"},
      "output":{"shape":"StartAssetBundleImportJobResponse"},
      "errors":[
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "StartDashboardSnapshotJob":{
      "name":"StartDashboardSnapshotJob",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/snapshot-jobs"
      },
      "input":{"shape":"StartDashboardSnapshotJobRequest"},
      "output":{"shape":"StartDashboardSnapshotJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateAccountCustomization":{
      "name":"UpdateAccountCustomization",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"UpdateAccountCustomizationRequest"},
      "output":{"shape":"UpdateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "UpdateAccountSettings":{
      "name":"UpdateAccountSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"UpdateAccountSettingsRequest"},
      "output":{"shape":"UpdateAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ]
    },
    "UpdateAnalysis":{
      "name":"UpdateAnalysis",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"UpdateAnalysisRequest"},
      "output":{"shape":"UpdateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateAnalysisPermissions":{
      "name":"UpdateAnalysisPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"UpdateAnalysisPermissionsRequest"},
      "output":{"shape":"UpdateAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboard":{
      "name":"UpdateDashboard",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"UpdateDashboardRequest"},
      "output":{"shape":"UpdateDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboardLinks":{
      "name":"UpdateDashboardLinks",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/linked-entities"
      },
      "input":{"shape":"UpdateDashboardLinksRequest"},
      "output":{"shape":"UpdateDashboardLinksResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboardPermissions":{
      "name":"UpdateDashboardPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"UpdateDashboardPermissionsRequest"},
      "output":{"shape":"UpdateDashboardPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDashboardPublishedVersion":{
      "name":"UpdateDashboardPublishedVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions/{VersionNumber}"
      },
      "input":{"shape":"UpdateDashboardPublishedVersionRequest"},
      "output":{"shape":"UpdateDashboardPublishedVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSet":{
      "name":"UpdateDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"UpdateDataSetRequest"},
      "output":{"shape":"UpdateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSetPermissions":{
      "name":"UpdateDataSetPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"UpdateDataSetPermissionsRequest"},
      "output":{"shape":"UpdateDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateDataSourcePermissions":{
      "name":"UpdateDataSourcePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"UpdateDataSourcePermissionsRequest"},
      "output":{"shape":"UpdateDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateFolder":{
      "name":"UpdateFolder",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"UpdateFolderRequest"},
      "output":{"shape":"UpdateFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateFolderPermissions":{
      "name":"UpdateFolderPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input":{"shape":"UpdateFolderPermissionsRequest"},
      "output":{"shape":"UpdateFolderPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ]
    },
    "UpdateGroup":{
      "name":"UpdateGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"UpdateGroupRequest"},
      "output":{"shape":"UpdateGroupResponse"},
      "errors":[
[...]
