[package]
name    = "voyager-client-module-cometbls"
version = "0.0.0"

authors      = { workspace = true }
edition      = { workspace = true }
license-file = { workspace = true }
publish      = { workspace = true }
repository   = { workspace = true }

[lints]
workspace = true

[dependencies]
alloy-sol-types             = { workspace = true }
cometbls-groth16-verifier   = { workspace = true }
cometbls-light-client-types = { workspace = true, features = ["proto", "ethabi", "serde", "bincode"] }
embed-commit                = { workspace = true }
garaga_rs                   = { git = "https://github.com/aeryz/garaga", rev = "6fb59ac369ab2bc4699e8ff7c09bdeee81cfcaca" }
gnark-key-parser            = { workspace = true, features = ["std"] }
ibc-union-spec              = { workspace = true }
jsonrpsee                   = { workspace = true, features = ["macros", "server", "tracing"] }
macros                      = { workspace = true }
protos                      = { workspace = true }
serde                       = { workspace = true, features = ["derive"] }
serde_json                  = { workspace = true }
tokio                       = { workspace = true }
tracing                     = { workspace = true }
unionlabs                   = { workspace = true, features = ["bincode", "bcs"] }
voyager-sdk                 = { workspace = true }
substrate-bn                = { version = "0.6", default-features = false }


[dev-dependencies]
bcs         = { workspace = true }
hex         = { workspace = true }
hex-literal = { workspace = true }
