/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #db4c58;
  --ifm-color-primary-dark: #d94a56;
  --ifm-color-primary-darker: #d73e54;
  --ifm-color-primary-darkest: #d03750;
  --ifm-color-primary-light: #dc4d59;
  --ifm-color-primary-lighter: #dd4e5a;
  --ifm-color-primary-lightest: #de4f5b;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d85b67;
  --ifm-color-primary-dark: #d84f5a;
  --ifm-color-primary-darker: #da4447;
  --ifm-color-primary-darkest: #ca3d4a;
  --ifm-color-primary-light: #da5d69;
  --ifm-color-primary-lighter: #dc6a6b;
  --ifm-color-primary-lightest: #de6c6d;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
