
pre,
figure,
.expressive-code {
  border-radius: 0.4rem;
}

h1#_top {
  font-weight: 800;
}

.hero {
  grid-template-columns: auto;
  margin: auto;
}

*,
:before,
:after {
  border-width: 0;
  box-sizing: border-box;
}


html {
  font-feature-settings: normal;
  -webkit-text-size-adjust: 100%;
  font-variation-settings: normal;
}

::selection {
  background-color: #a0ecfd;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-900 text-zinc-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 code {
  @apply !text-lg md:!text-xl;
}

pre {
  @apply !px-0 rounded-lg;
  margin-top: 0;
}

code {
  @apply text-sm md:text-base !leading-loose;
}

pre > code {
  counter-reset: line;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-gray-500;
}

.prose {
  @apply max-w-[55rem] sm:text-lg md:text-xl !leading-7 sm:!leading-9;
}

pre [data-line] {
  @apply px-6 border-l-2 border-l-transparent;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply bg-zinc-600/50 rounded;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id="v"] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id="s"] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id="i"] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

[data-chars-id="g"] {
  @apply !text-green-300 bg-green-800/50 border-b-green-600 font-bold;
}

[data-chars-id="w"] {
  @apply !text-zinc-300 bg-zinc-400/50 border-b-zinc-300 font-bold;
}

[data-chars-id="r"] {
  color: rgb(255, 201, 201);
  background-color: rgb(153 27 27 / 0.5);
  border-bottom-color: rgb(153 27 27);
  font-weight: 700;
}

[data-rehype-pretty-code-title] {
  font-weight: 500;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  background-color: rgb(8, 7, 12);
  border-radius: 0.25rem 0.25rem 0 0;
  font-family: "JetBrains Mono", monospace;
}

figcaption + pre {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
