@font-face {
  font-family: "Monospace Argon";
  src: url("/fonts/MonaspaceArgon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monospace Argon";
  src: url("/fonts/MonaspaceArgon-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

ul > li > a {
  font-size: 0.9rem;
}

:root {
  --sl-text-h1: 3.5rem;
}

.sl-container {
  width: 100%;
  /* margin-inline: unset; */
}

pre,
figure,
.expressive-code {
  border-radius: 0.4rem;
}

h1#_top {
  font-weight: 800;
}

.hero {
  grid-template-columns: auto;
  margin: auto;
}

*,
:before,
:after {
  border-width: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

html {
  overflow-y: hidden;
  font-feature-settings: normal;
  -webkit-text-size-adjust: 100%;
  font-variation-settings: normal;
}

::selection {
  background-color: #f9a8d4;
  color: rgb(36, 36, 36);
}

*::-webkit-scrollbar {
  height: 0.3rem;
  width: 0rem;
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}
