:root {
  --sl-text-h1: 3.5rem;
  --dark-blue: #00262f;
}

:root[data-theme="light"] {
  --logo-text-color: #000000;
  --sl-color-text-accent: #04acd2;
  --sl-color-bg: #f9f9f9;
}

:root[data-theme="dark"] {
  --logo-text-color: #f9f9f9f9;
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: var(--logo-text-color) !important;
}

.social-icons a {
  color: var(--logo-text-color);
}

.site-title {
  gap: 4px;
  color: white;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a {
  text-decoration: none;
}

li a[aria-current="page"] {
  color: var(--dark-blue);
}

a[aria-current="true"]
  span[data-astro-source-file$="/starlight/components/TableOfContents/TableOfContentsList.astro"] {
  color: var(--dark-blue);
}
.site-title span {
  color: var(--logo-text-color);
}

* {
  scrollbar-width: 0.01rem;
  scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.1rem;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
  background-color: transparent;
}

h1 > a {
  font-size: 2.5rem;
}
