:root {
  --sl-text-h1: 3.5rem;
}

:root[data-theme="light"] {
  --logo-text-color: #000000;
}

:root[data-theme="dark"] {
  --logo-text-color: #f9f9f9f9;
}

.site-title {
  gap: 4px;
  color: white;
}

span[data-astro-source-file$="/starlight/components/SiteTitle.astro"] {
  color: var(--logo-text-color);
}
