@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}

.text-shadow {
  text-shadow: 0px 0px 10px black;
}
