---
import { useStoryblokApi } from "@storyblok/astro"
import { storyblokEditable } from "@storyblok/astro"

const storyblokApi = useStoryblokApi()

const sbResponse = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "blogPost"
})

const data = sbResponse.data as {
  stories: Array<{
    full_slug: string
    published_at: string
    content: { title: string; description: string }
  }>
}

const posts = data.stories.map(story => {
  return {
    title: story.content.title,
    date: new Date(story.published_at).toLocaleDateString("en-US", { dateStyle: "full" }),
    description: story.content.description,
    slug: story.full_slug
  }
})

const { blok } = Astro.props
---
<ul {...storyblokEditable(blok)}>
  {
    posts.map(post => (
      <li>
        <time>{post.date}</time>
        <a href={post.slug}>{post.title}</a>
        <p>{post.description}</p>
      </li>
    ))
  }
</ul>
