---
import type { SbBlokData } from '@storyblok/astro'
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

interface Props {
  blok: SbBlokData & {
    body?: Array<SbBlokData>
  }
}

const { blok } = Astro.props
---
<main {...storyblokEditable(blok)}>
  {blok.body?.map(blok => <StoryblokComponent blok={blok} />)}
</main>
