engine-strict=true
auto-install-peers=true
enable-pre-post-scripts=true
strict-peer-dependencies=false
# @unionlabs:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
