@import "tailwindcss";

@font-face {
  font-family: "Geist";
  font-weight: 100 1000;
  font-display: swap;
  src: url("/fonts/Geist[wght].woff2") format("woff2-variations");
  src: url("/fonts/Geist[wght].woff2") format("woff2") tech("variations");
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 100 1000;
  font-display: swap;
  src: url("/fonts/GeistMono[wght].woff2") format("woff2-variations");
  src: url("/fonts/GeistMono[wght].woff2") format("woff2") tech("variations");
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-zinc-925: oklch(0.1755 0.0055 285.854);
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

pre {
  font-family: var(--font-mono);
}
