---
import Subtitle from "./subtitle.astro";
---

<div class="flex -ml-4 gap-2">
    <div class="pt-2">
        <div class="w-[5px] h-[5px] md:w-[10px] md:h-[10px] bg-accent-500"></div>
    </div>
    <Subtitle>
        <slot/>
    </Subtitle>
</div>