---
import Subtitle from "./subtitle.astro"
---

<div class="flex lg:-ml-4 gap-2 max-w-xl">
  <div class="pt-2 hidden lg:block">
    <div class="w-[5px] h-[5px] md:w-[10px] md:h-[10px] bg-accent-500"></div>
  </div>
  <Subtitle>
    <slot />
  </Subtitle>
</div>
