@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.var.woff2") format("woff2 supports variations"),
    url("/fonts/Inter.var.woff2") format("woff2-variations");
  font-weight: 100 1000;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono.ttf");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Disket-Mono";
  src: url("/fonts/Disket-Mono-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Disket-Mono";
  src: url("/fonts/Disket-Mono-Bold.ttf") format("truetype");
  font-weight: 700;
}

*::-webkit-scrollbar {
  height: 0.3rem;
  width: 0rem;
}

*::-webkit-scrollbar-track {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar-thumb {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}
