---
import { fade } from 'astro:transitions'
import Layout from '#/layouts/Layout.svelte'
import { getCollection } from 'astro:content'
import { ViewTransitions } from 'astro:transitions'
import Socials from '#/components/Socials.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()
---

<Layout>
  <main
    class='sm:text-xl flex-grow py-4 sm:mt-0 pb-24 sm:px-0 px-6 justify-center max-w-xl self-center'
  >
    <h1 class='text-3xl sm:text-5xl font-extrabold max-w-xl'>
      {entry.data.title}
    </h1>

    <div class='font-mono sm:text-lg uppercase tracking-widest mb-5 mt-1'>
      <time datetime={entry.data.date.toISOString()}>
        {
          entry.data.date.toLocaleDateString('fr-CA', {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric'
          })
        }
      </time>
      <a
        class='text-accent font-normal'
        href={`https://x.com/${entry.data.author}`}
        target='_blank'
        rel='noopener noreferrer'
      >
        @{entry.data.author}
      </a>
    </div>
    <Content />
  </main>
  <Socials />
</Layout>

<script
  type='module'
  src='/anchor-targets.js'
></script>

<style is:inline lang="postcss">
  p > a {
    text-decoration: underline;
    text-decoration-color: #A0ECFD !important;
    transition: border-bottom-color 0.2s ease-in-out;
  }
  @media (max-width: 640px) {
    p > a:hover {
      color: #A0ECFD;
      text-decoration-color: #fff !important;
    }
    h2 {
font-size: 1.5rem !important;
    }
  }

  h2 {
    line-height: 3rem;
    margin-top: 14px;
    margin-bottom: 8px;
    font-size: 1.87rem;

  }
</style>
