---
import { fade,slide, } from 'astro:transitions'
import Layout from '#/layouts/Layout.astro'
import { getCollection } from 'astro:content'
const isProduction = import.meta.env.PROD

let blogEntries = await getCollection('blog', ({ data }) =>
  // filter out unpublished posts in production
  isProduction ? data.hidden !== true : true
)
blogEntries = blogEntries.sort((a, b) => (a.data.date > b.data.date ? -1 : 1))
---

<Layout>
  <main
    class='flex items-center text-xl md:text-2xl mt-2 sm:mt-12 justify-center pt-6 sm:pt-0 mx-4'
  >
    <ul class='flex flex-col gap-12 flex-1 list-none list-outside p-0 max-w-xl'>
      {
        blogEntries.map(blogPostEntry => (
          <li>
            <a
              class='pointer-cursor'
              href={`/blog/${blogPostEntry.slug}`}
            >
              <p class='text-3xl sm:text-5xl font-extrabold mb-0'>{blogPostEntry.data.title}</p>
              <div class='font-mono mt-1 text-lg uppercase tracking-widest'>
                <time datetime={blogPostEntry.data.date.toISOString()}>
                  {blogPostEntry.data.date.toLocaleDateString('fr-CA', {
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric'
                  })}
                </time>
              </div>
              <p class='sm:text-xl'>{blogPostEntry.data.description}</p>

              <div class='font-mono font-semibold mt-1 uppercase text-lg'>read full post -></div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

