---
import Card from "#/components/Card.astro"
import TextA from "#/components/TextA.astro"
import H3 from "#/components/typography/h3.astro"
import { useStoryblokApi } from "@storyblok/astro"
import SectionsLayout from "#/layouts/SectionsLayout.astro"
import LanderSection from "#/components/LanderSection.astro"
import IntroHeading from "#/components/typography/IntroHeading.astro"
import SocialsSection from "#/components/sections/SocialsSection.astro"

const sbApi = useStoryblokApi()

const { data } = await sbApi.get("cdn/stories", {
  content_type: "blogPost",
  version: import.meta.env.DEV ? "draft" : "published"
})

const blogEntries = data.stories as Array<{
  name: string
  slug: string
  full_slug: string
  content: {
    date: string
    title: string
    description: string
    cover: { filename: string }
  }
}>
---

<SectionsLayout title="Union Blog" gapless>
  <LanderSection gradient="to-t">
    <IntroHeading main title="Union Blog">
      Our latest partnerships, technical deep dives, and announcements.
    </IntroHeading>
    <div class="flex flex-col md:grid grid-cols-2 gap-4 md:gap-6 flex-1">
      {
        blogEntries.map(blogPostEntry => (
          <a class="pointer-cursor" href={`/blog/${blogPostEntry.slug}`}>
            <Card class="size-full" padded>
              <time
                class="text-lg text-gray-400"
                datetime={new Date(blogPostEntry.content.date).toISOString()}
              >
                {new Date(blogPostEntry.content.date).toLocaleDateString('fr-CA', {
                  year: 'numeric',
                  month: 'numeric',
                  day: 'numeric',
                })}
              </time>
              <H3>{blogPostEntry.name}</H3>
              <p class="sm:text-xl text-gray-400">{blogPostEntry.content.description}</p>

              <TextA fake>Read Post</TextA>
            </Card>
          </a>
        ))
      }
    </div>
  </LanderSection>
  <SocialsSection />
</SectionsLayout>

<style is:inline>
  *::selection {
    background-color: #a0ecfd;
    color: #000;
  }
</style>
