---
import Layout from '#/layouts/layout.svelte'
import { getCollection } from 'astro:content'
import { ViewTransitions } from 'astro:transitions'

const isProduction = import.meta.env.PROD;

let blogEntries = await getCollection('blog', ({ data }) =>
  // filter out unpublished posts in production
  isProduction ? data.hidden !== true : true
)
blogEntries = blogEntries.sort((a, b) => (a.data.date > b.data.date ? -1 : 1))
---

<Layout>
  <main
    class='flex items-center text-xl md:text-2xl sm:mt-0 mt-2 justify-center p-4'
  >
    <ul class='flex flex-col gap-16 flex-1 list-none list-outside p-0 max-w-xl'>
      {
        blogEntries.map(blogPostEntry => (
          <li>
            <a class="pointer-cursor" href={`/blog/${blogPostEntry.slug}`}>
              <h2
                class='text-3xl sm:text-5xl font-extrabold mb-0'
              >
                {blogPostEntry.data.title}
              </h2>
              <div class='font-mono mt-1 sm:text-lg uppercase tracking-widest'>
                <time datetime={blogPostEntry.data.date.toISOString()}>
                  {blogPostEntry.data.date.toLocaleDateString('fr-CA', {
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric'
                  })}
                </time>
              </div>
              <p class='sm:text-xl '>{blogPostEntry.data.description}</p>

              <div class='font-mono uppercase text-lg' >
                read full post ->
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<ViewTransitions />
