---
import SectionsLayout from "#/layouts/SectionsLayout.astro"
import { getCollection } from "astro:content"
import Card from "#/components/Card.astro"
import LanderSection from "#/components/LanderSection.astro"
import IntroHeading from "#/components/typography/IntroHeading.astro"
import SocialsSection from "#/components/sections/SocialsSection.astro"
import TextA from "#/components/TextA.astro"

import H3 from "#/components/typography/h3.astro"

const isProduction = import.meta.env.PROD

let blogEntries = await getCollection("blog", ({ data }) =>
  // filter out unpublished posts in production
  isProduction ? data.hidden !== true : true
)
blogEntries = blogEntries.sort((a, b) => (a.data.date > b.data.date ? -1 : 1))
---

<SectionsLayout title='Union Blog' gapless>
  <LanderSection gradient="to-t">
    <IntroHeading main title="Union Blog">
      Our latest partnerships, technical deep dives, and announcements.
    </IntroHeading>
    <div class="flex flex-col md:grid grid-cols-2 gap-4 md:gap-6 flex-1">
      {
        blogEntries.map(blogPostEntry => (
          <Card padded>
            <a class="pointer-cursor" href={`/blog/${blogPostEntry.slug}`}>
              <time class="text-lg text-gray-400" datetime={blogPostEntry.data.date.toISOString()}>
                {blogPostEntry.data.date.toLocaleDateString('fr-CA', {
                  year: 'numeric',
                  month: 'numeric',
                  day: 'numeric',
                })}
              </time>
              <H3>{blogPostEntry.data.title}</H3>
              <p class="sm:text-xl text-gray-400">{blogPostEntry.data.description}</p>

              <TextA fake>
                Read Post
              </TextA>
            </a>
          </Card>
        ))
      }
    </div>
  </LanderSection>
  <SocialsSection/>
</SectionsLayout>

<style is:inline>
  *::selection {
    background-color: #a0ecfd;
    color: #000;
  }
</style>
