---
import Layout from "#/layouts/Layout.astro"
import { getCollection } from "astro:content"
import Card from "#/components/Card.astro"
import LanderSection from "#/components/LanderSection.astro"
import IntroHeading from "#/components/typography/IntroHeading.astro"

const isProduction = import.meta.env.PROD

let blogEntries = await getCollection("blog", ({ data }) =>
  // filter out unpublished posts in production
  isProduction ? data.hidden !== true : true
)
blogEntries = blogEntries.sort((a, b) => (a.data.date > b.data.date ? -1 : 1))

---

<Layout title='Union Blog'>
  <main
    class="flex flex-col items-center gap-16 lg:gap-32 py-32"
  >
    <IntroHeading title="Blog">
      Our latest partnerships, technical deepdives, and announcements.
    </IntroHeading>

    <ul class="flex flex-col md:grid grid-cols-2 gap-4 md:gap-6 flex-1 list-none p-0 max-w-5xl w-full">
      {
        blogEntries.map(blogPostEntry => (
          <Card padded>
            <a class="pointer-cursor" href={`/blog/${blogPostEntry.slug}`}>
              <time class="text-lg text-gray-300" datetime={blogPostEntry.data.date.toISOString()}>
                {blogPostEntry.data.date.toLocaleDateString('fr-CA', {
                  year: 'numeric',
                  month: 'numeric',
                  day: 'numeric',
                })}
              </time>
              <h2 class="text-3xl sm:text-4xl font-extrabold mb-0">{blogPostEntry.data.title}</h2>
              <p class="sm:text-xl text-gray-200">{blogPostEntry.data.description}</p>

              <div class="underline text-lg text-accent font-semibold">
                Read Post -&gt;
              </div>
            </a>
          </Card>
        ))
      }
    </ul>
  </main>
</Layout>

<style is:inline>
  *::selection {
    background-color: #a0ecfd;
    color: #000;
  }
</style>
