{
  "metadata": {
    "apiVersion": "2017-10-14",
    "endpointPrefix": "medialive",
    "signingName": "medialive",
    "serviceFullName": "AWS Elemental MediaLive",
    "serviceId": "MediaLive",
    "protocol": "rest-json",
    "uid": "medialive-2017-10-14",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaLive",
    "jsonVersion": "1.1"
  },
  "operations": {
    "AcceptInputDeviceTransfer": {
      "name": "AcceptInputDeviceTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/accept",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptInputDeviceTransferRequest"
      },
      "output": {
        "shape": "AcceptInputDeviceTransferResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "BatchDelete": {
      "name": "BatchDelete",
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteRequest"
      },
      "output": {
        "shape": "BatchDeleteResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "BatchStart": {
      "name": "BatchStart",
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/start",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchStartRequest"
      },
      "output": {
        "shape": "BatchStartResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "BatchStop": {
      "name": "BatchStop",
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchStopRequest"
      },
      "output": {
        "shape": "BatchStopResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "BatchUpdateSchedule": {
      "name": "BatchUpdateSchedule",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateScheduleRequest"
      },
      "output": {
        "shape": "BatchUpdateScheduleResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CancelInputDeviceTransfer": {
      "name": "CancelInputDeviceTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/cancel",
        "responseCode": 200
      },
      "input": {
        "shape": "CancelInputDeviceTransferRequest"
      },
      "output": {
        "shape": "CancelInputDeviceTransferResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "ClaimDevice": {
      "name": "ClaimDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/claimDevice",
        "responseCode": 200
      },
      "input": {
        "shape": "ClaimDeviceRequest"
      },
      "output": {
        "shape": "ClaimDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateChannel": {
      "name": "CreateChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "output": {
        "shape": "CreateChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateInput": {
      "name": "CreateInput",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInputRequest"
      },
      "output": {
        "shape": "CreateInputResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateInputSecurityGroup": {
      "name": "CreateInputSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInputSecurityGroupRequest"
      },
      "output": {
        "shape": "CreateInputSecurityGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateMultiplex": {
      "name": "CreateMultiplex",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexRequest"
      },
      "output": {
        "shape": "CreateMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateMultiplexProgram": {
      "name": "CreateMultiplexProgram",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexProgramRequest"
      },
      "output": {
        "shape": "CreateMultiplexProgramResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreatePartnerInput": {
      "name": "CreatePartnerInput",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputs/{inputId}/partners",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePartnerInputRequest"
      },
      "output": {
        "shape": "CreatePartnerInputResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "CreateTags": {
      "name": "CreateTags",
      "http": {
        "method": "POST",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "CreateTagsRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "DeleteChannel": {
      "name": "DeleteChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "output": {
        "shape": "DeleteChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteInput": {
      "name": "DeleteInput",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputRequest"
      },
      "output": {
        "shape": "DeleteInputResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteInputSecurityGroup": {
      "name": "DeleteInputSecurityGroup",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputSecurityGroupRequest"
      },
      "output": {
        "shape": "DeleteInputSecurityGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteMultiplex": {
      "name": "DeleteMultiplex",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteMultiplexRequest"
      },
      "output": {
        "shape": "DeleteMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteMultiplexProgram": {
      "name": "DeleteMultiplexProgram",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMultiplexProgramRequest"
      },
      "output": {
        "shape": "DeleteMultiplexProgramResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteReservation": {
      "name": "DeleteReservation",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteReservationRequest"
      },
      "output": {
        "shape": "DeleteReservationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteSchedule": {
      "name": "DeleteSchedule",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteScheduleRequest"
      },
      "output": {
        "shape": "DeleteScheduleResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DeleteTags": {
      "name": "DeleteTags",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteTagsRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "DescribeAccountConfiguration": {
      "name": "DescribeAccountConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/prod/accountConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAccountConfigurationRequest"
      },
      "output": {
        "shape": "DescribeAccountConfigurationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeChannel": {
      "name": "DescribeChannel",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelRequest"
      },
      "output": {
        "shape": "DescribeChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeInput": {
      "name": "DescribeInput",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputRequest"
      },
      "output": {
        "shape": "DescribeInputResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeInputDevice": {
      "name": "DescribeInputDevice",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputDeviceRequest"
      },
      "output": {
        "shape": "DescribeInputDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeInputDeviceThumbnail": {
      "name": "DescribeInputDeviceThumbnail",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/thumbnailData",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputDeviceThumbnailRequest"
      },
      "output": {
        "shape": "DescribeInputDeviceThumbnailResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeInputSecurityGroup": {
      "name": "DescribeInputSecurityGroup",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputSecurityGroupRequest"
      },
      "output": {
        "shape": "DescribeInputSecurityGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeMultiplex": {
      "name": "DescribeMultiplex",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexRequest"
      },
      "output": {
        "shape": "DescribeMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeMultiplexProgram": {
      "name": "DescribeMultiplexProgram",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexProgramRequest"
      },
      "output": {
        "shape": "DescribeMultiplexProgramResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeOffering": {
      "name": "DescribeOffering",
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings/{offeringId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOfferingRequest"
      },
      "output": {
        "shape": "DescribeOfferingResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeReservation": {
      "name": "DescribeReservation",
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeReservationRequest"
      },
      "output": {
        "shape": "DescribeReservationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeSchedule": {
      "name": "DescribeSchedule",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeScheduleRequest"
      },
      "output": {
        "shape": "DescribeScheduleResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "DescribeThumbnails": {
      "name": "DescribeThumbnails",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}/thumbnails",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeThumbnailsRequest"
      },
      "output": {
        "shape": "DescribeThumbnailsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "ListChannels": {
      "name": "ListChannels",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelsRequest"
      },
      "output": {
        "shape": "ListChannelsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListInputDeviceTransfers": {
      "name": "ListInputDeviceTransfers",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDeviceTransfers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputDeviceTransfersRequest"
      },
      "output": {
        "shape": "ListInputDeviceTransfersResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListInputDevices": {
      "name": "ListInputDevices",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputDevicesRequest"
      },
      "output": {
        "shape": "ListInputDevicesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListInputSecurityGroups": {
      "name": "ListInputSecurityGroups",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputSecurityGroupsRequest"
      },
      "output": {
        "shape": "ListInputSecurityGroupsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListInputs": {
      "name": "ListInputs",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputsRequest"
      },
      "output": {
        "shape": "ListInputsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListMultiplexPrograms": {
      "name": "ListMultiplexPrograms",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexProgramsRequest"
      },
      "output": {
        "shape": "ListMultiplexProgramsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListMultiplexes": {
      "name": "ListMultiplexes",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexesRequest"
      },
      "output": {
        "shape": "ListMultiplexesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListOfferings": {
      "name": "ListOfferings",
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOfferingsRequest"
      },
      "output": {
        "shape": "ListOfferingsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListReservations": {
      "name": "ListReservations",
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReservationsRequest"
      },
      "output": {
        "shape": "ListReservationsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "PurchaseOffering": {
      "name": "PurchaseOffering",
      "http": {
        "method": "POST",
        "requestUri": "/prod/offerings/{offeringId}/purchase",
        "responseCode": 201
      },
      "input": {
        "shape": "PurchaseOfferingRequest"
      },
      "output": {
        "shape": "PurchaseOfferingResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "RebootInputDevice": {
      "name": "RebootInputDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/reboot",
        "responseCode": 200
      },
      "input": {
        "shape": "RebootInputDeviceRequest"
      },
      "output": {
        "shape": "RebootInputDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "RejectInputDeviceTransfer": {
      "name": "RejectInputDeviceTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/reject",
        "responseCode": 200
      },
      "input": {
        "shape": "RejectInputDeviceTransferRequest"
      },
      "output": {
        "shape": "RejectInputDeviceTransferResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StartChannel": {
      "name": "StartChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartChannelRequest"
      },
      "output": {
        "shape": "StartChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StartInputDevice": {
      "name": "StartInputDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartInputDeviceRequest"
      },
      "output": {
        "shape": "StartInputDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "StartInputDeviceMaintenanceWindow": {
      "name": "StartInputDeviceMaintenanceWindow",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/startInputDeviceMaintenanceWindow",
        "responseCode": 200
      },
      "input": {
        "shape": "StartInputDeviceMaintenanceWindowRequest"
      },
      "output": {
        "shape": "StartInputDeviceMaintenanceWindowResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "StartMultiplex": {
      "name": "StartMultiplex",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/start",
        "responseCode": 202
      },
      "input": {
        "shape": "StartMultiplexRequest"
      },
      "output": {
        "shape": "StartMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StopChannel": {
      "name": "StopChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopChannelRequest"
      },
      "output": {
        "shape": "StopChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StopInputDevice": {
      "name": "StopInputDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopInputDeviceRequest"
      },
      "output": {
        "shape": "StopInputDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "StopMultiplex": {
      "name": "StopMultiplex",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/stop",
        "responseCode": 202
      },
      "input": {
        "shape": "StopMultiplexRequest"
      },
      "output": {
        "shape": "StopMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "TransferInputDevice": {
      "name": "TransferInputDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/transfer",
        "responseCode": 200
      },
      "input": {
        "shape": "TransferInputDeviceRequest"
      },
      "output": {
        "shape": "TransferInputDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateAccountConfiguration": {
      "name": "UpdateAccountConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/accountConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAccountConfigurationRequest"
      },
      "output": {
        "shape": "UpdateAccountConfigurationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateChannel": {
      "name": "UpdateChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelRequest"
      },
      "output": {
        "shape": "UpdateChannelResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateChannelClass": {
      "name": "UpdateChannelClass",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/channelClass",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelClassRequest"
      },
      "output": {
        "shape": "UpdateChannelClassResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateInput": {
      "name": "UpdateInput",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputRequest"
      },
      "output": {
        "shape": "UpdateInputResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateInputDevice": {
      "name": "UpdateInputDevice",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputDeviceRequest"
      },
      "output": {
        "shape": "UpdateInputDeviceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ]
    },
    "UpdateInputSecurityGroup": {
      "name": "UpdateInputSecurityGroup",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputSecurityGroupRequest"
      },
      "output": {
        "shape": "UpdateInputSecurityGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateMultiplex": {
      "name": "UpdateMultiplex",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexRequest"
      },
      "output": {
        "shape": "UpdateMultiplexResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateMultiplexProgram": {
      "name": "UpdateMultiplexProgram",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexProgramRequest"
      },
      "output": {
        "shape": "UpdateMultiplexProgramResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateReservation": {
      "name": "UpdateReservation",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateReservationRequest"
      },
      "output": {
        "shape": "UpdateReservationResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "RestartChannelPipelines": {
      "name": "RestartChannelPipelines",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/restartChannelPipelines",
        "responseCode": 200
      },
      "input": {
        "shape": "RestartChannelPipelinesRequest"
      },
      "output": {
        "shape": "RestartChannelPipelinesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "GatewayTimeoutException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateCloudWatchAlarmTemplate": {
      "name": "CreateCloudWatchAlarmTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/prod/cloudwatch-alarm-templates",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateCloudWatchAlarmTemplateRequest"
      },
      "output": {
        "shape": "CreateCloudWatchAlarmTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateCloudWatchAlarmTemplateGroup": {
      "name": "CreateCloudWatchAlarmTemplateGroup",
      "http": {
        "method": "POST",
        "requestUri": "/prod/cloudwatch-alarm-template-groups",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateCloudWatchAlarmTemplateGroupRequest"
      },
      "output": {
        "shape": "CreateCloudWatchAlarmTemplateGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateEventBridgeRuleTemplate": {
      "name": "CreateEventBridgeRuleTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/prod/eventbridge-rule-templates",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateEventBridgeRuleTemplateRequest"
      },
      "output": {
        "shape": "CreateEventBridgeRuleTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateEventBridgeRuleTemplateGroup": {
      "name": "CreateEventBridgeRuleTemplateGroup",
      "http": {
        "method": "POST",
        "requestUri": "/prod/eventbridge-rule-template-groups",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateEventBridgeRuleTemplateGroupRequest"
      },
      "output": {
        "shape": "CreateEventBridgeRuleTemplateGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "CreateSignalMap": {
      "name": "CreateSignalMap",
      "http": {
        "method": "POST",
        "requestUri": "/prod/signal-maps",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSignalMapRequest"
      },
      "output": {
        "shape": "CreateSignalMapResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteCloudWatchAlarmTemplate": {
      "name": "DeleteCloudWatchAlarmTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/cloudwatch-alarm-templates/{identifier}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteCloudWatchAlarmTemplateRequest"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteCloudWatchAlarmTemplateGroup": {
      "name": "DeleteCloudWatchAlarmTemplateGroup",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/cloudwatch-alarm-template-groups/{identifier}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteCloudWatchAlarmTemplateGroupRequest"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteEventBridgeRuleTemplate": {
      "name": "DeleteEventBridgeRuleTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/eventbridge-rule-templates/{identifier}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteEventBridgeRuleTemplateRequest"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteEventBridgeRuleTemplateGroup": {
      "name": "DeleteEventBridgeRuleTemplateGroup",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/eventbridge-rule-template-groups/{identifier}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteEventBridgeRuleTemplateGroupRequest"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "DeleteSignalMap": {
      "name": "DeleteSignalMap",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/signal-maps/{identifier}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteSignalMapRequest"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "GetCloudWatchAlarmTemplate": {
      "name": "GetCloudWatchAlarmTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/prod/cloudwatch-alarm-templates/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCloudWatchAlarmTemplateRequest"
      },
      "output": {
        "shape": "GetCloudWatchAlarmTemplateResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "GetCloudWatchAlarmTemplateGroup": {
      "name": "GetCloudWatchAlarmTemplateGroup",
      "http": {
        "method": "GET",
        "requestUri": "/prod/cloudwatch-alarm-template-groups/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCloudWatchAlarmTemplateGroupRequest"
      },
      "output": {
        "shape": "GetCloudWatchAlarmTemplateGroupResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "GetEventBridgeRuleTemplate": {
      "name": "GetEventBridgeRuleTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/prod/eventbridge-rule-templates/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEventBridgeRuleTemplateRequest"
      },
      "output": {
        "shape": "GetEventBridgeRuleTemplateResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "GetEventBridgeRuleTemplateGroup": {
      "name": "GetEventBridgeRuleTemplateGroup",
      "http": {
        "method": "GET",
        "requestUri": "/prod/eventbridge-rule-template-groups/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEventBridgeRuleTemplateGroupRequest"
      },
      "output": {
        "shape": "GetEventBridgeRuleTemplateGroupResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "GetSignalMap": {
      "name": "GetSignalMap",
      "http": {
        "method": "GET",
        "requestUri": "/prod/signal-maps/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSignalMapRequest"
      },
      "output": {
        "shape": "GetSignalMapResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "ListCloudWatchAlarmTemplateGroups": {
      "name": "ListCloudWatchAlarmTemplateGroups",
      "http": {
        "method": "GET",
        "requestUri": "/prod/cloudwatch-alarm-template-groups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCloudWatchAlarmTemplateGroupsRequest"
      },
      "output": {
        "shape": "ListCloudWatchAlarmTemplateGroupsResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "ListCloudWatchAlarmTemplates": {
      "name": "ListCloudWatchAlarmTemplates",
      "http": {
        "method": "GET",
        "requestUri": "/prod/cloudwatch-alarm-templates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCloudWatchAlarmTemplatesRequest"
      },
      "output": {
        "shape": "ListCloudWatchAlarmTemplatesResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "ListEventBridgeRuleTemplateGroups": {
      "name": "ListEventBridgeRuleTemplateGroups",
      "http": {
        "method": "GET",
        "requestUri": "/prod/eventbridge-rule-template-groups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListEventBridgeRuleTemplateGroupsRequest"
      },
      "output": {
        "shape": "ListEventBridgeRuleTemplateGroupsResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "ListEventBridgeRuleTemplates": {
      "name": "ListEventBridgeRuleTemplates",
      "http": {
        "method": "GET",
        "requestUri": "/prod/eventbridge-rule-templates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListEventBridgeRuleTemplatesRequest"
      },
      "output": {
        "shape": "ListEventBridgeRuleTemplatesResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "ListSignalMaps": {
      "name": "ListSignalMaps",
      "http": {
        "method": "GET",
        "requestUri": "/prod/signal-maps",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSignalMapsRequest"
      },
      "output": {
        "shape": "ListSignalMapsResponse"
      },
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        }
      ]
    },
    "StartDeleteMonitorDeployment": {
      "name": "StartDeleteMonitorDeployment",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/signal-maps/{identifier}/monitor-deployment",
        "responseCode": 202
      },
      "input": {
        "shape": "StartDeleteMonitorDeploymentRequest"
      },
      "output": {
        "shape": "StartDeleteMonitorDeploymentResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StartMonitorDeployment": {
      "name": "StartMonitorDeployment",
      "http": {
        "method": "POST",
        "requestUri": "/prod/signal-maps/{identifier}/monitor-deployment",
        "responseCode": 202
      },
      "input": {
        "shape": "StartMonitorDeploymentRequest"
      },
      "output": {
        "shape": "StartMonitorDeploymentResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "StartUpdateSignalMap": {
      "name": "StartUpdateSignalMap",
      "http": {
        "method": "PATCH",
        "requestUri": "/prod/signal-maps/{identifier}",
        "responseCode": 202
      },
      "input": {
        "shape": "StartUpdateSignalMapRequest"
      },
      "output": {
        "shape": "StartUpdateSignalMapResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateCloudWatchAlarmTemplate": {
      "name": "UpdateCloudWatchAlarmTemplate",
      "http": {
        "method": "PATCH",
        "requestUri": "/prod/cloudwatch-alarm-templates/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateCloudWatchAlarmTemplateRequest"
      },
      "output": {
        "shape": "UpdateCloudWatchAlarmTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateCloudWatchAlarmTemplateGroup": {
      "name": "UpdateCloudWatchAlarmTemplateGroup",
      "http": {
        "method": "PATCH",
        "requestUri": "/prod/cloudwatch-alarm-template-groups/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateCloudWatchAlarmTemplateGroupRequest"
      },
      "output": {
        "shape": "UpdateCloudWatchAlarmTemplateGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateEventBridgeRuleTemplate": {
      "name": "UpdateEventBridgeRuleTemplate",
      "http": {
        "method": "PATCH",
        "requestUri": "/prod/eventbridge-rule-templates/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateEventBridgeRuleTemplateRequest"
      },
      "output": {
        "shape": "UpdateEventBridgeRuleTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    },
    "UpdateEventBridgeRuleTemplateGroup": {
      "name": "UpdateEventBridgeRuleTemplateGroup",
      "http": {
        "method": "PATCH",
        "requestUri": "/prod/eventbridge-rule-template-groups/{identifier}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateEventBridgeRuleTemplateGroupRequest"
      },
      "output": {
        "shape": "UpdateEventBridgeRuleTemplateGroupResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ]
    }
  },
  "shapes": {
    "AacCodingMode": {
      "type": "string",
      "enum": [
        "AD_RECEIVER_MIX",
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_5_1"
      ]
    },
    "AacInputType": {
      "type": "string",
      "enum": [
        "BROADCASTER_MIXED_AD",
        "NORMAL"
      ]
    },
    "AacProfile": {
      "type": "string",
      "enum": [
        "HEV1",
        "HEV2",
        "LC"
      ]
    },
    "AacRateControlMode": {
      "type": "string",
      "enum": [
        "CBR",
        "VBR"
      ]
    },
    "AacRawFormat": {
      "type": "string",
      "enum": [
        "LATM_LOAS",
        "NONE"
      ]
    },
    "AacSettings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "shape": "__double",
          "locationName": "bitrate"
        },
        "CodingMode": {
          "shape": "AacCodingMode",
          "locationName": "codingMode"
        },
        "InputType": {
          "shape": "AacInputType",
          "locationName": "inputType"
        },
        "Profile": {
          "shape": "AacProfile",
          "locationName": "profile"
        },
        "RateControlMode": {
          "shape": "AacRateControlMode",
          "locationName": "rateControlMode"
        },
        "RawFormat": {
          "shape": "AacRawFormat",
          "locationName": "rawFormat"
        },
        "SampleRate": {
          "shape": "__double",
          "locationName": "sampleRate"
        },
        "Spec": {
          "shape": "AacSpec",
          "locationName": "spec"
        },
        "VbrQuality": {
          "shape": "AacVbrQuality",
          "locationName": "vbrQuality"
        }
      }
    },
    "AacSpec": {
      "type": "string",
      "enum": [
        "MPEG2",
        "MPEG4"
      ]
    },
    "AacVbrQuality": {
      "type": "string",
      "enum": [
        "HIGH",
        "LOW",
        "MEDIUM_HIGH",
        "MEDIUM_LOW"
      ]
    },
    "Ac3AttenuationControl": {
      "type": "string",
      "enum": [
        "ATTENUATE_3_DB",
        "NONE"
      ]
    },
    "Ac3BitstreamMode": {
      "type": "string",
      "enum": [
        "COMMENTARY",
        "COMPLETE_MAIN",
        "DIALOGUE",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "MUSIC_AND_EFFECTS",
        "VISUALLY_IMPAIRED",
        "VOICE_OVER"
      ]
    },
    "Ac3CodingMode": {
      "type": "string",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2_LFE"
      ]
    },
    "Ac3DrcProfile": {
      "type": "string",
      "enum": [
        "FILM_STANDARD",
        "NONE"
      ]
    },
    "Ac3LfeFilter": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "Ac3MetadataControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "shape": "__double",
          "locationName": "bitrate"
        },
        "BitstreamMode": {
          "shape": "Ac3BitstreamMode",
          "locationName": "bitstreamMode"
        },
        "CodingMode": {
          "shape": "Ac3CodingMode",
          "locationName": "codingMode"
        },
        "Dialnorm": {
          "shape": "__integerMin1Max31",
          "locationName": "dialnorm"
        },
        "DrcProfile": {
          "shape": "Ac3DrcProfile",
          "locationName": "drcProfile"
        },
        "LfeFilter": {
          "shape": "Ac3LfeFilter",
          "locationName": "lfeFilter"
        },
        "MetadataControl": {
          "shape": "Ac3MetadataControl",
          "locationName": "metadataControl"
        },
        "AttenuationControl": {
          "shape": "Ac3AttenuationControl",
          "locationName": "attenuationControl"
        }
      }
    },
    "AcceptInputDeviceTransferRequest": {
      "type": "structure",
      "members": {
        "InputDeviceId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "inputDeviceId"
        }
      },
      "required": [
        "InputDeviceId"
      ]
    },
    "AcceptInputDeviceTransferResponse": {
      "type": "structure",
      "members": {
      }
    },
    "AccessDenied": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      }
    },
    "AccessibilityType": {
      "type": "string",
      "enum": [
        "DOES_NOT_IMPLEMENT_ACCESSIBILITY_FEATURES",
        "IMPLEMENTS_ACCESSIBILITY_FEATURES"
      ]
    },
    "AccountConfiguration": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "shape": "__string",
          "locationName": "kmsKeyId"
        }
      }
    },
    "AfdSignaling": {
      "type": "string",
      "enum": [
        "AUTO",
        "FIXED",
        "NONE"
      ]
    },
    "AncillarySourceSettings": {
      "type": "structure",
      "members": {
        "SourceAncillaryChannelNumber": {
          "shape": "__integerMin1Max4",
          "locationName": "sourceAncillaryChannelNumber"
        }
      }
    },
    "ArchiveCdnSettings": {
      "type": "structure",
      "members": {
        "ArchiveS3Settings": {
          "shape": "ArchiveS3Settings",
          "locationName": "archiveS3Settings"
        }
      }
    },
    "ArchiveContainerSettings": {
      "type": "structure",
      "members": {
        "M2tsSettings": {
          "shape": "M2tsSettings",
          "locationName": "m2tsSettings"
        },
        "RawSettings": {
          "shape": "RawSettings",
          "locationName": "rawSettings"
        }
      }
    },
    "ArchiveGroupSettings": {
      "type": "structure",
      "members": {
        "ArchiveCdnSettings": {
          "shape": "ArchiveCdnSettings",
          "locationName": "archiveCdnSettings"
        },
        "Destination": {
          "shape": "OutputLocationRef",
          "locationName": "destination"
        },
        "RolloverInterval": {
          "shape": "__integerMin1",
          "locationName": "rolloverInterval"
        }
      },
      "required": [
        "Destination"
      ]
    },
    "ArchiveOutputSettings": {
      "type": "structure",
      "members": {
        "ContainerSettings": {
          "shape": "ArchiveContainerSettings",
          "locationName": "containerSettings"
        },
        "Extension": {
          "shape": "__string",
          "locationName": "extension"
        },
        "NameModifier": {
          "shape": "__string",
          "locationName": "nameModifier"
        }
      },
      "required": [
        "ContainerSettings"
      ]
    },
    "ArchiveS3LogUploads": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "ArchiveS3Settings": {
      "type": "structure",
      "members": {
        "CannedAcl": {
          "shape": "S3CannedAcl",
          "locationName": "cannedAcl"
        }
      }
    },
    "AribDestinationSettings": {
      "type": "structure",
      "members": {
      }
    },
    "AribSourceSettings": {
      "type": "structure",
      "members": {
      }
    },
    "AudioChannelMapping": {
      "type": "structure",
      "members": {
        "InputChannelLevels": {
          "shape": "__listOfInputChannelLevel",
          "locationName": "inputChannelLevels"
        },
        "OutputChannel": {
          "shape": "__integerMin0Max7",
          "locationName": "outputChannel"
        }
      },
      "required": [
        "OutputChannel",
        "InputChannelLevels"
      ]
    },
    "AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "shape": "AacSettings",
          "locationName": "aacSettings"
        },
        "Ac3Settings": {
          "shape": "Ac3Settings",
          "locationName": "ac3Settings"
        },
        "Eac3AtmosSettings": {
          "shape": "Eac3AtmosSettings",
          "locationName": "eac3AtmosSettings"
        },
        "Eac3Settings": {
          "shape": "Eac3Settings",
          "locationName": "eac3Settings"
        },
        "Mp2Settings": {
          "shape": "Mp2Settings",
          "locationName": "mp2Settings"
        },
        "PassThroughSettings": {
          "shape": "PassThroughSettings",
          "locationName": "passThroughSettings"
        },
        "WavSettings": {
          "shape": "WavSettings",
          "locationName": "wavSettings"
        }
      }
    },
    "AudioDescription": {
      "type": "structure",
      "members": {
        "AudioNormalizationSettings": {
          "shape": "AudioNormalizationSettings",
          "locationName": "audioNormalizationSettings"
        },
        "AudioSelectorName": {
          "shape": "__string",
          "locationName": "audioSelectorName"
        },
        "AudioType": {
          "shape": "AudioType",
          "locationName": "audioType"
        },
        "AudioTypeControl": {
          "shape": "AudioDescriptionAudioTypeControl",
          "locationName": "audioTypeControl"
        },
        "AudioWatermarkingSettings": {
          "shape": "AudioWatermarkSettings",
          "locationName": "audioWatermarkingSettings"
        },
        "CodecSettings": {
          "shape": "AudioCodecSettings",
          "locationName": "codecSettings"
        },
        "LanguageCode": {
          "shape": "__stringMin1Max35",
          "locationName": "languageCode"
        },
        "LanguageCodeControl": {
          "shape": "AudioDescriptionLanguageCodeControl",
          "locationName": "languageCodeControl"
        },
        "Name": {
          "shape": "__stringMax255",
          "locationName": "name"
        },
        "RemixSettings": {
          "shape": "RemixSettings",
          "locationName": "remixSettings"
        },
        "StreamName": {
          "shape": "__string",
          "locationName": "streamName"
        },
        "AudioDashRoles": {
          "shape": "__listOfDashRoleAudio",
          "locationName": "audioDashRoles"
        },
        "DvbDashAccessibility": {
          "shape": "DvbDashAccessibility",
          "locationName": "dvbDashAccessibility"
        }
      },
      "required": [
        "AudioSelectorName",
        "Name"
      ]
    },
    "AudioDescriptionAudioTypeControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "AudioDescriptionLanguageCodeControl": {
      "type": "string",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "AudioDolbyEDecode": {
      "type": "structure",
      "members": {
        "ProgramSelection": {
          "shape": "DolbyEProgramSelection",
          "locationName": "programSelection"
        }
      },
      "required": [
        "ProgramSelection"
      ]
    },
    "AudioHlsRenditionSelection": {
      "type": "structure",
      "members": {
        "GroupId": {
          "shape": "__stringMin1",
          "locationName": "groupId"
        },
        "Name": {
          "shape": "__stringMin1",
          "locationName": "name"
        }
      },
      "required": [
        "Name",
        "GroupId"
      ]
    },
    "AudioLanguageSelection": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "shape": "__string",
          "locationName": "languageCode"
        },
        "LanguageSelectionPolicy": {
          "shape": "AudioLanguageSelectionPolicy",
          "locationName": "languageSelectionPolicy"
        }
      },
      "required": [
        "LanguageCode"
      ]
    },
    "AudioLanguageSelectionPolicy": {
      "type": "string",
      "enum": [
        "LOOSE",
        "STRICT"
      ]
    },
    "AudioNormalizationAlgorithm": {
      "type": "string",
      "enum": [
        "ITU_1770_1",
        "ITU_1770_2"
      ]
    },
    "AudioNormalizationAlgorithmControl": {
      "type": "string",
      "enum": [
        "CORRECT_AUDIO"
      ]
    },
    "AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "shape": "AudioNormalizationAlgorithm",
          "locationName": "algorithm"
        },
        "AlgorithmControl": {
          "shape": "AudioNormalizationAlgorithmControl",
          "locationName": "algorithmControl"
        },
        "TargetLkfs": {
          "shape": "__doubleMinNegative59Max0",
          "locationName": "targetLkfs"
        }
      }
    },
    "AudioOnlyHlsSegmentType": {
      "type": "string",
      "enum": [
        "AAC",
        "FMP4"
      ]
    },
    "AudioOnlyHlsSettings": {
      "type": "structure",
      "members": {
        "AudioGroupId": {
          "shape": "__string",
          "locationName": "audioGroupId"
        },
        "AudioOnlyImage": {
          "shape": "InputLocation",
          "locationName": "audioOnlyImage"
        },
        "AudioTrackType": {
          "shape": "AudioOnlyHlsTrackType",
          "locationName": "audioTrackType"
        },
        "SegmentType": {
          "shape": "AudioOnlyHlsSegmentType",
          "locationName": "segmentType"
        }
      }
    },
    "AudioOnlyHlsTrackType": {
      "type": "string",
      "enum": [
        "ALTERNATE_AUDIO_AUTO_SELECT",
        "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT",
        "ALTERNATE_AUDIO_NOT_AUTO_SELECT",
        "AUDIO_ONLY_VARIANT_STREAM"
      ]
    },
    "AudioPidSelection": {
      "type": "structure",
      "members": {
        "Pid": {
          "shape": "__integerMin0Max8191",
          "locationName": "pid"
        }
      },
      "required": [
        "Pid"
      ]
    },
    "AudioSelector": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__stringMin1",
          "locationName": "name"
        },
        "SelectorSettings": {
          "shape": "AudioSelectorSettings",
          "locationName": "selectorSettings"
        }
      },
      "required": [
        "Name"
      ]
    },
    "AudioSelectorSettings": {
      "type": "structure",
      "members": {
        "AudioHlsRenditionSelection": {
          "shape": "AudioHlsRenditionSelection",
          "locationName": "audioHlsRenditionSelection"
        },
        "AudioLanguageSelection": {
          "shape": "AudioLanguageSelection",
          "locationName": "audioLanguageSelection"
        },
        "AudioPidSelection": {
          "shape": "AudioPidSelection",
          "locationName": "audioPidSelection"
        },
        "AudioTrackSelection": {
          "shape": "AudioTrackSelection",
          "locationName": "audioTrackSelection"
        }
      }
    },
    "AudioSilenceFailoverSettings": {
      "type": "structure",
      "members": {
        "AudioSelectorName": {
          "shape": "__string",
          "locationName": "audioSelectorName"
        },
        "AudioSilenceThresholdMsec": {
          "shape": "__integerMin1000",
          "locationName": "audioSilenceThresholdMsec"
        }
      },
      "required": [
        "AudioSelectorName"
      ]
    },
    "AudioTrack": {
      "type": "structure",
      "members": {
        "Track": {
          "shape": "__integerMin1",
          "locationName": "track"
        }
      },
      "required": [
        "Track"
      ]
    },
    "AudioTrackSelection": {
      "type": "structure",
      "members": {
        "Tracks": {
          "shape": "__listOfAudioTrack",
          "locationName": "tracks"
        },
        "DolbyEDecode": {
          "shape": "AudioDolbyEDecode",
          "locationName": "dolbyEDecode"
        }
      },
      "required": [
        "Tracks"
      ]
    },
    "AudioType": {
      "type": "string",
      "enum": [
        "CLEAN_EFFECTS",
        "HEARING_IMPAIRED",
        "UNDEFINED",
        "VISUAL_IMPAIRED_COMMENTARY"
      ]
    },
    "AudioWatermarkSettings": {
      "type": "structure",
      "members": {
        "NielsenWatermarksSettings": {
          "shape": "NielsenWatermarksSettings",
          "locationName": "nielsenWatermarksSettings"
        }
      }
    },
    "AuthenticationScheme": {
      "type": "string",
      "enum": [
        "AKAMAI",
        "COMMON"
      ]
    },
    "AutomaticInputFailoverSettings": {
      "type": "structure",
      "members": {
        "ErrorClearTimeMsec": {
          "shape": "__integerMin1",
          "locationName": "errorClearTimeMsec"
        },
        "FailoverConditions": {
          "shape": "__listOfFailoverCondition",
          "locationName": "failoverConditions"
        },
        "InputPreference": {
          "shape": "InputPreference",
          "locationName": "inputPreference"
        },
        "SecondaryInputId": {
          "shape": "__string",
          "locationName": "secondaryInputId"
        }
      },
      "required": [
        "SecondaryInputId"
      ]
    },
    "AvailBlanking": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "shape": "InputLocation",
          "locationName": "availBlankingImage"
        },
        "State": {
          "shape": "AvailBlankingState",
          "locationName": "state"
        }
      }
    },
    "AvailBlankingState": {
      "type": "string",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "AvailConfiguration": {
      "type": "structure",
      "members": {
        "AvailSettings": {
          "shape": "AvailSettings",
          "locationName": "availSettings"
        },
        "Scte35SegmentationScope": {
          "shape": "Scte35SegmentationScope",
          "locationName": "scte35SegmentationScope"
        }
      }
    },
    "AvailSettings": {
      "type": "structure",
      "members": {
        "Esam": {
          "shape": "Esam",
          "locationName": "esam"
        },
        "Scte35SpliceInsert": {
          "shape": "Scte35SpliceInsert",
          "locationName": "scte35SpliceInsert"
        },
        "Scte35TimeSignalApos": {
          "shape": "Scte35TimeSignalApos",
          "locationName": "scte35TimeSignalApos"
        }
      }
    },
    "BadGatewayException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 502
      }
    },
    "BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 400
      }
    },
    "BatchDelete": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "InputIds": {
          "shape": "__listOf__string",
          "locationName": "inputIds"
        },
        "InputSecurityGroupIds": {
          "shape": "__listOf__string",
          "locationName": "inputSecurityGroupIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchDeleteRequest": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "InputIds": {
          "shape": "__listOf__string",
          "locationName": "inputIds"
        },
        "InputSecurityGroupIds": {
          "shape": "__listOf__string",
          "locationName": "inputSecurityGroupIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchDeleteResponse": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchDeleteResultModel": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchFailedResultModel": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn"
        },
        "Code": {
          "shape": "__string",
          "locationName": "code"
        },
        "Id": {
          "shape": "__string",
          "locationName": "id"
        },
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      }
    },
    "BatchScheduleActionCreateRequest": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "shape": "__listOfScheduleAction",
          "locationName": "scheduleActions"
        }
      },
      "required": [
        "ScheduleActions"
      ]
    },
    "BatchScheduleActionCreateResult": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "shape": "__listOfScheduleAction",
          "locationName": "scheduleActions"
        }
      },
      "required": [
        "ScheduleActions"
      ]
    },
    "BatchScheduleActionDeleteRequest": {
      "type": "structure",
      "members": {
        "ActionNames": {
          "shape": "__listOf__string",
          "locationName": "actionNames"
        }
      },
      "required": [
        "ActionNames"
      ]
    },
    "BatchScheduleActionDeleteResult": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "shape": "__listOfScheduleAction",
          "locationName": "scheduleActions"
        }
      },
      "required": [
        "ScheduleActions"
      ]
    },
    "BatchStart": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchStartRequest": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchStartResponse": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchStartResultModel": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
          "shape": "__listOfBatchSuccessfulResultModel",
          "locationName": "successful"
        }
      }
    },
    "BatchStop": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchStopRequest": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "shape": "__listOf__string",
          "locationName": "channelIds"
        },
        "MultiplexIds": {
          "shape": "__listOf__string",
          "locationName": "multiplexIds"
        }
      }
    },
    "BatchStopResponse": {
      "type": "structure",
      "members": {
        "Failed": {
          "shape": "__listOfBatchFailedResultModel",
          "locationName": "failed"
        },
        "Successful": {
[...]
