---
export const getStaticPaths = () => [{ params: { slug: "rpc" } }, { params: { slug: "rest" } }]

const { slug } = Astro.params
const openApiSchemaUrl = `/openapi/${slug}.json`
---

<!doctype html>
<html lang="en">
  <head>
    <title>{`Union ${slug.toLocaleUpperCase()} OpenAPI`}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta property="og:image:url" content="https://union.build/og.png" />
  </head>
  <body>
    <script id="api-reference" is:inline></script>
    <script is:inline define:vars={{ openApiSchemaUrl }}>
      const configuration = {
        theme: 'default',
      }
      const apiReference = document.querySelector('script#api-reference')
      if (apiReference) {
        // @ts-expect-error
        apiReference.dataset.url = openApiSchemaUrl
        apiReference.dataset.configuration = JSON.stringify(configuration)
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
  </body>
  <style>
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
  </style>
</html>
