---
import { Image } from "astro:assets"
import H1 from "../../typography/h1.astro"
import ContainedSection from "../../ContainedSection.astro"
import Spline from "../../Spline.astro"
---

<ContainedSection>
  <div class="text-center">
    <H1
      >COME SWIM <br class="sm:hidden" />WITH <span class="text-accent-500"
        >US.<br />0_______0</span
      ></H1
    >
    <Spline
      model="https://prod.spline.design/kteKpzGKO4FfHo6e/scene.splinecode"
    />
  </div>
</ContainedSection>
