---
import { Image } from "astro:assets"
import H1 from "../../typography/h1.astro"
import ButtonA from "../../ButtonA.astro"
import QuoteSubTitle from "../../typography/QuoteSubTitle.astro"
import ContainedSection from "../../ContainedSection.astro"
import Spline from "../../Spline.astro"
---

<ContainedSection>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
    <div class="flex flex-col justify-center gap-4">
      <H1>Consensus <br> verification <br> for security <br> and <span class="text-accent-500">stability</span></H1>
      <div class="max-w-[438px]">
        <QuoteSubTitle>Union eliminates intermediaries and connects blockchains directly. With Union light clients, you
          get secure, censorship-resistant connections to any ecosystem.
        </QuoteSubTitle>
      </div>
      <ButtonA>LEARN MORE >>></ButtonA>
    </div>
    <Spline model={"https://prod.spline.design/4sixqZIrgH3JFR5H/scene.splinecode"} loading="eager"/>
  </div>
</ContainedSection>
