---
import { Image } from 'astro:assets';
import H1 from "../../typography/h1.astro"
import ButtonA from "../../ButtonA.astro"
import QuoteSubTitle from "../../typography/QuoteSubTitle.astro";
import wave from "#/assets/images/spline-holders/wave-collateral.png"
---

<section class="relative flex w-full pt-16 md:pb-36">
    <div class="w-full max-w-[1920px] mx-auto px-6 z-10">
        <div class="z-20 grid grid-cols-1 gap-16 w-full">
            <div class="flex flex-col text-left items-start">
                <H1>The <br> Modular <br> <span class="text-accent-500">Ecosystem</span></H1>
            </div>
            <div class="flex flex-col items-end">
                <div class="text-right flex flex-col gap-4 md:gap-8">
                    <H1>The <br> interoperability <br> <span class="text-accent-500"><span
                            class="text-2xl">0_____________0</span> revolution</span></H1>
                    <div class="max-w-[557px] text-left flex flex-col gap-4 md:gap-8">
                        <QuoteSubTitle>
                            Connecting every blockchain, without compromising on security, efficiency,
                            decentralization, or speed.
                        </QuoteSubTitle>
                        <ButtonA href="https://app.union.build">DIVE IN >>></ButtonA>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="absolute -mt-14 md:-mt-28 w-full">
        <Image src={wave} alt="Wave Collateral" class="w-full h-auto"></Image>
    </div>
</section>
