---
import H1 from "../../typography/h1.astro";

import '../../../styles/marquee.css'

const { title, imageFolder, reverse } = Astro.props

let images;

if (imageFolder === 'pods') {
  images = await Astro.glob('/src/assets/images/marquee/pods/*.{jpeg,jpg,png,gif}');
} else if (imageFolder === 'partners') {
  images = await Astro.glob('/src/assets/images/marquee/partners/*.{jpeg,jpg,png,gif}');
}

const imageUrls = images.map(image => image.default.src);
---

<div class="pb-8">
    <div class="text-center mb-8">
        <H1>Our <span class="text-accent-500">Pod.</span></H1>
    </div>
    <article class="wrapper">
        <div class:list={[
            'marquee',
            { 'marquee--reverse': reverse }
        ]}>
            <div class="marquee__group">
              {
                imageUrls.map(url => (
                        <img src={url} alt="logo"></img>
                ))
              }
            </div>

            <div aria-hidden="true" class="marquee__group">
              {
                imageUrls.map(url => (
                        <img src={url} alt="logo"></img>
                ))
              }
            </div>
        </div>
    </article>
</div>