---
import H1 from "../../typography/h1.astro";
const images = await Astro.glob("/src/assets/images/marquee/partners/*.{jpeg,jpg,png,gif}")
const imageUrls = images.map(image => image.default.src);
import '../../../styles/marquee.css'
---

<div>
    <div class="text-center mb-8">
        <H1>Our <span class="text-accent-500">partners.</span></H1>
    </div>
    <article class="wrapper">
        <div class="marquee marquee--reverse">
            <div class="marquee__group">
                {
                    imageUrls.map(url => (
                            <img src={url} alt="partner logo">
                    ))
                }
            </div>

            <div aria-hidden="true" class="marquee__group">
                {
                    imageUrls.map(url => (
                            <img src={url} alt="partner logo">
                    ))
                }
            </div>
        </div>
    </article>
</div>