---
import { Image } from "astro:assets"
import H1 from "../../typography/h1.astro"
import ButtonA from "../../ButtonA.astro"
import Subtitle from "../../typography/subtitle.astro"
import whale from "#/assets/images/spline-holders/whale.png"
import ContainedSection from "../../ContainedSection.astro"
---

<ContainedSection>
  <div class="relative flex w-full h-fit">
    <div class="absolute inset-0 flex items-center justify-center flex-col text-center z-10 h-full">
      <H1><span class="text-accent-500">
                    Z</span>ero <span class="text-accent-500">k</span>nowledge cryptography <br>
        = <br>
        <span class="text-accent-500">high speed. low cost</span>
      </H1>
      <div class="text-3xl max-w-[1037px] py-4 sm:py-8">
        <Subtitle>It takes only 6 seconds to generate a Union ZK proof,<br>securing thousands of transfers on
          hundreds of chains
        </Subtitle>
      </div>
      <ButtonA>START SWIMMING >>></ButtonA>
    </div>
    <Image src={whale} alt="Wave Collateral" class="object-contain h-auto opacity-60"></Image>
  </div>
</ContainedSection>
