{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-08-07",
    "endpointPrefix":"models-v2-lex",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Lex Models V2",
    "serviceFullName":"Amazon Lex Model Building V2",
    "serviceId":"Lex Models V2",
    "signatureVersion":"v4",
    "signingName":"lex",
    "uid":"models.lex.v2-2020-08-07"
  },
  "operations":{
    "BatchCreateCustomVocabularyItem":{
      "name":"BatchCreateCustomVocabularyItem",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchcreate",
        "responseCode":200
      },
      "input":{"shape":"BatchCreateCustomVocabularyItemRequest"},
      "output":{"shape":"BatchCreateCustomVocabularyItemResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "BatchDeleteCustomVocabularyItem":{
      "name":"BatchDeleteCustomVocabularyItem",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchdelete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteCustomVocabularyItemRequest"},
      "output":{"shape":"BatchDeleteCustomVocabularyItemResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "BatchUpdateCustomVocabularyItem":{
      "name":"BatchUpdateCustomVocabularyItem",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchupdate",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateCustomVocabularyItemRequest"},
      "output":{"shape":"BatchUpdateCustomVocabularyItemResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "BuildBotLocale":{
      "name":"BuildBotLocale",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode":202
      },
      "input":{"shape":"BuildBotLocaleRequest"},
      "output":{"shape":"BuildBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateBot":{
      "name":"CreateBot",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotRequest"},
      "output":{"shape":"CreateBotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateBotAlias":{
      "name":"CreateBotAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botaliases/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotAliasRequest"},
      "output":{"shape":"CreateBotAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateBotLocale":{
      "name":"CreateBotLocale",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotLocaleRequest"},
      "output":{"shape":"CreateBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateBotReplica":{
      "name":"CreateBotReplica",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/replicas/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotReplicaRequest"},
      "output":{"shape":"CreateBotReplicaResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateBotVersion":{
      "name":"CreateBotVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotVersionRequest"},
      "output":{"shape":"CreateBotVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateExport":{
      "name":"CreateExport",
      "http":{
        "method":"PUT",
        "requestUri":"/exports/",
        "responseCode":202
      },
      "input":{"shape":"CreateExportRequest"},
      "output":{"shape":"CreateExportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateIntent":{
      "name":"CreateIntent",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode":200
      },
      "input":{"shape":"CreateIntentRequest"},
      "output":{"shape":"CreateIntentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateResourcePolicy":{
      "name":"CreateResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/policy/{resourceArn}/",
        "responseCode":200
      },
      "input":{"shape":"CreateResourcePolicyRequest"},
      "output":{"shape":"CreateResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateResourcePolicyStatement":{
      "name":"CreateResourcePolicyStatement",
      "http":{
        "method":"POST",
        "requestUri":"/policy/{resourceArn}/statements/",
        "responseCode":200
      },
      "input":{"shape":"CreateResourcePolicyStatementRequest"},
      "output":{"shape":"CreateResourcePolicyStatementResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "CreateSlot":{
      "name":"CreateSlot",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
        "responseCode":200
      },
      "input":{"shape":"CreateSlotRequest"},
      "output":{"shape":"CreateSlotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateSlotType":{
      "name":"CreateSlotType",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode":200
      },
      "input":{"shape":"CreateSlotTypeRequest"},
      "output":{"shape":"CreateSlotTypeResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateTestSetDiscrepancyReport":{
      "name":"CreateTestSetDiscrepancyReport",
      "http":{
        "method":"POST",
        "requestUri":"/testsets/{testSetId}/testsetdiscrepancy",
        "responseCode":202
      },
      "input":{"shape":"CreateTestSetDiscrepancyReportRequest"},
      "output":{"shape":"CreateTestSetDiscrepancyReportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "CreateUploadUrl":{
      "name":"CreateUploadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/createuploadurl/",
        "responseCode":200
      },
      "input":{"shape":"CreateUploadUrlRequest"},
      "output":{"shape":"CreateUploadUrlResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteBot":{
      "name":"DeleteBot",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotRequest"},
      "output":{"shape":"DeleteBotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteBotAlias":{
      "name":"DeleteBotAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotAliasRequest"},
      "output":{"shape":"DeleteBotAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteBotLocale":{
      "name":"DeleteBotLocale",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotLocaleRequest"},
      "output":{"shape":"DeleteBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteBotReplica":{
      "name":"DeleteBotReplica",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/replicas/{replicaRegion}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotReplicaRequest"},
      "output":{"shape":"DeleteBotReplicaResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteBotVersion":{
      "name":"DeleteBotVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotVersionRequest"},
      "output":{"shape":"DeleteBotVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteCustomVocabulary":{
      "name":"DeleteCustomVocabulary",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary",
        "responseCode":202
      },
      "input":{"shape":"DeleteCustomVocabularyRequest"},
      "output":{"shape":"DeleteCustomVocabularyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteExport":{
      "name":"DeleteExport",
      "http":{
        "method":"DELETE",
        "requestUri":"/exports/{exportId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteExportRequest"},
      "output":{"shape":"DeleteExportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteImport":{
      "name":"DeleteImport",
      "http":{
        "method":"DELETE",
        "requestUri":"/imports/{importId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteImportRequest"},
      "output":{"shape":"DeleteImportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteIntent":{
      "name":"DeleteIntent",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteIntentRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/policy/{resourceArn}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteResourcePolicyStatement":{
      "name":"DeleteResourcePolicyStatement",
      "http":{
        "method":"DELETE",
        "requestUri":"/policy/{resourceArn}/statements/{statementId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteResourcePolicyStatementRequest"},
      "output":{"shape":"DeleteResourcePolicyStatementResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DeleteSlot":{
      "name":"DeleteSlot",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteSlotRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteSlotType":{
      "name":"DeleteSlotType",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteSlotTypeRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteTestSet":{
      "name":"DeleteTestSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/testsets/{testSetId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteTestSetRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteUtterances":{
      "name":"DeleteUtterances",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/utterances/",
        "responseCode":204
      },
      "input":{"shape":"DeleteUtterancesRequest"},
      "output":{"shape":"DeleteUtterancesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeBot":{
      "name":"DescribeBot",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotRequest"},
      "output":{"shape":"DescribeBotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeBotAlias":{
      "name":"DescribeBotAlias",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotAliasRequest"},
      "output":{"shape":"DescribeBotAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeBotLocale":{
      "name":"DescribeBotLocale",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotLocaleRequest"},
      "output":{"shape":"DescribeBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeBotRecommendation":{
      "name":"DescribeBotRecommendation",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotRecommendationRequest"},
      "output":{"shape":"DescribeBotRecommendationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeBotReplica":{
      "name":"DescribeBotReplica",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/replicas/{replicaRegion}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotReplicaRequest"},
      "output":{"shape":"DescribeBotReplicaResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeBotResourceGeneration":{
      "name":"DescribeBotResourceGeneration",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/generations/{generationId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotResourceGenerationRequest"},
      "output":{"shape":"DescribeBotResourceGenerationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeBotVersion":{
      "name":"DescribeBotVersion",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotVersionRequest"},
      "output":{"shape":"DescribeBotVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeCustomVocabularyMetadata":{
      "name":"DescribeCustomVocabularyMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/metadata",
        "responseCode":200
      },
      "input":{"shape":"DescribeCustomVocabularyMetadataRequest"},
      "output":{"shape":"DescribeCustomVocabularyMetadataResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeExport":{
      "name":"DescribeExport",
      "http":{
        "method":"GET",
        "requestUri":"/exports/{exportId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeExportRequest"},
      "output":{"shape":"DescribeExportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeImport":{
      "name":"DescribeImport",
      "http":{
        "method":"GET",
        "requestUri":"/imports/{importId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeImportRequest"},
      "output":{"shape":"DescribeImportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeIntent":{
      "name":"DescribeIntent",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeIntentRequest"},
      "output":{"shape":"DescribeIntentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeResourcePolicy":{
      "name":"DescribeResourcePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/policy/{resourceArn}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeResourcePolicyRequest"},
      "output":{"shape":"DescribeResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "DescribeSlot":{
      "name":"DescribeSlot",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeSlotRequest"},
      "output":{"shape":"DescribeSlotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeSlotType":{
      "name":"DescribeSlotType",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeSlotTypeRequest"},
      "output":{"shape":"DescribeSlotTypeResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeTestExecution":{
      "name":"DescribeTestExecution",
      "http":{
        "method":"GET",
        "requestUri":"/testexecutions/{testExecutionId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTestExecutionRequest"},
      "output":{"shape":"DescribeTestExecutionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeTestSet":{
      "name":"DescribeTestSet",
      "http":{
        "method":"GET",
        "requestUri":"/testsets/{testSetId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTestSetRequest"},
      "output":{"shape":"DescribeTestSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeTestSetDiscrepancyReport":{
      "name":"DescribeTestSetDiscrepancyReport",
      "http":{
        "method":"GET",
        "requestUri":"/testsetdiscrepancy/{testSetDiscrepancyReportId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTestSetDiscrepancyReportRequest"},
      "output":{"shape":"DescribeTestSetDiscrepancyReportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DescribeTestSetGeneration":{
      "name":"DescribeTestSetGeneration",
      "http":{
        "method":"GET",
        "requestUri":"/testsetgenerations/{testSetGenerationId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTestSetGenerationRequest"},
      "output":{"shape":"DescribeTestSetGenerationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GenerateBotElement":{
      "name":"GenerateBotElement",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/generate",
        "responseCode":202
      },
      "input":{"shape":"GenerateBotElementRequest"},
      "output":{"shape":"GenerateBotElementResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetTestExecutionArtifactsUrl":{
      "name":"GetTestExecutionArtifactsUrl",
      "http":{
        "method":"GET",
        "requestUri":"/testexecutions/{testExecutionId}/artifacturl",
        "responseCode":200
      },
      "input":{"shape":"GetTestExecutionArtifactsUrlRequest"},
      "output":{"shape":"GetTestExecutionArtifactsUrlResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListAggregatedUtterances":{
      "name":"ListAggregatedUtterances",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/aggregatedutterances/",
        "responseCode":200
      },
      "input":{"shape":"ListAggregatedUtterancesRequest"},
      "output":{"shape":"ListAggregatedUtterancesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBotAliasReplicas":{
      "name":"ListBotAliasReplicas",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/replicas/{replicaRegion}/botaliases/",
        "responseCode":200
      },
      "input":{"shape":"ListBotAliasReplicasRequest"},
      "output":{"shape":"ListBotAliasReplicasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBotAliases":{
      "name":"ListBotAliases",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botaliases/",
        "responseCode":200
      },
      "input":{"shape":"ListBotAliasesRequest"},
      "output":{"shape":"ListBotAliasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBotLocales":{
      "name":"ListBotLocales",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode":200
      },
      "input":{"shape":"ListBotLocalesRequest"},
      "output":{"shape":"ListBotLocalesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBotRecommendations":{
      "name":"ListBotRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/",
        "responseCode":200
      },
      "input":{"shape":"ListBotRecommendationsRequest"},
      "output":{"shape":"ListBotRecommendationsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListBotReplicas":{
      "name":"ListBotReplicas",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/replicas/",
        "responseCode":200
      },
      "input":{"shape":"ListBotReplicasRequest"},
      "output":{"shape":"ListBotReplicasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBotResourceGenerations":{
      "name":"ListBotResourceGenerations",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/generations",
        "responseCode":200
      },
      "input":{"shape":"ListBotResourceGenerationsRequest"},
      "output":{"shape":"ListBotResourceGenerationsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListBotVersionReplicas":{
      "name":"ListBotVersionReplicas",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/replicas/{replicaRegion}/botversions/",
        "responseCode":200
      },
      "input":{"shape":"ListBotVersionReplicasRequest"},
      "output":{"shape":"ListBotVersionReplicasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBotVersions":{
      "name":"ListBotVersions",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/",
        "responseCode":200
      },
      "input":{"shape":"ListBotVersionsRequest"},
      "output":{"shape":"ListBotVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBots":{
      "name":"ListBots",
      "http":{
        "method":"POST",
        "requestUri":"/bots/",
        "responseCode":200
      },
      "input":{"shape":"ListBotsRequest"},
      "output":{"shape":"ListBotsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBuiltInIntents":{
      "name":"ListBuiltInIntents",
      "http":{
        "method":"POST",
        "requestUri":"/builtins/locales/{localeId}/intents/",
        "responseCode":200
      },
      "input":{"shape":"ListBuiltInIntentsRequest"},
      "output":{"shape":"ListBuiltInIntentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListBuiltInSlotTypes":{
      "name":"ListBuiltInSlotTypes",
      "http":{
        "method":"POST",
        "requestUri":"/builtins/locales/{localeId}/slottypes/",
        "responseCode":200
      },
      "input":{"shape":"ListBuiltInSlotTypesRequest"},
      "output":{"shape":"ListBuiltInSlotTypesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListCustomVocabularyItems":{
      "name":"ListCustomVocabularyItems",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/list",
        "responseCode":200
      },
      "input":{"shape":"ListCustomVocabularyItemsRequest"},
      "output":{"shape":"ListCustomVocabularyItemsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListExports":{
      "name":"ListExports",
      "http":{
        "method":"POST",
        "requestUri":"/exports/",
        "responseCode":200
      },
      "input":{"shape":"ListExportsRequest"},
      "output":{"shape":"ListExportsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListImports":{
      "name":"ListImports",
      "http":{
        "method":"POST",
        "requestUri":"/imports/",
        "responseCode":200
      },
      "input":{"shape":"ListImportsRequest"},
      "output":{"shape":"ListImportsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListIntentMetrics":{
      "name":"ListIntentMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/intentmetrics",
        "responseCode":200
      },
      "input":{"shape":"ListIntentMetricsRequest"},
      "output":{"shape":"ListIntentMetricsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListIntentPaths":{
      "name":"ListIntentPaths",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/intentpaths",
        "responseCode":200
      },
      "input":{"shape":"ListIntentPathsRequest"},
      "output":{"shape":"ListIntentPathsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListIntentStageMetrics":{
      "name":"ListIntentStageMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/intentstagemetrics",
        "responseCode":200
      },
      "input":{"shape":"ListIntentStageMetricsRequest"},
      "output":{"shape":"ListIntentStageMetricsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListIntents":{
      "name":"ListIntents",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode":200
      },
      "input":{"shape":"ListIntentsRequest"},
      "output":{"shape":"ListIntentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListRecommendedIntents":{
      "name":"ListRecommendedIntents",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/intents",
        "responseCode":200
      },
      "input":{"shape":"ListRecommendedIntentsRequest"},
      "output":{"shape":"ListRecommendedIntentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "ListSessionAnalyticsData":{
      "name":"ListSessionAnalyticsData",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/sessions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionAnalyticsDataRequest"},
      "output":{"shape":"ListSessionAnalyticsDataResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListSessionMetrics":{
      "name":"ListSessionMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/sessionmetrics",
        "responseCode":200
      },
      "input":{"shape":"ListSessionMetricsRequest"},
      "output":{"shape":"ListSessionMetricsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListSlotTypes":{
      "name":"ListSlotTypes",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode":200
      },
      "input":{"shape":"ListSlotTypesRequest"},
      "output":{"shape":"ListSlotTypesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListSlots":{
      "name":"ListSlots",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
        "responseCode":200
      },
      "input":{"shape":"ListSlotsRequest"},
      "output":{"shape":"ListSlotsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ]
    },
    "ListTestExecutionResultItems":{
      "name":"ListTestExecutionResultItems",
      "http":{
        "method":"POST",
        "requestUri":"/testexecutions/{testExecutionId}/results",
        "responseCode":200
      },
      "input":{"shape":"ListTestExecutionResultItemsRequest"},
      "output":{"shape":"ListTestExecutionResultItemsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTestExecutions":{
      "name":"ListTestExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/testexecutions",
        "responseCode":200
      },
      "input":{"shape":"ListTestExecutionsRequest"},
      "output":{"shape":"ListTestExecutionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTestSetRecords":{
      "name":"ListTestSetRecords",
      "http":{
        "method":"POST",
        "requestUri":"/testsets/{testSetId}/records",
        "responseCode":200
      },
      "input":{"shape":"ListTestSetRecordsRequest"},
      "output":{"shape":"ListTestSetRecordsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListTestSets":{
      "name":"ListTestSets",
      "http":{
        "method":"POST",
        "requestUri":"/testsets",
        "responseCode":200
      },
      "input":{"shape":"ListTestSetsRequest"},
      "output":{"shape":"ListTestSetsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListUtteranceAnalyticsData":{
      "name":"ListUtteranceAnalyticsData",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/utterances",
        "responseCode":200
      },
      "input":{"shape":"ListUtteranceAnalyticsDataRequest"},
      "output":{"shape":"ListUtteranceAnalyticsDataResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "ListUtteranceMetrics":{
      "name":"ListUtteranceMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/utterancemetrics",
        "responseCode":200
      },
      "input":{"shape":"ListUtteranceMetricsRequest"},
      "output":{"shape":"ListUtteranceMetricsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ]
    },
    "SearchAssociatedTranscripts":{
      "name":"SearchAssociatedTranscripts",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/associatedtranscripts",
        "responseCode":200
      },
      "input":{"shape":"SearchAssociatedTranscriptsRequest"},
      "output":{"shape":"SearchAssociatedTranscriptsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ]
    },
    "StartBotRecommendation":{
      "name":"StartBotRecommendation",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/",
        "responseCode":202
      },
      "input":{"shape":"StartBotRecommendationRequest"},
      "output":{"shape":"StartBotRecommendationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartBotResourceGeneration":{
      "name":"StartBotResourceGeneration",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/startgeneration",
        "responseCode":202
      },
      "input":{"shape":"StartBotResourceGenerationRequest"},
      "output":{"shape":"StartBotResourceGenerationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "StartImport":{
      "name":"StartImport",
      "http":{
        "method":"PUT",
        "requestUri":"/imports/",
        "responseCode":202
      },
      "input":{"shape":"StartImportRequest"},
      "output":{"shape":"StartImportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartTestExecution":{
      "name":"StartTestExecution",
      "http":{
        "method":"POST",
        "requestUri":"/testsets/{testSetId}/testexecutions",
        "responseCode":202
      },
      "input":{"shape":"StartTestExecutionRequest"},
      "output":{"shape":"StartTestExecutionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StartTestSetGeneration":{
      "name":"StartTestSetGeneration",
      "http":{
        "method":"PUT",
        "requestUri":"/testsetgenerations",
        "responseCode":202
      },
      "input":{"shape":"StartTestSetGenerationRequest"},
      "output":{"shape":"StartTestSetGenerationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "StopBotRecommendation":{
      "name":"StopBotRecommendation",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/stopbotrecommendation",
        "responseCode":202
      },
      "input":{"shape":"StopBotRecommendationRequest"},
      "output":{"shape":"StopBotRecommendationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ]
    },
    "UpdateBot":{
      "name":"UpdateBot",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateBotRequest"},
      "output":{"shape":"UpdateBotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateBotAlias":{
      "name":"UpdateBotAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateBotAliasRequest"},
      "output":{"shape":"UpdateBotAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateBotLocale":{
      "name":"UpdateBotLocale",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateBotLocaleRequest"},
      "output":{"shape":"UpdateBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateBotRecommendation":{
      "name":"UpdateBotRecommendation",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateBotRecommendationRequest"},
      "output":{"shape":"UpdateBotRecommendationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateExport":{
      "name":"UpdateExport",
      "http":{
        "method":"PUT",
        "requestUri":"/exports/{exportId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateExportRequest"},
      "output":{"shape":"UpdateExportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateIntent":{
      "name":"UpdateIntent",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateIntentRequest"},
      "output":{"shape":"UpdateIntentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateResourcePolicy":{
      "name":"UpdateResourcePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/policy/{resourceArn}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateResourcePolicyRequest"},
      "output":{"shape":"UpdateResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ]
    },
    "UpdateSlot":{
      "name":"UpdateSlot",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateSlotRequest"},
      "output":{"shape":"UpdateSlotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateSlotType":{
      "name":"UpdateSlotType",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateSlotTypeRequest"},
      "output":{"shape":"UpdateSlotTypeResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateTestSet":{
      "name":"UpdateTestSet",
      "http":{
        "method":"PUT",
        "requestUri":"/testsets/{testSetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateTestSetRequest"},
      "output":{"shape":"UpdateTestSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "ActiveContext":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"ActiveContextName"}
      }
    },
    "ActiveContextList":{
      "type":"list",
      "member":{"shape":"ActiveContext"},
      "max":20,
      "min":0
    },
    "ActiveContextName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^([A-Za-z]_?)+$"
    },
    "AdvancedRecognitionSetting":{
      "type":"structure",
      "members":{
        "audioRecognitionStrategy":{"shape":"AudioRecognitionStrategy"}
      }
    },
    "AgentTurnResult":{
      "type":"structure",
      "required":["expectedAgentPrompt"],
      "members":{
        "expectedAgentPrompt":{"shape":"TestSetAgentPrompt"},
        "actualAgentPrompt":{"shape":"TestSetAgentPrompt"},
        "errorDetails":{"shape":"ExecutionErrorDetails"},
        "actualElicitedSlot":{"shape":"TestResultSlotName"},
        "actualIntent":{"shape":"Name"}
      }
    },
    "AgentTurnSpecification":{
      "type":"structure",
      "required":["agentPrompt"],
      "members":{
        "agentPrompt":{"shape":"TestSetAgentPrompt"}
      }
    },
    "AggregatedUtterancesFilter":{
      "type":"structure",
      "required":[
        "name",
        "values",
        "operator"
      ],
      "members":{
        "name":{"shape":"AggregatedUtterancesFilterName"},
        "values":{"shape":"FilterValues"},
        "operator":{"shape":"AggregatedUtterancesFilterOperator"}
      }
    },
    "AggregatedUtterancesFilterName":{
      "type":"string",
      "enum":["Utterance"]
    },
    "AggregatedUtterancesFilterOperator":{
      "type":"string",
      "enum":[
        "CO",
        "EQ"
      ]
    },
    "AggregatedUtterancesFilters":{
      "type":"list",
      "member":{"shape":"AggregatedUtterancesFilter"},
      "max":1,
      "min":1
    },
    "AggregatedUtterancesSortAttribute":{
      "type":"string",
      "enum":[
        "HitCount",
        "MissedCount"
      ]
    },
    "AggregatedUtterancesSortBy":{
      "type":"structure",
      "required":[
        "attribute",
        "order"
      ],
      "members":{
        "attribute":{"shape":"AggregatedUtterancesSortAttribute"},
        "order":{"shape":"SortOrder"}
      }
    },
    "AggregatedUtterancesSummary":{
      "type":"structure",
      "members":{
        "utterance":{"shape":"Utterance"},
        "hitCount":{"shape":"HitCount"},
        "missedCount":{"shape":"MissedCount"},
        "utteranceFirstRecordedInAggregationDuration":{"shape":"Timestamp"},
        "utteranceLastRecordedInAggregationDuration":{"shape":"Timestamp"},
        "containsDataFromDeletedResources":{"shape":"BoxedBoolean"}
      }
    },
    "AggregatedUtterancesSummaryList":{
      "type":"list",
      "member":{"shape":"AggregatedUtterancesSummary"}
    },
    "AllowedInputTypes":{
      "type":"structure",
      "required":[
        "allowAudioInput",
        "allowDTMFInput"
      ],
      "members":{
        "allowAudioInput":{"shape":"BoxedBoolean"},
        "allowDTMFInput":{"shape":"BoxedBoolean"}
      }
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "AnalyticsBinByList":{
      "type":"list",
      "member":{"shape":"AnalyticsBinBySpecification"},
      "max":1,
      "min":1
    },
    "AnalyticsBinByName":{
      "type":"string",
      "enum":[
        "ConversationStartTime",
        "UtteranceTimestamp"
      ]
    },
    "AnalyticsBinBySpecification":{
      "type":"structure",
      "required":[
        "name",
        "interval"
      ],
      "members":{
        "name":{"shape":"AnalyticsBinByName"},
        "interval":{"shape":"AnalyticsInterval"},
        "order":{"shape":"AnalyticsSortOrder"}
      }
    },
    "AnalyticsBinKey":{
      "type":"structure",
      "members":{
        "name":{"shape":"AnalyticsBinByName"},
        "value":{"shape":"AnalyticsBinValue"}
      }
    },
    "AnalyticsBinKeys":{
      "type":"list",
      "member":{"shape":"AnalyticsBinKey"},
      "max":1,
      "min":1
    },
    "AnalyticsBinValue":{"type":"long"},
    "AnalyticsChannel":{
      "type":"string",
      "max":50,
      "min":1
    },
    "AnalyticsCommonFilterName":{
      "type":"string",
      "enum":[
        "BotAliasId",
        "BotVersion",
        "LocaleId",
        "Modality",
        "Channel"
      ]
    },
    "AnalyticsFilterOperator":{
      "type":"string",
      "enum":[
        "EQ",
        "GT",
        "LT"
      ]
    },
    "AnalyticsFilterValue":{"type":"string"},
    "AnalyticsFilterValues":{
      "type":"list",
      "member":{"shape":"AnalyticsFilterValue"},
      "max":5,
      "min":1
    },
    "AnalyticsGroupByValue":{"type":"string"},
    "AnalyticsIntentField":{
      "type":"string",
      "enum":[
        "IntentName",
        "IntentEndState",
        "IntentLevel"
      ]
    },
    "AnalyticsIntentFilter":{
      "type":"structure",
      "required":[
        "name",
        "operator",
        "values"
      ],
      "members":{
        "name":{"shape":"AnalyticsIntentFilterName"},
        "operator":{"shape":"AnalyticsFilterOperator"},
        "values":{"shape":"AnalyticsFilterValues"}
      }
    },
    "AnalyticsIntentFilterName":{
      "type":"string",
      "enum":[
        "BotAliasId",
        "BotVersion",
        "LocaleId",
        "Modality",
        "Channel",
        "SessionId",
        "OriginatingRequestId",
        "IntentName",
        "IntentEndState"
      ]
    },
    "AnalyticsIntentFilters":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentFilter"},
      "max":9,
      "min":1
    },
    "AnalyticsIntentGroupByKey":{
      "type":"structure",
      "members":{
        "name":{"shape":"AnalyticsIntentField"},
        "value":{"shape":"AnalyticsGroupByValue"}
      }
    },
    "AnalyticsIntentGroupByKeys":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentGroupByKey"}
    },
    "AnalyticsIntentGroupByList":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentGroupBySpecification"},
      "max":3,
      "min":1
    },
    "AnalyticsIntentGroupBySpecification":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"AnalyticsIntentField"}
      }
    },
    "AnalyticsIntentMetric":{
      "type":"structure",
      "required":[
        "name",
        "statistic"
      ],
      "members":{
        "name":{"shape":"AnalyticsIntentMetricName"},
        "statistic":{"shape":"AnalyticsMetricStatistic"},
        "order":{"shape":"AnalyticsSortOrder"}
      }
    },
    "AnalyticsIntentMetricName":{
      "type":"string",
      "enum":[
        "Count",
        "Success",
        "Failure",
        "Switched",
        "Dropped"
      ]
    },
    "AnalyticsIntentMetricResult":{
      "type":"structure",
      "members":{
        "name":{"shape":"AnalyticsIntentMetricName"},
        "statistic":{"shape":"AnalyticsMetricStatistic"},
        "value":{"shape":"AnalyticsMetricValue"}
      }
    },
    "AnalyticsIntentMetricResults":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentMetricResult"}
    },
    "AnalyticsIntentMetrics":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentMetric"},
      "max":5,
      "min":1
    },
    "AnalyticsIntentNodeSummaries":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentNodeSummary"},
      "max":100,
      "min":1
    },
    "AnalyticsIntentNodeSummary":{
      "type":"structure",
      "members":{
        "intentName":{"shape":"Name"},
        "intentPath":{"shape":"AnalyticsPath"},
        "intentCount":{"shape":"AnalyticsNodeCount"},
        "intentLevel":{"shape":"AnalyticsNodeLevel"},
        "nodeType":{"shape":"AnalyticsNodeType"}
      }
    },
    "AnalyticsIntentResult":{
      "type":"structure",
      "members":{
        "binKeys":{"shape":"AnalyticsBinKeys"},
        "groupByKeys":{"shape":"AnalyticsIntentGroupByKeys"},
        "metricsResults":{"shape":"AnalyticsIntentMetricResults"}
      }
    },
    "AnalyticsIntentResults":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentResult"}
    },
    "AnalyticsIntentStageField":{
      "type":"string",
      "enum":[
        "IntentStageName",
        "SwitchedToIntent"
      ]
    },
    "AnalyticsIntentStageFilter":{
      "type":"structure",
      "required":[
        "name",
        "operator",
        "values"
      ],
      "members":{
        "name":{"shape":"AnalyticsIntentStageFilterName"},
        "operator":{"shape":"AnalyticsFilterOperator"},
        "values":{"shape":"AnalyticsFilterValues"}
      }
    },
    "AnalyticsIntentStageFilterName":{
      "type":"string",
      "enum":[
        "BotAliasId",
        "BotVersion",
        "LocaleId",
        "Modality",
        "Channel",
        "SessionId",
        "OriginatingRequestId",
        "IntentName",
        "IntentStageName"
      ]
    },
    "AnalyticsIntentStageFilters":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentStageFilter"},
      "max":9,
      "min":1
    },
    "AnalyticsIntentStageGroupByKey":{
      "type":"structure",
      "members":{
        "name":{"shape":"AnalyticsIntentStageField"},
        "value":{"shape":"AnalyticsGroupByValue"}
      }
    },
    "AnalyticsIntentStageGroupByKeys":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentStageGroupByKey"}
    },
    "AnalyticsIntentStageGroupByList":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentStageGroupBySpecification"},
      "max":2,
      "min":1
    },
    "AnalyticsIntentStageGroupBySpecification":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"AnalyticsIntentStageField"}
      }
    },
    "AnalyticsIntentStageMetric":{
      "type":"structure",
      "required":[
        "name",
        "statistic"
      ],
      "members":{
        "name":{"shape":"AnalyticsIntentStageMetricName"},
        "statistic":{"shape":"AnalyticsMetricStatistic"},
        "order":{"shape":"AnalyticsSortOrder"}
      }
    },
    "AnalyticsIntentStageMetricName":{
      "type":"string",
      "enum":[
        "Count",
        "Success",
        "Failed",
        "Dropped",
        "Retry"
      ]
    },
    "AnalyticsIntentStageMetricResult":{
      "type":"structure",
      "members":{
        "name":{"shape":"AnalyticsIntentStageMetricName"},
        "statistic":{"shape":"AnalyticsMetricStatistic"},
        "value":{"shape":"AnalyticsMetricValue"}
      }
    },
    "AnalyticsIntentStageMetricResults":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentStageMetricResult"}
    },
    "AnalyticsIntentStageMetrics":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentStageMetric"},
      "max":5,
      "min":1
    },
    "AnalyticsIntentStageResult":{
      "type":"structure",
      "members":{
        "binKeys":{"shape":"AnalyticsBinKeys"},
        "groupByKeys":{"shape":"AnalyticsIntentStageGroupByKeys"},
        "metricsResults":{"shape":"AnalyticsIntentStageMetricResults"}
      }
    },
    "AnalyticsIntentStageResults":{
      "type":"list",
      "member":{"shape":"AnalyticsIntentStageResult"}
    },
    "AnalyticsInterval":{
      "type":"string",
      "enum":[
        "OneHour",
        "OneDay"
      ]
    },
    "AnalyticsLongValue":{"type":"long"},
    "AnalyticsMetricStatistic":{
      "type":"string",
      "enum":[
        "Sum",
        "Avg",
        "Max"
      ]
    },
    "AnalyticsMetricValue":{"type":"double"},
    "AnalyticsModality":{
      "type":"string",
      "enum":[
        "Speech",
        "Text",
        "DTMF",
        "MultiMode"
      ]
    },
    "AnalyticsNodeCount":{"type":"integer"},
    "AnalyticsNodeLevel":{
      "type":"integer",
      "max":100,
      "min":0
    },
    "AnalyticsNodeType":{
      "type":"string",
      "enum":[
        "Inner",
        "Exit"
      ]
    },
    "AnalyticsOriginatingRequestId":{"type":"string"},
    "AnalyticsPath":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "AnalyticsPathFilter":{
      "type":"structure",
      "required":[
        "name",
        "operator",
        "values"
      ],
      "members":{
        "name":{"shape":"AnalyticsCommonFilterName"},
        "operator":{"shape":"AnalyticsFilterOperator"},
        "values":{"shape":"AnalyticsFilterValues"}
      }
    },
    "AnalyticsPathFilters":{
      "type":"list",
      "member":{"shape":"AnalyticsPathFilter"},
      "max":5,
      "min":1
    },
    "AnalyticsSessionField":{
      "type":"string",
      "enum":[
        "ConversationEndState",
        "LocaleId"
      ]
    },
    "AnalyticsSessionFilter":{
      "type":"structure",
      "required":[
        "name",
        "operator",
        "values"
      ],
      "members":{
        "name":{"shape":"AnalyticsSessionFilterName"},
        "operator":{"shape":"AnalyticsFilterOperator"},
        "values":{"shape":"AnalyticsFilterValues"}
      }
    },
    "AnalyticsSessionFilterName":{
      "type":"string",
      "enum":[
        "BotAliasId",
        "BotVersion",
        "LocaleId",
        "Modality",
        "Channel",
        "Duration",
        "ConversationEndState",
        "SessionId",
        "OriginatingRequestId",
        "IntentPath"
      ]
    },
    "AnalyticsSessionFilters":{
      "type":"list",
      "member":{"shape":"AnalyticsSessionFilter"},
      "max":10,
      "min":1
    },
    "AnalyticsSessionGroupByKey":{
      "type":"structure",
      "members":{
        "name":{"shape":"AnalyticsSessionField"},
        "value":{"shape":"AnalyticsGroupByValue"}
      }
    },
    "AnalyticsSessionGroupByKeys":{
      "type":"list",
      "member":{"shape":"AnalyticsSessionGroupByKey"}
    },
    "AnalyticsSessionGroupByList":{
      "type":"list",
      "member":{"shape":"AnalyticsSessionGroupBySpecification"},
      "max":2,
      "min":1
    },
    "AnalyticsSessionGroupBySpecification":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"AnalyticsSessionField"}
      }
    },
    "AnalyticsSessionId":{
      "type":"string",
      "pattern":"[0-9a-zA-Z._:-]"
    },
    "AnalyticsSessionMetric":{
      "type":"structure",
      "required":[
        "name",
        "statistic"
      ],
      "members":{
        "name":{"shape":"AnalyticsSessionMetricName"},
        "statistic":{"shape":"AnalyticsMetricStatistic"},
        "order":{"shape":"AnalyticsSortOrder"}
      }
    },
    "AnalyticsSessionMetricName":{
      "type":"string",
      "enum":[
        "Count",
        "Success",
        "Failure",
        "Dropped",
        "Duration",
        "TurnsPerConversation",
        "Concurrency"
      ]
    },
    "AnalyticsSessionMetricResult":{
      "type":"structure",
      "members":{
        "name":{"shape":"AnalyticsSessionMetricName"},
        "statistic":{"shape":"AnalyticsMetricStatistic"},
        "value":{"shape":"AnalyticsMetricValue"}
      }
    },
    "AnalyticsSessionMetricResults":{
      "type":"list",
      "member":{"shape":"AnalyticsSessionMetricResult"}
    },
    "AnalyticsSessionMetrics":{
      "type":"list",
      "member":{"shape":"AnalyticsSessionMetric"},
      "max":7,
      "min":1
    },
    "AnalyticsSessionResult":{
      "type":"structure",
      "members":{
        "binKeys":{"shape":"AnalyticsBinKeys"},
        "groupByKeys":{"shape":"AnalyticsSessionGroupByKeys"},
        "metricsResults":{"shape":"AnalyticsSessionMetricResults"}
      }
    },
    "AnalyticsSessionResults":{
      "type":"list",
      "member":{"shape":"AnalyticsSessionResult"}
    },
    "AnalyticsSessionSortByName":{
      "type":"string",
      "enum":[
        "ConversationStartTime",
        "NumberOfTurns",
        "Duration"
      ]
    },
    "AnalyticsSortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "AnalyticsUtteranceAttribute":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"AnalyticsUtteranceAttributeName"}
      }
    },
    "AnalyticsUtteranceAttributeName":{
      "type":"string",
      "enum":["LastUsedIntent"]
    },
    "AnalyticsUtteranceAttributeResult":{
      "type":"structure",
      "members":{
        "lastUsedIntent":{"shape":"Name"}
      }
    },
    "AnalyticsUtteranceAttributeResults":{
      "type":"list",
      "member":{"shape":"AnalyticsUtteranceAttributeResult"}
    },
    "AnalyticsUtteranceAttributes":{
      "type":"list",
      "member":{"shape":"AnalyticsUtteranceAttribute"},
      "max":1,
      "min":1
    },
    "AnalyticsUtteranceField":{
      "type":"string",
      "enum":[
        "UtteranceText",
        "UtteranceState"
      ]
    },
    "AnalyticsUtteranceFilter":{
      "type":"structure",
      "required":[
        "name",
        "operator",
        "values"
      ],
      "members":{
        "name":{"shape":"AnalyticsUtteranceFilterName"},
        "operator":{"shape":"AnalyticsFilterOperator"},
        "values":{"shape":"AnalyticsFilterValues"}
      }
    },
    "AnalyticsUtteranceFilterName":{
      "type":"string",
      "enum":[
        "BotAliasId",
        "BotVersion",
        "LocaleId",
        "Modality",
        "Channel",
        "SessionId",
        "OriginatingRequestId",
        "UtteranceState",
        "UtteranceText"
      ]
    },
    "AnalyticsUtteranceFilters":{
      "type":"list",
      "member":{"shape":"AnalyticsUtteranceFilter"},
      "max":9,
      "min":1
    },
    "AnalyticsUtteranceGroupByKey":{
      "type":"structure",
      "members":{
        "name":{"shape":"AnalyticsUtteranceField"},
        "value":{"shape":"AnalyticsGroupByValue"}
      }
    },
    "AnalyticsUtteranceGroupByKeys":{
      "type":"list",
      "member":{"shape":"AnalyticsUtteranceGroupByKey"}
    },
    "AnalyticsUtteranceGroupByList":{
      "type":"list",
      "member":{"shape":"AnalyticsUtteranceGroupBySpecification"},
      "max":2,
      "min":1
    },
    "AnalyticsUtteranceGroupBySpecification":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"AnalyticsUtteranceField"}
      }
    },
    "AnalyticsUtteranceMetric":{
      "type":"structure",
      "required":[
        "name",
        "statistic"
      ],
      "members":{
        "name":{"shape":"AnalyticsUtteranceMetricName"},
        "statistic":{"shape":"AnalyticsMetricStatistic"},
        "order":{"shape":"AnalyticsSortOrder"}
      }
    },
    "AnalyticsUtteranceMetricName":{
      "type":"string",
      "enum":[
        "Count",
        "Missed",
        "Detected",
        "UtteranceTimestamp"
      ]
    },
    "AnalyticsUtteranceMetricResult":{
      "type":"structure",
      "members":{
        "name":{"shape":"AnalyticsUtteranceMetricName"},
        "statistic":{"shape":"AnalyticsMetricStatistic"},
        "value":{"shape":"AnalyticsMetricValue"}
      }
    },
    "AnalyticsUtteranceMetricResults":{
      "type":"list",
      "member":{"shape":"AnalyticsUtteranceMetricResult"}
    },
    "AnalyticsUtteranceMetrics":{
      "type":"list",
      "member":{"shape":"AnalyticsUtteranceMetric"},
      "max":4,
      "min":1
    },
    "AnalyticsUtteranceResult":{
      "type":"structure",
      "members":{
        "binKeys":{"shape":"AnalyticsBinKeys"},
        "groupByKeys":{"shape":"AnalyticsUtteranceGroupByKeys"},
        "metricsResults":{"shape":"AnalyticsUtteranceMetricResults"},
        "attributeResults":{"shape":"AnalyticsUtteranceAttributeResults"}
      }
    },
    "AnalyticsUtteranceResults":{
      "type":"list",
      "member":{"shape":"AnalyticsUtteranceResult"}
    },
    "AnalyticsUtteranceSortByName":{
      "type":"string",
      "enum":["UtteranceTimestamp"]
    },
    "AnswerField":{"type":"string"},
    "AssociatedTranscript":{
      "type":"structure",
      "members":{
        "transcript":{"shape":"Transcript"}
      }
    },
    "AssociatedTranscriptFilter":{
      "type":"structure",
      "required":[
        "name",
        "values"
      ],
      "members":{
        "name":{"shape":"AssociatedTranscriptFilterName"},
        "values":{"shape":"FilterValues"}
      }
    },
    "AssociatedTranscriptFilterName":{
      "type":"string",
      "enum":[
        "IntentId",
        "SlotTypeId"
      ]
    },
    "AssociatedTranscriptFilters":{
      "type":"list",
      "member":{"shape":"AssociatedTranscriptFilter"},
      "max":1,
      "min":1
    },
    "AssociatedTranscriptList":{
      "type":"list",
      "member":{"shape":"AssociatedTranscript"}
    },
    "AttachmentTitle":{
      "type":"string",
      "max":250,
      "min":1
    },
    "AttachmentUrl":{
      "type":"string",
      "max":250,
      "min":1
    },
    "AudioAndDTMFInputSpecification":{
      "type":"structure",
      "required":["startTimeoutMs"],
      "members":{
        "startTimeoutMs":{"shape":"TimeInMilliSeconds"},
        "audioSpecification":{"shape":"AudioSpecification"},
        "dtmfSpecification":{"shape":"DTMFSpecification"}
      }
    },
    "AudioFileS3Location":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^s3://([a-z0-9\\\\.-]+)/(.+)$"
    },
    "AudioLogDestination":{
      "type":"structure",
      "required":["s3Bucket"],
      "members":{
        "s3Bucket":{"shape":"S3BucketLogDestination"}
      }
    },
    "AudioLogSetting":{
      "type":"structure",
      "required":[
        "enabled",
        "destination"
      ],
      "members":{
        "enabled":{"shape":"Boolean"},
        "destination":{"shape":"AudioLogDestination"},
        "selectiveLoggingEnabled":{"shape":"BoxedBoolean"}
      }
    },
    "AudioLogSettingsList":{
      "type":"list",
      "member":{"shape":"AudioLogSetting"},
      "max":1,
      "min":1
    },
    "AudioRecognitionStrategy":{
      "type":"string",
      "enum":["UseSlotValuesAsCustomVocabulary"]
    },
    "AudioSpecification":{
      "type":"structure",
      "required":[
        "maxLengthMs",
        "endTimeoutMs"
      ],
      "members":{
        "maxLengthMs":{"shape":"TimeInMilliSeconds"},
        "endTimeoutMs":{"shape":"TimeInMilliSeconds"}
      }
    },
    "BatchCreateCustomVocabularyItemRequest":{
      "type":"structure",
      "required":[
        "botId",
        "botVersion",
        "localeId",
        "customVocabularyItemList"
      ],
      "members":{
        "botId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"botId"
        },
        "botVersion":{
          "shape":"BotVersion",
          "location":"uri",
          "locationName":"botVersion"
        },
        "localeId":{
          "shape":"LocaleId",
          "location":"uri",
          "locationName":"localeId"
        },
        "customVocabularyItemList":{"shape":"CreateCustomVocabularyItemsList"}
      }
    },
    "BatchCreateCustomVocabularyItemResponse":{
      "type":"structure",
      "members":{
        "botId":{"shape":"Id"},
        "botVersion":{"shape":"BotVersion"},
        "localeId":{"shape":"LocaleId"},
        "errors":{"shape":"FailedCustomVocabularyItems"},
        "resources":{"shape":"CustomVocabularyItems"}
      }
    },
    "BatchDeleteCustomVocabularyItemRequest":{
      "type":"structure",
      "required":[
        "botId",
        "botVersion",
        "localeId",
        "customVocabularyItemList"
      ],
      "members":{
        "botId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"botId"
        },
        "botVersion":{
          "shape":"BotVersion",
          "location":"uri",
          "locationName":"botVersion"
        },
        "localeId":{
          "shape":"LocaleId",
          "location":"uri",
          "locationName":"localeId"
        },
        "customVocabularyItemList":{"shape":"DeleteCustomVocabularyItemsList"}
      }
    },
    "BatchDeleteCustomVocabularyItemResponse":{
      "type":"structure",
      "members":{
        "botId":{"shape":"Id"},
        "botVersion":{"shape":"BotVersion"},
        "localeId":{"shape":"LocaleId"},
        "errors":{"shape":"FailedCustomVocabularyItems"},
        "resources":{"shape":"CustomVocabularyItems"}
      }
    },
    "BatchUpdateCustomVocabularyItemRequest":{
      "type":"structure",
      "required":[
        "botId",
        "botVersion",
        "localeId",
        "customVocabularyItemList"
      ],
      "members":{
        "botId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"botId"
        },
        "botVersion":{
          "shape":"BotVersion",
          "location":"uri",
          "locationName":"botVersion"
        },
        "localeId":{
          "shape":"LocaleId",
          "location":"uri",
          "locationName":"localeId"
        },
        "customVocabularyItemList":{"shape":"UpdateCustomVocabularyItemsList"}
      }
    },
    "BatchUpdateCustomVocabularyItemResponse":{
      "type":"structure",
      "members":{
        "botId":{"shape":"Id"},
        "botVersion":{"shape":"BotVersion"},
        "localeId":{"shape":"LocaleId"},
        "errors":{"shape":"FailedCustomVocabularyItems"},
        "resources":{"shape":"CustomVocabularyItems"}
      }
    },
    "BedrockKnowledgeBaseArn":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,40}:[0-9]{12}:knowledge-base\\/[A-Za-z0-9]{10}$|^[A-Za-z0-9]{10}$"
    },
    "BedrockKnowledgeStoreConfiguration":{
      "type":"structure",
      "required":["bedrockKnowledgeBaseArn"],
      "members":{
        "bedrockKnowledgeBaseArn":{"shape":"BedrockKnowledgeBaseArn"}
      }
    },
    "BedrockModelArn":{
      "type":"string",
      "pattern":"^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}::foundation-model\\/[a-z0-9-]{1,63}[.]{1}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2}$"
    },
    "BedrockModelSpecification":{
      "type":"structure",
      "required":["modelArn"],
      "members":{
        "modelArn":{"shape":"BedrockModelArn"}
      }
    },
    "Boolean":{"type":"boolean"},
    "BotAliasHistoryEvent":{
      "type":"structure",
      "members":{
        "botVersion":{"shape":"BotVersion"},
        "startDate":{"shape":"Timestamp"},
        "endDate":{"shape":"Timestamp"}
      }
    },
    "BotAliasHistoryEventsList":{
      "type":"list",
      "member":{"shape":"BotAliasHistoryEvent"}
    },
    "BotAliasId":{
      "type":"string",
      "max":10,
      "min":10,
      "pattern":"^(\\bTSTALIASID\\b|[0-9a-zA-Z]+)$"
    },
    "BotAliasLocaleSettings":{
      "type":"structure",
      "required":["enabled"],
      "members":{
        "enabled":{"shape":"Boolean"},
        "codeHookSpecification":{"shape":"CodeHookSpecification"}
      }
    },
    "BotAliasLocaleSettingsMap":{
      "type":"map",
      "key":{"shape":"LocaleId"},
      "value":{"shape":"BotAliasLocaleSettings"},
      "min":1
    },
    "BotAliasName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^(\\bAmazonLexTestAlias\\b|[0-9a-zA-Z][_-]?)+$"
    },
    "BotAliasReplicaSummary":{
      "type":"structure",
      "members":{
        "botAliasId":{"shape":"BotAliasId"},
        "botAliasReplicationStatus":{"shape":"BotAliasReplicationStatus"},
        "botVersion":{"shape":"BotVersion"},
        "creationDateTime":{"shape":"Timestamp"},
        "lastUpdatedDateTime":{"shape":"Timestamp"},
        "failureReasons":{"shape":"FailureReasons"}
      }
    },
    "BotAliasReplicaSummaryList":{
      "type":"list",
      "member":{"shape":"BotAliasReplicaSummary"}
    },
    "BotAliasReplicationStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Updating",
        "Available",
        "Deleting",
        "Failed"
      ]
    },
    "BotAliasStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Available",
        "Deleting",
        "Failed"
      ]
    },
    "BotAliasSummary":{
      "type":"structure",
      "members":{
        "botAliasId":{"shape":"BotAliasId"},
        "botAliasName":{"shape":"Name"},
        "description":{"shape":"Description"},
        "botVersion":{"shape":"BotVersion"},
        "botAliasStatus":{"shape":"BotAliasStatus"},
        "creationDateTime":{"shape":"Timestamp"},
        "lastUpdatedDateTime":{"shape":"Timestamp"}
      }
    },
    "BotAliasSummaryList":{
      "type":"list",
      "member":{"shape":"BotAliasSummary"}
    },
    "BotAliasTestExecutionTarget":{
      "type":"structure",
      "required":[
        "botId",
        "botAliasId",
        "localeId"
      ],
      "members":{
        "botId":{"shape":"Id"},
        "botAliasId":{"shape":"BotAliasId"},
        "localeId":{"shape":"LocaleId"}
      }
    },
    "BotExportSpecification":{
      "type":"structure",
      "required":[
        "botId",
        "botVersion"
      ],
      "members":{
        "botId":{"shape":"Id"},
        "botVersion":{"shape":"BotVersion"}
      }
    },
    "BotFilter":{
      "type":"structure",
      "required":[
        "name",
        "values",
        "operator"
      ],
      "members":{
        "name":{"shape":"BotFilterName"},
        "values":{"shape":"FilterValues"},
        "operator":{"shape":"BotFilterOperator"}
      }
    },
    "BotFilterName":{
      "type":"string",
      "enum":[
        "BotName",
        "BotType"
      ]
    },
    "BotFilterOperator":{
      "type":"string",
      "enum":[
        "CO",
        "EQ",
        "NE"
      ]
    },
    "BotFilters":{
      "type":"list",
      "member":{"shape":"BotFilter"},
      "max":2,
      "min":1
    },
    "BotImportSpecification":{
      "type":"structure",
      "required":[
        "botName",
        "roleArn",
        "dataPrivacy"
      ],
      "members":{
        "botName":{"shape":"Name"},
        "roleArn":{"shape":"RoleArn"},
        "dataPrivacy":{"shape":"DataPrivacy"},
        "idleSessionTTLInSeconds":{"shape":"SessionTTL"},
        "botTags":{"shape":"TagMap"},
        "testBotAliasTags":{"shape":"TagMap"}
      }
    },
    "BotLocaleExportSpecification":{
      "type":"structure",
      "required":[
        "botId",
        "botVersion",
        "localeId"
      ],
      "members":{
        "botId":{"shape":"Id"},
        "botVersion":{"shape":"BotVersion"},
        "localeId":{"shape":"LocaleId"}
      }
    },
    "BotLocaleFilter":{
      "type":"structure",
      "required":[
        "name",
        "values",
        "operator"
      ],
      "members":{
        "name":{"shape":"BotLocaleFilterName"},
        "values":{"shape":"FilterValues"},
        "operator":{"shape":"BotLocaleFilterOperator"}
      }
    },
    "BotLocaleFilterName":{
      "type":"string",
      "enum":["BotLocaleName"]
    },
    "BotLocaleFilterOperator":{
      "type":"string",
      "enum":[
        "CO",
        "EQ"
      ]
    },
    "BotLocaleFilters":{
      "type":"list",
      "member":{"shape":"BotLocaleFilter"},
      "max":1,
      "min":1
    },
    "BotLocaleHistoryEvent":{
      "type":"structure",
      "required":[
        "event",
        "eventDate"
      ],
      "members":{
        "event":{"shape":"BotLocaleHistoryEventDescription"},
        "eventDate":{"shape":"Timestamp"}
      }
    },
    "BotLocaleHistoryEventDescription":{"type":"string"},
    "BotLocaleHistoryEventsList":{
      "type":"list",
      "member":{"shape":"BotLocaleHistoryEvent"}
    },
    "BotLocaleImportSpecification":{
      "type":"structure",
      "required":[
        "botId",
        "botVersion",
        "localeId"
      ],
      "members":{
        "botId":{"shape":"Id"},
        "botVersion":{"shape":"DraftBotVersion"},
        "localeId":{"shape":"LocaleId"},
        "nluIntentConfidenceThreshold":{"shape":"ConfidenceThreshold"},
        "voiceSettings":{"shape":"VoiceSettings"}
      }
    },
    "BotLocaleSortAttribute":{
      "type":"string",
      "enum":["BotLocaleName"]
    },
    "BotLocaleSortBy":{
      "type":"structure",
      "required":[
        "attribute",
        "order"
      ],
      "members":{
        "attribute":{"shape":"BotLocaleSortAttribute"},
        "order":{"shape":"SortOrder"}
      }
    },
    "BotLocaleStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Building",
        "Built",
        "ReadyExpressTesting",
        "Failed",
        "Deleting",
        "NotBuilt",
        "Importing",
        "Processing"
      ]
    },
    "BotLocaleSummary":{
      "type":"structure",
      "members":{
        "localeId":{"shape":"LocaleId"},
        "localeName":{"shape":"LocaleName"},
        "description":{"shape":"Description"},
        "botLocaleStatus":{"shape":"BotLocaleStatus"},
        "lastUpdatedDateTime":{"shape":"Timestamp"},
        "lastBuildSubmittedDateTime":{"shape":"Timestamp"}
      }
    },
    "BotLocaleSummaryList":{
      "type":"list",
      "member":{"shape":"BotLocaleSummary"}
    },
    "BotMember":{
      "type":"structure",
      "required":[
        "botMemberId",
        "botMemberName",
        "botMemberAliasId",
        "botMemberAliasName",
        "botMemberVersion"
      ],
      "members":{
        "botMemberId":{"shape":"Id"},
        "botMemberName":{"shape":"Name"},
        "botMemberAliasId":{"shape":"BotAliasId"},
        "botMemberAliasName":{"shape":"BotAliasName"},
        "botMemberVersion":{"shape":"BotVersion"}
      }
    },
    "BotMembers":{
      "type":"list",
      "member":{"shape":"BotMember"},
      "max":10,
      "min":0
    },
    "BotRecommendationResultStatistics":{
      "type":"structure",
      "members":{
        "intents":{"shape":"IntentStatistics"},
        "slotTypes":{"shape":"SlotTypeStatistics"}
      }
    },
    "BotRecommendationResults":{
      "type":"structure",
      "members":{
        "botLocaleExportUrl":{"shape":"PresignedS3Url"},
        "associatedTranscriptsUrl":{"shape":"PresignedS3Url"},
        "statistics":{"shape":"BotRecommendationResultStatistics"}
      }
    },
    "BotRecommendationStatus":{
      "type":"string",
      "enum":[
        "Processing",
        "Deleting",
        "Deleted",
        "Downloading",
        "Updating",
        "Available",
        "Failed",
        "Stopping",
        "Stopped"
      ]
    },
    "BotRecommendationSummary":{
      "type":"structure",
      "required":[
        "botRecommendationStatus",
        "botRecommendationId"
      ],
      "members":{
        "botRecommendationStatus":{"shape":"BotRecommendationStatus"},
        "botRecommendationId":{"shape":"Id"},
        "creationDateTime":{"shape":"Timestamp"},
        "lastUpdatedDateTime":{"shape":"Timestamp"}
      }
    },
    "BotRecommendationSummaryList":{
      "type":"list",
      "member":{"shape":"BotRecommendationSummary"}
    },
    "BotReplicaStatus":{
      "type":"string",
      "enum":[
        "Enabling",
        "Enabled",
        "Deleting",
        "Failed"
      ]
    },
    "BotReplicaSummary":{
      "type":"structure",
      "members":{
        "replicaRegion":{"shape":"ReplicaRegion"},
        "creationDateTime":{"shape":"Timestamp"},
        "botReplicaStatus":{"shape":"BotReplicaStatus"},
        "failureReasons":{"shape":"FailureReasons"}
      }
    },
    "BotReplicaSummaryList":{
      "type":"list",
      "member":{"shape":"BotReplicaSummary"}
    },
    "BotSortAttribute":{
      "type":"string",
      "enum":["BotName"]
    },
    "BotSortBy":{
      "type":"structure",
      "required":[
        "attribute",
        "order"
      ],
      "members":{
        "attribute":{"shape":"BotSortAttribute"},
        "order":{"shape":"SortOrder"}
      }
    },
    "BotStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Available",
        "Inactive",
        "Deleting",
        "Failed",
        "Versioning",
        "Importing",
        "Updating"
      ]
    },
    "BotSummary":{
      "type":"structure",
      "members":{
        "botId":{"shape":"Id"},
        "botName":{"shape":"Name"},
        "description":{"shape":"Description"},
        "botStatus":{"shape":"BotStatus"},
        "latestBotVersion":{"shape":"NumericalBotVersion"},
        "lastUpdatedDateTime":{"shape":"Timestamp"},
        "botType":{"shape":"BotType"}
      }
    },
    "BotSummaryList":{
      "type":"list",
      "member":{"shape":"BotSummary"}
    },
    "BotType":{
      "type":"string",
      "enum":[
        "Bot",
        "BotNetwork"
      ]
    },
    "BotVersion":{
      "type":"string",
      "max":5,
      "min":1,
      "pattern":"^(DRAFT|[0-9]+)$"
    },
    "BotVersionLocaleDetails":{
      "type":"structure",
      "required":["sourceBotVersion"],
      "members":{
        "sourceBotVersion":{"shape":"BotVersion"}
      }
    },
    "BotVersionLocaleSpecification":{
      "type":"map",
      "key":{"shape":"LocaleId"},
      "value":{"shape":"BotVersionLocaleDetails"},
      "min":1
    },
    "BotVersionReplicaSortAttribute":{
      "type":"string",
      "enum":["BotVersion"]
    },
    "BotVersionReplicaSortBy":{
      "type":"structure",
      "required":[
        "attribute",
        "order"
      ],
      "members":{
        "attribute":{"shape":"BotVersionReplicaSortAttribute"},
        "order":{"shape":"SortOrder"}
      }
    },
    "BotVersionReplicaSummary":{
      "type":"structure",
      "members":{
        "botVersion":{"shape":"BotVersion"},
        "botVersionReplicationStatus":{"shape":"BotVersionReplicationStatus"},
        "creationDateTime":{"shape":"Timestamp"},
        "failureReasons":{"shape":"FailureReasons"}
      }
    },
    "BotVersionReplicaSummaryList":{
      "type":"list",
      "member":{"shape":"BotVersionReplicaSummary"}
    },
    "BotVersionReplicationStatus":{
      "type":"string",
      "enum":[
        "Creating",
        "Available",
        "Deleting",
        "Failed"
      ]
    },
    "BotVersionSortAttribute":{
      "type":"string",
      "enum":["BotVersion"]
    },
    "BotVersionSortBy":{
      "type":"structure",
      "required":[
        "attribute",
        "order"
      ],
      "members":{
        "attribute":{"shape":"BotVersionSortAttribute"},
        "order":{"shape":"SortOrder"}
      }
    },
    "BotVersionSummary":{
      "type":"structure",
      "members":{
        "botName":{"shape":"Name"},
        "botVersion":{"shape":"BotVersion"},
        "description":{"shape":"Description"},
        "botStatus":{"shape":"BotStatus"},
        "creationDateTime":{"shape":"Timestamp"}
      }
    },
    "BotVersionSummaryList":{
      "type":"list",
      "member":{"shape":"BotVersionSummary"}
    },
    "BoxedBoolean":{
      "type":"boolean",
      "box":true
    },
    "BuildBotLocaleRequest":{
      "type":"structure",
      "required":[
        "botId",
        "botVersion",
        "localeId"
      ],
      "members":{
        "botId":{
          "shape":"Id",
          "location":"uri",
          "locationName":"botId"
        },
        "botVersion":{
          "shape":"DraftBotVersion",
          "location":"uri",
          "locationName":"botVersion"
        },
        "localeId":{
          "shape":"LocaleId",
          "location":"uri",
          "locationName":"localeId"
        }
      }
    },
    "BuildBotLocaleResponse":{
      "type":"structure",
      "members":{
        "botId":{"shape":"Id"},
        "botVersion":{"shape":"DraftBotVersion"},
        "localeId":{"shape":"LocaleId"},
        "botLocaleStatus":{"shape":"BotLocaleStatus"},
        "lastBuildSubmittedDateTime":{"shape":"Timestamp"}
      }
    },
    "BuildtimeSettings":{
      "type":"structure",
      "members":{
        "descriptiveBotBuilder":{"shape":"DescriptiveBotBuilderSpecification"},
        "sampleUtteranceGeneration":{"shape":"SampleUtteranceGenerationSpecification"}
      }
    },
    "BuiltInIntentSortAttribute":{
      "type":"string",
      "enum":["IntentSignature"]
    },
    "BuiltInIntentSortBy":{
      "type":"structure",
      "required":[
        "attribute",
        "order"
      ],
      "members":{
        "attribute":{"shape":"BuiltInIntentSortAttribute"},
        "order":{"shape":"SortOrder"}
      }
    },
    "BuiltInIntentSummary":{
      "type":"structure",
      "members":{
        "intentSignature":{"shape":"IntentSignature"},
        "description":{"shape":"Description"}
      }
    },
    "BuiltInIntentSummaryList":{
      "type":"list",
      "member":{"shape":"BuiltInIntentSummary"}
    },
    "BuiltInOrCustomSlotTypeId":{
      "type":"string",
      "max":25,
      "min":1,
      "pattern":"^((AMAZON\\.)[a-zA-Z_]+?|[0-9a-zA-Z]+)$"
    },
[...]
