[package]
name    = "osmosis-tokenfactory-token-minter"
version = "0.0.0"

authors      = { workspace = true }
edition      = { workspace = true }
license-file = { workspace = true }
publish      = { workspace = true }
repository   = { workspace = true }

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
alloy                       = { workspace = true, features = ["sol-types"] }
cosmwasm-schema             = { workspace = true }
cosmwasm-std                = { workspace = true, features = ["stargate", "cosmwasm_1_3"] }
cw-storage-plus             = { workspace = true }
embed-commit                = { workspace = true }
enumorph                    = { workspace = true }
ibc-union-spec              = { workspace = true }
prost                       = { workspace = true }
protos                      = { workspace = true }
thiserror                   = { workspace = true }
token-factory-api           = { workspace = true }
ucs03-zkgm-token-minter-api = { workspace = true }
unionlabs                   = { workspace = true, features = ["ethabi"] }

[features]
library = []

[lints]
workspace = true
