{
  "metadata": {
    "apiVersion": "2023-07-26",
    "endpointPrefix": "bedrock-agent-runtime",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Agents for Amazon Bedrock Runtime",
    "serviceId": "Bedrock Agent Runtime",
    "signatureVersion": "v4",
    "signingName": "bedrock",
    "uid": "bedrock-agent-runtime-2023-07-26"
  },
  "operations": {
    "InvokeAgent": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DependencyFailedException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/agents/{agentId}/agentAliases/{agentAliasId}/sessions/{sessionId}/text",
        "responseCode": 200
      },
      "input": {
        "shape": "InvokeAgentRequest"
      },
      "name": "InvokeAgent",
      "output": {
        "shape": "InvokeAgentResponse"
      }
    },
    "Retrieve": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DependencyFailedException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/knowledgebases/{knowledgeBaseId}/retrieve",
        "responseCode": 200
      },
      "input": {
        "shape": "RetrieveRequest"
      },
      "name": "Retrieve",
      "output": {
        "shape": "RetrieveResponse"
      }
    },
    "RetrieveAndGenerate": {
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "DependencyFailedException"
        },
        {
          "shape": "BadGatewayException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/retrieveAndGenerate",
        "responseCode": 200
      },
      "input": {
        "shape": "RetrieveAndGenerateRequest"
      },
      "name": "RetrieveAndGenerate",
      "output": {
        "shape": "RetrieveAndGenerateResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "ActionGroupInvocationInput": {
      "members": {
        "actionGroupName": {
          "shape": "ActionGroupName"
        },
        "apiPath": {
          "shape": "ApiPath"
        },
        "function": {
          "shape": "Function"
        },
        "parameters": {
          "shape": "Parameters"
        },
        "requestBody": {
          "shape": "RequestBody"
        },
        "verb": {
          "shape": "Verb"
        }
      },
      "type": "structure"
    },
    "ActionGroupInvocationOutput": {
      "members": {
        "text": {
          "shape": "ActionGroupOutputString"
        }
      },
      "type": "structure"
    },
    "ActionGroupName": {
      "sensitive": true,
      "type": "string"
    },
    "ActionGroupOutputString": {
      "sensitive": true,
      "type": "string"
    },
    "AdditionalModelRequestFieldsKey": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "AgentAliasId": {
      "max": 10,
      "min": 0,
      "pattern": "^[0-9a-zA-Z]+$",
      "type": "string"
    },
    "AgentId": {
      "max": 10,
      "min": 0,
      "pattern": "^[0-9a-zA-Z]+$",
      "type": "string"
    },
    "AgentVersion": {
      "max": 5,
      "min": 1,
      "pattern": "^(DRAFT|[0-9]{0,4}[1-9][0-9]{0,4})$",
      "type": "string"
    },
    "ApiContentMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "PropertyParameters"
      }
    },
    "ApiInvocationInput": {
      "members": {
        "actionGroup": {
          "shape": "String"
        },
        "apiPath": {
          "shape": "ApiPath"
        },
        "httpMethod": {
          "shape": "String"
        },
        "parameters": {
          "shape": "ApiParameters"
        },
        "requestBody": {
          "shape": "ApiRequestBody"
        }
      },
      "required": [
        "actionGroup"
      ],
      "type": "structure"
    },
    "ApiParameter": {
      "members": {
        "name": {
          "shape": "String"
        },
        "type": {
          "shape": "String"
        },
        "value": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApiParameters": {
      "member": {
        "shape": "ApiParameter"
      },
      "type": "list"
    },
    "ApiPath": {
      "sensitive": true,
      "type": "string"
    },
    "ApiRequestBody": {
      "members": {
        "content": {
          "shape": "ApiContentMap"
        }
      },
      "type": "structure"
    },
    "ApiResult": {
      "members": {
        "actionGroup": {
          "shape": "String"
        },
        "apiPath": {
          "shape": "ApiPath"
        },
        "httpMethod": {
          "shape": "String"
        },
        "httpStatusCode": {
          "shape": "Integer"
        },
        "responseBody": {
          "shape": "ResponseBody"
        },
        "responseState": {
          "shape": "ResponseState"
        }
      },
      "required": [
        "actionGroup"
      ],
      "type": "structure"
    },
    "Attribution": {
      "members": {
        "citations": {
          "shape": "Citations"
        }
      },
      "type": "structure"
    },
    "BadGatewayException": {
      "error": {
        "httpStatusCode": 502
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        },
        "resourceName": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "BedrockModelArn": {
      "max": 1011,
      "min": 20,
      "pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}))$",
      "type": "string"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "ByteContentBlob": {
      "max": 10485760,
      "min": 1,
      "sensitive": true,
      "type": "blob"
    },
    "ByteContentDoc": {
      "members": {
        "contentType": {
          "shape": "ContentType"
        },
        "data": {
          "shape": "ByteContentBlob"
        },
        "identifier": {
          "shape": "Identifier"
        }
      },
      "required": [
        "contentType",
        "data",
        "identifier"
      ],
      "type": "structure"
    },
    "Citation": {
      "members": {
        "generatedResponsePart": {
          "shape": "GeneratedResponsePart"
        },
        "retrievedReferences": {
          "shape": "RetrievedReferences"
        }
      },
      "type": "structure"
    },
    "Citations": {
      "member": {
        "shape": "Citation"
      },
      "type": "list"
    },
    "ConflictException": {
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "ContentBody": {
      "members": {
        "body": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ContentMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "Parameters"
      }
    },
    "ContentType": {
      "pattern": "[a-z]{1,20}/.{1,20}",
      "type": "string"
    },
    "CreationMode": {
      "enum": [
        "DEFAULT",
        "OVERRIDDEN"
      ],
      "type": "string"
    },
    "DependencyFailedException": {
      "error": {
        "httpStatusCode": 424,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        },
        "resourceName": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "Double": {
      "box": true,
      "type": "double"
    },
    "ExternalSource": {
      "members": {
        "byteContent": {
          "shape": "ByteContentDoc"
        },
        "s3Location": {
          "shape": "S3ObjectDoc"
        },
        "sourceType": {
          "shape": "ExternalSourceType"
        }
      },
      "required": [
        "sourceType"
      ],
      "type": "structure"
    },
    "ExternalSourceType": {
      "enum": [
        "S3",
        "BYTE_CONTENT"
      ],
      "type": "string"
    },
    "ExternalSources": {
      "max": 1,
      "member": {
        "shape": "ExternalSource"
      },
      "min": 1,
      "type": "list"
    },
    "ExternalSourcesGenerationConfiguration": {
      "members": {
        "guardrailConfiguration": {
          "shape": "GuardrailConfiguration"
        },
        "inferenceConfig": {
          "shape": "InferenceConfig"
        },
        "promptTemplate": {
          "shape": "PromptTemplate"
        }
      },
      "type": "structure"
    },
    "ExternalSourcesRetrieveAndGenerateConfiguration": {
      "members": {
        "generationConfiguration": {
          "shape": "ExternalSourcesGenerationConfiguration"
        },
        "modelArn": {
          "shape": "BedrockModelArn"
        },
        "sources": {
          "shape": "ExternalSources"
        }
      },
      "required": [
        "modelArn",
        "sources"
      ],
      "type": "structure"
    },
    "FailureReasonString": {
      "sensitive": true,
      "type": "string"
    },
    "FailureTrace": {
      "members": {
        "failureReason": {
          "shape": "FailureReasonString"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "FilterKey": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "FinalResponse": {
      "members": {
        "text": {
          "shape": "FinalResponseString"
        }
      },
      "type": "structure"
    },
    "FinalResponseString": {
      "sensitive": true,
      "type": "string"
    },
    "Function": {
      "sensitive": true,
      "type": "string"
    },
    "FunctionInvocationInput": {
      "members": {
        "actionGroup": {
          "shape": "String"
        },
        "function": {
          "shape": "String"
        },
        "parameters": {
          "shape": "FunctionParameters"
        }
      },
      "required": [
        "actionGroup"
      ],
      "type": "structure"
    },
    "FunctionParameter": {
      "members": {
        "name": {
          "shape": "String"
        },
        "type": {
          "shape": "String"
        },
        "value": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "FunctionParameters": {
      "member": {
        "shape": "FunctionParameter"
      },
      "type": "list"
    },
    "FunctionResult": {
      "members": {
        "actionGroup": {
          "shape": "String"
        },
        "function": {
          "shape": "String"
        },
        "responseBody": {
          "shape": "ResponseBody"
        },
        "responseState": {
          "shape": "ResponseState"
        }
      },
      "required": [
        "actionGroup"
      ],
      "type": "structure"
    },
    "GeneratedResponsePart": {
      "members": {
        "textResponsePart": {
          "shape": "TextResponsePart"
        }
      },
      "type": "structure"
    },
    "GenerationConfiguration": {
      "members": {
        "guardrailConfiguration": {
          "shape": "GuardrailConfiguration"
        },
        "inferenceConfig": {
          "shape": "InferenceConfig"
        },
        "promptTemplate": {
          "shape": "PromptTemplate"
        }
      },
      "type": "structure"
    },
    "GuadrailAction": {
      "enum": [
        "INTERVENED",
        "NONE"
      ],
      "type": "string"
    },
    "GuardrailAction": {
      "enum": [
        "INTERVENED",
        "NONE"
      ],
      "type": "string"
    },
    "GuardrailAssessment": {
      "members": {
        "contentPolicy": {
          "shape": "GuardrailContentPolicyAssessment"
        },
        "sensitiveInformationPolicy": {
          "shape": "GuardrailSensitiveInformationPolicyAssessment"
        },
        "topicPolicy": {
          "shape": "GuardrailTopicPolicyAssessment"
        },
        "wordPolicy": {
          "shape": "GuardrailWordPolicyAssessment"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailAssessmentList": {
      "member": {
        "shape": "GuardrailAssessment"
      },
      "type": "list"
    },
    "GuardrailConfiguration": {
      "members": {
        "guardrailId": {
          "shape": "GuardrailConfigurationGuardrailIdString"
        },
        "guardrailVersion": {
          "shape": "GuardrailConfigurationGuardrailVersionString"
        }
      },
      "required": [
        "guardrailId",
        "guardrailVersion"
      ],
      "type": "structure"
    },
    "GuardrailConfigurationGuardrailIdString": {
      "max": 64,
      "min": 0,
      "pattern": "^[a-z0-9]+$",
      "type": "string"
    },
    "GuardrailConfigurationGuardrailVersionString": {
      "max": 5,
      "min": 1,
      "pattern": "^(([1-9][0-9]{0,7})|(DRAFT))$",
      "type": "string"
    },
    "GuardrailContentFilter": {
      "members": {
        "action": {
          "shape": "GuardrailContentPolicyAction"
        },
        "confidence": {
          "shape": "GuardrailContentFilterConfidence"
        },
        "type": {
          "shape": "GuardrailContentFilterType"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailContentFilterConfidence": {
      "enum": [
        "NONE",
        "LOW",
        "MEDIUM",
        "HIGH"
      ],
      "type": "string"
    },
    "GuardrailContentFilterList": {
      "member": {
        "shape": "GuardrailContentFilter"
      },
      "sensitive": true,
      "type": "list"
    },
    "GuardrailContentFilterType": {
      "enum": [
        "INSULTS",
        "HATE",
        "SEXUAL",
        "VIOLENCE",
        "MISCONDUCT",
        "PROMPT_ATTACK"
      ],
      "type": "string"
    },
    "GuardrailContentPolicyAction": {
      "enum": [
        "BLOCKED"
      ],
      "type": "string"
    },
    "GuardrailContentPolicyAssessment": {
      "members": {
        "filters": {
          "shape": "GuardrailContentFilterList"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailCustomWord": {
      "members": {
        "action": {
          "shape": "GuardrailWordPolicyAction"
        },
        "match": {
          "shape": "String"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailCustomWordList": {
      "member": {
        "shape": "GuardrailCustomWord"
      },
      "sensitive": true,
      "type": "list"
    },
    "GuardrailManagedWord": {
      "members": {
        "action": {
          "shape": "GuardrailWordPolicyAction"
        },
        "match": {
          "shape": "String"
        },
        "type": {
          "shape": "GuardrailManagedWordType"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailManagedWordList": {
      "member": {
        "shape": "GuardrailManagedWord"
      },
      "sensitive": true,
      "type": "list"
    },
    "GuardrailManagedWordType": {
      "enum": [
        "PROFANITY"
      ],
      "type": "string"
    },
    "GuardrailPiiEntityFilter": {
      "members": {
        "action": {
          "shape": "GuardrailSensitiveInformationPolicyAction"
        },
        "match": {
          "shape": "String"
        },
        "type": {
          "shape": "GuardrailPiiEntityType"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailPiiEntityFilterList": {
      "member": {
        "shape": "GuardrailPiiEntityFilter"
      },
      "sensitive": true,
      "type": "list"
    },
    "GuardrailPiiEntityType": {
      "enum": [
        "ADDRESS",
        "AGE",
        "AWS_ACCESS_KEY",
        "AWS_SECRET_KEY",
        "CA_HEALTH_NUMBER",
        "CA_SOCIAL_INSURANCE_NUMBER",
        "CREDIT_DEBIT_CARD_CVV",
        "CREDIT_DEBIT_CARD_EXPIRY",
        "CREDIT_DEBIT_CARD_NUMBER",
        "DRIVER_ID",
        "EMAIL",
        "INTERNATIONAL_BANK_ACCOUNT_NUMBER",
        "IP_ADDRESS",
        "LICENSE_PLATE",
        "MAC_ADDRESS",
        "NAME",
        "PASSWORD",
        "PHONE",
        "PIN",
        "SWIFT_CODE",
        "UK_NATIONAL_HEALTH_SERVICE_NUMBER",
        "UK_NATIONAL_INSURANCE_NUMBER",
        "UK_UNIQUE_TAXPAYER_REFERENCE_NUMBER",
        "URL",
        "USERNAME",
        "US_BANK_ACCOUNT_NUMBER",
        "US_BANK_ROUTING_NUMBER",
        "US_INDIVIDUAL_TAX_IDENTIFICATION_NUMBER",
        "US_PASSPORT_NUMBER",
        "US_SOCIAL_SECURITY_NUMBER",
        "VEHICLE_IDENTIFICATION_NUMBER"
      ],
      "type": "string"
    },
    "GuardrailRegexFilter": {
      "members": {
        "action": {
          "shape": "GuardrailSensitiveInformationPolicyAction"
        },
        "match": {
          "shape": "String"
        },
        "name": {
          "shape": "String"
        },
        "regex": {
          "shape": "String"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailRegexFilterList": {
      "member": {
        "shape": "GuardrailRegexFilter"
      },
      "sensitive": true,
      "type": "list"
    },
    "GuardrailSensitiveInformationPolicyAction": {
      "enum": [
        "BLOCKED",
        "ANONYMIZED"
      ],
      "type": "string"
    },
    "GuardrailSensitiveInformationPolicyAssessment": {
      "members": {
        "piiEntities": {
          "shape": "GuardrailPiiEntityFilterList"
        },
        "regexes": {
          "shape": "GuardrailRegexFilterList"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailTopic": {
      "members": {
        "action": {
          "shape": "GuardrailTopicPolicyAction"
        },
        "name": {
          "shape": "String"
        },
        "type": {
          "shape": "GuardrailTopicType"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailTopicList": {
      "member": {
        "shape": "GuardrailTopic"
      },
      "sensitive": true,
      "type": "list"
    },
    "GuardrailTopicPolicyAction": {
      "enum": [
        "BLOCKED"
      ],
      "type": "string"
    },
    "GuardrailTopicPolicyAssessment": {
      "members": {
        "topics": {
          "shape": "GuardrailTopicList"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailTopicType": {
      "enum": [
        "DENY"
      ],
      "type": "string"
    },
    "GuardrailTrace": {
      "members": {
        "action": {
          "shape": "GuardrailAction"
        },
        "inputAssessments": {
          "shape": "GuardrailAssessmentList"
        },
        "outputAssessments": {
          "shape": "GuardrailAssessmentList"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "GuardrailWordPolicyAction": {
      "enum": [
        "BLOCKED"
      ],
      "type": "string"
    },
    "GuardrailWordPolicyAssessment": {
      "members": {
        "customWords": {
          "shape": "GuardrailCustomWordList"
        },
        "managedWordLists": {
          "shape": "GuardrailManagedWordList"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "Identifier": {
      "max": 1024,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "InferenceConfig": {
      "members": {
        "textInferenceConfig": {
          "shape": "TextInferenceConfig"
        }
      },
      "type": "structure"
    },
    "InferenceConfiguration": {
      "members": {
        "maximumLength": {
          "shape": "MaximumLength"
        },
        "stopSequences": {
          "shape": "StopSequences"
        },
        "temperature": {
          "shape": "Temperature"
        },
        "topK": {
          "shape": "TopK"
        },
        "topP": {
          "shape": "TopP"
        }
      },
      "type": "structure"
    },
    "InputText": {
      "max": 25000000,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "InvocationInput": {
      "members": {
        "actionGroupInvocationInput": {
          "shape": "ActionGroupInvocationInput"
        },
        "invocationType": {
          "shape": "InvocationType"
        },
        "knowledgeBaseLookupInput": {
          "shape": "KnowledgeBaseLookupInput"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "InvocationInputMember": {
      "members": {
        "apiInvocationInput": {
          "shape": "ApiInvocationInput"
        },
        "functionInvocationInput": {
          "shape": "FunctionInvocationInput"
        }
      },
      "type": "structure",
      "union": true
    },
    "InvocationInputs": {
      "max": 5,
      "member": {
        "shape": "InvocationInputMember"
      },
      "min": 1,
      "type": "list"
    },
    "InvocationResultMember": {
      "members": {
        "apiResult": {
          "shape": "ApiResult"
        },
        "functionResult": {
          "shape": "FunctionResult"
        }
      },
      "type": "structure",
      "union": true
    },
    "InvocationType": {
      "enum": [
        "ACTION_GROUP",
        "KNOWLEDGE_BASE",
        "FINISH"
      ],
      "type": "string"
    },
    "InvokeAgentRequest": {
      "members": {
        "agentAliasId": {
          "location": "uri",
          "locationName": "agentAliasId",
          "shape": "AgentAliasId"
        },
        "agentId": {
          "location": "uri",
          "locationName": "agentId",
          "shape": "AgentId"
        },
        "enableTrace": {
          "shape": "Boolean"
        },
        "endSession": {
          "shape": "Boolean"
        },
        "inputText": {
          "shape": "InputText"
        },
        "sessionId": {
          "location": "uri",
          "locationName": "sessionId",
          "shape": "SessionId"
        },
        "sessionState": {
          "shape": "SessionState"
        }
      },
      "required": [
        "agentAliasId",
        "agentId",
        "sessionId"
      ],
      "type": "structure"
    },
    "InvokeAgentResponse": {
      "members": {
        "completion": {
          "shape": "ResponseStream"
        },
        "contentType": {
          "location": "header",
          "locationName": "x-amzn-bedrock-agent-content-type",
          "shape": "MimeType"
        },
        "sessionId": {
          "location": "header",
          "locationName": "x-amz-bedrock-agent-session-id",
          "shape": "SessionId"
        }
      },
      "payload": "completion",
      "required": [
        "completion",
        "contentType",
        "sessionId"
      ],
      "type": "structure"
    },
    "KmsKeyArn": {
      "max": 2048,
      "min": 1,
      "pattern": "^arn:aws(|-cn|-us-gov):kms:[a-zA-Z0-9-]*:[0-9]{12}:key/[a-zA-Z0-9-]{36}$",
      "type": "string"
    },
    "KnowledgeBaseId": {
      "max": 10,
      "min": 0,
      "pattern": "^[0-9a-zA-Z]+$",
      "type": "string"
    },
    "KnowledgeBaseLookupInput": {
      "members": {
        "knowledgeBaseId": {
          "shape": "TraceKnowledgeBaseId"
        },
        "text": {
          "shape": "KnowledgeBaseLookupInputString"
        }
      },
      "type": "structure"
    },
    "KnowledgeBaseLookupInputString": {
      "sensitive": true,
      "type": "string"
    },
    "KnowledgeBaseLookupOutput": {
      "members": {
        "retrievedReferences": {
          "shape": "RetrievedReferences"
        }
      },
      "type": "structure"
    },
    "KnowledgeBaseQuery": {
      "members": {
        "text": {
          "shape": "KnowledgeBaseQueryTextString"
        }
      },
      "required": [
        "text"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "KnowledgeBaseQueryTextString": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "KnowledgeBaseRetrievalConfiguration": {
      "members": {
        "vectorSearchConfiguration": {
          "shape": "KnowledgeBaseVectorSearchConfiguration"
        }
      },
      "required": [
        "vectorSearchConfiguration"
      ],
      "type": "structure"
    },
    "KnowledgeBaseRetrievalResult": {
      "members": {
        "content": {
          "shape": "RetrievalResultContent"
        },
        "location": {
          "shape": "RetrievalResultLocation"
        },
        "score": {
          "shape": "Double"
        }
      },
      "required": [
        "content"
      ],
      "type": "structure"
    },
    "KnowledgeBaseRetrievalResults": {
      "member": {
        "shape": "KnowledgeBaseRetrievalResult"
      },
      "sensitive": true,
      "type": "list"
    },
    "KnowledgeBaseRetrieveAndGenerateConfiguration": {
      "members": {
        "generationConfiguration": {
          "shape": "GenerationConfiguration"
        },
        "knowledgeBaseId": {
          "shape": "KnowledgeBaseId"
        },
        "modelArn": {
          "shape": "BedrockModelArn"
        },
        "retrievalConfiguration": {
          "shape": "KnowledgeBaseRetrievalConfiguration"
        }
      },
      "required": [
        "knowledgeBaseId",
        "modelArn"
      ],
      "type": "structure"
    },
    "KnowledgeBaseVectorSearchConfiguration": {
      "members": {
        "filter": {
          "shape": "RetrievalFilter"
        },
        "numberOfResults": {
          "box": true,
          "shape": "KnowledgeBaseVectorSearchConfigurationNumberOfResultsInteger"
        },
        "overrideSearchType": {
          "shape": "SearchType"
        }
      },
      "type": "structure"
    },
    "KnowledgeBaseVectorSearchConfigurationNumberOfResultsInteger": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "LambdaArn": {
      "type": "string"
    },
    "MaxTokens": {
      "box": true,
      "max": 65536,
      "min": 0,
      "type": "integer"
    },
    "MaximumLength": {
      "box": true,
      "max": 4096,
      "min": 0,
      "type": "integer"
    },
    "MimeType": {
      "type": "string"
    },
    "ModelInvocationInput": {
      "members": {
        "inferenceConfiguration": {
          "shape": "InferenceConfiguration"
        },
        "overrideLambda": {
          "shape": "LambdaArn"
        },
        "parserMode": {
          "shape": "CreationMode"
        },
        "promptCreationMode": {
          "shape": "CreationMode"
        },
        "text": {
          "shape": "PromptText"
        },
        "traceId": {
          "shape": "TraceId"
        },
        "type": {
          "shape": "PromptType"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "NextToken": {
      "max": 2048,
      "min": 1,
      "pattern": "^\\S*$",
      "type": "string"
    },
    "NonBlankString": {
      "pattern": "^[\\s\\S]*$",
      "type": "string"
    },
    "Observation": {
      "members": {
        "actionGroupInvocationOutput": {
          "shape": "ActionGroupInvocationOutput"
        },
        "finalResponse": {
          "shape": "FinalResponse"
        },
        "knowledgeBaseLookupOutput": {
          "shape": "KnowledgeBaseLookupOutput"
        },
        "repromptResponse": {
          "shape": "RepromptResponse"
        },
        "traceId": {
          "shape": "TraceId"
        },
        "type": {
          "shape": "Type"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "OrchestrationTrace": {
      "members": {
        "invocationInput": {
          "shape": "InvocationInput"
        },
        "modelInvocationInput": {
          "shape": "ModelInvocationInput"
        },
        "observation": {
          "shape": "Observation"
        },
        "rationale": {
          "shape": "Rationale"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "OutputString": {
      "sensitive": true,
      "type": "string"
    },
    "Parameter": {
      "members": {
        "name": {
          "shape": "String"
        },
        "type": {
          "shape": "String"
        },
        "value": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ParameterList": {
      "member": {
        "shape": "Parameter"
      },
      "type": "list"
    },
    "Parameters": {
      "member": {
        "shape": "Parameter"
      },
      "type": "list"
    },
    "PartBody": {
      "max": 1000000,
      "min": 0,
      "sensitive": true,
      "type": "blob"
    },
    "PayloadPart": {
      "event": true,
      "members": {
        "attribution": {
          "shape": "Attribution"
        },
        "bytes": {
          "shape": "PartBody"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PostProcessingModelInvocationOutput": {
      "members": {
        "parsedResponse": {
          "shape": "PostProcessingParsedResponse"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PostProcessingParsedResponse": {
      "members": {
        "text": {
          "shape": "OutputString"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PostProcessingTrace": {
      "members": {
        "modelInvocationInput": {
          "shape": "ModelInvocationInput"
        },
        "modelInvocationOutput": {
          "shape": "PostProcessingModelInvocationOutput"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "PreProcessingModelInvocationOutput": {
      "members": {
        "parsedResponse": {
          "shape": "PreProcessingParsedResponse"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PreProcessingParsedResponse": {
      "members": {
        "isValid": {
          "shape": "Boolean"
        },
        "rationale": {
          "shape": "RationaleString"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "PreProcessingTrace": {
      "members": {
        "modelInvocationInput": {
          "shape": "ModelInvocationInput"
        },
        "modelInvocationOutput": {
          "shape": "PreProcessingModelInvocationOutput"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "PromptSessionAttributesMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "PromptTemplate": {
      "members": {
        "textPromptTemplate": {
          "shape": "TextPromptTemplate"
        }
      },
      "type": "structure"
    },
    "PromptText": {
      "sensitive": true,
      "type": "string"
    },
    "PromptType": {
      "enum": [
        "PRE_PROCESSING",
        "ORCHESTRATION",
        "KNOWLEDGE_BASE_RESPONSE_GENERATION",
        "POST_PROCESSING"
      ],
      "type": "string"
    },
    "PropertyParameters": {
      "members": {
        "properties": {
          "shape": "ParameterList"
        }
      },
      "type": "structure"
    },
    "RAGStopSequences": {
      "max": 4,
      "member": {
        "shape": "RAGStopSequencesMemberString"
      },
      "min": 0,
      "type": "list"
    },
    "RAGStopSequencesMemberString": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "Rationale": {
      "members": {
        "text": {
          "shape": "RationaleString"
        },
        "traceId": {
          "shape": "TraceId"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "RationaleString": {
      "sensitive": true,
      "type": "string"
    },
    "RepromptResponse": {
      "members": {
        "source": {
          "shape": "Source"
        },
        "text": {
          "shape": "String"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "RequestBody": {
      "members": {
        "content": {
          "shape": "ContentMap"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "ResponseBody": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "ContentBody"
      }
    },
    "ResponseState": {
      "enum": [
        "FAILURE",
        "REPROMPT"
      ],
      "type": "string"
    },
    "ResponseStream": {
      "eventstream": true,
      "members": {
        "accessDeniedException": {
          "shape": "AccessDeniedException"
        },
        "badGatewayException": {
          "shape": "BadGatewayException"
        },
        "chunk": {
          "shape": "PayloadPart"
        },
        "conflictException": {
          "shape": "ConflictException"
        },
        "dependencyFailedException": {
          "shape": "DependencyFailedException"
        },
        "internalServerException": {
          "shape": "InternalServerException"
        },
        "resourceNotFoundException": {
          "shape": "ResourceNotFoundException"
        },
        "returnControl": {
          "shape": "ReturnControlPayload"
        },
        "serviceQuotaExceededException": {
          "shape": "ServiceQuotaExceededException"
        },
        "throttlingException": {
          "shape": "ThrottlingException"
        },
        "trace": {
          "shape": "TracePart"
        },
        "validationException": {
          "shape": "ValidationException"
        }
      },
      "type": "structure"
    },
    "RetrievalFilter": {
      "members": {
        "andAll": {
          "shape": "RetrievalFilterList"
        },
        "orAll": {
          "shape": "RetrievalFilterList"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "RetrievalFilterList": {
      "max": 5,
      "member": {
        "shape": "RetrievalFilter"
      },
      "min": 2,
      "type": "list"
    },
    "RetrievalResultContent": {
      "members": {
        "text": {
          "shape": "String"
        }
      },
      "required": [
        "text"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "RetrievalResultLocation": {
      "members": {
        "s3Location": {
          "shape": "RetrievalResultS3Location"
        },
        "type": {
          "shape": "RetrievalResultLocationType"
        }
      },
      "required": [
        "type"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "RetrievalResultLocationType": {
      "enum": [
        "S3"
      ],
      "type": "string"
    },
    "RetrievalResultMetadataKey": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "RetrievalResultS3Location": {
      "members": {
        "uri": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RetrieveAndGenerateConfiguration": {
      "members": {
        "externalSourcesConfiguration": {
          "shape": "ExternalSourcesRetrieveAndGenerateConfiguration"
        },
        "knowledgeBaseConfiguration": {
          "shape": "KnowledgeBaseRetrieveAndGenerateConfiguration"
        },
        "type": {
          "shape": "RetrieveAndGenerateType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "RetrieveAndGenerateInput": {
      "members": {
        "text": {
          "shape": "RetrieveAndGenerateInputTextString"
        }
      },
      "required": [
        "text"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "RetrieveAndGenerateInputTextString": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "RetrieveAndGenerateOutput": {
      "members": {
        "text": {
          "shape": "String"
        }
      },
      "required": [
        "text"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "RetrieveAndGenerateRequest": {
      "members": {
        "input": {
          "shape": "RetrieveAndGenerateInput"
        },
        "retrieveAndGenerateConfiguration": {
          "shape": "RetrieveAndGenerateConfiguration"
        },
        "sessionConfiguration": {
          "shape": "RetrieveAndGenerateSessionConfiguration"
        },
        "sessionId": {
          "shape": "SessionId"
        }
      },
      "required": [
        "input"
      ],
      "type": "structure"
    },
    "RetrieveAndGenerateResponse": {
      "members": {
        "citations": {
          "shape": "Citations"
        },
        "guardrailAction": {
          "shape": "GuadrailAction"
        },
        "output": {
          "shape": "RetrieveAndGenerateOutput"
        },
        "sessionId": {
          "shape": "SessionId"
        }
      },
      "required": [
        "output",
        "sessionId"
      ],
      "type": "structure"
    },
    "RetrieveAndGenerateSessionConfiguration": {
      "members": {
        "kmsKeyArn": {
          "shape": "KmsKeyArn"
        }
      },
      "required": [
        "kmsKeyArn"
      ],
      "type": "structure"
    },
    "RetrieveAndGenerateType": {
      "enum": [
        "KNOWLEDGE_BASE",
        "EXTERNAL_SOURCES"
      ],
      "type": "string"
    },
    "RetrieveRequest": {
      "members": {
        "knowledgeBaseId": {
          "location": "uri",
          "locationName": "knowledgeBaseId",
          "shape": "KnowledgeBaseId"
        },
        "nextToken": {
          "shape": "NextToken"
        },
        "retrievalConfiguration": {
          "shape": "KnowledgeBaseRetrievalConfiguration"
        },
        "retrievalQuery": {
          "shape": "KnowledgeBaseQuery"
        }
      },
      "required": [
        "knowledgeBaseId",
        "retrievalQuery"
      ],
      "type": "structure"
    },
    "RetrieveResponse": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "retrievalResults": {
          "shape": "KnowledgeBaseRetrievalResults"
        }
      },
      "required": [
        "retrievalResults"
      ],
      "type": "structure"
    },
    "RetrievedReference": {
      "members": {
        "content": {
          "shape": "RetrievalResultContent"
        },
        "location": {
          "shape": "RetrievalResultLocation"
        }
      },
      "type": "structure"
    },
    "RetrievedReferences": {
      "member": {
        "shape": "RetrievedReference"
      },
      "type": "list"
    },
    "ReturnControlInvocationResults": {
      "max": 5,
      "member": {
        "shape": "InvocationResultMember"
      },
      "min": 1,
      "type": "list"
    },
    "ReturnControlPayload": {
      "event": true,
      "members": {
        "invocationId": {
          "shape": "String"
        },
        "invocationInputs": {
          "shape": "InvocationInputs"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "S3ObjectDoc": {
      "members": {
        "uri": {
          "shape": "S3Uri"
        }
      },
      "required": [
        "uri"
      ],
      "type": "structure"
    },
    "S3Uri": {
      "max": 1024,
      "min": 1,
      "pattern": "^s3://[a-z0-9][a-z0-9.-]{1,61}[a-z0-9]/.{1,1024}$",
      "type": "string"
    },
    "SearchType": {
      "enum": [
        "HYBRID",
        "SEMANTIC"
      ],
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "SessionAttributesMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "SessionId": {
      "max": 100,
      "min": 2,
      "pattern": "^[0-9a-zA-Z._:-]+$",
      "type": "string"
    },
    "SessionState": {
      "members": {
        "invocationId": {
          "shape": "String"
        },
        "promptSessionAttributes": {
          "shape": "PromptSessionAttributesMap"
        },
        "returnControlInvocationResults": {
          "shape": "ReturnControlInvocationResults"
        },
        "sessionAttributes": {
          "shape": "SessionAttributesMap"
        }
      },
      "type": "structure"
    },
    "Source": {
      "enum": [
        "ACTION_GROUP",
        "KNOWLEDGE_BASE",
        "PARSER"
      ],
      "sensitive": true,
      "type": "string"
    },
    "Span": {
      "members": {
        "end": {
          "shape": "SpanEndInteger"
        },
        "start": {
          "shape": "SpanStartInteger"
        }
      },
      "type": "structure"
    },
    "SpanEndInteger": {
      "box": true,
      "min": 0,
      "type": "integer"
    },
    "SpanStartInteger": {
      "box": true,
      "min": 0,
      "type": "integer"
    },
    "StopSequences": {
      "max": 4,
      "member": {
        "shape": "String"
      },
      "min": 0,
      "type": "list"
    },
    "String": {
      "type": "string"
    },
    "Temperature": {
      "box": true,
      "max": 1,
      "min": 0,
      "type": "float"
    },
    "TextInferenceConfig": {
      "members": {
        "maxTokens": {
          "shape": "MaxTokens"
        },
        "stopSequences": {
          "shape": "RAGStopSequences"
        },
        "temperature": {
          "shape": "Temperature"
        },
        "topP": {
          "shape": "TopP"
        }
      },
      "type": "structure"
    },
    "TextPromptTemplate": {
      "max": 4000,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "TextResponsePart": {
      "members": {
        "span": {
          "shape": "Span"
        },
        "text": {
          "shape": "String"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "ThrottlingException": {
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "TopK": {
      "box": true,
      "max": 500,
      "min": 0,
      "type": "integer"
    },
    "TopP": {
      "box": true,
      "max": 1,
      "min": 0,
      "type": "float"
    },
    "Trace": {
      "members": {
        "failureTrace": {
          "shape": "FailureTrace"
        },
        "guardrailTrace": {
          "shape": "GuardrailTrace"
        },
        "orchestrationTrace": {
          "shape": "OrchestrationTrace"
        },
        "postProcessingTrace": {
          "shape": "PostProcessingTrace"
        },
        "preProcessingTrace": {
          "shape": "PreProcessingTrace"
        }
      },
      "sensitive": true,
      "type": "structure",
      "union": true
    },
    "TraceId": {
      "max": 16,
      "min": 2,
      "type": "string"
    },
    "TraceKnowledgeBaseId": {
      "sensitive": true,
      "type": "string"
    },
    "TracePart": {
      "event": true,
      "members": {
        "agentAliasId": {
          "shape": "AgentAliasId"
        },
        "agentId": {
          "shape": "AgentId"
        },
        "agentVersion": {
          "shape": "AgentVersion"
        },
        "sessionId": {
          "shape": "SessionId"
        },
        "trace": {
          "shape": "Trace"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "Type": {
      "enum": [
        "ACTION_GROUP",
        "KNOWLEDGE_BASE",
        "FINISH",
        "ASK_USER",
        "REPROMPT"
      ],
      "type": "string"
    },
    "ValidationException": {
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "NonBlankString"
        }
      },
      "type": "structure"
    },
    "Verb": {
      "sensitive": true,
      "type": "string"
    }
  },
  "version": "2.0"
}