---
interface Props {
  class?: string
  feedbackDuration?: number
  visibility?: "always" | "hover"
}

const { class: className, feedbackDuration = 3000, visibility = "always" } = Astro.props
---

<button
class=""
  class:list={['copy-button', className]}
  type="button"
  data-copy-button=""
  title="Copy to clipboard"
  data-visibility={visibility}
  aria-label="Copy to clipboard"
  data-feedback-duration={feedbackDuration}
>
  <span class="redy-copy"></span>
  <span class="success-copy"></span>
</button>

<script>
  const copyButtonElement = document.querySelector('button[data-copy-button]')
  const parentElement = copyButtonElement?.parentElement
  const preElement = parentElement?.lastElementChild
  const codeElement = preElement?.querySelector('code')

  const visibility = copyButtonElement?.dataset.visibility
  const feedbackDuration = Number(copyButtonElement?.dataset.feedbackDuration || 3_000)

  copyButtonElement?.addEventListener('click', event => {
    const codeSnippet = codeElement?.innerText
    if (!codeSnippet) return
    navigator.clipboard.writeText(codeSnippet)
    copyButtonElement.classList.add('copied')
    setTimeout(() => {
      copyButtonElement.classList.remove('copied')
    }, feedbackDuration)
  })
</script>

<style lang="postcss">

  button[data-copy-button] {
    background-color: transparent !important;
    cursor: pointer;
    backdrop-filter: blur(5px);
    width: 28px;
    height: 28px;
    & span {
      width: 100%;
      aspect-ratio: 1 / 1;
      background-repeat: no-repeat;
      background-position: center;
    width: 28px;
      height: 28px;
    }
    & .redy-copy {
      display: block;
      background-image: url(../assets/images/copy.svg);
      background-size: cover;
      color: #ffffff;
      
    }
    & .success-copy {
      display: none;
      background-image: url(../assets/images/copy-green.svg);
      background-size: cover;
    }
    &.copied {
      & .success-copy {
        display: block;
      }
      & .redy-copy {
        display: none;
      }
    }
  }
  button.copy {
    /* position: absolute;
    right: 0;
    top: 0;
    top: 0;
    height: 28px; */
  }
</style>
