[package]
name    = "voyager-client-module-attested"
version = "0.0.0"

authors      = { workspace = true }
edition      = { workspace = true }
license      = { workspace = true }
publish      = { workspace = true }
repository   = { workspace = true }

[lints]
workspace = true

[dependencies]
attested-light-client-types = { workspace = true, features = ["serde", "bincode", "ethabi"] }
embed-commit                = { workspace = true }
jsonrpsee                   = { workspace = true, features = ["macros", "server", "tracing"] }
serde                       = { workspace = true, features = ["derive"] }
serde_json                  = { workspace = true }
tokio                       = { workspace = true }
tracing                     = { workspace = true }
unionlabs                   = { workspace = true, features = ["bincode"] }
voyager-sdk                 = { workspace = true }
