[package]
name    = "ibc-union"
version = "0.0.0"

authors      = { workspace = true }
edition      = { workspace = true }
license-file = { workspace = true }
publish      = { workspace = true }
repository   = { workspace = true }

[lints]
workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[features]
cw-orch-interface = ["dep:cw-orch", "ibc-union-msg/cw-orch-interface"]
library           = []

[dependencies]
alloy                         = { workspace = true, features = ["sol-types"] }
cosmwasm-schema               = { workspace = true }
cosmwasm-std                  = { workspace = true, features = ["abort"] }
cw-storage-plus               = { workspace = true }
ethabi                        = { workspace = true }
hex                           = { workspace = true }
ibc-union-msg                 = { workspace = true }
ibc-union-spec                = { workspace = true, features = ["ethabi", "serde"] }
serde                         = { workspace = true, features = ["derive"] }
serde_json                    = { workspace = true }
strum                         = { version = "0.26.3", features = ["derive"] }
thiserror                     = { workspace = true }
unionlabs                     = { workspace = true, features = ["ethabi"] }
unionlabs-cosmwasm-upgradable = { workspace = true }
cw-orch                       = { workspace = true, optional = true }
