[package]
name    = "ibc-union"
version = "0.0.0"

authors      = { workspace = true }
edition      = { workspace = true }
license-file = { workspace = true }
publish      = { workspace = true }
repository   = { workspace = true }

[lints]
workspace = true

[dependencies]
alloy-primitives     = { workspace = true }
alloy-sol-types      = { workspace = true }
cosmwasm-schema      = { workspace = true, optional = true }
cosmwasm-std         = { workspace = true, features = ["abort", "iterator", "panic_handler", "global_allocator"] }
cw-orch              = { workspace = true, optional = true }
depolama             = { workspace = true }
embed-commit         = { workspace = true }
ethabi               = { workspace = true }
frissitheto          = { workspace = true }
hex                  = { workspace = true }
ibc-union-msg        = { workspace = true }
ibc-union-spec       = { workspace = true, features = ["ethabi", "serde", "bincode"] }
serde                = { workspace = true, features = ["derive"] }
serde-json-wasm      = { workspace = true }
strum                = { workspace = true, features = ["derive"] }
thiserror            = { workspace = true }
unionlabs-encoding   = { workspace = true, features = ["bincode"] }
unionlabs-primitives = { workspace = true }

[dev-dependencies]
hex-literal = { workspace = true }

[features]
default = []

library = []

cw-orch-interface = ["schemars", "dep:cw-orch", "ibc-union-msg/cw-orch-interface"]
schemars          = ["dep:cosmwasm-schema"]
