{
  "metadata": {
    "apiVersion": "2018-05-10",
    "endpointPrefix": "entityresolution",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWSEntityResolution",
    "serviceFullName": "AWS EntityResolution",
    "serviceId": "EntityResolution",
    "signatureVersion": "v4",
    "signingName": "entityresolution",
    "uid": "entityresolution-2018-05-10"
  },
  "operations": {
    "AddPolicyStatement": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/policies/{arn}/{statementId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "AddPolicyStatementInput"
      },
      "name": "AddPolicyStatement",
      "output": {
        "shape": "AddPolicyStatementOutput"
      }
    },
    "BatchDeleteUniqueId": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/matchingworkflows/{workflowName}/uniqueids",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteUniqueIdInput"
      },
      "name": "BatchDeleteUniqueId",
      "output": {
        "shape": "BatchDeleteUniqueIdOutput"
      }
    },
    "CreateIdMappingWorkflow": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ExceedsLimitException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/idmappingworkflows",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateIdMappingWorkflowInput"
      },
      "name": "CreateIdMappingWorkflow",
      "output": {
        "shape": "CreateIdMappingWorkflowOutput"
      }
    },
    "CreateIdNamespace": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ExceedsLimitException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/idnamespaces",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateIdNamespaceInput"
      },
      "name": "CreateIdNamespace",
      "output": {
        "shape": "CreateIdNamespaceOutput"
      }
    },
    "CreateMatchingWorkflow": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ExceedsLimitException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/matchingworkflows",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMatchingWorkflowInput"
      },
      "name": "CreateMatchingWorkflow",
      "output": {
        "shape": "CreateMatchingWorkflowOutput"
      }
    },
    "CreateSchemaMapping": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ExceedsLimitException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/schemas",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSchemaMappingInput"
      },
      "name": "CreateSchemaMapping",
      "output": {
        "shape": "CreateSchemaMappingOutput"
      }
    },
    "DeleteIdMappingWorkflow": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/idmappingworkflows/{workflowName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteIdMappingWorkflowInput"
      },
      "name": "DeleteIdMappingWorkflow",
      "output": {
        "shape": "DeleteIdMappingWorkflowOutput"
      }
    },
    "DeleteIdNamespace": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/idnamespaces/{idNamespaceName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteIdNamespaceInput"
      },
      "name": "DeleteIdNamespace",
      "output": {
        "shape": "DeleteIdNamespaceOutput"
      }
    },
    "DeleteMatchingWorkflow": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/matchingworkflows/{workflowName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMatchingWorkflowInput"
      },
      "name": "DeleteMatchingWorkflow",
      "output": {
        "shape": "DeleteMatchingWorkflowOutput"
      }
    },
    "DeletePolicyStatement": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/policies/{arn}/{statementId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeletePolicyStatementInput"
      },
      "name": "DeletePolicyStatement",
      "output": {
        "shape": "DeletePolicyStatementOutput"
      }
    },
    "DeleteSchemaMapping": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/schemas/{schemaName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSchemaMappingInput"
      },
      "name": "DeleteSchemaMapping",
      "output": {
        "shape": "DeleteSchemaMappingOutput"
      }
    },
    "GetIdMappingJob": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/idmappingworkflows/{workflowName}/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIdMappingJobInput"
      },
      "name": "GetIdMappingJob",
      "output": {
        "shape": "GetIdMappingJobOutput"
      }
    },
    "GetIdMappingWorkflow": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/idmappingworkflows/{workflowName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIdMappingWorkflowInput"
      },
      "name": "GetIdMappingWorkflow",
      "output": {
        "shape": "GetIdMappingWorkflowOutput"
      }
    },
    "GetIdNamespace": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/idnamespaces/{idNamespaceName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIdNamespaceInput"
      },
      "name": "GetIdNamespace",
      "output": {
        "shape": "GetIdNamespaceOutput"
      }
    },
    "GetMatchId": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/matchingworkflows/{workflowName}/matches",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMatchIdInput"
      },
      "name": "GetMatchId",
      "output": {
        "shape": "GetMatchIdOutput"
      }
    },
    "GetMatchingJob": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/matchingworkflows/{workflowName}/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMatchingJobInput"
      },
      "name": "GetMatchingJob",
      "output": {
        "shape": "GetMatchingJobOutput"
      }
    },
    "GetMatchingWorkflow": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/matchingworkflows/{workflowName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMatchingWorkflowInput"
      },
      "name": "GetMatchingWorkflow",
      "output": {
        "shape": "GetMatchingWorkflowOutput"
      }
    },
    "GetPolicy": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/policies/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPolicyInput"
      },
      "name": "GetPolicy",
      "output": {
        "shape": "GetPolicyOutput"
      }
    },
    "GetSchemaMapping": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/schemas/{schemaName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSchemaMappingInput"
      },
      "name": "GetSchemaMapping",
      "output": {
        "shape": "GetSchemaMappingOutput"
      }
    },
    "ListIdMappingJobs": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/idmappingworkflows/{workflowName}/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIdMappingJobsInput"
      },
      "name": "ListIdMappingJobs",
      "output": {
        "shape": "ListIdMappingJobsOutput"
      }
    },
    "ListIdMappingWorkflows": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/idmappingworkflows",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIdMappingWorkflowsInput"
      },
      "name": "ListIdMappingWorkflows",
      "output": {
        "shape": "ListIdMappingWorkflowsOutput"
      }
    },
    "ListIdNamespaces": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/idnamespaces",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIdNamespacesInput"
      },
      "name": "ListIdNamespaces",
      "output": {
        "shape": "ListIdNamespacesOutput"
      }
    },
    "ListMatchingJobs": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/matchingworkflows/{workflowName}/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMatchingJobsInput"
      },
      "name": "ListMatchingJobs",
      "output": {
        "shape": "ListMatchingJobsOutput"
      }
    },
    "ListMatchingWorkflows": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/matchingworkflows",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMatchingWorkflowsInput"
      },
      "name": "ListMatchingWorkflows",
      "output": {
        "shape": "ListMatchingWorkflowsOutput"
      }
    },
    "ListProviderServices": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/providerservices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListProviderServicesInput"
      },
      "name": "ListProviderServices",
      "output": {
        "shape": "ListProviderServicesOutput"
      }
    },
    "ListSchemaMappings": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/schemas",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSchemaMappingsInput"
      },
      "name": "ListSchemaMappings",
      "output": {
        "shape": "ListSchemaMappingsOutput"
      }
    },
    "ListTagsForResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "PutPolicy": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/policies/{arn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "PutPolicyInput"
      },
      "name": "PutPolicy",
      "output": {
        "shape": "PutPolicyOutput"
      }
    },
    "StartIdMappingJob": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ExceedsLimitException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/idmappingworkflows/{workflowName}/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "StartIdMappingJobInput"
      },
      "name": "StartIdMappingJob",
      "output": {
        "shape": "StartIdMappingJobOutput"
      }
    },
    "StartMatchingJob": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ExceedsLimitException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/matchingworkflows/{workflowName}/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "StartMatchingJobInput"
      },
      "name": "StartMatchingJob",
      "output": {
        "shape": "StartMatchingJobOutput"
      }
    },
    "TagResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateIdMappingWorkflow": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/idmappingworkflows/{workflowName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateIdMappingWorkflowInput"
      },
      "name": "UpdateIdMappingWorkflow",
      "output": {
        "shape": "UpdateIdMappingWorkflowOutput"
      }
    },
    "UpdateIdNamespace": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/idnamespaces/{idNamespaceName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateIdNamespaceInput"
      },
      "name": "UpdateIdNamespace",
      "output": {
        "shape": "UpdateIdNamespaceOutput"
      }
    },
    "UpdateMatchingWorkflow": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/matchingworkflows/{workflowName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateMatchingWorkflowInput"
      },
      "name": "UpdateMatchingWorkflow",
      "output": {
        "shape": "UpdateMatchingWorkflowOutput"
      }
    },
    "UpdateSchemaMapping": {
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/schemas/{schemaName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateSchemaMappingInput"
      },
      "name": "UpdateSchemaMapping",
      "output": {
        "shape": "UpdateSchemaMappingOutput"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AddPolicyStatementInput": {
      "members": {
        "action": {
          "shape": "StatementActionList"
        },
        "arn": {
          "location": "uri",
          "locationName": "arn",
          "shape": "VeniceGlobalArn"
        },
        "condition": {
          "shape": "StatementCondition"
        },
        "effect": {
          "shape": "StatementEffect"
        },
        "principal": {
          "shape": "StatementPrincipalList"
        },
        "statementId": {
          "location": "uri",
          "locationName": "statementId",
          "shape": "StatementId"
        }
      },
      "required": [
        "action",
        "arn",
        "effect",
        "principal",
        "statementId"
      ],
      "type": "structure"
    },
    "AddPolicyStatementOutput": {
      "members": {
        "arn": {
          "shape": "VeniceGlobalArn"
        },
        "policy": {
          "shape": "PolicyDocument"
        },
        "token": {
          "shape": "PolicyToken"
        }
      },
      "required": [
        "arn",
        "token"
      ],
      "type": "structure"
    },
    "AttributeMatchingModel": {
      "enum": [
        "ONE_TO_ONE",
        "MANY_TO_MANY"
      ],
      "type": "string"
    },
    "AttributeName": {
      "max": 255,
      "min": 0,
      "pattern": "^[a-zA-Z_0-9- \\t]*$",
      "type": "string"
    },
    "AwsAccountId": {
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "AwsAccountIdList": {
      "member": {
        "shape": "AwsAccountId"
      },
      "type": "list"
    },
    "BatchDeleteUniqueIdInput": {
      "members": {
        "inputSource": {
          "location": "header",
          "locationName": "inputSource",
          "shape": "BatchDeleteUniqueIdInputInputSourceString"
        },
        "uniqueIds": {
          "location": "header",
          "locationName": "uniqueIds",
          "shape": "UniqueIdList"
        },
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "uniqueIds",
        "workflowName"
      ],
      "type": "structure"
    },
    "BatchDeleteUniqueIdInputInputSourceString": {
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):glue:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(table/[a-zA-Z_0-9-]{1,255}/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "BatchDeleteUniqueIdOutput": {
      "members": {
        "deleted": {
          "shape": "DeletedUniqueIdList"
        },
        "disconnectedUniqueIds": {
          "shape": "DisconnectedUniqueIdsList"
        },
        "errors": {
          "shape": "DeleteUniqueIdErrorsList"
        },
        "status": {
          "shape": "DeleteUniqueIdStatus"
        }
      },
      "required": [
        "deleted",
        "disconnectedUniqueIds",
        "errors",
        "status"
      ],
      "type": "structure"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "ConflictException": {
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CreateIdMappingWorkflowInput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "idMappingTechniques": {
          "shape": "IdMappingTechniques"
        },
        "inputSourceConfig": {
          "shape": "IdMappingWorkflowInputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "IdMappingWorkflowOutputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "tags": {
          "shape": "TagMap"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "idMappingTechniques",
        "inputSourceConfig",
        "roleArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "CreateIdMappingWorkflowOutput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "idMappingTechniques": {
          "shape": "IdMappingTechniques"
        },
        "inputSourceConfig": {
          "shape": "IdMappingWorkflowInputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "IdMappingWorkflowOutputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "workflowArn": {
          "shape": "IdMappingWorkflowArn"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "idMappingTechniques",
        "inputSourceConfig",
        "roleArn",
        "workflowArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "CreateIdNamespaceInput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "idMappingWorkflowProperties": {
          "shape": "IdNamespaceIdMappingWorkflowPropertiesList"
        },
        "idNamespaceName": {
          "shape": "EntityName"
        },
        "inputSourceConfig": {
          "shape": "IdNamespaceInputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "tags": {
          "shape": "TagMap"
        },
        "type": {
          "shape": "IdNamespaceType"
        }
      },
      "required": [
        "idNamespaceName",
        "type"
      ],
      "type": "structure"
    },
    "CreateIdNamespaceOutput": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "idMappingWorkflowProperties": {
          "shape": "IdNamespaceIdMappingWorkflowPropertiesList"
        },
        "idNamespaceArn": {
          "shape": "IdNamespaceArn"
        },
        "idNamespaceName": {
          "shape": "EntityName"
        },
        "inputSourceConfig": {
          "shape": "IdNamespaceInputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "tags": {
          "shape": "TagMap"
        },
        "type": {
          "shape": "IdNamespaceType"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "createdAt",
        "idNamespaceArn",
        "idNamespaceName",
        "type",
        "updatedAt"
      ],
      "type": "structure"
    },
    "CreateMatchingWorkflowInput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "incrementalRunConfig": {
          "shape": "IncrementalRunConfig"
        },
        "inputSourceConfig": {
          "shape": "InputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "OutputSourceConfig"
        },
        "resolutionTechniques": {
          "shape": "ResolutionTechniques"
        },
        "roleArn": {
          "shape": "String"
        },
        "tags": {
          "shape": "TagMap"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "inputSourceConfig",
        "outputSourceConfig",
        "resolutionTechniques",
        "roleArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "CreateMatchingWorkflowOutput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "incrementalRunConfig": {
          "shape": "IncrementalRunConfig"
        },
        "inputSourceConfig": {
          "shape": "InputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "OutputSourceConfig"
        },
        "resolutionTechniques": {
          "shape": "ResolutionTechniques"
        },
        "roleArn": {
          "shape": "String"
        },
        "workflowArn": {
          "shape": "MatchingWorkflowArn"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "inputSourceConfig",
        "outputSourceConfig",
        "resolutionTechniques",
        "roleArn",
        "workflowArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "CreateSchemaMappingInput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "mappedInputFields": {
          "shape": "SchemaInputAttributes"
        },
        "schemaName": {
          "shape": "EntityName"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "mappedInputFields",
        "schemaName"
      ],
      "type": "structure"
    },
    "CreateSchemaMappingOutput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "mappedInputFields": {
          "shape": "SchemaInputAttributes"
        },
        "schemaArn": {
          "shape": "SchemaMappingArn"
        },
        "schemaName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "description",
        "mappedInputFields",
        "schemaArn",
        "schemaName"
      ],
      "type": "structure"
    },
    "DeleteIdMappingWorkflowInput": {
      "members": {
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "workflowName"
      ],
      "type": "structure"
    },
    "DeleteIdMappingWorkflowOutput": {
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "DeleteIdNamespaceInput": {
      "members": {
        "idNamespaceName": {
          "location": "uri",
          "locationName": "idNamespaceName",
          "shape": "EntityName"
        }
      },
      "required": [
        "idNamespaceName"
      ],
      "type": "structure"
    },
    "DeleteIdNamespaceOutput": {
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "DeleteMatchingWorkflowInput": {
      "members": {
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "workflowName"
      ],
      "type": "structure"
    },
    "DeleteMatchingWorkflowOutput": {
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "DeletePolicyStatementInput": {
      "members": {
        "arn": {
          "location": "uri",
          "locationName": "arn",
          "shape": "VeniceGlobalArn"
        },
        "statementId": {
          "location": "uri",
          "locationName": "statementId",
          "shape": "StatementId"
        }
      },
      "required": [
        "arn",
        "statementId"
      ],
      "type": "structure"
    },
    "DeletePolicyStatementOutput": {
      "members": {
        "arn": {
          "shape": "VeniceGlobalArn"
        },
        "policy": {
          "shape": "PolicyDocument"
        },
        "token": {
          "shape": "PolicyToken"
        }
      },
      "required": [
        "arn",
        "token"
      ],
      "type": "structure"
    },
    "DeleteSchemaMappingInput": {
      "members": {
        "schemaName": {
          "location": "uri",
          "locationName": "schemaName",
          "shape": "EntityName"
        }
      },
      "required": [
        "schemaName"
      ],
      "type": "structure"
    },
    "DeleteSchemaMappingOutput": {
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "DeleteUniqueIdError": {
      "members": {
        "errorType": {
          "shape": "DeleteUniqueIdErrorType"
        },
        "uniqueId": {
          "shape": "UniqueId"
        }
      },
      "required": [
        "errorType",
        "uniqueId"
      ],
      "type": "structure"
    },
    "DeleteUniqueIdErrorType": {
      "enum": [
        "SERVICE_ERROR",
        "VALIDATION_ERROR"
      ],
      "type": "string"
    },
    "DeleteUniqueIdErrorsList": {
      "member": {
        "shape": "DeleteUniqueIdError"
      },
      "type": "list"
    },
    "DeleteUniqueIdStatus": {
      "enum": [
        "COMPLETED",
        "ACCEPTED"
      ],
      "type": "string"
    },
    "DeletedUniqueId": {
      "members": {
        "uniqueId": {
          "shape": "UniqueId"
        }
      },
      "required": [
        "uniqueId"
      ],
      "type": "structure"
    },
    "DeletedUniqueIdList": {
      "member": {
        "shape": "DeletedUniqueId"
      },
      "type": "list"
    },
    "Description": {
      "max": 255,
      "min": 0,
      "type": "string"
    },
    "DisconnectedUniqueIdsList": {
      "member": {
        "shape": "UniqueId"
      },
      "type": "list"
    },
    "EntityName": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z_0-9-]*$",
      "type": "string"
    },
    "EntityNameOrIdMappingWorkflowArn": {
      "pattern": "^[a-zA-Z_0-9-=+/]*$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idmappingworkflow/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "EntityNameOrIdNamespaceArn": {
      "pattern": "^[a-zA-Z_0-9-=+/]*$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "ErrorDetails": {
      "members": {
        "errorMessage": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "ExceedsLimitException": {
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        },
        "quotaName": {
          "shape": "String"
        },
        "quotaValue": {
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "GetIdMappingJobInput": {
      "members": {
        "jobId": {
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        },
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityNameOrIdMappingWorkflowArn"
        }
      },
      "required": [
        "jobId",
        "workflowName"
      ],
      "type": "structure"
    },
    "GetIdMappingJobOutput": {
      "members": {
        "endTime": {
          "shape": "Timestamp"
        },
        "errorDetails": {
          "shape": "ErrorDetails"
        },
        "jobId": {
          "shape": "JobId"
        },
        "metrics": {
          "shape": "IdMappingJobMetrics"
        },
        "outputSourceConfig": {
          "shape": "IdMappingJobOutputSourceConfig"
        },
        "startTime": {
          "shape": "Timestamp"
        },
        "status": {
          "shape": "JobStatus"
        }
      },
      "required": [
        "jobId",
        "startTime",
        "status"
      ],
      "type": "structure"
    },
    "GetIdMappingWorkflowInput": {
      "members": {
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "workflowName"
      ],
      "type": "structure"
    },
    "GetIdMappingWorkflowOutput": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "idMappingTechniques": {
          "shape": "IdMappingTechniques"
        },
        "inputSourceConfig": {
          "shape": "IdMappingWorkflowInputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "IdMappingWorkflowOutputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "tags": {
          "shape": "TagMap"
        },
        "updatedAt": {
          "shape": "Timestamp"
        },
        "workflowArn": {
          "shape": "IdMappingWorkflowArn"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "createdAt",
        "idMappingTechniques",
        "inputSourceConfig",
        "roleArn",
        "updatedAt",
        "workflowArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "GetIdNamespaceInput": {
      "members": {
        "idNamespaceName": {
          "location": "uri",
          "locationName": "idNamespaceName",
          "shape": "EntityNameOrIdNamespaceArn"
        }
      },
      "required": [
        "idNamespaceName"
      ],
      "type": "structure"
    },
    "GetIdNamespaceOutput": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "idMappingWorkflowProperties": {
          "shape": "IdNamespaceIdMappingWorkflowPropertiesList"
        },
        "idNamespaceArn": {
          "shape": "IdNamespaceArn"
        },
        "idNamespaceName": {
          "shape": "EntityName"
        },
        "inputSourceConfig": {
          "shape": "IdNamespaceInputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "tags": {
          "shape": "TagMap"
        },
        "type": {
          "shape": "IdNamespaceType"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "createdAt",
        "idNamespaceArn",
        "idNamespaceName",
        "type",
        "updatedAt"
      ],
      "type": "structure"
    },
    "GetMatchIdInput": {
      "members": {
        "applyNormalization": {
          "shape": "Boolean"
        },
        "record": {
          "shape": "RecordAttributeMap"
        },
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "record",
        "workflowName"
      ],
      "type": "structure"
    },
    "GetMatchIdOutput": {
      "members": {
        "matchId": {
          "shape": "String"
        },
        "matchRule": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetMatchingJobInput": {
      "members": {
        "jobId": {
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        },
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "jobId",
        "workflowName"
      ],
      "type": "structure"
    },
    "GetMatchingJobOutput": {
      "members": {
        "endTime": {
          "shape": "Timestamp"
        },
        "errorDetails": {
          "shape": "ErrorDetails"
        },
        "jobId": {
          "shape": "JobId"
        },
        "metrics": {
          "shape": "JobMetrics"
        },
        "outputSourceConfig": {
          "shape": "JobOutputSourceConfig"
        },
        "startTime": {
          "shape": "Timestamp"
        },
        "status": {
          "shape": "JobStatus"
        }
      },
      "required": [
        "jobId",
        "startTime",
        "status"
      ],
      "type": "structure"
    },
    "GetMatchingWorkflowInput": {
      "members": {
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "workflowName"
      ],
      "type": "structure"
    },
    "GetMatchingWorkflowOutput": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "incrementalRunConfig": {
          "shape": "IncrementalRunConfig"
        },
        "inputSourceConfig": {
          "shape": "InputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "OutputSourceConfig"
        },
        "resolutionTechniques": {
          "shape": "ResolutionTechniques"
        },
        "roleArn": {
          "shape": "String"
        },
        "tags": {
          "shape": "TagMap"
        },
        "updatedAt": {
          "shape": "Timestamp"
        },
        "workflowArn": {
          "shape": "MatchingWorkflowArn"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "createdAt",
        "inputSourceConfig",
        "outputSourceConfig",
        "resolutionTechniques",
        "roleArn",
        "updatedAt",
        "workflowArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "GetPolicyInput": {
      "members": {
        "arn": {
          "location": "uri",
          "locationName": "arn",
          "shape": "VeniceGlobalArn"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "GetPolicyOutput": {
      "members": {
        "arn": {
          "shape": "VeniceGlobalArn"
        },
        "policy": {
          "shape": "PolicyDocument"
        },
        "token": {
          "shape": "PolicyToken"
        }
      },
      "required": [
        "arn",
        "token"
      ],
      "type": "structure"
    },
    "GetProviderServiceInput": {
      "members": {
        "providerName": {
          "location": "uri",
          "locationName": "providerName",
          "shape": "EntityName"
        },
        "providerServiceName": {
          "location": "uri",
          "locationName": "providerServiceName",
          "shape": "ProviderServiceArn"
        }
      },
      "required": [
        "providerName",
        "providerServiceName"
      ],
      "type": "structure"
    },
    "GetSchemaMappingInput": {
      "members": {
        "schemaName": {
          "location": "uri",
          "locationName": "schemaName",
          "shape": "EntityName"
        }
      },
      "required": [
        "schemaName"
      ],
      "type": "structure"
    },
    "GetSchemaMappingOutput": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "hasWorkflows": {
          "shape": "Boolean"
        },
        "mappedInputFields": {
          "shape": "SchemaInputAttributes"
        },
        "schemaArn": {
          "shape": "SchemaMappingArn"
        },
        "schemaName": {
          "shape": "EntityName"
        },
        "tags": {
          "shape": "TagMap"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "createdAt",
        "hasWorkflows",
        "mappedInputFields",
        "schemaArn",
        "schemaName",
        "updatedAt"
      ],
      "type": "structure"
    },
    "IdMappingJobMetrics": {
      "members": {
        "inputRecords": {
          "shape": "Integer"
        },
        "recordsNotProcessed": {
          "shape": "Integer"
        },
        "totalRecordsProcessed": {
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "IdMappingJobOutputSource": {
      "members": {
        "KMSArn": {
          "shape": "KMSArn"
        },
        "outputS3Path": {
          "shape": "S3Path"
        },
        "roleArn": {
          "shape": "RoleArn"
        }
      },
      "required": [
        "outputS3Path",
        "roleArn"
      ],
      "type": "structure"
    },
    "IdMappingJobOutputSourceConfig": {
      "max": 1,
      "member": {
        "shape": "IdMappingJobOutputSource"
      },
      "min": 1,
      "type": "list"
    },
    "IdMappingTechniques": {
      "members": {
        "idMappingType": {
          "shape": "IdMappingType"
        },
        "providerProperties": {
          "shape": "ProviderProperties"
        }
      },
      "required": [
        "idMappingType"
      ],
      "type": "structure"
    },
    "IdMappingType": {
      "enum": [
        "PROVIDER"
      ],
      "type": "string"
    },
    "IdMappingWorkflowArn": {
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idmappingworkflow/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "IdMappingWorkflowInputSource": {
      "members": {
        "inputSourceARN": {
          "shape": "IdMappingWorkflowInputSourceInputSourceARNString"
        },
        "schemaName": {
          "shape": "EntityName"
        },
        "type": {
          "shape": "IdNamespaceType"
        }
      },
      "required": [
        "inputSourceARN"
      ],
      "type": "structure"
    },
    "IdMappingWorkflowInputSourceConfig": {
      "max": 20,
      "member": {
        "shape": "IdMappingWorkflowInputSource"
      },
      "min": 1,
      "type": "list"
    },
    "IdMappingWorkflowInputSourceInputSourceARNString": {
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(matchingworkflow/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):glue:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(table/[a-zA-Z_0-9-]{1,255}/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "IdMappingWorkflowList": {
      "member": {
        "shape": "IdMappingWorkflowSummary"
      },
      "type": "list"
    },
    "IdMappingWorkflowOutputSource": {
      "members": {
        "KMSArn": {
          "shape": "KMSArn"
        },
        "outputS3Path": {
          "shape": "S3Path"
        }
      },
      "required": [
        "outputS3Path"
      ],
      "type": "structure"
    },
    "IdMappingWorkflowOutputSourceConfig": {
      "max": 1,
      "member": {
        "shape": "IdMappingWorkflowOutputSource"
      },
      "min": 1,
      "type": "list"
    },
    "IdMappingWorkflowSummary": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "updatedAt": {
          "shape": "Timestamp"
        },
        "workflowArn": {
          "shape": "IdMappingWorkflowArn"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "createdAt",
        "updatedAt",
        "workflowArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "IdNamespaceArn": {
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "IdNamespaceIdMappingWorkflowProperties": {
      "members": {
        "idMappingType": {
          "shape": "IdMappingType"
        },
        "providerProperties": {
          "shape": "NamespaceProviderProperties"
        }
      },
      "required": [
        "idMappingType"
      ],
      "type": "structure"
    },
    "IdNamespaceIdMappingWorkflowPropertiesList": {
      "max": 1,
      "member": {
        "shape": "IdNamespaceIdMappingWorkflowProperties"
      },
      "min": 1,
      "type": "list"
    },
    "IdNamespaceInputSource": {
      "members": {
        "inputSourceARN": {
          "shape": "IdNamespaceInputSourceInputSourceARNString"
        },
        "schemaName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "inputSourceARN"
      ],
      "type": "structure"
    },
    "IdNamespaceInputSourceConfig": {
      "max": 20,
      "member": {
        "shape": "IdNamespaceInputSource"
      },
      "min": 0,
      "type": "list"
    },
    "IdNamespaceInputSourceInputSourceARNString": {
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(matchingworkflow/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):glue:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(table/[a-zA-Z_0-9-]{1,255}/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "IdNamespaceList": {
      "member": {
        "shape": "IdNamespaceSummary"
      },
      "type": "list"
    },
    "IdNamespaceSummary": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "idNamespaceArn": {
          "shape": "IdNamespaceArn"
        },
        "idNamespaceName": {
          "shape": "EntityName"
        },
        "type": {
          "shape": "IdNamespaceType"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "createdAt",
        "idNamespaceArn",
        "idNamespaceName",
        "type",
        "updatedAt"
      ],
      "type": "structure"
    },
    "IdNamespaceType": {
      "enum": [
        "SOURCE",
        "TARGET"
      ],
      "type": "string"
    },
    "IncrementalRunConfig": {
      "members": {
        "incrementalRunType": {
          "shape": "IncrementalRunType"
        }
      },
      "type": "structure"
    },
    "IncrementalRunType": {
      "enum": [
        "IMMEDIATE"
      ],
      "type": "string"
    },
    "InputSource": {
      "members": {
        "applyNormalization": {
          "shape": "Boolean"
        },
        "inputSourceARN": {
          "shape": "InputSourceInputSourceARNString"
        },
        "schemaName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "inputSourceARN",
        "schemaName"
      ],
      "type": "structure"
    },
    "InputSourceConfig": {
      "max": 20,
      "member": {
        "shape": "InputSource"
      },
      "min": 1,
      "type": "list"
    },
    "InputSourceInputSourceARNString": {
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(matchingworkflow/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):glue:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(table/[a-zA-Z_0-9-]{1,255}/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "IntermediateSourceConfiguration": {
      "members": {
        "intermediateS3Path": {
          "shape": "S3Path"
        }
      },
      "required": [
        "intermediateS3Path"
      ],
      "type": "structure"
    },
    "InternalServerException": {
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "retryable": {
        "throttling": false
      },
      "type": "structure"
    },
    "JobId": {
      "pattern": "^[a-f0-9]{32}$",
      "type": "string"
    },
    "JobList": {
      "member": {
        "shape": "JobSummary"
      },
      "type": "list"
    },
    "JobMetrics": {
      "members": {
        "inputRecords": {
          "shape": "Integer"
        },
        "matchIDs": {
          "shape": "Integer"
        },
        "recordsNotProcessed": {
          "shape": "Integer"
        },
        "totalRecordsProcessed": {
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "JobOutputSource": {
      "members": {
        "KMSArn": {
          "shape": "KMSArn"
        },
        "outputS3Path": {
          "shape": "S3Path"
        },
        "roleArn": {
          "shape": "RoleArn"
        }
      },
      "required": [
        "outputS3Path",
        "roleArn"
      ],
      "type": "structure"
    },
    "JobOutputSourceConfig": {
      "max": 1,
      "member": {
        "shape": "JobOutputSource"
      },
      "min": 1,
      "type": "list"
    },
    "JobStatus": {
      "enum": [
        "RUNNING",
        "SUCCEEDED",
        "FAILED",
        "QUEUED"
      ],
      "type": "string"
    },
    "JobSummary": {
      "members": {
        "endTime": {
          "shape": "Timestamp"
        },
        "jobId": {
          "shape": "JobId"
        },
        "startTime": {
          "shape": "Timestamp"
        },
        "status": {
          "shape": "JobStatus"
        }
      },
      "required": [
        "jobId",
        "startTime",
        "status"
      ],
      "type": "structure"
    },
    "KMSArn": {
      "pattern": "^arn:aws:kms:.*:[0-9]+:.*$",
      "type": "string"
    },
    "ListIdMappingJobsInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListIdMappingJobsInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityNameOrIdMappingWorkflowArn"
        }
      },
      "required": [
        "workflowName"
      ],
      "type": "structure"
    },
    "ListIdMappingJobsInputMaxResultsInteger": {
      "box": true,
      "max": 25,
      "min": 1,
      "type": "integer"
    },
    "ListIdMappingJobsOutput": {
      "members": {
        "jobs": {
          "shape": "JobList"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListIdMappingWorkflowsInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListIdMappingWorkflowsInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListIdMappingWorkflowsInputMaxResultsInteger": {
      "box": true,
      "max": 25,
      "type": "integer"
    },
    "ListIdMappingWorkflowsOutput": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "workflowSummaries": {
          "shape": "IdMappingWorkflowList"
        }
      },
      "type": "structure"
    },
    "ListIdNamespacesInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListIdNamespacesInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListIdNamespacesInputMaxResultsInteger": {
      "box": true,
      "max": 25,
      "type": "integer"
    },
    "ListIdNamespacesOutput": {
      "members": {
        "idNamespaceSummaries": {
          "shape": "IdNamespaceList"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListMatchingJobsInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListMatchingJobsInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "workflowName"
      ],
      "type": "structure"
    },
    "ListMatchingJobsInputMaxResultsInteger": {
      "box": true,
      "max": 25,
      "min": 1,
      "type": "integer"
    },
    "ListMatchingJobsOutput": {
      "members": {
        "jobs": {
          "shape": "JobList"
        },
        "nextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListMatchingWorkflowsInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListMatchingWorkflowsInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListMatchingWorkflowsInputMaxResultsInteger": {
      "box": true,
      "max": 25,
      "type": "integer"
    },
    "ListMatchingWorkflowsOutput": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "workflowSummaries": {
          "shape": "MatchingWorkflowList"
        }
      },
      "type": "structure"
    },
    "ListProviderServicesInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListProviderServicesInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "providerName": {
          "location": "querystring",
          "locationName": "providerName",
          "shape": "EntityName"
        }
      },
      "type": "structure"
    },
    "ListProviderServicesInputMaxResultsInteger": {
      "box": true,
      "max": 25,
      "min": 15,
      "type": "integer"
    },
    "ListProviderServicesOutput": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "providerServiceSummaries": {
          "shape": "ProviderServiceList"
        }
      },
      "type": "structure"
    },
    "ListSchemaMappingsInput": {
      "members": {
        "maxResults": {
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "ListSchemaMappingsInputMaxResultsInteger"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListSchemaMappingsInputMaxResultsInteger": {
      "box": true,
      "max": 25,
      "type": "integer"
    },
    "ListSchemaMappingsOutput": {
      "members": {
        "nextToken": {
          "shape": "NextToken"
        },
        "schemaList": {
          "shape": "SchemaMappingList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceInput": {
      "members": {
        "resourceArn": {
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "VeniceGlobalArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceOutput": {
      "members": {
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "tags"
      ],
      "type": "structure"
    },
    "MatchingWorkflowArn": {
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(matchingworkflow/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "MatchingWorkflowList": {
      "member": {
        "shape": "MatchingWorkflowSummary"
      },
      "type": "list"
    },
    "MatchingWorkflowSummary": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "resolutionType": {
          "shape": "ResolutionType"
        },
        "updatedAt": {
          "shape": "Timestamp"
        },
        "workflowArn": {
          "shape": "MatchingWorkflowArn"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "createdAt",
        "resolutionType",
        "updatedAt",
        "workflowArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "NamespaceProviderProperties": {
      "members": {
        "providerServiceArn": {
          "shape": "ProviderServiceArn"
        }
      },
      "required": [
        "providerServiceArn"
      ],
      "type": "structure"
    },
    "NextToken": {
      "max": 1024,
      "min": 1,
      "pattern": "^[a-zA-Z_0-9-=+/]*$",
      "type": "string"
    },
    "OutputAttribute": {
      "members": {
        "hashed": {
          "shape": "Boolean"
        },
        "name": {
          "shape": "AttributeName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "OutputSource": {
      "members": {
        "KMSArn": {
          "shape": "KMSArn"
        },
        "applyNormalization": {
          "shape": "Boolean"
        },
        "output": {
          "shape": "OutputSourceOutputList"
        },
        "outputS3Path": {
          "shape": "S3Path"
        }
      },
      "required": [
        "output",
        "outputS3Path"
      ],
      "type": "structure"
    },
    "OutputSourceConfig": {
      "max": 1,
      "member": {
        "shape": "OutputSource"
      },
      "min": 1,
      "type": "list"
    },
    "OutputSourceOutputList": {
      "max": 750,
      "member": {
        "shape": "OutputAttribute"
      },
      "min": 0,
      "type": "list"
    },
    "PolicyDocument": {
      "max": 40960,
      "min": 1,
      "type": "string"
    },
    "PolicyToken": {
      "max": 36,
      "min": 36,
      "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$",
      "type": "string"
    },
    "ProviderComponentSchema": {
      "members": {
        "providerSchemaAttributes": {
          "shape": "ProviderSchemaAttributes"
        },
        "schemas": {
          "shape": "Schemas"
        }
      },
      "type": "structure"
    },
    "ProviderEndpointConfiguration": {
      "members": {
        "marketplaceConfiguration": {
          "shape": "ProviderMarketplaceConfiguration"
        }
      },
      "type": "structure",
      "union": true
    },
    "ProviderIdNameSpaceConfiguration": {
      "members": {
        "description": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ProviderIntermediateDataAccessConfiguration": {
      "members": {
        "awsAccountIds": {
          "shape": "AwsAccountIdList"
        },
        "requiredBucketActions": {
          "shape": "RequiredBucketActionsList"
        }
      },
      "type": "structure"
    },
    "ProviderMarketplaceConfiguration": {
      "members": {
        "assetId": {
          "shape": "String"
        },
        "dataSetId": {
          "shape": "String"
        },
        "listingId": {
          "shape": "String"
        },
        "revisionId": {
          "shape": "String"
        }
      },
      "required": [
        "assetId",
        "dataSetId",
        "listingId",
        "revisionId"
      ],
      "type": "structure"
    },
    "ProviderProperties": {
      "members": {
        "intermediateSourceConfiguration": {
          "shape": "IntermediateSourceConfiguration"
        },
        "providerServiceArn": {
          "shape": "ProviderServiceArn"
        }
      },
      "required": [
        "providerServiceArn"
      ],
      "type": "structure"
    },
    "ProviderSchemaAttribute": {
      "members": {
        "fieldName": {
          "shape": "AttributeName"
        },
        "hashing": {
          "shape": "Boolean"
        },
        "subType": {
          "shape": "AttributeName"
        },
        "type": {
          "shape": "SchemaAttributeType"
        }
      },
      "required": [
        "fieldName",
        "type"
      ],
      "type": "structure"
    },
    "ProviderSchemaAttributes": {
      "member": {
        "shape": "ProviderSchemaAttribute"
      },
      "type": "list"
    },
    "ProviderServiceArn": {
      "max": 255,
      "min": 20,
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):(entityresolution):([a-z]{2}-[a-z]{1,10}-[0-9])::providerservice/([a-zA-Z0-9_-]{1,255})/([a-zA-Z0-9_-]{1,255})$",
      "type": "string"
    },
    "ProviderServiceDisplayName": {
      "max": 255,
      "min": 0,
      "type": "string"
    },
    "ProviderServiceList": {
      "member": {
        "shape": "ProviderServiceSummary"
      },
      "type": "list"
    },
    "ProviderServiceSummary": {
      "members": {
        "providerName": {
          "shape": "EntityName"
        },
        "providerServiceArn": {
          "shape": "ProviderServiceArn"
        },
        "providerServiceDisplayName": {
          "shape": "ProviderServiceDisplayName"
        },
        "providerServiceName": {
          "shape": "EntityName"
        },
        "providerServiceType": {
          "shape": "ServiceType"
        }
      },
      "required": [
        "providerName",
        "providerServiceArn",
        "providerServiceDisplayName",
        "providerServiceName",
        "providerServiceType"
      ],
      "type": "structure"
    },
    "PutPolicyInput": {
      "members": {
        "arn": {
          "location": "uri",
          "locationName": "arn",
          "shape": "VeniceGlobalArn"
        },
        "policy": {
          "shape": "PolicyDocument"
        },
        "token": {
          "shape": "PolicyToken"
        }
      },
      "required": [
        "arn",
        "policy"
      ],
      "type": "structure"
    },
    "PutPolicyOutput": {
      "members": {
        "arn": {
          "shape": "VeniceGlobalArn"
        },
        "policy": {
          "shape": "PolicyDocument"
        },
        "token": {
          "shape": "PolicyToken"
        }
      },
      "required": [
        "arn",
        "token"
      ],
      "type": "structure"
    },
    "RecordAttributeMap": {
      "key": {
        "shape": "RecordAttributeMapKeyString"
      },
      "sensitive": true,
      "type": "map",
      "value": {
        "shape": "RecordAttributeMapValueString"
      }
    },
    "RecordAttributeMapKeyString": {
      "max": 255,
      "min": 0,
      "pattern": "^[a-zA-Z_0-9- \\t]*$",
      "type": "string"
    },
    "RecordAttributeMapValueString": {
      "max": 255,
      "min": 0,
      "pattern": "^[a-zA-Z_0-9-./@ ()+\\t]*$",
      "type": "string"
    },
    "RequiredBucketActionsList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ResolutionTechniques": {
      "members": {
        "providerProperties": {
          "shape": "ProviderProperties"
        },
        "resolutionType": {
          "shape": "ResolutionType"
        },
        "ruleBasedProperties": {
          "shape": "RuleBasedProperties"
        }
      },
      "required": [
        "resolutionType"
      ],
      "type": "structure"
    },
    "ResolutionType": {
      "enum": [
        "RULE_MATCHING",
        "ML_MATCHING",
        "PROVIDER"
      ],
      "type": "string"
    },
    "ResourceNotFoundException": {
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "RoleArn": {
      "max": 512,
      "min": 32,
      "pattern": "^arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+$",
      "type": "string"
    },
    "Rule": {
      "members": {
        "matchingKeys": {
          "shape": "RuleMatchingKeysList"
        },
        "ruleName": {
          "shape": "RuleRuleNameString"
        }
      },
      "required": [
        "matchingKeys",
        "ruleName"
      ],
      "type": "structure"
    },
    "RuleBasedProperties": {
      "members": {
        "attributeMatchingModel": {
          "shape": "AttributeMatchingModel"
        },
        "rules": {
          "shape": "RuleBasedPropertiesRulesList"
        }
      },
      "required": [
        "attributeMatchingModel",
        "rules"
      ],
      "type": "structure"
    },
    "RuleBasedPropertiesRulesList": {
      "max": 25,
      "member": {
        "shape": "Rule"
      },
      "min": 1,
      "type": "list"
    },
    "RuleMatchingKeysList": {
      "max": 15,
      "member": {
        "shape": "AttributeName"
      },
      "min": 1,
      "type": "list"
    },
    "RuleRuleNameString": {
      "max": 255,
      "min": 0,
      "pattern": "^[a-zA-Z_0-9- \\t]*$",
      "type": "string"
    },
    "S3Path": {
      "max": 1024,
      "min": 1,
      "pattern": "^s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?$",
      "type": "string"
    },
    "SchemaAttributeType": {
      "enum": [
        "NAME",
        "NAME_FIRST",
        "NAME_MIDDLE",
        "NAME_LAST",
        "ADDRESS",
        "ADDRESS_STREET1",
        "ADDRESS_STREET2",
        "ADDRESS_STREET3",
        "ADDRESS_CITY",
        "ADDRESS_STATE",
        "ADDRESS_COUNTRY",
        "ADDRESS_POSTALCODE",
        "PHONE",
        "PHONE_NUMBER",
        "PHONE_COUNTRYCODE",
        "EMAIL_ADDRESS",
        "UNIQUE_ID",
        "DATE",
        "STRING",
        "PROVIDER_ID"
      ],
      "type": "string"
    },
    "SchemaInputAttribute": {
      "members": {
        "fieldName": {
          "shape": "AttributeName"
        },
        "groupName": {
          "shape": "AttributeName"
        },
        "matchKey": {
          "shape": "AttributeName"
        },
        "subType": {
          "shape": "AttributeName"
        },
        "type": {
          "shape": "SchemaAttributeType"
        }
      },
      "required": [
        "fieldName",
        "type"
      ],
      "type": "structure"
    },
    "SchemaInputAttributes": {
      "max": 25,
      "member": {
        "shape": "SchemaInputAttribute"
      },
      "min": 2,
      "type": "list"
    },
    "SchemaList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "SchemaMappingArn": {
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(schemamapping/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    },
    "SchemaMappingList": {
      "member": {
        "shape": "SchemaMappingSummary"
      },
      "type": "list"
    },
    "SchemaMappingSummary": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "hasWorkflows": {
          "shape": "Boolean"
        },
        "schemaArn": {
          "shape": "SchemaMappingArn"
        },
        "schemaName": {
          "shape": "EntityName"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "createdAt",
        "hasWorkflows",
        "schemaArn",
        "schemaName",
        "updatedAt"
      ],
      "type": "structure"
    },
    "Schemas": {
      "member": {
        "shape": "SchemaList"
      },
      "type": "list"
    },
    "ServiceType": {
      "enum": [
        "ASSIGNMENT",
        "ID_MAPPING"
      ],
      "type": "string"
    },
    "StartIdMappingJobInput": {
      "members": {
        "outputSourceConfig": {
          "shape": "IdMappingJobOutputSourceConfig"
        },
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityNameOrIdMappingWorkflowArn"
        }
      },
      "required": [
        "workflowName"
      ],
      "type": "structure"
    },
    "StartIdMappingJobOutput": {
      "members": {
        "jobId": {
          "shape": "JobId"
        },
        "outputSourceConfig": {
          "shape": "IdMappingJobOutputSourceConfig"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "StartMatchingJobInput": {
      "members": {
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "workflowName"
      ],
      "type": "structure"
    },
    "StartMatchingJobOutput": {
      "members": {
        "jobId": {
          "shape": "JobId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "StatementAction": {
      "max": 64,
      "min": 3,
      "pattern": "^(entityresolution:[a-zA-Z0-9]+)$",
      "type": "string"
    },
    "StatementActionList": {
      "member": {
        "shape": "StatementAction"
      },
      "min": 1,
      "type": "list"
    },
    "StatementCondition": {
      "max": 40960,
      "min": 1,
      "type": "string"
    },
    "StatementEffect": {
      "enum": [
        "Allow",
        "Deny"
      ],
      "type": "string"
    },
    "StatementId": {
      "max": 64,
      "min": 1,
      "pattern": "^[0-9A-Za-z]+$",
      "type": "string"
    },
    "StatementPrincipal": {
      "max": 64,
      "min": 12,
      "pattern": "^(\\d{12})|([a-z0-9\\.]+)$",
      "type": "string"
    },
    "StatementPrincipalList": {
      "member": {
        "shape": "StatementPrincipal"
      },
      "min": 1,
      "type": "list"
    },
    "String": {
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 200,
      "min": 0,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceInput": {
      "members": {
        "resourceArn": {
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "VeniceGlobalArn"
        },
        "tags": {
          "shape": "TagMap"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "ThrottlingException": {
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "retryable": {
        "throttling": true
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "UniqueId": {
      "max": 760,
      "min": 1,
      "pattern": "^[a-zA-Z_0-9-,]*$",
      "type": "string"
    },
    "UniqueIdList": {
      "member": {
        "shape": "UniqueId"
      },
      "type": "list"
    },
    "UntagResourceInput": {
      "members": {
        "resourceArn": {
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "VeniceGlobalArn"
        },
        "tagKeys": {
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "UpdateIdMappingWorkflowInput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "idMappingTechniques": {
          "shape": "IdMappingTechniques"
        },
        "inputSourceConfig": {
          "shape": "IdMappingWorkflowInputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "IdMappingWorkflowOutputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "idMappingTechniques",
        "inputSourceConfig",
        "roleArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "UpdateIdMappingWorkflowOutput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "idMappingTechniques": {
          "shape": "IdMappingTechniques"
        },
        "inputSourceConfig": {
          "shape": "IdMappingWorkflowInputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "IdMappingWorkflowOutputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "workflowArn": {
          "shape": "IdMappingWorkflowArn"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "idMappingTechniques",
        "inputSourceConfig",
        "roleArn",
        "workflowArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "UpdateIdNamespaceInput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "idMappingWorkflowProperties": {
          "shape": "IdNamespaceIdMappingWorkflowPropertiesList"
        },
        "idNamespaceName": {
          "location": "uri",
          "locationName": "idNamespaceName",
          "shape": "EntityName"
        },
        "inputSourceConfig": {
          "shape": "IdNamespaceInputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        }
      },
      "required": [
        "idNamespaceName"
      ],
      "type": "structure"
    },
    "UpdateIdNamespaceOutput": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "idMappingWorkflowProperties": {
          "shape": "IdNamespaceIdMappingWorkflowPropertiesList"
        },
        "idNamespaceArn": {
          "shape": "IdNamespaceArn"
        },
        "idNamespaceName": {
          "shape": "EntityName"
        },
        "inputSourceConfig": {
          "shape": "IdNamespaceInputSourceConfig"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "type": {
          "shape": "IdNamespaceType"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "required": [
        "createdAt",
        "idNamespaceArn",
        "idNamespaceName",
        "type",
        "updatedAt"
      ],
      "type": "structure"
    },
    "UpdateMatchingWorkflowInput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "incrementalRunConfig": {
          "shape": "IncrementalRunConfig"
        },
        "inputSourceConfig": {
          "shape": "InputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "OutputSourceConfig"
        },
        "resolutionTechniques": {
          "shape": "ResolutionTechniques"
        },
        "roleArn": {
          "shape": "String"
        },
        "workflowName": {
          "location": "uri",
          "locationName": "workflowName",
          "shape": "EntityName"
        }
      },
      "required": [
        "inputSourceConfig",
        "outputSourceConfig",
        "resolutionTechniques",
        "roleArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "UpdateMatchingWorkflowOutput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "incrementalRunConfig": {
          "shape": "IncrementalRunConfig"
        },
        "inputSourceConfig": {
          "shape": "InputSourceConfig"
        },
        "outputSourceConfig": {
          "shape": "OutputSourceConfig"
        },
        "resolutionTechniques": {
          "shape": "ResolutionTechniques"
        },
        "roleArn": {
          "shape": "String"
        },
        "workflowName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "inputSourceConfig",
        "outputSourceConfig",
        "resolutionTechniques",
        "roleArn",
        "workflowName"
      ],
      "type": "structure"
    },
    "UpdateSchemaMappingInput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "mappedInputFields": {
          "shape": "SchemaInputAttributes"
        },
        "schemaName": {
          "location": "uri",
          "locationName": "schemaName",
          "shape": "EntityName"
        }
      },
      "required": [
        "mappedInputFields",
        "schemaName"
      ],
      "type": "structure"
    },
    "UpdateSchemaMappingOutput": {
      "members": {
        "description": {
          "shape": "Description"
        },
        "mappedInputFields": {
          "shape": "SchemaInputAttributes"
        },
        "schemaArn": {
          "shape": "SchemaMappingArn"
        },
        "schemaName": {
          "shape": "EntityName"
        }
      },
      "required": [
        "mappedInputFields",
        "schemaArn",
        "schemaName"
      ],
      "type": "structure"
    },
    "ValidationException": {
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "VeniceGlobalArn": {
      "pattern": "^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:((schemamapping|matchingworkflow|idmappingworkflow|idnamespace)/[a-zA-Z_0-9-]{1,255})$",
      "type": "string"
    }
  },
  "version": "2.0"
}