---
import Layout from "../layouts/Layout.astro";
import H2 from "../components/typography/h2.astro";
import ContainedSection from "../components/ContainedSection.astro";
import ColorPalette from "../components/brand/ColorPalette.astro";
import H1 from "../components/typography/h1.astro";
import FontDisplay from "../components/brand/FontDisplay.astro";
import LogoDisplay from "../components/brand/LogoDisplay.astro";
import PdfDisplay from "../components/brand/PdfDisplay.astro";
---

<Layout title="Brand">
  <ContainedSection className="py-16">
    <H1>Our <span class="text-accent-500">brand</span></H1>

    <div class="flex flex-col gap-4 mt-8">
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-accent-500"></div>
          <p class="font-mono text-2xl">LOGOTYPE</p>
        </div>
        <LogoDisplay/>
      </div>
    </div>

    <div class="flex flex-col gap-4 mt-8">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-accent-500"></div>
        <p class="font-mono text-2xl">COLORS</p>
      </div>

      <div class="grid grid-cols-5 gap-4">
        <ColorPalette
                label="Primary"
                colors={['#000000', '#FFFFFF']}
                class="col-span-full md:col-span-3"
                vertical
        />
        <ColorPalette
                label="Secondary"
                colors={['#A0ECFD', '#030711', '#9CA3AF', '#111214']}
                class="col-span-full md:col-span-2"
                vertical
        />

      </div>
    </div>

    <div class="flex flex-col gap-4 mt-8">
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-accent-500"></div>
          <p class="font-mono text-2xl">TYPOGRAPHY</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <FontDisplay
                  fontFamily="mono"
                  label="Jet Brains"
          >
            <svg class="w-auto h-full" viewBox="0 0 391 274" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M296.276 273.69C275.364 273.69 258.757 267.908 246.456 256.345C234.155 244.536 228.004 229.159 228.004 210.215C228.004 197.668 230.833 186.72 236.492 177.371C242.15 168.022 250.023 160.764 260.11 155.598C270.197 150.185 281.761 147.479 294.8 147.479H357.537V131.61C357.537 118.325 353.969 108.484 346.834 102.087C339.7 95.4443 328.875 92.1229 314.359 92.1229C301.566 92.1229 291.233 94.4602 283.36 99.1347C275.487 103.809 271.304 110.329 270.812 118.694H237.599C238.829 102.702 246.21 89.5396 259.741 79.2066C273.519 68.6274 291.725 63.3379 314.359 63.3379C338.962 63.3379 357.783 69.2425 370.822 81.0517C384.107 92.861 390.75 109.345 390.75 130.503V270H357.906V233.096H352.37L357.537 225.715C357.537 235.556 355.076 244.044 350.156 251.179C345.235 258.313 338.224 263.849 329.121 267.785C320.018 271.722 309.069 273.69 296.276 273.69ZM304.395 245.643C320.633 245.643 333.549 241.707 343.144 233.834C352.739 225.961 357.537 215.259 357.537 201.727V173.311H298.49C287.665 173.311 278.808 176.633 271.92 183.276C265.277 189.672 261.955 198.283 261.955 209.108C261.955 220.425 265.646 229.405 273.027 236.048C280.653 242.445 291.11 245.643 304.395 245.643Z" fill="white"/>
              <path d="M0.451172 270L70.5686 0.601562H115.222L184.971 270H151.388L133.674 198.406H52.1166L34.4028 270H0.451172ZM58.7593 170.359H126.662L105.996 87.3257C102.06 71.58 98.9846 58.4177 96.7703 47.8385C94.5561 37.2594 93.203 30.3707 92.7109 27.1724C92.2189 30.3707 90.8657 37.2594 88.6515 47.8385C86.4372 58.4177 83.3619 71.457 79.4255 86.9567L58.7593 170.359Z" fill="white"/>
            </svg>
          </FontDisplay>
          <FontDisplay
                  fontFamily="supermolot"
                  label="Supermolot"
          >
            <svg class="w-auto h-full" viewBox="0 0 399 263" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.273662 259V233.167L73.7124 0.672724H144.199L218.007 233.167V259H163.758L110.616 54.9215H107.295L54.1533 259H0.273662ZM58.5818 209.18V160.098H160.806V209.18H58.5818ZM285.558 262.69C276.701 262.69 268.582 260.599 261.201 256.417C253.821 251.988 248.039 246.207 243.857 239.072C239.674 231.691 237.583 223.572 237.583 214.715V192.573C237.583 183.716 239.674 175.72 243.857 168.585C248.039 161.205 253.821 155.423 261.201 151.241C268.582 146.812 276.701 144.598 285.558 144.598H345.711V131.313C345.711 125.9 344.235 121.841 341.283 119.134C338.577 116.428 334.64 115.075 329.474 115.075H253.452V70.7901H350.509C359.366 70.7901 367.485 73.0044 374.865 77.4328C382.246 81.6153 388.028 87.3969 392.21 94.7777C396.393 101.912 398.484 109.908 398.484 118.765V259H361.58L353.83 238.703H351.985C349.033 245.1 343.989 250.758 336.854 255.679C329.966 260.353 321.478 262.69 311.391 262.69H285.558ZM323.2 218.406C327.875 218.406 331.934 217.545 335.378 215.822C338.823 214.1 341.406 211.517 343.128 208.073C344.85 204.628 345.711 200.569 345.711 195.894V182.609H305.486C300.566 182.609 296.752 183.839 294.046 186.299C291.586 188.514 290.356 191.958 290.356 196.632V203.275C290.356 207.95 291.709 211.64 294.415 214.346C297.121 217.053 300.812 218.406 305.486 218.406H323.2Z" fill="white"/>
            </svg>
          </FontDisplay>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-4 mt-8">
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-accent-500"></div>
          <p class="font-mono text-2xl">BRAND GUIDE</p>
        </div>
        <PdfDisplay/>
      </div>
    </div>

  </ContainedSection>
</Layout>