---
import Layout from "../layouts/Layout.astro";
import H2 from "../components/typography/h2.astro";
import ContainedSection from "../components/ContainedSection.astro";
import ColorPalette from "../components/brand/ColorPalette.astro";
import H1 from "../components/typography/h1.astro";
import FontDisplay from "../components/brand/FontDisplay.astro";
import LogoDisplay from "../components/brand/LogoDisplay.astro";
import PdfDisplay from "../components/brand/PdfDisplay.astro";
---

<Layout title="Brand">
  <ContainedSection className="py-16">
    <H1>Our <span class="text-accent-500">brand</span></H1>

    <div class="flex flex-col gap-4 mt-8">
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-accent-500"></div>
          <p class="font-mono text-2xl">LOGOTYPE</p>
        </div>
        <LogoDisplay/>
      </div>
    </div>


    <div class="flex flex-col gap-4 mt-8">
      <div class="flex items-center gap-2">
        <div class="w-2 h-2 bg-accent-500"></div>
        <p class="font-mono text-2xl">COLORS</p>
      </div>

      <div class="grid grid-cols-5 gap-4">
        <ColorPalette
                label="Primary"
                colors={['#000000', '#FFFFFF']}
                class="col-span-full md:col-span-3"
                vertical
        />
        <ColorPalette
                label="Secondary"
                colors={['#A0ECFD', '#030711', '#9CA3AF', '#111214']}
                class="col-span-full md:col-span-2"
                vertical
        />

      </div>
    </div>

    <div class="flex flex-col gap-4 mt-8">
      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-accent-500"></div>
          <p class="font-mono text-2xl">BRAND GUIDE</p>
        </div>
        <PdfDisplay />
      </div>
    </div>


  </ContainedSection>
</Layout>