---
import Layout from '#/layouts/Layout.astro'
import SocialsGrid from '#/components/SocialsGrid.astro'

import ModularConnectedSection from '#/components/sections/ModularConnectedSection.astro'
import MostEfficientSection from '#/components/sections/MostEfficientSection.astro'
import ProductsSection from '#/components/sections/ProductsSection.astro'
import BlogSection from '#/components/sections/BlogSection.astro'
import CodeSection from '#/components/sections/CodeSection.astro'

import IntroSection from '#/components/sections/IntroSection.astro'
import LanderSection from '#/components/LanderSection.astro';
---

<Layout>
  <main class="flex flex-col gap-16 lg:gap-32">
    <IntroSection/>
    <ModularConnectedSection/>
    <MostEfficientSection/>
    <ProductsSection/>
    <CodeSection/>
    <BlogSection/>
    <LanderSection><SocialsGrid /></LanderSection>

  </main>
</Layout>
