---
import SectionsLayout from "../layouts/SectionsLayout.astro"
import DeepDiveSection from "../components/sections/DeepDiveSection.astro"
import { contentfulClient } from "../lib/contentful/client.ts"
import { renderRichText, renderTitle } from "../lib/contentful/render.ts"
import type { LearningPageFields } from "../lib/contentful/types.ts"
import AnimationLayout from "../layouts/AnimationLayout.astro"

export const prerender = false

let learningData: LearningPageFields | null = null
let error: string | null = null
try {
  const landingEntries = await contentfulClient.getEntries<LearningPageFields>({
    content_type: "learn"
  })

  if (landingEntries.items.length > 0) {
    learningData = landingEntries.items[0].fields
  } else {
    error = "No learning page data found."
  }
} catch (err) {
  console.error("Error fetching Contentful data:", err)
  error = "Failed to load content. Please try again later."
}
---

<SectionsLayout title="Learn" gapless>
  {error ? (
          <div class="error-message">
            <h2>Error</h2>
            <p>{error}</p>
          </div>
  ) : learningData ? (
          <AnimationLayout title="Learn" text="Connecting projects, people, and products into a unified organism of interoperability.">
            <DeepDiveSection entries={learningData} />
          </AnimationLayout>
  ) : (
          <div class="loading-message">
            <p>Loading content...</p>
          </div>
  )}
</SectionsLayout>