---
import Layout from '#/layouts/Layout.astro';
import headshot_cor from '#/assets/images/headshots/cor.jpg';

let profiles = [
  {
    name: "Karel Kubat", 
    title: "CEO", 
    x_name: "0xkaiserkarel", 
    profile_pic: headshot_cor,
    description: [ 
      "Rust and Go Software Engineer", 
      "Developed IBC on Substrate", 
      "Grew Composable to 450M valuation"
    ]
  },
  { 
    name: "Cor Pruijs", 
    title: "CTO", 
    x_name: "corcoder", 
    profile_pic: headshot_cor,
    description: [ 
      "Rust and Go Software Engineer", 
      "Developed IBC on Substrate", 
      "Grew Composable to 450M valuation"
    ]
  },
  { 
    name: "Hussein Ait-Lachen ", 
    title: "Principal Engineer", 
    x_name: "0xc0dejug", 
    profile_pic: headshot_cor,
    description: [ 
      "Rust and Go Software Engineer", 
      "Developed IBC on Substrate", 
      "Grew Composable to 450M valuation"
    ]
  }
]
---
<Layout>
  <div class="flex flex-col flex-1 items-center px-4">
    <main class="max-w-5xl w-full">
      <h2 class="2xl">Team</h2>

        <ul class="list-none">
          {
            profiles.map(person => (
              <li>
                <img class="w-12 h-12" src={person.profile_pic.src}/>
                <h3>{person.name}</h3>
                <div>{person.title}</div>
                <div>{person.description.map(line => (
                  <div>{line}</div>
                ))}</div>
              </a>
              </li>
            ))
          }

        </ul>


    </main>
  </div>
</Layout>
