[package]
edition      = { workspace = true }
include      = [".sqlx"]
license-file = { workspace = true }
name         = "voyager"
publish      = false
repository   = { workspace = true }
resolver     = "2"
version      = "0.1.0"

[package.metadata.crane]
test-include = []

[lints]
workspace = true

[dependencies]
arbitrary                 = { workspace = true, optional = true, features = ["derive"] }
axum                      = { workspace = true, features = ["macros", "tokio", "json"] }
beacon-api                = { workspace = true }
bech32                    = "0.9.1"
bip32                     = { workspace = true, features = ["secp256k1"] }
bitvec                    = { workspace = true }
block-message             = { workspace = true }
chain-utils               = { workspace = true }
clap                      = { workspace = true, features = ["default", "derive", "env", "error-context"] }
contracts                 = { workspace = true }
crossbeam-queue           = { workspace = true, features = ["std"] }
derive_more               = { workspace = true }
either                    = { workspace = true, features = ["serde"] }
enumorph                  = { workspace = true }
ethers                    = { workspace = true, features = ["rustls", "ws"] }
frame-support-procedural  = { workspace = true }
frunk                     = { workspace = true }
futures                   = { workspace = true }
hex                       = { workspace = true }
hex-literal               = { workspace = true }
itertools = "0.13.0"
num-bigint                = { workspace = true }
pg-queue                  = { workspace = true }
pin-utils                 = "0.1.0"
prost                     = { workspace = true }
protos                    = { workspace = true, features = ["proto_full", "client"] }
queue-msg                 = { workspace = true }
relay-message             = { workspace = true }
reqwest                   = { workspace = true, features = ["tokio-rustls"] }
ripemd                    = { workspace = true }
serde                     = { workspace = true, features = ["derive"] }
serde-utils               = { workspace = true }
serde_json                = { workspace = true }
sha2                      = { workspace = true }
sqlx                      = { workspace = true, features = ["postgres", "migrate", "tls-rustls"] }
subtle-encoding           = { workspace = true, features = ["bech32-preview"] }
tendermint                = { workspace = true }
tendermint-proto          = { workspace = true }
tendermint-rpc            = { workspace = true, features = ["http-client", "websocket-client"] }
thiserror                 = { workspace = true }
tikv-jemallocator         = "0.5"
tokio                     = { workspace = true, features = ["macros"] }
tokio-stream              = { workspace = true }
tokio-util                = "0.7.9"
tonic                     = { workspace = true, features = ["transport", "tls", "tls-roots", "tls-webpki-roots"] }
tracing                   = { workspace = true, features = ["max_level_trace"] }
tracing-subscriber        = { workspace = true, features = ["env-filter", "json"] }
typenum                   = { workspace = true }
unionlabs                 = { workspace = true, features = ["ethabi"] }
voyager-message.workspace = true

[features]
default = []

arbitrary = [
  "dep:arbitrary",
  "relay-message/arbitrary",
  "block-message/arbitrary",
  "unionlabs/arbitrary",
  "chain-utils/arbitrary",
  "queue-msg/arbitrary",
]
