---
import {Image} from 'astro:assets';
import H1 from "../../typography/h1.astro"
import wave from "#/assets/images/spline-holders/wave-collateral.png"
---

<section class="relative flex w-full justify-center h-fit pb-32">
    <div class="absolute max-w-[1440px] px-6 w-full z-10 h-full">
        <div class="flex flex-col justify-center h-full" >
            <div class="flex flex-col  gap-12 text-center">
                <p class="md:text-5xl font-mono uppercase">take a dive into the world of <span class="text-accent-500"><br> modular interoperability.</span>
                </p>
                <p class="rotate-90 text-5xl">{'>>>'}</p>
            </div>
        </div>
    </div>
    <div class="w-full">
        <Image src={wave} alt="Whale" class="w-full h-auto"></Image>
    </div>
</section>
