@font-face {
  font-family: "Geist";
  font-weight: 100 1000;
  font-display: swap;
  src: url("/fonts/Geist[wght].woff2") format("woff2-variations");
  src: url("/fonts/Geist[wght].woff2") format("woff2") tech("variations");
}

@font-face {
  font-family: "Geist Mono";
  font-weight: 100 1000;
  font-display: swap;
  src: url("/fonts/GeistMono[wght].woff2") format("woff2-variations");
  src: url("/fonts/GeistMono[wght].woff2") format("woff2") tech("variations");
}
