figure[data-rehype-pretty-code-figure],
pre[data-theme*=" "],
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  figure[data-rehype-pretty-code-figure],
  pre[data-theme*=" "],
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

figure > ::-webkit-scrollbar {
  height: 8px;
}

figure:not(.has-title) > pre:nth-child(2) {
  /* border-radius: 8px !important; */
}

figcaption > span .title {
  padding: 10px !important;
}

input,
textarea {
  touch-action: manipulation;
}

g {
  margin-top: 12px !important;
  padding-top: 20px !important;
}

h1#_top {
  font-weight: 800;
}

.hero {
  grid-template-columns: auto;
  margin: auto;
}

*,
:before,
:after {
  border-width: 0;
  box-sizing: border-box;
}

html {
  font-feature-settings: normal;
  -webkit-text-size-adjust: 100%;
  font-variation-settings: normal;
}

:root {
  color-scheme: dark;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
