:root {
  --sl-text-h1: 3.5rem;
  --dark-blue: #00262f;
}

/* :root[data-theme="light"] {
  --logo-text-color: #000000;
  --sl-color-text-accent: #04acd2;
  --sl-color-bg: #f9f9f9;
  --anchor-icon-filter: invert(0);
  --nav-selected-color: #003845;
}

:root[data-theme="dark"] {
  --logo-text-color: #f9f9f9f9;
  --anchor-icon-filter: invert(1);
  --nav-selected-color: #374151;
} */

h1 a,
h2 a,
h3 a,
h4 a {
  color: var(--logo-text-color) !important;
}

.social-icons a {
  color: var(--logo-text-color);
}

.site-title {
  gap: 4px;
  color: white;
}

code[dir="auto"] {
  border-radius: 0.25rem;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a {
  text-decoration: none;
}

h1 > a:hover::after,
h2 > a:hover::after,
h3 > a:hover::after,
h4 > a:hover::after,
h5 > a:hover::after {
  content: "#";
  width: 0.5em;
  height: 0.5em;
  color: #f9f9f9;
  margin-left: 0.25rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

li a[aria-current="page"] {
  color: var(--nav-selected-color);
}

a[aria-current="true"]
  span[data-astro-source-file$="/starlight/components/TableOfContents/SidebarSublist.astro"] {
  color: var(--nav-selected-color);
}

figure figcaption span {
  letter-spacing: 0.02em !important;
}

/* controls line height of code snippets in docs */
.expressive-code figure pre code {
  line-height: 1.45rem;
}

.site-title span {
  color: var(--logo-text-color);
}

h1 > a {
  font-size: 2.5rem;
}
