@import url('./fonts.css');
@import url('./tailwind.css');
@import url('./crt.css');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}


html[data-theme='dark'], body[data-theme='dark'] {
  color-scheme: dark;
  background-color: var(--background-color);
  background-image: var(--background-image);
}

html[data-theme='light'], body[data-theme='light'] {
  color-scheme: light;
  background-color: var(--background-color);
  background-image: var(--background-image);
}

@media (prefers-color-scheme: dark) {
  html, body {
    color-scheme: dark;
    background-color: var(--background-color);
    background-image: var(--background-image);
  }
}


@media (prefers-color-scheme: light) {
  html, body {
    color-scheme: light;
    background-color: var(--background-color);
    background-image: var(--background-image);
  }
}

::selection {
  color: #0d0d0d;
  background-color: #a0ecfd;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
