@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-w-30 {
    max-width: 7.5rem;
  }

  .min-size-full {
    min-width: 100%;
    min-height: 100%;
  }

  .min-size-min {
    min-width: min-content;
    min-height: min-content;
  }

  .max-size-full {
    max-width: 100%;
    max-height: 100%;
  }

  .max-size-min {
    max-width: min-content;
    max-height: min-content;
  }

  .size-screen {
    width: 100vw;
    height: 100vh;
  }

  .common-ligatures {
    font-variant-ligatures: common-ligatures;
  }

  .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .draft {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

@layer base {
  :root {
    --background: 217 10% 75%;
    --foreground: 0 0% 0%;

    --muted: 220 4% 67%;
    --muted-foreground: 0 0% 20%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --card: 217 10% 78%;
    --card-foreground: 240 10% 3.9%;

    --border: 0 0% 0%;
    --input: 0 0% 20%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 191 96% 81%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem; */
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
/* 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  /* Mobile tap highlight */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
  html {
    -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
  }

  /* Font face Geist font */

  /* Firefox */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
  html {
    scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
  }

  html.dark {
    scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .antialised {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .font-condensed {
    font-stretch: condensed;
  }

  .font-expanded {
    font-stretch: expanded;
  }

  .font-extra-expanded {
    font-stretch: extra-expanded;
  }

  .font-ultra-expanded {
    font-stretch: ultra-expanded;
  }

  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 rounded-xl border shadow-xl;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

[data-theme="default"] {
  display: flex;
}

[data-style="new-york"] [data-style="default"] {
  display: none;
}

[data-style="default"] [data-style="default"] {
  display: flex;
  flex-direction: column;
}

[data-style="new-york"] [data-style="new-york"] {
  display: flex;
  flex-direction: column;
}

[data-style="default"] [data-style="new-york"] {
  display: none;
}

[data-metadata] .pre-copy-btn {
  @apply top-16 !important;
}

.super-debug {
  @apply bg-zinc-950 text-[#FFF8] dark:bg-zinc-900 !important;
}

.super-debug--pre {
  @apply !bg-transparent !text-[#FFF8];
}

.super-debug--code {
  @apply !bg-transparent;
}

.super-debug--code .key {
  @apply text-white !important;
}

.super-debug--code .undefined {
  @apply !text-[#FFF8];
}
.super-debug--code .string {
  @apply !text-[#FFF8];
}
.super-debug--code .number {
  @apply !text-[#FFF8];
}
.super-debug--code .boolean {
  @apply !text-[#FFF8];
}
