{
  "metadata": {
    "apiVersion": "2018-09-17",
    "endpointPrefix": "catalog.marketplace",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWS Marketplace Catalog",
    "serviceFullName": "AWS Marketplace Catalog Service",
    "serviceId": "Marketplace Catalog",
    "signatureVersion": "v4",
    "signingName": "aws-marketplace",
    "uid": "marketplace-catalog-2018-09-17"
  },
  "operations": {
    "BatchDescribeEntities": {
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/BatchDescribeEntities"
      },
      "input": {
        "shape": "BatchDescribeEntitiesRequest"
      },
      "name": "BatchDescribeEntities",
      "output": {
        "shape": "BatchDescribeEntitiesResponse"
      }
    },
    "CancelChangeSet": {
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/CancelChangeSet"
      },
      "input": {
        "shape": "CancelChangeSetRequest"
      },
      "name": "CancelChangeSet",
      "output": {
        "shape": "CancelChangeSetResponse"
      }
    },
    "DeleteResourcePolicy": {
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteResourcePolicy"
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyResponse"
      }
    },
    "DescribeChangeSet": {
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/DescribeChangeSet"
      },
      "input": {
        "shape": "DescribeChangeSetRequest"
      },
      "name": "DescribeChangeSet",
      "output": {
        "shape": "DescribeChangeSetResponse"
      }
    },
    "DescribeEntity": {
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotSupportedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/DescribeEntity"
      },
      "input": {
        "shape": "DescribeEntityRequest"
      },
      "name": "DescribeEntity",
      "output": {
        "shape": "DescribeEntityResponse"
      }
    },
    "GetResourcePolicy": {
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetResourcePolicy"
      },
      "input": {
        "shape": "GetResourcePolicyRequest"
      },
      "name": "GetResourcePolicy",
      "output": {
        "shape": "GetResourcePolicyResponse"
      }
    },
    "ListChangeSets": {
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListChangeSets"
      },
      "input": {
        "shape": "ListChangeSetsRequest"
      },
      "name": "ListChangeSets",
      "output": {
        "shape": "ListChangeSetsResponse"
      }
    },
    "ListEntities": {
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListEntities"
      },
      "input": {
        "shape": "ListEntitiesRequest"
      },
      "name": "ListEntities",
      "output": {
        "shape": "ListEntitiesResponse"
      }
    },
    "ListTagsForResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListTagsForResource"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutResourcePolicy": {
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/PutResourcePolicy"
      },
      "input": {
        "shape": "PutResourcePolicyRequest"
      },
      "name": "PutResourcePolicy",
      "output": {
        "shape": "PutResourcePolicyResponse"
      }
    },
    "StartChangeSet": {
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/StartChangeSet"
      },
      "input": {
        "shape": "StartChangeSetRequest"
      },
      "name": "StartChangeSet",
      "output": {
        "shape": "StartChangeSetResponse"
      }
    },
    "TagResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TagResource"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UntagResource"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    }
  },
  "shapes": {
    "ARN": {
      "max": 2048,
      "min": 1,
      "pattern": "^[a-zA-Z0-9:*/-]+$",
      "type": "string"
    },
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessageContent"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "AmiProductEntityIdFilter": {
      "members": {
        "ValueList": {
          "shape": "AmiProductEntityIdFilterValueList"
        }
      },
      "type": "structure"
    },
    "AmiProductEntityIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "AmiProductEntityIdString"
      },
      "min": 1,
      "type": "list"
    },
    "AmiProductEntityIdString": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$",
      "type": "string"
    },
    "AmiProductFilters": {
      "members": {
        "EntityId": {
          "shape": "AmiProductEntityIdFilter"
        },
        "LastModifiedDate": {
          "shape": "AmiProductLastModifiedDateFilter"
        },
        "ProductTitle": {
          "shape": "AmiProductTitleFilter"
        },
        "Visibility": {
          "shape": "AmiProductVisibilityFilter"
        }
      },
      "type": "structure"
    },
    "AmiProductLastModifiedDateFilter": {
      "members": {
        "DateRange": {
          "shape": "AmiProductLastModifiedDateFilterDateRange"
        }
      },
      "type": "structure"
    },
    "AmiProductLastModifiedDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "AmiProductSort": {
      "members": {
        "SortBy": {
          "shape": "AmiProductSortBy"
        },
        "SortOrder": {
          "shape": "SortOrder"
        }
      },
      "type": "structure"
    },
    "AmiProductSortBy": {
      "enum": [
        "EntityId",
        "LastModifiedDate",
        "ProductTitle",
        "Visibility"
      ],
      "type": "string"
    },
    "AmiProductSummary": {
      "members": {
        "ProductTitle": {
          "shape": "AmiProductTitleString"
        },
        "Visibility": {
          "shape": "AmiProductVisibilityString"
        }
      },
      "type": "structure"
    },
    "AmiProductTitleFilter": {
      "members": {
        "ValueList": {
          "shape": "AmiProductTitleFilterValueList"
        },
        "WildCardValue": {
          "shape": "AmiProductTitleString"
        }
      },
      "type": "structure"
    },
    "AmiProductTitleFilterValueList": {
      "max": 10,
      "member": {
        "shape": "AmiProductTitleString"
      },
      "min": 1,
      "type": "list"
    },
    "AmiProductTitleString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "AmiProductVisibilityFilter": {
      "members": {
        "ValueList": {
          "shape": "AmiProductVisibilityFilterValueList"
        }
      },
      "type": "structure"
    },
    "AmiProductVisibilityFilterValueList": {
      "max": 10,
      "member": {
        "shape": "AmiProductVisibilityString"
      },
      "min": 1,
      "type": "list"
    },
    "AmiProductVisibilityString": {
      "enum": [
        "Limited",
        "Public",
        "Restricted",
        "Draft"
      ],
      "type": "string"
    },
    "BatchDescribeEntitiesRequest": {
      "members": {
        "EntityRequestList": {
          "shape": "EntityRequestList"
        }
      },
      "required": [
        "EntityRequestList"
      ],
      "type": "structure"
    },
    "BatchDescribeEntitiesResponse": {
      "members": {
        "EntityDetails": {
          "shape": "EntityDetails"
        },
        "Errors": {
          "shape": "Errors"
        }
      },
      "type": "structure"
    },
    "BatchDescribeErrorCodeString": {
      "max": 72,
      "min": 1,
      "pattern": "^[a-zA-Z_]+$",
      "type": "string"
    },
    "BatchDescribeErrorDetail": {
      "members": {
        "ErrorCode": {
          "shape": "BatchDescribeErrorCodeString"
        },
        "ErrorMessage": {
          "shape": "BatchDescribeErrorMessageContent"
        }
      },
      "type": "structure"
    },
    "BatchDescribeErrorMessageContent": {
      "max": 2048,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "CancelChangeSetRequest": {
      "members": {
        "Catalog": {
          "location": "querystring",
          "locationName": "catalog",
          "shape": "Catalog"
        },
        "ChangeSetId": {
          "location": "querystring",
          "locationName": "changeSetId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Catalog",
        "ChangeSetId"
      ],
      "type": "structure"
    },
    "CancelChangeSetResponse": {
      "members": {
        "ChangeSetArn": {
          "shape": "ARN"
        },
        "ChangeSetId": {
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "Catalog": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "Change": {
      "members": {
        "ChangeName": {
          "shape": "ChangeName"
        },
        "ChangeType": {
          "shape": "ChangeType"
        },
        "Details": {
          "shape": "Json"
        },
        "Entity": {
          "shape": "Entity"
        },
        "EntityTags": {
          "shape": "TagList"
        }
      },
      "required": [
        "ChangeType",
        "Entity"
      ],
      "type": "structure"
    },
    "ChangeName": {
      "max": 72,
      "min": 1,
      "pattern": "^[a-zA-Z]$",
      "type": "string"
    },
    "ChangeSetDescription": {
      "member": {
        "shape": "ChangeSummary"
      },
      "type": "list"
    },
    "ChangeSetName": {
      "max": 100,
      "min": 1,
      "pattern": "^[\\w\\s+=.:@-]+$",
      "type": "string"
    },
    "ChangeSetSummaryList": {
      "member": {
        "shape": "ChangeSetSummaryListItem"
      },
      "type": "list"
    },
    "ChangeSetSummaryListItem": {
      "members": {
        "ChangeSetArn": {
          "shape": "ARN"
        },
        "ChangeSetId": {
          "shape": "ResourceId"
        },
        "ChangeSetName": {
          "shape": "ChangeSetName"
        },
        "EndTime": {
          "shape": "DateTimeISO8601"
        },
        "EntityIdList": {
          "shape": "ResourceIdList"
        },
        "FailureCode": {
          "shape": "FailureCode"
        },
        "StartTime": {
          "shape": "DateTimeISO8601"
        },
        "Status": {
          "shape": "ChangeStatus"
        }
      },
      "type": "structure"
    },
    "ChangeStatus": {
      "enum": [
        "PREPARING",
        "APPLYING",
        "SUCCEEDED",
        "CANCELLED",
        "FAILED"
      ],
      "type": "string"
    },
    "ChangeSummary": {
      "members": {
        "ChangeName": {
          "shape": "ChangeName"
        },
        "ChangeType": {
          "shape": "ChangeType"
        },
        "Details": {
          "shape": "Json"
        },
        "Entity": {
          "shape": "Entity"
        },
        "ErrorDetailList": {
          "shape": "ErrorDetailList"
        }
      },
      "type": "structure"
    },
    "ChangeType": {
      "max": 255,
      "min": 1,
      "pattern": "^[A-Z][\\w]*$",
      "type": "string"
    },
    "ClientRequestToken": {
      "max": 64,
      "min": 1,
      "pattern": "^[!-~]+$",
      "type": "string"
    },
    "ContainerProductEntityIdFilter": {
      "members": {
        "ValueList": {
          "shape": "ContainerProductEntityIdFilterValueList"
        }
      },
      "type": "structure"
    },
    "ContainerProductEntityIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ContainerProductEntityIdString"
      },
      "min": 1,
      "type": "list"
    },
    "ContainerProductEntityIdString": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$",
      "type": "string"
    },
    "ContainerProductFilters": {
      "members": {
        "EntityId": {
          "shape": "ContainerProductEntityIdFilter"
        },
        "LastModifiedDate": {
          "shape": "ContainerProductLastModifiedDateFilter"
        },
        "ProductTitle": {
          "shape": "ContainerProductTitleFilter"
        },
        "Visibility": {
          "shape": "ContainerProductVisibilityFilter"
        }
      },
      "type": "structure"
    },
    "ContainerProductLastModifiedDateFilter": {
      "members": {
        "DateRange": {
          "shape": "ContainerProductLastModifiedDateFilterDateRange"
        }
      },
      "type": "structure"
    },
    "ContainerProductLastModifiedDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "ContainerProductSort": {
      "members": {
        "SortBy": {
          "shape": "ContainerProductSortBy"
        },
        "SortOrder": {
          "shape": "SortOrder"
        }
      },
      "type": "structure"
    },
    "ContainerProductSortBy": {
      "enum": [
        "EntityId",
        "LastModifiedDate",
        "ProductTitle",
        "Visibility"
      ],
      "type": "string"
    },
    "ContainerProductSummary": {
      "members": {
        "ProductTitle": {
          "shape": "ContainerProductTitleString"
        },
        "Visibility": {
          "shape": "ContainerProductVisibilityString"
        }
      },
      "type": "structure"
    },
    "ContainerProductTitleFilter": {
      "members": {
        "ValueList": {
          "shape": "ContainerProductTitleFilterValueList"
        },
        "WildCardValue": {
          "shape": "ContainerProductTitleString"
        }
      },
      "type": "structure"
    },
    "ContainerProductTitleFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ContainerProductTitleString"
      },
      "min": 1,
      "type": "list"
    },
    "ContainerProductTitleString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ContainerProductVisibilityFilter": {
      "members": {
        "ValueList": {
          "shape": "ContainerProductVisibilityFilterValueList"
        }
      },
      "type": "structure"
    },
    "ContainerProductVisibilityFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ContainerProductVisibilityString"
      },
      "min": 1,
      "type": "list"
    },
    "ContainerProductVisibilityString": {
      "enum": [
        "Limited",
        "Public",
        "Restricted",
        "Draft"
      ],
      "type": "string"
    },
    "DataProductEntityIdFilter": {
      "members": {
        "ValueList": {
          "shape": "DataProductEntityIdFilterValueList"
        }
      },
      "type": "structure"
    },
    "DataProductEntityIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "DataProductEntityIdString"
      },
      "min": 1,
      "type": "list"
    },
    "DataProductEntityIdString": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$",
      "type": "string"
    },
    "DataProductFilters": {
      "members": {
        "EntityId": {
          "shape": "DataProductEntityIdFilter"
        },
        "LastModifiedDate": {
          "shape": "DataProductLastModifiedDateFilter"
        },
        "ProductTitle": {
          "shape": "DataProductTitleFilter"
        },
        "Visibility": {
          "shape": "DataProductVisibilityFilter"
        }
      },
      "type": "structure"
    },
    "DataProductLastModifiedDateFilter": {
      "members": {
        "DateRange": {
          "shape": "DataProductLastModifiedDateFilterDateRange"
        }
      },
      "type": "structure"
    },
    "DataProductLastModifiedDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "DataProductSort": {
      "members": {
        "SortBy": {
          "shape": "DataProductSortBy"
        },
        "SortOrder": {
          "shape": "SortOrder"
        }
      },
      "type": "structure"
    },
    "DataProductSortBy": {
      "enum": [
        "EntityId",
        "ProductTitle",
        "Visibility",
        "LastModifiedDate"
      ],
      "type": "string"
    },
    "DataProductSummary": {
      "members": {
        "ProductTitle": {
          "shape": "DataProductTitleString"
        },
        "Visibility": {
          "shape": "DataProductVisibilityString"
        }
      },
      "type": "structure"
    },
    "DataProductTitleFilter": {
      "members": {
        "ValueList": {
          "shape": "DataProductTitleFilterValueList"
        },
        "WildCardValue": {
          "shape": "DataProductTitleString"
        }
      },
      "type": "structure"
    },
    "DataProductTitleFilterValueList": {
      "max": 10,
      "member": {
        "shape": "DataProductTitleString"
      },
      "min": 1,
      "type": "list"
    },
    "DataProductTitleString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "DataProductVisibilityFilter": {
      "members": {
        "ValueList": {
          "shape": "DataProductVisibilityFilterValueList"
        }
      },
      "type": "structure"
    },
    "DataProductVisibilityFilterValueList": {
      "max": 10,
      "member": {
        "shape": "DataProductVisibilityString"
      },
      "min": 1,
      "type": "list"
    },
    "DataProductVisibilityString": {
      "enum": [
        "Limited",
        "Public",
        "Restricted",
        "Unavailable",
        "Draft"
      ],
      "type": "string"
    },
    "DateTimeISO8601": {
      "max": 20,
      "min": 20,
      "pattern": "^([\\d]{4})\\-(1[0-2]|0[1-9])\\-(3[01]|0[1-9]|[12][\\d])T(2[0-3]|[01][\\d]):([0-5][\\d]):([0-5][\\d])Z$",
      "type": "string"
    },
    "DeleteResourcePolicyRequest": {
      "members": {
        "ResourceArn": {
          "location": "querystring",
          "locationName": "resourceArn",
          "shape": "ResourceARN"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DeleteResourcePolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeChangeSetRequest": {
      "members": {
        "Catalog": {
          "location": "querystring",
          "locationName": "catalog",
          "shape": "Catalog"
        },
        "ChangeSetId": {
          "location": "querystring",
          "locationName": "changeSetId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Catalog",
        "ChangeSetId"
      ],
      "type": "structure"
    },
    "DescribeChangeSetResponse": {
      "members": {
        "ChangeSet": {
          "shape": "ChangeSetDescription"
        },
        "ChangeSetArn": {
          "shape": "ARN"
        },
        "ChangeSetId": {
          "shape": "ResourceId"
        },
        "ChangeSetName": {
          "shape": "ChangeSetName"
        },
        "EndTime": {
          "shape": "DateTimeISO8601"
        },
        "FailureCode": {
          "shape": "FailureCode"
        },
        "FailureDescription": {
          "shape": "ExceptionMessageContent"
        },
        "Intent": {
          "shape": "Intent"
        },
        "StartTime": {
          "shape": "DateTimeISO8601"
        },
        "Status": {
          "shape": "ChangeStatus"
        }
      },
      "type": "structure"
    },
    "DescribeEntityRequest": {
      "members": {
        "Catalog": {
          "location": "querystring",
          "locationName": "catalog",
          "shape": "Catalog"
        },
        "EntityId": {
          "location": "querystring",
          "locationName": "entityId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Catalog",
        "EntityId"
      ],
      "type": "structure"
    },
    "DescribeEntityResponse": {
      "members": {
        "Details": {
          "shape": "Json"
        },
        "EntityArn": {
          "shape": "ARN"
        },
        "EntityIdentifier": {
          "shape": "Identifier"
        },
        "EntityType": {
          "shape": "EntityType"
        },
        "LastModifiedDate": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "Entity": {
      "members": {
        "Identifier": {
          "shape": "Identifier"
        },
        "Type": {
          "shape": "EntityType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "EntityDetail": {
      "members": {
        "EntityArn": {
          "shape": "ARN"
        },
        "EntityIdentifier": {
          "shape": "Identifier"
        },
        "EntityType": {
          "shape": "EntityType"
        },
        "LastModifiedDate": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "EntityDetails": {
      "key": {
        "shape": "EntityId"
      },
      "type": "map",
      "value": {
        "shape": "EntityDetail"
      }
    },
    "EntityId": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$",
      "type": "string"
    },
    "EntityNameString": {
      "max": 255,
      "min": 1,
      "pattern": "^\\\\S+[\\\\S\\\\s]*",
      "type": "string"
    },
    "EntityRequest": {
      "members": {
        "Catalog": {
          "shape": "Catalog"
        },
        "EntityId": {
          "shape": "EntityId"
        }
      },
      "required": [
        "Catalog",
        "EntityId"
      ],
      "type": "structure"
    },
    "EntityRequestList": {
      "max": 20,
      "member": {
        "shape": "EntityRequest"
      },
      "min": 1,
      "type": "list"
    },
    "EntitySummary": {
      "members": {
        "AmiProductSummary": {
          "shape": "AmiProductSummary"
        },
        "ContainerProductSummary": {
          "shape": "ContainerProductSummary"
        },
        "DataProductSummary": {
          "shape": "DataProductSummary"
        },
        "EntityArn": {
          "shape": "ARN"
        },
        "EntityId": {
          "shape": "ResourceId"
        },
        "EntityType": {
          "shape": "EntityType"
        },
        "LastModifiedDate": {
          "shape": "DateTimeISO8601"
        },
        "Name": {
          "shape": "EntityNameString"
        },
        "OfferSummary": {
          "shape": "OfferSummary"
        },
        "ResaleAuthorizationSummary": {
          "shape": "ResaleAuthorizationSummary"
        },
        "SaaSProductSummary": {
          "shape": "SaaSProductSummary"
        },
        "Visibility": {
          "shape": "VisibilityValue"
        }
      },
      "type": "structure"
    },
    "EntitySummaryList": {
      "member": {
        "shape": "EntitySummary"
      },
      "type": "list"
    },
    "EntityType": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "EntityTypeFilters": {
      "members": {
        "AmiProductFilters": {
          "shape": "AmiProductFilters"
        },
        "ContainerProductFilters": {
          "shape": "ContainerProductFilters"
        },
        "DataProductFilters": {
          "shape": "DataProductFilters"
        },
        "OfferFilters": {
          "shape": "OfferFilters"
        },
        "ResaleAuthorizationFilters": {
          "shape": "ResaleAuthorizationFilters"
        },
        "SaaSProductFilters": {
          "shape": "SaaSProductFilters"
        }
      },
      "type": "structure",
      "union": true
    },
    "EntityTypeSort": {
      "members": {
        "AmiProductSort": {
          "shape": "AmiProductSort"
        },
        "ContainerProductSort": {
          "shape": "ContainerProductSort"
        },
        "DataProductSort": {
          "shape": "DataProductSort"
        },
        "OfferSort": {
          "shape": "OfferSort"
        },
        "ResaleAuthorizationSort": {
          "shape": "ResaleAuthorizationSort"
        },
        "SaaSProductSort": {
          "shape": "SaaSProductSort"
        }
      },
      "type": "structure",
      "union": true
    },
    "ErrorCodeString": {
      "max": 72,
      "min": 1,
      "pattern": "^[a-zA-Z_]+$",
      "type": "string"
    },
    "ErrorDetail": {
      "members": {
        "ErrorCode": {
          "shape": "ErrorCodeString"
        },
        "ErrorMessage": {
          "shape": "ExceptionMessageContent"
        }
      },
      "type": "structure"
    },
    "ErrorDetailList": {
      "member": {
        "shape": "ErrorDetail"
      },
      "type": "list"
    },
    "Errors": {
      "key": {
        "shape": "EntityId"
      },
      "type": "map",
      "value": {
        "shape": "BatchDescribeErrorDetail"
      }
    },
    "ExceptionMessageContent": {
      "max": 2048,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "FailureCode": {
      "enum": [
        "CLIENT_ERROR",
        "SERVER_FAULT"
      ],
      "type": "string"
    },
    "Filter": {
      "members": {
        "Name": {
          "shape": "FilterName"
        },
        "ValueList": {
          "shape": "ValueList"
        }
      },
      "type": "structure"
    },
    "FilterList": {
      "max": 8,
      "member": {
        "shape": "Filter"
      },
      "min": 1,
      "type": "list"
    },
    "FilterName": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "FilterValueContent": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "GetResourcePolicyRequest": {
      "members": {
        "ResourceArn": {
          "location": "querystring",
          "locationName": "resourceArn",
          "shape": "ResourceARN"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "GetResourcePolicyResponse": {
      "members": {
        "Policy": {
          "shape": "ResourcePolicyJson"
        }
      },
      "type": "structure"
    },
    "Identifier": {
      "max": 255,
      "min": 1,
      "pattern": "^[\\w\\-@]+$",
      "type": "string"
    },
    "Intent": {
      "enum": [
        "VALIDATE",
        "APPLY"
      ],
      "type": "string"
    },
    "InternalServiceException": {
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessageContent"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "Json": {
      "max": 16384,
      "min": 2,
      "pattern": "^[\\s]*\\{[\\s\\S]*\\}[\\s]*$",
      "type": "string"
    },
    "ListChangeSetsMaxResultInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "ListChangeSetsRequest": {
      "members": {
        "Catalog": {
          "shape": "Catalog"
        },
        "FilterList": {
          "shape": "FilterList"
        },
        "MaxResults": {
          "shape": "ListChangeSetsMaxResultInteger"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "Sort": {
          "shape": "Sort"
        }
      },
      "required": [
        "Catalog"
      ],
      "type": "structure"
    },
    "ListChangeSetsResponse": {
      "members": {
        "ChangeSetSummaryList": {
          "shape": "ChangeSetSummaryList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListEntitiesMaxResultInteger": {
      "box": true,
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "ListEntitiesRequest": {
      "members": {
        "Catalog": {
          "shape": "Catalog"
        },
        "EntityType": {
          "shape": "EntityType"
        },
        "EntityTypeFilters": {
          "shape": "EntityTypeFilters"
        },
        "EntityTypeSort": {
          "shape": "EntityTypeSort"
        },
        "FilterList": {
          "shape": "FilterList"
        },
        "MaxResults": {
          "shape": "ListEntitiesMaxResultInteger"
        },
        "NextToken": {
          "shape": "NextToken"
        },
        "OwnershipType": {
          "shape": "OwnershipType"
        },
        "Sort": {
          "shape": "Sort"
        }
      },
      "required": [
        "Catalog",
        "EntityType"
      ],
      "type": "structure"
    },
    "ListEntitiesResponse": {
      "members": {
        "EntitySummaryList": {
          "shape": "EntitySummaryList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "shape": "ResourceARN"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "ResourceArn": {
          "shape": "ResourceARN"
        },
        "Tags": {
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 2048,
      "min": 1,
      "pattern": "^[\\w+=.:@\\-\\/]$",
      "type": "string"
    },
    "OfferAvailabilityEndDateFilter": {
      "members": {
        "DateRange": {
          "shape": "OfferAvailabilityEndDateFilterDateRange"
        }
      },
      "type": "structure"
    },
    "OfferAvailabilityEndDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "OfferBuyerAccountsFilter": {
      "members": {
        "WildCardValue": {
          "shape": "OfferBuyerAccountsFilterWildcard"
        }
      },
      "type": "structure"
    },
    "OfferBuyerAccountsFilterWildcard": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "OfferBuyerAccountsList": {
      "max": 26,
      "member": {
        "shape": "OfferBuyerAccountsString"
      },
      "min": 0,
      "type": "list"
    },
    "OfferBuyerAccountsString": {
      "max": 12,
      "min": 12,
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "OfferEntityIdFilter": {
      "members": {
        "ValueList": {
          "shape": "OfferEntityIdFilterValueList"
        }
      },
      "type": "structure"
    },
    "OfferEntityIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "OfferEntityIdString"
      },
      "min": 1,
      "type": "list"
    },
    "OfferEntityIdString": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$",
      "type": "string"
    },
    "OfferFilters": {
      "members": {
        "AvailabilityEndDate": {
          "shape": "OfferAvailabilityEndDateFilter"
        },
        "BuyerAccounts": {
          "shape": "OfferBuyerAccountsFilter"
        },
        "EntityId": {
          "shape": "OfferEntityIdFilter"
        },
        "LastModifiedDate": {
          "shape": "OfferLastModifiedDateFilter"
        },
        "Name": {
          "shape": "OfferNameFilter"
        },
        "ProductId": {
          "shape": "OfferProductIdFilter"
        },
        "ReleaseDate": {
          "shape": "OfferReleaseDateFilter"
        },
        "ResaleAuthorizationId": {
          "shape": "OfferResaleAuthorizationIdFilter"
        },
        "State": {
          "shape": "OfferStateFilter"
        },
        "Targeting": {
          "shape": "OfferTargetingFilter"
        }
      },
      "type": "structure"
    },
    "OfferLastModifiedDateFilter": {
      "members": {
        "DateRange": {
          "shape": "OfferLastModifiedDateFilterDateRange"
        }
      },
      "type": "structure"
    },
    "OfferLastModifiedDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "OfferNameFilter": {
      "members": {
        "ValueList": {
          "shape": "OfferNameFilterValueList"
        },
        "WildCardValue": {
          "shape": "OfferNameString"
        }
      },
      "type": "structure"
    },
    "OfferNameFilterValueList": {
      "max": 10,
      "member": {
        "shape": "OfferNameString"
      },
      "min": 1,
      "type": "list"
    },
    "OfferNameString": {
      "max": 150,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "OfferProductIdFilter": {
      "members": {
        "ValueList": {
          "shape": "OfferProductIdFilterValueList"
        }
      },
      "type": "structure"
    },
    "OfferProductIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "OfferProductIdString"
      },
      "min": 1,
      "type": "list"
    },
    "OfferProductIdString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "OfferReleaseDateFilter": {
      "members": {
        "DateRange": {
          "shape": "OfferReleaseDateFilterDateRange"
        }
      },
      "type": "structure"
    },
    "OfferReleaseDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "OfferResaleAuthorizationIdFilter": {
      "members": {
        "ValueList": {
          "shape": "OfferResaleAuthorizationIdFilterValueList"
        }
      },
      "type": "structure"
    },
    "OfferResaleAuthorizationIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "OfferResaleAuthorizationIdString"
      },
      "min": 1,
      "type": "list"
    },
    "OfferResaleAuthorizationIdString": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$",
      "type": "string"
    },
    "OfferSort": {
      "members": {
        "SortBy": {
          "shape": "OfferSortBy"
        },
        "SortOrder": {
          "shape": "SortOrder"
        }
      },
      "type": "structure"
    },
    "OfferSortBy": {
      "enum": [
        "EntityId",
        "Name",
        "ProductId",
        "ResaleAuthorizationId",
        "ReleaseDate",
        "AvailabilityEndDate",
        "BuyerAccounts",
        "State",
        "Targeting",
        "LastModifiedDate"
      ],
      "type": "string"
    },
    "OfferStateFilter": {
      "members": {
        "ValueList": {
          "shape": "OfferStateFilterValueList"
        }
      },
      "type": "structure"
    },
    "OfferStateFilterValueList": {
      "max": 2,
      "member": {
        "shape": "OfferStateString"
      },
      "min": 1,
      "type": "list"
    },
    "OfferStateString": {
      "enum": [
        "Draft",
        "Released"
      ],
      "type": "string"
    },
    "OfferSummary": {
      "members": {
        "AvailabilityEndDate": {
          "shape": "DateTimeISO8601"
        },
        "BuyerAccounts": {
          "shape": "OfferBuyerAccountsList"
        },
        "Name": {
          "shape": "OfferNameString"
        },
        "ProductId": {
          "shape": "OfferProductIdString"
        },
        "ReleaseDate": {
          "shape": "DateTimeISO8601"
        },
        "ResaleAuthorizationId": {
          "shape": "OfferResaleAuthorizationIdString"
        },
        "State": {
          "shape": "OfferStateString"
        },
        "Targeting": {
          "shape": "OfferTargetingList"
        }
      },
      "type": "structure"
    },
    "OfferTargetingFilter": {
      "members": {
        "ValueList": {
          "shape": "OfferTargetingFilterValueList"
        }
      },
      "type": "structure"
    },
    "OfferTargetingFilterValueList": {
      "max": 4,
      "member": {
        "shape": "OfferTargetingString"
      },
      "min": 1,
      "type": "list"
    },
    "OfferTargetingList": {
      "max": 4,
      "member": {
        "shape": "OfferTargetingString"
      },
      "min": 0,
      "type": "list"
    },
    "OfferTargetingString": {
      "enum": [
        "BuyerAccounts",
        "ParticipatingPrograms",
        "CountryCodes",
        "None"
      ],
      "type": "string"
    },
    "OwnershipType": {
      "enum": [
        "SELF",
        "SHARED"
      ],
      "type": "string"
    },
    "PutResourcePolicyRequest": {
      "members": {
        "Policy": {
          "shape": "ResourcePolicyJson"
        },
        "ResourceArn": {
          "shape": "ResourceARN"
        }
      },
      "required": [
        "ResourceArn",
        "Policy"
      ],
      "type": "structure"
    },
    "PutResourcePolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "RequestedChangeList": {
      "max": 20,
      "member": {
        "shape": "Change"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationAvailabilityEndDateFilter": {
      "members": {
        "DateRange": {
          "shape": "ResaleAuthorizationAvailabilityEndDateFilterDateRange"
        },
        "ValueList": {
          "shape": "ResaleAuthorizationAvailabilityEndDateFilterValueList"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationAvailabilityEndDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationAvailabilityEndDateFilterValueList": {
      "max": 10,
      "member": {
        "shape": "DateTimeISO8601"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationCreatedDateFilter": {
      "members": {
        "DateRange": {
          "shape": "ResaleAuthorizationCreatedDateFilterDateRange"
        },
        "ValueList": {
          "shape": "ResaleAuthorizationCreatedDateFilterValueList"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationCreatedDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationCreatedDateFilterValueList": {
      "max": 10,
      "member": {
        "shape": "DateTimeISO8601"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationEntityIdFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationEntityIdFilterValueList"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationEntityIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationEntityIdString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationEntityIdString": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$",
      "type": "string"
    },
    "ResaleAuthorizationFilters": {
      "members": {
        "AvailabilityEndDate": {
          "shape": "ResaleAuthorizationAvailabilityEndDateFilter"
        },
        "CreatedDate": {
          "shape": "ResaleAuthorizationCreatedDateFilter"
        },
        "EntityId": {
          "shape": "ResaleAuthorizationEntityIdFilter"
        },
        "LastModifiedDate": {
          "shape": "ResaleAuthorizationLastModifiedDateFilter"
        },
        "ManufacturerAccountId": {
          "shape": "ResaleAuthorizationManufacturerAccountIdFilter"
        },
        "ManufacturerLegalName": {
          "shape": "ResaleAuthorizationManufacturerLegalNameFilter"
        },
        "Name": {
          "shape": "ResaleAuthorizationNameFilter"
        },
        "OfferExtendedStatus": {
          "shape": "ResaleAuthorizationOfferExtendedStatusFilter"
        },
        "ProductId": {
          "shape": "ResaleAuthorizationProductIdFilter"
        },
        "ProductName": {
          "shape": "ResaleAuthorizationProductNameFilter"
        },
        "ResellerAccountID": {
          "shape": "ResaleAuthorizationResellerAccountIDFilter"
        },
        "ResellerLegalName": {
          "shape": "ResaleAuthorizationResellerLegalNameFilter"
        },
        "Status": {
          "shape": "ResaleAuthorizationStatusFilter"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationLastModifiedDateFilter": {
      "members": {
        "DateRange": {
          "shape": "ResaleAuthorizationLastModifiedDateFilterDateRange"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationLastModifiedDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationManufacturerAccountIdFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationManufacturerAccountIdFilterValueList"
        },
        "WildCardValue": {
          "shape": "ResaleAuthorizationManufacturerAccountIdFilterWildcard"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationManufacturerAccountIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationManufacturerAccountIdString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationManufacturerAccountIdFilterWildcard": {
      "max": 12,
      "min": 12,
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "ResaleAuthorizationManufacturerAccountIdString": {
      "max": 12,
      "min": 12,
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "ResaleAuthorizationManufacturerLegalNameFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationManufacturerLegalNameFilterValueList"
        },
        "WildCardValue": {
          "shape": "ResaleAuthorizationManufacturerLegalNameFilterWildcard"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationManufacturerLegalNameFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationManufacturerLegalNameString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationManufacturerLegalNameFilterWildcard": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationManufacturerLegalNameString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationNameFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationNameFilterValueList"
        },
        "WildCardValue": {
          "shape": "ResaleAuthorizationNameFilterWildcard"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationNameFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationNameString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationNameFilterWildcard": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationNameString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationOfferExtendedStatusFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationOfferExtendedStatusFilterValueList"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationOfferExtendedStatusFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationOfferExtendedStatusString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationOfferExtendedStatusString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationProductIdFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationProductIdFilterValueList"
        },
        "WildCardValue": {
          "shape": "ResaleAuthorizationProductIdFilterWildcard"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationProductIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationProductIdString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationProductIdFilterWildcard": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationProductIdString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationProductNameFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationProductNameFilterValueList"
        },
        "WildCardValue": {
          "shape": "ResaleAuthorizationProductNameFilterWildcard"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationProductNameFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationProductNameString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationProductNameFilterWildcard": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationProductNameString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationResellerAccountIDFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationResellerAccountIDFilterValueList"
        },
        "WildCardValue": {
          "shape": "ResaleAuthorizationResellerAccountIDFilterWildcard"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationResellerAccountIDFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationResellerAccountIDString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationResellerAccountIDFilterWildcard": {
      "max": 12,
      "min": 12,
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "ResaleAuthorizationResellerAccountIDString": {
      "max": 12,
      "min": 12,
      "pattern": "^\\d{12}$",
      "type": "string"
    },
    "ResaleAuthorizationResellerLegalNameFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationResellerLegalNameFilterValueList"
        },
        "WildCardValue": {
          "shape": "ResaleAuthorizationResellerLegalNameFilterWildcard"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationResellerLegalNameFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationResellerLegalNameString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationResellerLegalNameFilterWildcard": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationResellerLegalNameString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "ResaleAuthorizationSort": {
      "members": {
        "SortBy": {
          "shape": "ResaleAuthorizationSortBy"
        },
        "SortOrder": {
          "shape": "SortOrder"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationSortBy": {
      "enum": [
        "EntityId",
        "Name",
        "ProductId",
        "ProductName",
        "ManufacturerAccountId",
        "ManufacturerLegalName",
        "ResellerAccountID",
        "ResellerLegalName",
        "Status",
        "OfferExtendedStatus",
        "CreatedDate",
        "AvailabilityEndDate",
        "LastModifiedDate"
      ],
      "type": "string"
    },
    "ResaleAuthorizationStatusFilter": {
      "members": {
        "ValueList": {
          "shape": "ResaleAuthorizationStatusFilterValueList"
        }
      },
      "type": "structure"
    },
    "ResaleAuthorizationStatusFilterValueList": {
      "max": 10,
      "member": {
        "shape": "ResaleAuthorizationStatusString"
      },
      "min": 1,
      "type": "list"
    },
    "ResaleAuthorizationStatusString": {
      "enum": [
        "Draft",
        "Active",
        "Restricted"
      ],
      "type": "string"
    },
    "ResaleAuthorizationSummary": {
      "members": {
        "AvailabilityEndDate": {
          "shape": "DateTimeISO8601"
        },
        "CreatedDate": {
          "shape": "DateTimeISO8601"
        },
        "ManufacturerAccountId": {
          "shape": "ResaleAuthorizationManufacturerAccountIdString"
        },
        "ManufacturerLegalName": {
          "shape": "ResaleAuthorizationManufacturerLegalNameString"
        },
        "Name": {
          "shape": "ResaleAuthorizationNameString"
        },
        "OfferExtendedStatus": {
          "shape": "ResaleAuthorizationOfferExtendedStatusString"
        },
        "ProductId": {
          "shape": "ResaleAuthorizationProductIdString"
        },
        "ProductName": {
          "shape": "ResaleAuthorizationProductNameString"
        },
        "ResellerAccountID": {
          "shape": "ResaleAuthorizationResellerAccountIDString"
        },
        "ResellerLegalName": {
          "shape": "ResaleAuthorizationResellerLegalNameString"
        },
        "Status": {
          "shape": "ResaleAuthorizationStatusString"
        }
      },
      "type": "structure"
    },
    "ResourceARN": {
      "max": 255,
      "min": 1,
      "pattern": "^arn:[\\w+=/,.@-]+:aws-marketplace:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=,.@-]+)*$",
      "type": "string"
    },
    "ResourceId": {
      "max": 255,
      "min": 1,
      "pattern": "^[\\w\\-]+$",
      "type": "string"
    },
    "ResourceIdList": {
      "member": {
        "shape": "ResourceId"
      },
      "type": "list"
    },
    "ResourceInUseException": {
      "error": {
        "httpStatusCode": 423
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessageContent"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessageContent"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ResourceNotSupportedException": {
      "error": {
        "httpStatusCode": 415
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessageContent"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ResourcePolicyJson": {
      "max": 10240,
      "min": 1,
      "pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+$",
      "type": "string"
    },
    "SaaSProductEntityIdFilter": {
      "members": {
        "ValueList": {
          "shape": "SaaSProductEntityIdFilterValueList"
        }
      },
      "type": "structure"
    },
    "SaaSProductEntityIdFilterValueList": {
      "max": 10,
      "member": {
        "shape": "SaaSProductEntityIdString"
      },
      "min": 1,
      "type": "list"
    },
    "SaaSProductEntityIdString": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$",
      "type": "string"
    },
    "SaaSProductFilters": {
      "members": {
        "EntityId": {
          "shape": "SaaSProductEntityIdFilter"
        },
        "LastModifiedDate": {
          "shape": "SaaSProductLastModifiedDateFilter"
        },
        "ProductTitle": {
          "shape": "SaaSProductTitleFilter"
        },
        "Visibility": {
          "shape": "SaaSProductVisibilityFilter"
        }
      },
      "type": "structure"
    },
    "SaaSProductLastModifiedDateFilter": {
      "members": {
        "DateRange": {
          "shape": "SaaSProductLastModifiedDateFilterDateRange"
        }
      },
      "type": "structure"
    },
    "SaaSProductLastModifiedDateFilterDateRange": {
      "members": {
        "AfterValue": {
          "shape": "DateTimeISO8601"
        },
        "BeforeValue": {
          "shape": "DateTimeISO8601"
        }
      },
      "type": "structure"
    },
    "SaaSProductSort": {
      "members": {
        "SortBy": {
          "shape": "SaaSProductSortBy"
        },
        "SortOrder": {
          "shape": "SortOrder"
        }
      },
      "type": "structure"
    },
    "SaaSProductSortBy": {
      "enum": [
        "EntityId",
        "ProductTitle",
        "Visibility",
        "LastModifiedDate"
      ],
      "type": "string"
    },
    "SaaSProductSummary": {
      "members": {
        "ProductTitle": {
          "shape": "SaaSProductTitleString"
        },
        "Visibility": {
          "shape": "SaaSProductVisibilityString"
        }
      },
      "type": "structure"
    },
    "SaaSProductTitleFilter": {
      "members": {
        "ValueList": {
          "shape": "SaaSProductTitleFilterValueList"
        },
        "WildCardValue": {
          "shape": "SaaSProductTitleString"
        }
      },
      "type": "structure"
    },
    "SaaSProductTitleFilterValueList": {
      "max": 10,
      "member": {
        "shape": "SaaSProductTitleString"
      },
      "min": 1,
      "type": "list"
    },
    "SaaSProductTitleString": {
      "max": 255,
      "min": 1,
      "pattern": "^(.)+$",
      "type": "string"
    },
    "SaaSProductVisibilityFilter": {
      "members": {
        "ValueList": {
          "shape": "SaaSProductVisibilityFilterValueList"
        }
      },
      "type": "structure"
    },
    "SaaSProductVisibilityFilterValueList": {
      "max": 10,
      "member": {
        "shape": "SaaSProductVisibilityString"
      },
      "min": 1,
      "type": "list"
    },
    "SaaSProductVisibilityString": {
      "enum": [
        "Limited",
        "Public",
        "Restricted",
        "Draft"
      ],
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessageContent"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "Sort": {
      "members": {
        "SortBy": {
          "shape": "SortBy"
        },
        "SortOrder": {
          "shape": "SortOrder"
        }
      },
      "type": "structure"
    },
    "SortBy": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "SortOrder": {
      "enum": [
        "ASCENDING",
        "DESCENDING"
      ],
      "type": "string"
    },
    "StartChangeSetRequest": {
      "members": {
        "Catalog": {
          "shape": "Catalog"
        },
        "ChangeSet": {
          "shape": "RequestedChangeList"
        },
        "ChangeSetName": {
          "shape": "ChangeSetName"
        },
        "ChangeSetTags": {
          "shape": "TagList"
        },
        "ClientRequestToken": {
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Intent": {
          "shape": "Intent"
        }
      },
      "required": [
        "Catalog",
        "ChangeSet"
      ],
      "type": "structure"
    },
    "StartChangeSetResponse": {
      "members": {
        "ChangeSetArn": {
          "shape": "ARN"
        },
        "ChangeSetId": {
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "Tag": {
      "members": {
        "Key": {
          "shape": "TagKey"
        },
        "Value": {
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 200,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagList": {
      "max": 200,
      "member": {
        "shape": "Tag"
      },
      "min": 1,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "shape": "ResourceARN"
        },
        "Tags": {
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "ThrottlingException": {
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessageContent"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "shape": "ResourceARN"
        },
        "TagKeys": {
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "ValidationException": {
      "error": {
        "httpStatusCode": 422
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessageContent"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ValueList": {
      "max": 10,
      "member": {
        "shape": "FilterValueContent"
      },
      "min": 1,
      "type": "list"
    },
    "VisibilityValue": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    }
  },
  "version": "2.0"
}