---
import { Image } from 'astro:assets';
import H1 from "../../typography/h1.astro"
import wave from "#/assets/images/spline-holders/wave-collateral.png"
---

<section class="relative flex w-full h-full justify-center pb-12 md:pb-34">
    <div class="absolute w-full max-w-[1440px] px-6 z-10 py-14 md:py-28 ">
        <div class="z-20 grid grid-cols-1 gap-16 w-full">
            <div class="flex flex-col text-left items-start">
                <H1>Our <span class="text-accent-500">ecosystem.</span></H1>
            </div>
        </div>
    </div>
    <Image src={wave} alt="Wave Collateral" class="w-full h-screen object-cover object-center"></Image>
</section>
