---
import '#/styles/reset.css'
import '#/styles/tailwind.css'
import { SEO } from 'astro-seo'
import '@fontsource/ibm-plex-mono'
import '@fontsource/jetbrains-mono'
import Header from '#/components/Header.svelte'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <SEO
      title='Union'
      description='The Sovereign Interoperability Layer'
      openGraph={{
        basic: {
          title: 'Union',
          type: 'website',
          image: '/logo.png',
          url: 'https://union.build'
        },
        optional: {
          locale: 'en',
          siteName: 'Union',
          description: 'The Sovereign Interoperability Layer'
        },
        image: {
          url: '/logo.png'
        }
      }}
      twitter={{
        title: 'Union',
        image: '/logo.png',
        imageAlt: 'Union Logo',
        creator: '@union_build',
        site: 'https://union.build',
        card: 'summary_large_image',
        description: 'The Sovereign Interoperability Layer'
      }}
      extend={{
        link: [
          { rel: 'icon', href: 'favicon.ico' },
          { rel: 'canonical', href: 'https://union.build' }
        ],
        meta: [
          { name: 'viewport', content: 'width=device-width, initial-scale=1.0' },
          { name: 'twitter:domain', content: 'union.build' },
          { name: 'twitter:url', content: 'https://union.build' },
          { name: 'twitter:description', content: 'The Sovereign Interoperability Layer' }
        ]
      }}
    />
  </head>
  <body
    class='font-sans flex flex-col items-stretch flex-1 shadow-effect-bg pb-12 bg-black text-white not-content'
  >
    <Header />

    <slot />

    <footer
      class='flex items-center pt-8 p-4 gap-4 justify-center text-lg font-normal bottom-0 mx-auto w-full'
    >
      <p>&copy; Union.fi Labs, Inc.</p>
    </footer>
  </body>
</html>
