---
import BaseLayout from './BaseLayout.astro'
import Header from '#/components/Header.astro'

interface Props {
  url?: string
  title?: string
  image?: string
  description?: string
}

const {
  url = 'https://union.build',
  title = 'Union',
  image = '/logo.png',
  description = 'The Sovereign Interoperability Layer'
} = Astro.props
---

<BaseLayout
  {url}
  {title}
  {image}
  {description}
>
  <Header />

  <slot />

  <footer
    class='flex items-center pt-8 p-4 gap-4 justify-center text-lg font-normal bottom-0 mx-auto w-full'
  >
    <p>&copy; Union.fi Labs, Inc.</p>
  </footer>
</BaseLayout>
