---
import Layout from "./Layout.astro"

interface Props {
  url?: string
  title?: string
  image?: string
  description?: string
}

const { url, title, image, description } = Astro.props
---

<Layout {url} {title} {image} {description}>
  <main class="flex flex-col gap-16 lg:gap-32">
    <slot />
  </main>
</Layout>
