---
const { class: className, padded, hoverScale, ...rest } = Astro.props
---

<div
  class:list={[
    "bg-neutral-950 border-2 border-neutral-800",
    { "p-4 md:p-6": padded },
    { "hover:scale-105 transition": hoverScale },
    className,
  ]}
  {...rest}
>
  <slot />
</div>
