---
interface Props {
  className?: string
}

const { className } = Astro.props
---

<section class=`flex w-full justify-center items-center ${className}`>
  <div class="max-w-6xl w-full z-10 px-4 overflow-hidden">
    <slot />
  </div>
</section>
