---
interface Props {
  className?: string
}

const { className } = Astro.props
---

<section class=`flex w-full justify-center items-center ${className} min-h-[50svh]`>
  <div class="max-w-[1440px] w-full z-10 px-4">
    <slot />
  </div>
</section>
