---
interface Props {
  className?: string
}

const { className } = Astro.props
---

<section class=`flex w-full justify-center ${className}`>
  <div class="w-full z-10 px-4">
    <slot />
  </div>
</section>