---
import BlinkWhale from "./BlinkWhale.astro"
import EmailSignup from "./EmailSignup.astro"
const menuSections = [
  {
    title: "Products",
    items: [
      {
        url: "https://ceremony.union.build",
        name: "Ceremony"
      },
      {
        url: "https://app.union.build",
        name: "Testnet App"
      },
      {
        url: "https://dashboard.union.build/",
        name: "Dashboard"
      }
    ]
  },
  {
    title: "Resources",
    items: [
      {
        url: "https://docs.union.build",
        name: "Docs"
      },
      {
        url: "https://research.union.build",
        name: "Research"
      },
      {
        url: "/brand-kit",
        name: "Brand kit"
      }
      // {
      //   url: "https://github.com/unionlabs/whitepaper",
      //   name: "Whitepaper"
      // }
    ]
  },
  {
    title: "About",
    items: [
      {
        url: "/blog",
        name: "Blog"
      },
      {
        url: "/team",
        name: "Team"
      },
      {
        url: "/ecosystem",
        name: "Ecosystem"
      }
    ]
  },
  {
    title: "Social",
    items: [
      {
        url: "https://x.com/union_build",
        name: "X.com"
      },
      {
        url: "https://github.com/unionlabs/union",
        name: "GitHub"
      },
      {
        url: "https://discord.union.build",
        name: "Discord"
      }
    ]
  }
]

function isInternal(menuItem: { url: string }): boolean {
  return menuItem.url[0] === "/"
}
---

<footer
  class="bg-neutral-950 border-t-2 border-neutral-800 font-jetbrains justify-center flex flex-col font-normal items-center gap-4 p-4 mt-16"
>
  <ul class="grid grid-cols-2 sm:grid-cols-4 gap-12 list-none py-4">
    {
      menuSections.map((menuSection) => (
        <li>
          <h3 class="font-supermolot text-lg font-bold uppercase !m-0 !p-0">
            {menuSection.title}
          </h3>
          {menuSection.items.map((menuItem) => (
            <div>
              <a
                href={menuItem.url}
                target={isInternal(menuItem) ? "" : "_blank"}
                rel={isInternal(menuItem) ? "" : "noopener noreferrer"}
                class="text-normal !text-white !no-underline"
              >
                {menuItem.name}
              </a>
            </div>
          ))}
        </li>
      ))
    }
  </ul>
  <EmailSignup />

  <p class="text-center block font-bold mt-4 font-supermolot text-accent-500">
    <BlinkWhale />
  </p>
  <p class="text-center font-supermolot font-bold block text-neutral-500 my-4">
    &copy; Union Labs
  </p>
</footer>
