---
const menuItems = [
  {
    url: "/blog",
    name: "Blog"
  },
  {
    url: "/docs",
    name: "Docs"
  },
  {
    url: "/team",
    name: "Team"
  },
  {
    url: "/brand-kit",
    name: "Brand Kit"
  },
  {
    url: "https://discord.union.build",
    name: "Discord"
  },
  {
    url: "https://x.com/union_build",
    name: "X.com"
  },
  {
    url: "https://github.com/unionlabs/union",
    name: "GitHub"
  },
  {
    url: "https://app.union.build",
    name: "Testnet App"
  }
]

function isInternal(menuItem: { url: string }): boolean {
  return menuItem.url[0] === "/"
}
---

<footer
  class="font-jetbrains justify-center flex flex-col font-normal items-center gap-4 p-4 mt-16"
>
  <ul class="flex flex-wrap gap-x-6 gap-y-4 list-none">
    {
      menuItems.map((menuItem) => (
        <li>
          <a
            href={menuItem.url}
            target={isInternal(menuItem) ? "" : "_blank"}
            rel={isInternal(menuItem) ? "" : "noopener noreferrer"}
            class="text-normal uppercase"
          >
            {menuItem.name}
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-center block text-neutral-300">&copy; Union Labs</p>
</footer>
