---
const menuItems = [
  {
    url: "/blog",
    name: "Blog"
  },
  {
    url: "/docs",
    name: "Docs"
  },
  {
    url: "/team",
    name: "Team"
  },
  {
    url: "/brand-kit",
    name: "Brand Kit"
  },
  {
    url: "https://discord.union.build",
    name: "Discord"
  },
  {
    url: "https://x.com/union_build",
    name: "X.com"
  }
]

function isInternal(menuItem: { url: string }): boolean {
  return menuItem.url[0] === "/"
}
---

<footer
  class="flex flex-col font-normal px-6 items-center text-[8px] sm:text-sm md:text-3xl gap-4 py-8"
>
  <ul class="max-w-5xl w-full p-0 flex justify-between border-b border-white list-none pb-4">
    {
      menuItems.map(menuItem => (
        <li>
          <a
            href={menuItem.url}
            target={isInternal(menuItem) ? '' : '_blank'}
            rel={isInternal(menuItem) ? '' : 'noopener noreferrer'}
            class="text-normal uppercase"
          >
            {menuItem.name}
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-center block">&copy;Union Labs</p>
</footer>
