---
const menuItems = [
  {
    url: "/blog",
    name: "Blog"
  },
  {
    url: "/docs",
    name: "Docs"
  },
  {
    url: "/team",
    name: "Team"
  },
  {
    url: "/brand-kit",
    name: "Brand Kit"
  },
  {
    url: "https://discord.union.build",
    name: "Discord"
  },
  {
    url: "https://x.com/union_build",
    name: "X.com"
  }
]

function isInternal(menuItem: { url: string }): boolean {
  return menuItem.url[0] === "/"
}
---

<footer
  class="flex flex-col p-4 sm:items-center text-white py-4 gap-2 justify-center text-lg font-normal bottom-0 bg-[#020306]/50"
>
  <ul class="list-none p-0 flex flex-col justify-center flex-cols-3 sm:flex-row">
    {
      menuItems.map(menuItem => (
        <li>
          <a
            href={menuItem.url}
            target={isInternal(menuItem) ? '' : '_blank'}
            rel={isInternal(menuItem) ? '' : 'noopener noreferrer'}
            class="border-b border-[#1f1f1f] px-4 py-2 !text-md text-normal flex flex-col flex-1"
          >
            {menuItem.name}
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-center block text-neutral-400 mt-2">&copy; Union Labs</p>
</footer>
