---
import unionLogo from "#/assets/union-logo/logo.svg"
import { Icon } from "astro-icon/components"
const menuItems = [
  {
    url: "/learn",
    name: "learn",
    highlight: false
  },
  {
    url: "https://docs.union.build/",
    name: "build",
    highlight: false
  },
  {
    url: "/ecosystem",
    name: "ecosystem",
    highlight: false
  },
  {
    url: "https://app.union.build",
    name: "testnet",
    highlight: false
  }
]
---

<script>
  let menuOpen = false

  let overlay = document.getElementById('overlay')
  let menuButton = document.getElementById('menu-button')
  let menuItemsList = document.getElementById('menu-items-list')

  menuButton?.addEventListener('click', () => {
    menuOpen = !menuOpen
    if (!menuItemsList || !overlay) return
    menuItemsList.style.display = menuOpen ? 'flex' : 'none'
    menuItemsList.style.maxHeight = menuOpen ? menuItemsList.scrollHeight + 'px' : '0'

    if (menuOpen) {
      overlay.classList.add('show')
      overlay.style.visibility = 'visible'
    } else {
      overlay.classList.remove('show') 
      overlay.style.visibility = 'hidden'
    }
  })

  overlay?.addEventListener('click', () => {
    menuOpen = false
    if (!menuItemsList || !overlay) return
    menuItemsList.style.display = 'none'
    menuItemsList.style.maxHeight = '0'

    overlay.classList.toggle('show', menuOpen)
  })
</script>

<header
  class="z-[100] w-full flex justify-around"
>
  <div class="max-w-[1200px] flex flex-1 items-center px-4 sm:px-6 drop-shadow-2xl">
    <a
      href="/"
      id="union-logo"
      class="flex items-center gap-2 decoration-transparent visited:text-white"
    >
      <svg class="h-12 py-1" viewBox="0 0 656 182" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M484.174 141.239C476.957 141.239 471.094 139.882 466.57 136.014C462.154 132.051 460.283 126.659 460.283 120.338V60.2464C460.283 53.8308 462.154 48.4386 466.57 44.5704C471.094 40.7022 476.957 39.3451 484.174 39.3451H523.154C530.478 39.3451 536.341 40.7022 540.757 44.5704C545.173 48.4386 547.044 53.8308 547.044 60.2464V120.338C547.044 126.659 545.173 132.051 540.757 136.014C536.341 139.882 530.478 141.239 523.154 141.239H484.174ZM514.352 121.644C516.937 121.644 519.239 121.564 520.639 120.338C522.147 119.111 523.154 117.377 523.154 115.112V65.4717C523.154 63.2074 522.147 61.4729 520.639 60.2464C519.239 59.0199 516.937 58.94 514.352 58.94H492.976C490.283 58.94 488.089 59.0199 486.689 60.2464C485.289 61.4729 484.174 63.2074 484.174 65.4717V115.112C484.174 117.377 485.289 119.111 486.689 120.338C488.089 121.564 490.283 121.644 492.976 121.644H514.352Z" fill="white"/>
        <path d="M438.089 140.23H413.876V40.354H438.089V140.23Z" fill="white"/>
        <path d="M328.811 140.23H304.921V40.354H330.069L367.791 101.389L367.791 83.7212V40.354H391.682V140.23H366.534L328.811 79.1947L328.811 96.8628V140.23Z" fill="white"/>
        <path d="M592.891 139.876H569V40H594.148L631.87 101.035L631.87 83.3672V40H655.761V139.876H630.613L592.891 78.8407L592.891 96.5088V139.876Z" fill="white"/>
        <path d="M220.934 141.239C213.707 141.239 207.809 139.882 203.279 135.998C198.857 132.02 196.974 126.623 196.974 120.276V40.354H220.934V115.035C220.934 117.308 222.054 119.044 223.456 120.276C224.858 121.507 227.065 121.586 229.761 121.586H249.938C252.635 121.586 254.842 121.507 256.244 120.276C257.646 119.044 258.766 117.308 258.766 115.035V40.354H282.726V120.276C282.726 126.623 280.843 132.02 276.421 135.998C271.998 139.882 266.101 141.239 258.766 141.239H220.934Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M121.062 121.062C121.062 154.492 93.961 181.593 60.5309 181.593C27.1006 181.593 0 154.492 0 121.062H29.6478C29.6478 137.777 43.8158 151.327 60.5309 151.327C77.246 151.327 91.4141 137.777 91.4141 121.062H121.062Z" fill="white"/>
        <path d="M136.939 105.185H166.708V75.4155H136.939V105.185Z" fill="white"/>
        <path d="M121.062 75.4154H91.2924V105.185H121.062V75.4154Z" fill="white"/>
        <path d="M45.6461 105.185H75.4154V75.4155H45.6461V105.185Z" fill="white"/>
        <path d="M29.7693 75.4154H0V105.185H29.7693V75.4154Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M45.6465 60.5309C45.6465 27.1006 72.7473 0 106.177 0C139.608 0 166.708 27.1006 166.708 60.5309H137.061C137.061 43.8158 122.892 30.2655 106.177 30.2655C89.4624 30.2655 75.2943 43.8158 75.2943 60.5309H45.6465Z" fill="white"/>
      </svg>
    </a>

    <div
      id="overlay"
      class="overlay sm:hidden"
      data-description="Overlay to blur the background when the menu is open"
    >
    </div>

    <nav class="hidden lg:block flex-1 justify-end">
      <ul
        class="flex flex-row gap-8 justify-end items-center left-0 top-[62px] shadow-3xl p-0 m-0 font-normal list-none sm:align-middle text-white"
      >
        {
          menuItems.map(menuItem => (
              <li>
                <a
                    href={menuItem.url}
                    class:list={[
                      "text-normal flex flex-col flex-1 uppercase font-mono font-bold",
                      { "text-accent-500": menuItem.highlight },
                    ]}
                >
                  {menuItem.name}
                </a>
              </li>
          ))
        }
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://discord.union.build"
          >
            <Icon name="tabler:brand-discord-filled" color="#fff" size="1.2rem" />
            <span class="sr-only">Discord</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/unionlabs/union"
          >
            <Icon name="tabler:brand-github-filled" color="#fff" size="1.2rem" />
            <span class="sr-only">GitHub</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://x.com/union_build"
          >
            <Icon name="fa6-brands:x-twitter" color="#fff" size="1.1rem" />
            <span class="sr-only">X</span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="lg:hidden flex flex-1 justify-end">
      <button
        id="menu-button"
        name="menu-button"
        aria-label="Menu"
        title="Menu"
        class="bg-white h-[32px] w-[32px] flex items-center justify-center cursor-pointer !p-0"
      >
        <Icon name="tabler:menu-2" color="#000000" size="1.2rem" />
      </button>

      <ul
        id="menu-items-list"
        class="absolute w-screen max-w-full flex-col bg-black left-0 top-[62px] border-y border-[#1F1F1F] shadow-3xl divide-y divide-[#1F1F1F] p-0 m-0 font-normal list-none sm:align-middle"
      >
        {
          menuItems.map(menuItem => (
            <li class="py-2 px-4">
              <a href={menuItem.url} class="text-white text-shadow !text-lg text-normal flex flex-col flex-1 uppercase font-mono">
                {menuItem.name}
              </a>
            </li>
          ))
        }
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://discord.union.build"
            class="flex gap-2 text-lg px-4 py-2 uppercase"
          >
            <label>Discord</label>
            <Icon name="tabler:brand-discord-filled" color="#fff" size="1rem" class="my-auto" />
          </a>
        </li>
        <li class="">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://x.com/union_build"
            class="flex gap-2 text-lg px-4 py-2 uppercase"
          >
            <label>X.com</label>
            <Icon name="fa6-brands:x-twitter" color="#fff" size="1.1rem" class="my-auto" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style is:inline>
  header {
    max-height: var(--header-height) !important;
    height: var(--header-height) !important;
    min-height: var(--header-height) !important;
  }
  #menu-items-list {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  #union-logo,
  #menu-button,
  #menu-items-list {
    z-index: 1000;
  }

  .overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    background: rgba(0, 0, 0, 9); /* Adjust color and opacity as needed */
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      visibility 0s 0.3s; /* Add transition for visibility */
  }

  .overlay.show {
    visibility: visible;
    opacity: 0.75;
    transition: opacity 0.3s ease; /* No delay needed when showing */
  }
</style>
