---
import xIcon from '#/assets/images/x.svg'
import unionLogo from '#/assets/union-logo/logo.svg'
import discordIcon from '#/assets/images/discord.svg'
---

<header class='flex justify-around pt-3 px-4 py-3'>
  <div class='max-w-5xl flex flex-1 items-center'>
    <a
      class='flex items-center gap-2 decoration-transparent visited:text-white'
      href='/'
    >
      <img
        class='w-8 h-8 my-auto'
        src={unionLogo.src}
        alt='Union Logo'
      />
      <p
        class='font-semibold text-3xl py-0 my-0 mb-0.5'
      >
        Union
      </p>
    </a>
    <nav class='flex flex-1 justify-end'>
      <ul class='flex items-center gap-4 !text-xl! !md:text-2xl font-normal list-none align-middle my-auto'>
        <li>
          <a
            href='/blog'
            class='text-xl'
          >
            Blog
          </a>
        </li>
        <li>
          <a
            href='/docs'
            class='text-xl'
          >
            Docs
          </a>
        </li>
        <li>
          <a
            href='/team'
            class='text-xl'
          >
            Team
          </a>
        </li>
        <li>
          <a
            href='/brand-kit'
            class='text-xl'
          >
            Branding
          </a>
        </li>

        <li>
          <a
            target='_blank'
            rel='noopener noreferrer'
            href='https://discord.union.build'
          >
            <img
              alt='discord'
              src={discordIcon.src}
              class='w-4 h-4 my-auto'
            />
          </a>
        </li>
        <li class=''>
          <a
            target='_blank'
            rel='noopener noreferrer'
            href='https://x.com/union_build'
          >
            <img
              alt='x.com'
              src={xIcon.src}
              class='w-4 h-4'
            />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
