---
import xIcon from '#/assets/images/x.svg'
import discordIcon from '#/assets/images/discord.svg'
import calendarIcon from '#/assets/images/calendar.svg'

let socialLinks = [
  {
    href: 'https://x.com/union_build',
    iconSrc: xIcon.src,
    cta: 'Join us on X'
  },
  {
    href: 'https://discord.union.build',
    iconSrc: discordIcon.src,
    cta: 'Join our Discord'
  },
  {
    href: 'https://x.com/union_build',
    iconSrc: calendarIcon.src,
    cta: 'Join our Events'
  }
]

---

<section class='flex flex-col'>
  <div class='grid grid-cols-1 md:grid-cols-3 gap-px'>
    {
      socialLinks.map(socialLink => (
        <a
          href={socialLink.href}
          class='flex flex-col flex-1 p-7 text-center bg-black w-full h-full'
        >
          <img
            src={socialLink.iconSrc}
            alt={socialLink.cta}
            class='h-8'
          />
          <div class='mt-4'>
            <span class='mt-16 border-b-[1px] uppercase border-white text-semibold'>
              {socialLink.cta} -&gt;
            </span>
          </div>
        </a>
      ))
    }
  </div>
</section>

