---
import type * as SplineViewerProps from "@splinetool/viewer"
/**
 * Props descriptions can be found here:
 * {@link https://unpkg.com/browse/@splinetool/viewer/build/spline-viewer.d.ts}
 * or in node_modules/@splinetool/viewer/build/spline-viewer.d.ts
 */
export interface Props {
  model: string
  width?: number
  height?: number
  unloadable?: boolean
  backgroundColor?: string
  hint?: SplineViewerProps.HintType
  loading?: SplineViewerProps.LoadingType
  eventsTarget?: SplineViewerProps.EventsTargetType
  loadingAnimType?: SplineViewerProps.PreloaderAnimType
  className?: string
}
const { model, loading = "auto", eventsTarget = "global", className, ...restProps } = Astro.props
---

<script src="@splinetool/viewer"></script>

<div class="w-full aspect-h-1 aspect-w-1 max-w-full overflow-hidden rounded-t">
  <spline-viewer
          url={model}
          eventsTarget={eventsTarget}
          {...restProps}
          class=`size-auto ${className}`></spline-viewer>
</div>
