{
  "metadata": {
    "apiVersion": "2023-11-27",
    "endpointPrefix": "qbusiness",
    "protocol": "rest-json",
    "protocolSettings": {
      "h2": "eventstream"
    },
    "protocols": [
      "rest-json"
    ],
    "serviceFullName": "QBusiness",
    "serviceId": "QBusiness",
    "signatureVersion": "v4",
    "signingName": "qbusiness",
    "uid": "qbusiness-2023-11-27"
  },
  "operations": {
    "BatchDeleteDocument": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/documents/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteDocumentRequest"
      },
      "name": "BatchDeleteDocument",
      "output": {
        "shape": "BatchDeleteDocumentResponse"
      }
    },
    "BatchPutDocument": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/documents",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchPutDocumentRequest"
      },
      "name": "BatchPutDocument",
      "output": {
        "shape": "BatchPutDocumentResponse"
      }
    },
    "Chat": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "LicenseNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/conversations",
        "responseCode": 200
      },
      "input": {
        "shape": "ChatInput"
      },
      "name": "Chat",
      "output": {
        "shape": "ChatOutput"
      }
    },
    "ChatSync": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "LicenseNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/conversations?sync",
        "responseCode": 200
      },
      "input": {
        "shape": "ChatSyncInput"
      },
      "name": "ChatSync",
      "output": {
        "shape": "ChatSyncOutput"
      }
    },
    "CreateApplication": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateApplicationRequest"
      },
      "name": "CreateApplication",
      "output": {
        "shape": "CreateApplicationResponse"
      }
    },
    "CreateIndex": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/indices",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateIndexRequest"
      },
      "name": "CreateIndex",
      "output": {
        "shape": "CreateIndexResponse"
      }
    },
    "CreatePlugin": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/plugins",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreatePluginRequest"
      },
      "name": "CreatePlugin",
      "output": {
        "shape": "CreatePluginResponse"
      }
    },
    "CreateRetriever": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/retrievers",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateRetrieverRequest"
      },
      "name": "CreateRetriever",
      "output": {
        "shape": "CreateRetrieverResponse"
      }
    },
    "CreateUser": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/users",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResponse"
      }
    },
    "CreateWebExperience": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/experiences",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateWebExperienceRequest"
      },
      "name": "CreateWebExperience",
      "output": {
        "shape": "CreateWebExperienceResponse"
      }
    },
    "DeleteApplication": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteApplicationRequest"
      },
      "name": "DeleteApplication",
      "output": {
        "shape": "DeleteApplicationResponse"
      }
    },
    "DeleteChatControlsConfiguration": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/chatcontrols",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteChatControlsConfigurationRequest"
      },
      "name": "DeleteChatControlsConfiguration",
      "output": {
        "shape": "DeleteChatControlsConfigurationResponse"
      }
    },
    "DeleteConversation": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "LicenseNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/conversations/{conversationId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteConversationRequest"
      },
      "name": "DeleteConversation",
      "output": {
        "shape": "DeleteConversationResponse"
      }
    },
    "DeleteDataSource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteDataSourceRequest"
      },
      "name": "DeleteDataSource",
      "output": {
        "shape": "DeleteDataSourceResponse"
      }
    },
    "DeleteGroup": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/groups/{groupName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupResponse"
      }
    },
    "DeleteIndex": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/indices/{indexId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteIndexRequest"
      },
      "name": "DeleteIndex",
      "output": {
        "shape": "DeleteIndexResponse"
      }
    },
    "DeletePlugin": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/plugins/{pluginId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeletePluginRequest"
      },
      "name": "DeletePlugin",
      "output": {
        "shape": "DeletePluginResponse"
      }
    },
    "DeleteRetriever": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/retrievers/{retrieverId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRetrieverRequest"
      },
      "name": "DeleteRetriever",
      "output": {
        "shape": "DeleteRetrieverResponse"
      }
    },
    "DeleteUser": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/users/{userId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "shape": "DeleteUserResponse"
      }
    },
    "DeleteWebExperience": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/applications/{applicationId}/experiences/{webExperienceId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteWebExperienceRequest"
      },
      "name": "DeleteWebExperience",
      "output": {
        "shape": "DeleteWebExperienceResponse"
      }
    },
    "GetApplication": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApplicationRequest"
      },
      "name": "GetApplication",
      "output": {
        "shape": "GetApplicationResponse"
      }
    },
    "GetChatControlsConfiguration": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/chatcontrols",
        "responseCode": 200
      },
      "input": {
        "shape": "GetChatControlsConfigurationRequest"
      },
      "name": "GetChatControlsConfiguration",
      "output": {
        "shape": "GetChatControlsConfigurationResponse"
      }
    },
    "GetDataSource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDataSourceRequest"
      },
      "name": "GetDataSource",
      "output": {
        "shape": "GetDataSourceResponse"
      }
    },
    "GetGroup": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/groups/{groupName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGroupRequest"
      },
      "name": "GetGroup",
      "output": {
        "shape": "GetGroupResponse"
      }
    },
    "GetIndex": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/indices/{indexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIndexRequest"
      },
      "name": "GetIndex",
      "output": {
        "shape": "GetIndexResponse"
      }
    },
    "GetPlugin": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/plugins/{pluginId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPluginRequest"
      },
      "name": "GetPlugin",
      "output": {
        "shape": "GetPluginResponse"
      }
    },
    "GetRetriever": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/retrievers/{retrieverId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRetrieverRequest"
      },
      "name": "GetRetriever",
      "output": {
        "shape": "GetRetrieverResponse"
      }
    },
    "GetUser": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/users/{userId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUserRequest"
      },
      "name": "GetUser",
      "output": {
        "shape": "GetUserResponse"
      }
    },
    "GetWebExperience": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/experiences/{webExperienceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetWebExperienceRequest"
      },
      "name": "GetWebExperience",
      "output": {
        "shape": "GetWebExperienceResponse"
      }
    },
    "ListApplications": {
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications",
        "responseCode": 200
      },
      "input": {
        "shape": "ListApplicationsRequest"
      },
      "name": "ListApplications",
      "output": {
        "shape": "ListApplicationsResponse"
      }
    },
    "ListConversations": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "LicenseNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/conversations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConversationsRequest"
      },
      "name": "ListConversations",
      "output": {
        "shape": "ListConversationsResponse"
      }
    },
    "ListDataSourceSyncJobs": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}/syncjobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDataSourceSyncJobsRequest"
      },
      "name": "ListDataSourceSyncJobs",
      "output": {
        "shape": "ListDataSourceSyncJobsResponse"
      }
    },
    "ListDataSources": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/datasources",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDataSourcesRequest"
      },
      "name": "ListDataSources",
      "output": {
        "shape": "ListDataSourcesResponse"
      }
    },
    "ListDocuments": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/index/{indexId}/documents",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDocumentsRequest"
      },
      "name": "ListDocuments",
      "output": {
        "shape": "ListDocumentsResponse"
      }
    },
    "ListGroups": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/groups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListIndices": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/indices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIndicesRequest"
      },
      "name": "ListIndices",
      "output": {
        "shape": "ListIndicesResponse"
      }
    },
    "ListMessages": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "LicenseNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/conversations/{conversationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMessagesRequest"
      },
      "name": "ListMessages",
      "output": {
        "shape": "ListMessagesResponse"
      }
    },
    "ListPlugins": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/plugins",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPluginsRequest"
      },
      "name": "ListPlugins",
      "output": {
        "shape": "ListPluginsResponse"
      }
    },
    "ListRetrievers": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/retrievers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRetrieversRequest"
      },
      "name": "ListRetrievers",
      "output": {
        "shape": "ListRetrieversResponse"
      }
    },
    "ListTagsForResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resourceARN}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListWebExperiences": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/applications/{applicationId}/experiences",
        "responseCode": 200
      },
      "input": {
        "shape": "ListWebExperiencesRequest"
      },
      "name": "ListWebExperiences",
      "output": {
        "shape": "ListWebExperiencesResponse"
      }
    },
    "PutFeedback": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/conversations/{conversationId}/messages/{messageId}/feedback",
        "responseCode": 200
      },
      "input": {
        "shape": "PutFeedbackRequest"
      },
      "name": "PutFeedback"
    },
    "PutGroup": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/groups",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "PutGroupRequest"
      },
      "name": "PutGroup",
      "output": {
        "shape": "PutGroupResponse"
      }
    },
    "StartDataSourceSyncJob": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}/startsync",
        "responseCode": 200
      },
      "input": {
        "shape": "StartDataSourceSyncJobRequest"
      },
      "name": "StartDataSourceSyncJob",
      "output": {
        "shape": "StartDataSourceSyncJobResponse"
      }
    },
    "StopDataSourceSyncJob": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}/stopsync",
        "responseCode": 200
      },
      "input": {
        "shape": "StopDataSourceSyncJobRequest"
      },
      "name": "StopDataSourceSyncJob",
      "output": {
        "shape": "StopDataSourceSyncJobResponse"
      }
    },
    "TagResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/tags/{resourceARN}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resourceARN}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateApplication": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateApplicationRequest"
      },
      "name": "UpdateApplication",
      "output": {
        "shape": "UpdateApplicationResponse"
      }
    },
    "UpdateChatControlsConfiguration": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/applications/{applicationId}/chatcontrols",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateChatControlsConfigurationRequest"
      },
      "name": "UpdateChatControlsConfiguration",
      "output": {
        "shape": "UpdateChatControlsConfigurationResponse"
      }
    },
    "UpdateDataSource": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateDataSourceRequest"
      },
      "name": "UpdateDataSource",
      "output": {
        "shape": "UpdateDataSourceResponse"
      }
    },
    "UpdateIndex": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}/indices/{indexId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateIndexRequest"
      },
      "name": "UpdateIndex",
      "output": {
        "shape": "UpdateIndexResponse"
      }
    },
    "UpdatePlugin": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}/plugins/{pluginId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdatePluginRequest"
      },
      "name": "UpdatePlugin",
      "output": {
        "shape": "UpdatePluginResponse"
      }
    },
    "UpdateRetriever": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}/retrievers/{retrieverId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateRetrieverRequest"
      },
      "name": "UpdateRetriever",
      "output": {
        "shape": "UpdateRetrieverResponse"
      }
    },
    "UpdateUser": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}/users/{userId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateUserRequest"
      },
      "name": "UpdateUser",
      "output": {
        "shape": "UpdateUserResponse"
      }
    },
    "UpdateWebExperience": {
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/applications/{applicationId}/experiences/{webExperienceId}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateWebExperienceRequest"
      },
      "name": "UpdateWebExperience",
      "output": {
        "shape": "UpdateWebExperienceResponse"
      }
    }
  },
  "shapes": {
    "APISchema": {
      "members": {
        "payload": {
          "shape": "Payload"
        },
        "s3": {
          "shape": "S3"
        }
      },
      "type": "structure",
      "union": true
    },
    "APISchemaType": {
      "enum": [
        "OPEN_API_V3"
      ],
      "type": "string"
    },
    "AccessConfiguration": {
      "members": {
        "accessControls": {
          "shape": "AccessControls"
        },
        "memberRelation": {
          "shape": "MemberRelation"
        }
      },
      "required": [
        "accessControls"
      ],
      "type": "structure"
    },
    "AccessControl": {
      "members": {
        "memberRelation": {
          "shape": "MemberRelation"
        },
        "principals": {
          "shape": "Principals"
        }
      },
      "required": [
        "principals"
      ],
      "type": "structure"
    },
    "AccessControls": {
      "member": {
        "shape": "AccessControl"
      },
      "type": "list"
    },
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ActionPayloadFieldKey": {
      "min": 1,
      "type": "string"
    },
    "ActionPayloadFieldNameSeparator": {
      "max": 1,
      "min": 1,
      "type": "string"
    },
    "ActionPayloadFieldType": {
      "enum": [
        "STRING",
        "NUMBER",
        "ARRAY",
        "BOOLEAN"
      ],
      "type": "string"
    },
    "ActionReview": {
      "members": {
        "payload": {
          "shape": "ActionReviewPayload"
        },
        "payloadFieldNameSeparator": {
          "shape": "ActionPayloadFieldNameSeparator"
        },
        "pluginId": {
          "shape": "PluginId"
        },
        "pluginType": {
          "shape": "PluginType"
        }
      },
      "type": "structure"
    },
    "ActionReviewEvent": {
      "event": true,
      "members": {
        "conversationId": {
          "shape": "ConversationId"
        },
        "payload": {
          "shape": "ActionReviewPayload"
        },
        "payloadFieldNameSeparator": {
          "shape": "ActionPayloadFieldNameSeparator"
        },
        "pluginId": {
          "shape": "PluginId"
        },
        "pluginType": {
          "shape": "PluginType"
        },
        "systemMessageId": {
          "shape": "MessageId"
        },
        "userMessageId": {
          "shape": "MessageId"
        }
      },
      "type": "structure"
    },
    "ActionReviewPayload": {
      "key": {
        "shape": "ActionPayloadFieldKey"
      },
      "type": "map",
      "value": {
        "shape": "ActionReviewPayloadField"
      }
    },
    "ActionReviewPayloadField": {
      "members": {
        "allowedFormat": {
          "shape": "String"
        },
        "allowedValues": {
          "shape": "ActionReviewPayloadFieldAllowedValues"
        },
        "displayDescription": {
          "shape": "String"
        },
        "displayName": {
          "shape": "String"
        },
        "displayOrder": {
          "shape": "Integer"
        },
        "required": {
          "shape": "Boolean"
        },
        "type": {
          "shape": "ActionPayloadFieldType"
        }
      },
      "type": "structure"
    },
    "ActionReviewPayloadFieldAllowedValue": {
      "members": {},
      "type": "structure"
    },
    "ActionReviewPayloadFieldAllowedValues": {
      "member": {
        "shape": "ActionReviewPayloadFieldAllowedValue"
      },
      "type": "list"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "Application": {
      "members": {
        "applicationId": {
          "shape": "ApplicationId"
        },
        "createdAt": {
          "shape": "Timestamp"
        },
        "displayName": {
          "shape": "ApplicationName"
        },
        "status": {
          "shape": "ApplicationStatus"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ApplicationArn": {
      "max": 1284,
      "min": 0,
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
      "type": "string"
    },
    "ApplicationId": {
      "max": 36,
      "min": 36,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9-]{35}",
      "type": "string"
    },
    "ApplicationName": {
      "max": 1000,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "ApplicationStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "UPDATING"
      ],
      "type": "string"
    },
    "Applications": {
      "member": {
        "shape": "Application"
      },
      "type": "list"
    },
    "AppliedAttachmentsConfiguration": {
      "members": {
        "attachmentsControlMode": {
          "shape": "AttachmentsControlMode"
        }
      },
      "type": "structure"
    },
    "AppliedCreatorModeConfiguration": {
      "members": {
        "creatorModeControl": {
          "shape": "CreatorModeControl"
        }
      },
      "required": [
        "creatorModeControl"
      ],
      "type": "structure"
    },
    "AttachmentInput": {
      "members": {
        "data": {
          "shape": "Blob"
        },
        "name": {
          "shape": "AttachmentName"
        }
      },
      "required": [
        "name",
        "data"
      ],
      "type": "structure"
    },
    "AttachmentInputEvent": {
      "event": true,
      "members": {
        "attachment": {
          "shape": "AttachmentInput"
        }
      },
      "type": "structure"
    },
    "AttachmentName": {
      "max": 1000,
      "min": 1,
      "pattern": "\\P{C}*",
      "type": "string"
    },
    "AttachmentOutput": {
      "members": {
        "error": {
          "shape": "ErrorDetail"
        },
        "name": {
          "shape": "AttachmentName"
        },
        "status": {
          "shape": "AttachmentStatus"
        }
      },
      "type": "structure"
    },
    "AttachmentStatus": {
      "enum": [
        "FAILED",
        "SUCCEEDED"
      ],
      "type": "string"
    },
    "AttachmentsConfiguration": {
      "members": {
        "attachmentsControlMode": {
          "shape": "AttachmentsControlMode"
        }
      },
      "required": [
        "attachmentsControlMode"
      ],
      "type": "structure"
    },
    "AttachmentsControlMode": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "AttachmentsInput": {
      "member": {
        "shape": "AttachmentInput"
      },
      "min": 1,
      "type": "list"
    },
    "AttachmentsOutput": {
      "member": {
        "shape": "AttachmentOutput"
      },
      "type": "list"
    },
    "AttributeFilter": {
      "members": {
        "andAllFilters": {
          "shape": "AttributeFilters"
        },
        "containsAll": {
          "shape": "DocumentAttribute"
        },
        "containsAny": {
          "shape": "DocumentAttribute"
        },
        "equalsTo": {
          "shape": "DocumentAttribute"
        },
        "greaterThan": {
          "shape": "DocumentAttribute"
        },
        "greaterThanOrEquals": {
          "shape": "DocumentAttribute"
        },
        "lessThan": {
          "shape": "DocumentAttribute"
        },
        "lessThanOrEquals": {
          "shape": "DocumentAttribute"
        },
        "notFilter": {
          "shape": "AttributeFilter"
        },
        "orAllFilters": {
          "shape": "AttributeFilters"
        }
      },
      "type": "structure"
    },
    "AttributeFilters": {
      "member": {
        "shape": "AttributeFilter"
      },
      "type": "list"
    },
    "AttributeType": {
      "enum": [
        "STRING",
        "STRING_LIST",
        "NUMBER",
        "DATE"
      ],
      "type": "string"
    },
    "AttributeValueOperator": {
      "enum": [
        "DELETE"
      ],
      "type": "string"
    },
    "AuthChallengeRequest": {
      "members": {
        "authorizationUrl": {
          "shape": "Url"
        }
      },
      "required": [
        "authorizationUrl"
      ],
      "type": "structure"
    },
    "AuthChallengeRequestEvent": {
      "event": true,
      "members": {
        "authorizationUrl": {
          "shape": "Url"
        }
      },
      "required": [
        "authorizationUrl"
      ],
      "type": "structure"
    },
    "AuthChallengeResponse": {
      "members": {
        "responseMap": {
          "shape": "AuthorizationResponseMap"
        }
      },
      "required": [
        "responseMap"
      ],
      "type": "structure"
    },
    "AuthChallengeResponseEvent": {
      "event": true,
      "members": {
        "responseMap": {
          "shape": "AuthorizationResponseMap"
        }
      },
      "required": [
        "responseMap"
      ],
      "type": "structure"
    },
    "AuthResponseKey": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "AuthResponseValue": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "AuthorizationResponseMap": {
      "key": {
        "shape": "AuthResponseKey"
      },
      "type": "map",
      "value": {
        "shape": "AuthResponseValue"
      }
    },
    "BasicAuthConfiguration": {
      "members": {
        "roleArn": {
          "shape": "RoleArn"
        },
        "secretArn": {
          "shape": "SecretArn"
        }
      },
      "required": [
        "secretArn",
        "roleArn"
      ],
      "type": "structure"
    },
    "BatchDeleteDocumentRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "dataSourceSyncId": {
          "shape": "ExecutionId"
        },
        "documents": {
          "shape": "DeleteDocuments"
        },
        "indexId": {
          "location": "uri",
          "locationName": "indexId",
          "shape": "IndexId"
        }
      },
      "required": [
        "applicationId",
        "indexId",
        "documents"
      ],
      "type": "structure"
    },
    "BatchDeleteDocumentResponse": {
      "members": {
        "failedDocuments": {
          "shape": "FailedDocuments"
        }
      },
      "type": "structure"
    },
    "BatchPutDocumentRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "dataSourceSyncId": {
          "shape": "ExecutionId"
        },
        "documents": {
          "shape": "Documents"
        },
        "indexId": {
          "location": "uri",
          "locationName": "indexId",
          "shape": "IndexId"
        },
        "roleArn": {
          "shape": "RoleArn"
        }
      },
      "required": [
        "applicationId",
        "indexId",
        "documents"
      ],
      "type": "structure"
    },
    "BatchPutDocumentResponse": {
      "members": {
        "failedDocuments": {
          "shape": "FailedDocuments"
        }
      },
      "type": "structure"
    },
    "Blob": {
      "type": "blob"
    },
    "BlockedPhrase": {
      "max": 36,
      "min": 0,
      "pattern": "\\P{C}*",
      "type": "string"
    },
    "BlockedPhrases": {
      "max": 5,
      "member": {
        "shape": "BlockedPhrase"
      },
      "min": 0,
      "type": "list"
    },
    "BlockedPhrasesConfiguration": {
      "members": {
        "blockedPhrases": {
          "shape": "BlockedPhrases"
        },
        "systemMessageOverride": {
          "shape": "SystemMessageOverride"
        }
      },
      "type": "structure"
    },
    "BlockedPhrasesConfigurationUpdate": {
      "members": {
        "blockedPhrasesToCreateOrUpdate": {
          "shape": "BlockedPhrases"
        },
        "blockedPhrasesToDelete": {
          "shape": "BlockedPhrases"
        },
        "systemMessageOverride": {
          "shape": "SystemMessageOverride"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "BoostingDurationInSeconds": {
      "box": true,
      "max": 999999999,
      "min": 0,
      "type": "long"
    },
    "ChatInput": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "clientToken": {
          "idempotencyToken": true,
          "location": "querystring",
          "locationName": "clientToken",
          "shape": "ClientToken"
        },
        "conversationId": {
          "location": "querystring",
          "locationName": "conversationId",
          "shape": "ConversationId"
        },
        "inputStream": {
          "shape": "ChatInputStream"
        },
        "parentMessageId": {
          "location": "querystring",
          "locationName": "parentMessageId",
          "shape": "MessageId"
        },
        "userGroups": {
          "location": "querystring",
          "locationName": "userGroups",
          "shape": "UserGroups"
        },
        "userId": {
          "location": "querystring",
          "locationName": "userId",
          "shape": "UserId"
        }
      },
      "payload": "inputStream",
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "ChatInputStream": {
      "eventstream": true,
      "members": {
        "attachmentEvent": {
          "shape": "AttachmentInputEvent"
        },
        "authChallengeResponseEvent": {
          "shape": "AuthChallengeResponseEvent"
        },
        "configurationEvent": {
          "shape": "ConfigurationEvent"
        },
        "endOfInputEvent": {
          "shape": "EndOfInputEvent"
        },
        "textEvent": {
          "shape": "TextInputEvent"
        }
      },
      "type": "structure"
    },
    "ChatMode": {
      "enum": [
        "RETRIEVAL_MODE",
        "CREATOR_MODE",
        "PLUGIN_MODE"
      ],
      "type": "string"
    },
    "ChatModeConfiguration": {
      "members": {
        "pluginConfiguration": {
          "shape": "PluginConfiguration"
        }
      },
      "type": "structure",
      "union": true
    },
    "ChatOutput": {
      "members": {
        "outputStream": {
          "shape": "ChatOutputStream"
        }
      },
      "payload": "outputStream",
      "type": "structure"
    },
    "ChatOutputStream": {
      "eventstream": true,
      "members": {
        "actionReviewEvent": {
          "shape": "ActionReviewEvent"
        },
        "authChallengeRequestEvent": {
          "shape": "AuthChallengeRequestEvent"
        },
        "failedAttachmentEvent": {
          "shape": "FailedAttachmentEvent"
        },
        "metadataEvent": {
          "shape": "MetadataEvent"
        },
        "textEvent": {
          "shape": "TextOutputEvent"
        }
      },
      "type": "structure"
    },
    "ChatSyncInput": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "attachments": {
          "shape": "AttachmentsInput"
        },
        "attributeFilter": {
          "shape": "AttributeFilter"
        },
        "authChallengeResponse": {
          "shape": "AuthChallengeResponse"
        },
        "chatMode": {
          "shape": "ChatMode"
        },
        "chatModeConfiguration": {
          "shape": "ChatModeConfiguration"
        },
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "conversationId": {
          "shape": "ConversationId"
        },
        "parentMessageId": {
          "shape": "MessageId"
        },
        "userGroups": {
          "location": "querystring",
          "locationName": "userGroups",
          "shape": "UserGroups"
        },
        "userId": {
          "location": "querystring",
          "locationName": "userId",
          "shape": "UserId"
        },
        "userMessage": {
          "shape": "UserMessage"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "ChatSyncOutput": {
      "members": {
        "actionReview": {
          "shape": "ActionReview"
        },
        "authChallengeRequest": {
          "shape": "AuthChallengeRequest"
        },
        "conversationId": {
          "shape": "ConversationId"
        },
        "failedAttachments": {
          "shape": "AttachmentsOutput"
        },
        "sourceAttributions": {
          "shape": "SourceAttributions"
        },
        "systemMessage": {
          "shape": "String"
        },
        "systemMessageId": {
          "shape": "MessageId"
        },
        "userMessageId": {
          "shape": "MessageId"
        }
      },
      "type": "structure"
    },
    "ClientToken": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "ConfigurationEvent": {
      "event": true,
      "members": {
        "attributeFilter": {
          "shape": "AttributeFilter"
        },
        "chatMode": {
          "shape": "ChatMode"
        },
        "chatModeConfiguration": {
          "shape": "ChatModeConfiguration"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        },
        "resourceId": {
          "shape": "String"
        },
        "resourceType": {
          "shape": "String"
        }
      },
      "required": [
        "message",
        "resourceId",
        "resourceType"
      ],
      "type": "structure"
    },
    "ContentBlockerRule": {
      "members": {
        "systemMessageOverride": {
          "shape": "SystemMessageOverride"
        }
      },
      "type": "structure"
    },
    "ContentRetrievalRule": {
      "members": {
        "eligibleDataSources": {
          "shape": "EligibleDataSources"
        }
      },
      "type": "structure"
    },
    "ContentType": {
      "enum": [
        "PDF",
        "HTML",
        "MS_WORD",
        "PLAIN_TEXT",
        "PPT",
        "RTF",
        "XML",
        "XSLT",
        "MS_EXCEL",
        "CSV",
        "JSON",
        "MD"
      ],
      "type": "string"
    },
    "Conversation": {
      "members": {
        "conversationId": {
          "shape": "ConversationId"
        },
        "startTime": {
          "shape": "Timestamp"
        },
        "title": {
          "shape": "ConversationTitle"
        }
      },
      "type": "structure"
    },
    "ConversationId": {
      "max": 36,
      "min": 36,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9-]{35}",
      "type": "string"
    },
    "ConversationTitle": {
      "type": "string"
    },
    "Conversations": {
      "member": {
        "shape": "Conversation"
      },
      "type": "list"
    },
    "CreateApplicationRequest": {
      "members": {
        "attachmentsConfiguration": {
          "shape": "AttachmentsConfiguration"
        },
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "shape": "Description"
        },
        "displayName": {
          "shape": "ApplicationName"
        },
        "encryptionConfiguration": {
          "shape": "EncryptionConfiguration"
        },
        "identityCenterInstanceArn": {
          "shape": "InstanceArn"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "tags": {
          "shape": "Tags"
        }
      },
      "required": [
        "displayName"
      ],
      "type": "structure"
    },
    "CreateApplicationResponse": {
      "members": {
        "applicationArn": {
          "shape": "ApplicationArn"
        },
        "applicationId": {
          "shape": "ApplicationId"
        }
      },
      "type": "structure"
    },
    "CreateDataSourceResponse": {
      "members": {
        "dataSourceArn": {
          "shape": "DataSourceArn"
        },
        "dataSourceId": {
          "shape": "DataSourceId"
        }
      },
      "type": "structure"
    },
    "CreateIndexRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "capacityConfiguration": {
          "shape": "IndexCapacityConfiguration"
        },
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "shape": "Description"
        },
        "displayName": {
          "shape": "IndexName"
        },
        "tags": {
          "shape": "Tags"
        },
        "type": {
          "shape": "IndexType"
        }
      },
      "required": [
        "applicationId",
        "displayName"
      ],
      "type": "structure"
    },
    "CreateIndexResponse": {
      "members": {
        "indexArn": {
          "shape": "IndexArn"
        },
        "indexId": {
          "shape": "IndexId"
        }
      },
      "type": "structure"
    },
    "CreatePluginRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "authConfiguration": {
          "shape": "PluginAuthConfiguration"
        },
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "customPluginConfiguration": {
          "shape": "CustomPluginConfiguration"
        },
        "displayName": {
          "shape": "PluginName"
        },
        "serverUrl": {
          "shape": "Url"
        },
        "tags": {
          "shape": "Tags"
        },
        "type": {
          "shape": "PluginType"
        }
      },
      "required": [
        "applicationId",
        "displayName",
        "type",
        "authConfiguration"
      ],
      "type": "structure"
    },
    "CreatePluginResponse": {
      "members": {
        "buildStatus": {
          "shape": "PluginBuildStatus"
        },
        "pluginArn": {
          "shape": "PluginArn"
        },
        "pluginId": {
          "shape": "PluginId"
        }
      },
      "type": "structure"
    },
    "CreateRetrieverRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "configuration": {
          "shape": "RetrieverConfiguration"
        },
        "displayName": {
          "shape": "RetrieverName"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "tags": {
          "shape": "Tags"
        },
        "type": {
          "shape": "RetrieverType"
        }
      },
      "required": [
        "applicationId",
        "type",
        "displayName",
        "configuration"
      ],
      "type": "structure"
    },
    "CreateRetrieverResponse": {
      "members": {
        "retrieverArn": {
          "shape": "RetrieverArn"
        },
        "retrieverId": {
          "shape": "RetrieverId"
        }
      },
      "type": "structure"
    },
    "CreateUserRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "userAliases": {
          "shape": "CreateUserRequestUserAliasesList"
        },
        "userId": {
          "shape": "String"
        }
      },
      "required": [
        "applicationId",
        "userId"
      ],
      "type": "structure"
    },
    "CreateUserRequestUserAliasesList": {
      "max": 100,
      "member": {
        "shape": "UserAlias"
      },
      "min": 0,
      "type": "list"
    },
    "CreateUserResponse": {
      "members": {},
      "type": "structure"
    },
    "CreateWebExperienceRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "clientToken": {
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "samplePromptsControlMode": {
          "shape": "WebExperienceSamplePromptsControlMode"
        },
        "subtitle": {
          "shape": "WebExperienceSubtitle"
        },
        "tags": {
          "shape": "Tags"
        },
        "title": {
          "shape": "WebExperienceTitle"
        },
        "welcomeMessage": {
          "shape": "WebExperienceWelcomeMessage"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "CreateWebExperienceResponse": {
      "members": {
        "webExperienceArn": {
          "shape": "WebExperienceArn"
        },
        "webExperienceId": {
          "shape": "WebExperienceId"
        }
      },
      "type": "structure"
    },
    "CreatorModeConfiguration": {
      "members": {
        "creatorModeControl": {
          "shape": "CreatorModeControl"
        }
      },
      "required": [
        "creatorModeControl"
      ],
      "type": "structure"
    },
    "CreatorModeControl": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "CustomPluginConfiguration": {
      "members": {
        "apiSchema": {
          "shape": "APISchema"
        },
        "apiSchemaType": {
          "shape": "APISchemaType"
        },
        "description": {
          "shape": "PluginDescription"
        }
      },
      "required": [
        "description",
        "apiSchemaType",
        "apiSchema"
      ],
      "type": "structure"
    },
    "DataSource": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "dataSourceId": {
          "shape": "DataSourceId"
        },
        "displayName": {
          "shape": "DataSourceName"
        },
        "status": {
          "shape": "DataSourceStatus"
        },
        "type": {
          "shape": "String"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DataSourceArn": {
      "max": 1284,
      "min": 0,
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
      "type": "string"
    },
    "DataSourceId": {
      "max": 36,
      "min": 36,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9-]{35}",
      "type": "string"
    },
    "DataSourceIds": {
      "max": 1,
      "member": {
        "shape": "DataSourceId"
      },
      "min": 1,
      "type": "list"
    },
    "DataSourceName": {
      "max": 1000,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DataSourceStatus": {
      "enum": [
        "PENDING_CREATION",
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "UPDATING"
      ],
      "type": "string"
    },
    "DataSourceSyncJob": {
      "members": {
        "dataSourceErrorCode": {
          "shape": "String"
        },
        "endTime": {
          "shape": "Timestamp"
        },
        "error": {
          "shape": "ErrorDetail"
        },
        "executionId": {
          "shape": "ExecutionId"
        },
        "metrics": {
          "shape": "DataSourceSyncJobMetrics"
        },
        "startTime": {
          "shape": "Timestamp"
        },
        "status": {
          "shape": "DataSourceSyncJobStatus"
        }
      },
      "type": "structure"
    },
    "DataSourceSyncJobMetrics": {
      "members": {
        "documentsAdded": {
          "shape": "MetricValue"
        },
        "documentsDeleted": {
          "shape": "MetricValue"
        },
        "documentsFailed": {
          "shape": "MetricValue"
        },
        "documentsModified": {
          "shape": "MetricValue"
        },
        "documentsScanned": {
          "shape": "MetricValue"
        }
      },
      "type": "structure"
    },
    "DataSourceSyncJobStatus": {
      "enum": [
        "FAILED",
        "SUCCEEDED",
        "SYNCING",
        "INCOMPLETE",
        "STOPPING",
        "ABORTED",
        "SYNCING_INDEXING"
      ],
      "type": "string"
    },
    "DataSourceSyncJobs": {
      "member": {
        "shape": "DataSourceSyncJob"
      },
      "type": "list"
    },
    "DataSourceUserId": {
      "max": 1024,
      "min": 1,
      "pattern": "\\P{C}*",
      "type": "string"
    },
    "DataSourceVpcConfiguration": {
      "members": {
        "securityGroupIds": {
          "shape": "SecurityGroupIds"
        },
        "subnetIds": {
          "shape": "SubnetIds"
        }
      },
      "required": [
        "subnetIds",
        "securityGroupIds"
      ],
      "type": "structure"
    },
    "DataSources": {
      "member": {
        "shape": "DataSource"
      },
      "type": "list"
    },
    "DateAttributeBoostingConfiguration": {
      "members": {
        "boostingDurationInSeconds": {
          "shape": "BoostingDurationInSeconds"
        },
        "boostingLevel": {
          "shape": "DocumentAttributeBoostingLevel"
        }
      },
      "required": [
        "boostingLevel"
      ],
      "type": "structure"
    },
    "DeleteApplicationRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "DeleteApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteChatControlsConfigurationRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "DeleteChatControlsConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteConversationRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "conversationId": {
          "location": "uri",
          "locationName": "conversationId",
          "shape": "ConversationId"
        },
        "userId": {
          "location": "querystring",
          "locationName": "userId",
          "shape": "UserId"
        }
      },
      "required": [
        "conversationId",
        "applicationId"
      ],
      "type": "structure"
    },
    "DeleteConversationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteDataSourceRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "dataSourceId": {
          "location": "uri",
          "locationName": "dataSourceId",
          "shape": "DataSourceId"
        },
        "indexId": {
          "location": "uri",
          "locationName": "indexId",
          "shape": "IndexId"
        }
      },
      "required": [
        "applicationId",
        "indexId",
        "dataSourceId"
      ],
      "type": "structure"
    },
    "DeleteDataSourceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteDocument": {
      "members": {
        "documentId": {
          "shape": "DocumentId"
        }
      },
      "required": [
        "documentId"
      ],
      "type": "structure"
    },
    "DeleteDocuments": {
      "member": {
        "shape": "DeleteDocument"
      },
      "type": "list"
    },
    "DeleteGroupRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "dataSourceId": {
          "location": "querystring",
          "locationName": "dataSourceId",
          "shape": "DataSourceId"
        },
        "groupName": {
          "location": "uri",
          "locationName": "groupName",
          "shape": "GroupName"
        },
        "indexId": {
          "location": "uri",
          "locationName": "indexId",
          "shape": "IndexId"
        }
      },
      "required": [
        "applicationId",
        "indexId",
        "groupName"
      ],
      "type": "structure"
    },
    "DeleteGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteIndexRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "indexId": {
          "location": "uri",
          "locationName": "indexId",
          "shape": "IndexId"
        }
      },
      "required": [
        "applicationId",
        "indexId"
      ],
      "type": "structure"
    },
    "DeleteIndexResponse": {
      "members": {},
      "type": "structure"
    },
    "DeletePluginRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "pluginId": {
          "location": "uri",
          "locationName": "pluginId",
          "shape": "PluginId"
        }
      },
      "required": [
        "applicationId",
        "pluginId"
      ],
      "type": "structure"
    },
    "DeletePluginResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRetrieverRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "retrieverId": {
          "location": "uri",
          "locationName": "retrieverId",
          "shape": "RetrieverId"
        }
      },
      "required": [
        "applicationId",
        "retrieverId"
      ],
      "type": "structure"
    },
    "DeleteRetrieverResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteUserRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "userId": {
          "location": "uri",
          "locationName": "userId",
          "shape": "String"
        }
      },
      "required": [
        "applicationId",
        "userId"
      ],
      "type": "structure"
    },
    "DeleteUserResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteWebExperienceRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "webExperienceId": {
          "location": "uri",
          "locationName": "webExperienceId",
          "shape": "WebExperienceId"
        }
      },
      "required": [
        "applicationId",
        "webExperienceId"
      ],
      "type": "structure"
    },
    "DeleteWebExperienceResponse": {
      "members": {},
      "type": "structure"
    },
    "Description": {
      "max": 1000,
      "min": 0,
      "pattern": "\\P{C}*",
      "type": "string"
    },
    "Document": {
      "members": {
        "accessConfiguration": {
          "shape": "AccessConfiguration"
        },
        "attributes": {
          "shape": "DocumentAttributes"
        },
        "content": {
          "shape": "DocumentContent"
        },
        "contentType": {
          "shape": "ContentType"
        },
        "documentEnrichmentConfiguration": {
          "shape": "DocumentEnrichmentConfiguration"
        },
        "id": {
          "shape": "DocumentId"
        },
        "title": {
          "shape": "Title"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DocumentAttribute": {
      "members": {
        "name": {
          "shape": "DocumentAttributeKey"
        },
        "value": {
          "shape": "DocumentAttributeValue"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "structure"
    },
    "DocumentAttributeBoostingConfiguration": {
      "members": {
        "dateConfiguration": {
          "shape": "DateAttributeBoostingConfiguration"
        },
        "numberConfiguration": {
          "shape": "NumberAttributeBoostingConfiguration"
        },
        "stringConfiguration": {
          "shape": "StringAttributeBoostingConfiguration"
        },
        "stringListConfiguration": {
          "shape": "StringListAttributeBoostingConfiguration"
        }
      },
      "type": "structure",
      "union": true
    },
    "DocumentAttributeBoostingLevel": {
      "enum": [
        "NONE",
        "LOW",
        "MEDIUM",
        "HIGH",
        "VERY_HIGH"
      ],
      "type": "string"
    },
    "DocumentAttributeBoostingOverrideMap": {
      "key": {
        "shape": "DocumentAttributeKey"
      },
      "min": 1,
      "type": "map",
      "value": {
        "shape": "DocumentAttributeBoostingConfiguration"
      }
    },
    "DocumentAttributeCondition": {
      "members": {
        "key": {
          "shape": "DocumentAttributeKey"
        },
        "operator": {
          "shape": "DocumentEnrichmentConditionOperator"
        },
        "value": {
          "shape": "DocumentAttributeValue"
        }
      },
      "required": [
        "key",
        "operator"
      ],
      "type": "structure"
    },
    "DocumentAttributeConfiguration": {
      "members": {
        "name": {
          "shape": "DocumentMetadataConfigurationName"
        },
        "search": {
          "shape": "Status"
        },
        "type": {
          "shape": "AttributeType"
        }
      },
      "type": "structure"
    },
    "DocumentAttributeConfigurations": {
      "max": 500,
      "member": {
        "shape": "DocumentAttributeConfiguration"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentAttributeKey": {
      "max": 200,
      "min": 1,
      "pattern": "[a-zA-Z0-9_][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DocumentAttributeStringListValue": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "DocumentAttributeTarget": {
      "members": {
        "attributeValueOperator": {
          "shape": "AttributeValueOperator"
        },
        "key": {
          "shape": "DocumentAttributeKey"
        },
        "value": {
          "shape": "DocumentAttributeValue"
        }
      },
      "required": [
        "key"
      ],
      "type": "structure"
    },
    "DocumentAttributeValue": {
      "members": {
        "dateValue": {
          "shape": "Timestamp"
        },
        "longValue": {
          "shape": "Long"
        },
        "stringListValue": {
          "shape": "DocumentAttributeStringListValue"
        },
        "stringValue": {
          "shape": "DocumentAttributeValueStringValueString"
        }
      },
      "type": "structure",
      "union": true
    },
    "DocumentAttributeValueStringValueString": {
      "max": 2048,
      "min": 0,
      "type": "string"
    },
    "DocumentAttributes": {
      "max": 500,
      "member": {
        "shape": "DocumentAttribute"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentContent": {
      "members": {
        "blob": {
          "shape": "Blob"
        },
        "s3": {
          "shape": "S3"
        }
      },
      "type": "structure",
      "union": true
    },
    "DocumentContentOperator": {
      "enum": [
        "DELETE"
      ],
      "type": "string"
    },
    "DocumentDetailList": {
      "member": {
        "shape": "DocumentDetails"
      },
      "type": "list"
    },
    "DocumentDetails": {
      "members": {
        "createdAt": {
          "shape": "Timestamp"
        },
        "documentId": {
          "shape": "DocumentId"
        },
        "error": {
          "shape": "ErrorDetail"
        },
        "status": {
          "shape": "DocumentStatus"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DocumentEnrichmentConditionOperator": {
      "enum": [
        "GREATER_THAN",
        "GREATER_THAN_OR_EQUALS",
        "LESS_THAN",
        "LESS_THAN_OR_EQUALS",
        "EQUALS",
        "NOT_EQUALS",
        "CONTAINS",
        "NOT_CONTAINS",
        "EXISTS",
        "NOT_EXISTS",
        "BEGINS_WITH"
      ],
      "type": "string"
    },
    "DocumentEnrichmentConfiguration": {
      "members": {
        "inlineConfigurations": {
          "shape": "InlineDocumentEnrichmentConfigurations"
        },
        "postExtractionHookConfiguration": {
          "shape": "HookConfiguration"
        },
        "preExtractionHookConfiguration": {
          "shape": "HookConfiguration"
        }
      },
      "type": "structure"
    },
    "DocumentId": {
      "max": 1825,
      "min": 1,
      "pattern": "\\P{C}*",
      "type": "string"
    },
    "DocumentMetadataConfigurationName": {
      "max": 30,
      "min": 1,
      "pattern": "[a-zA-Z0-9_][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DocumentStatus": {
      "enum": [
        "RECEIVED",
        "PROCESSING",
        "INDEXED",
        "UPDATED",
        "FAILED",
        "DELETING",
        "DELETED",
        "DOCUMENT_FAILED_TO_INDEX"
      ],
      "type": "string"
    },
    "Documents": {
      "max": 10,
      "member": {
        "shape": "Document"
      },
      "min": 1,
      "type": "list"
    },
    "EligibleDataSource": {
      "members": {
        "dataSourceId": {
          "shape": "DataSourceId"
        },
        "indexId": {
          "shape": "IndexId"
        }
      },
      "type": "structure"
    },
    "EligibleDataSources": {
      "max": 5,
      "member": {
        "shape": "EligibleDataSource"
      },
      "min": 0,
      "type": "list"
    },
    "EncryptionConfiguration": {
      "members": {
        "kmsKeyId": {
          "shape": "KmsKeyId"
        }
      },
      "type": "structure"
    },
    "EndOfInputEvent": {
      "event": true,
      "members": {},
      "type": "structure"
    },
    "ErrorCode": {
      "enum": [
        "InternalError",
        "InvalidRequest",
        "ResourceInactive",
        "ResourceNotFound"
      ],
      "type": "string"
    },
    "ErrorDetail": {
      "members": {
        "errorCode": {
          "shape": "ErrorCode"
        },
        "errorMessage": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "max": 2048,
      "min": 1,
      "pattern": "\\P{C}*",
      "type": "string"
    },
    "ExampleChatMessage": {
      "max": 350,
      "min": 0,
      "pattern": "\\P{C}*",
      "type": "string"
    },
    "ExampleChatMessages": {
      "max": 5,
      "member": {
        "shape": "ExampleChatMessage"
      },
      "min": 0,
      "type": "list"
    },
    "ExecutionId": {
      "max": 36,
      "min": 36,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9-]{35}",
      "type": "string"
    },
    "FailedAttachmentEvent": {
      "event": true,
      "members": {
        "attachment": {
          "shape": "AttachmentOutput"
        },
        "conversationId": {
          "shape": "ConversationId"
        },
        "systemMessageId": {
          "shape": "MessageId"
        },
        "userMessageId": {
          "shape": "MessageId"
        }
      },
      "type": "structure"
    },
    "FailedDocument": {
      "members": {
        "dataSourceId": {
          "shape": "DataSourceId"
        },
        "error": {
          "shape": "ErrorDetail"
        },
        "id": {
          "shape": "DocumentId"
        }
      },
      "type": "structure"
    },
    "FailedDocuments": {
      "member": {
        "shape": "FailedDocument"
      },
      "type": "list"
    },
    "GetApplicationRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "GetApplicationResponse": {
      "members": {
        "applicationArn": {
          "shape": "ApplicationArn"
        },
        "applicationId": {
          "shape": "ApplicationId"
        },
        "attachmentsConfiguration": {
          "shape": "AppliedAttachmentsConfiguration"
        },
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "displayName": {
          "shape": "ApplicationName"
        },
        "encryptionConfiguration": {
          "shape": "EncryptionConfiguration"
        },
        "error": {
          "shape": "ErrorDetail"
        },
        "identityCenterApplicationArn": {
          "shape": "IdcApplicationArn"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "status": {
          "shape": "ApplicationStatus"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetChatControlsConfigurationRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "maxResults": {
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResultsIntegerForGetTopicConfigurations"
        },
        "nextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "applicationId"
      ],
      "type": "structure"
    },
    "GetChatControlsConfigurationResponse": {
      "members": {
        "blockedPhrases": {
          "shape": "BlockedPhrasesConfiguration"
        },
        "creatorModeConfiguration": {
          "shape": "AppliedCreatorModeConfiguration"
        },
        "nextToken": {
          "shape": "NextToken"
        },
        "responseScope": {
          "shape": "ResponseScope"
        },
        "topicConfigurations": {
          "shape": "TopicConfigurations"
        }
      },
      "type": "structure"
    },
    "GetDataSourceRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "dataSourceId": {
          "location": "uri",
          "locationName": "dataSourceId",
          "shape": "DataSourceId"
        },
        "indexId": {
          "location": "uri",
          "locationName": "indexId",
          "shape": "IndexId"
        }
      },
      "required": [
        "applicationId",
        "indexId",
        "dataSourceId"
      ],
      "type": "structure"
    },
    "GetDataSourceResponse": {
      "members": {
        "applicationId": {
          "shape": "ApplicationId"
        },
        "createdAt": {
          "shape": "Timestamp"
        },
        "dataSourceArn": {
          "shape": "DataSourceArn"
        },
        "dataSourceId": {
          "shape": "DataSourceId"
        },
        "description": {
          "shape": "Description"
        },
        "displayName": {
          "shape": "DataSourceName"
        },
        "documentEnrichmentConfiguration": {
          "shape": "DocumentEnrichmentConfiguration"
        },
        "error": {
          "shape": "ErrorDetail"
        },
        "indexId": {
          "shape": "IndexId"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "status": {
          "shape": "DataSourceStatus"
        },
        "syncSchedule": {
          "shape": "SyncSchedule"
        },
        "type": {
          "shape": "String"
        },
        "updatedAt": {
          "shape": "Timestamp"
        },
        "vpcConfiguration": {
          "shape": "DataSourceVpcConfiguration"
        }
      },
      "type": "structure"
    },
    "GetGroupRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "dataSourceId": {
          "location": "querystring",
          "locationName": "dataSourceId",
          "shape": "DataSourceId"
        },
        "groupName": {
          "location": "uri",
          "locationName": "groupName",
          "shape": "GroupName"
        },
        "indexId": {
          "location": "uri",
          "locationName": "indexId",
          "shape": "IndexId"
        }
      },
      "required": [
        "applicationId",
        "indexId",
        "groupName"
      ],
      "type": "structure"
    },
    "GetGroupResponse": {
      "members": {
        "status": {
          "shape": "GroupStatusDetail"
        },
        "statusHistory": {
          "shape": "GroupStatusDetails"
        }
      },
      "type": "structure"
    },
    "GetIndexRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "indexId": {
          "location": "uri",
          "locationName": "indexId",
          "shape": "IndexId"
        }
      },
      "required": [
        "applicationId",
        "indexId"
      ],
      "type": "structure"
    },
    "GetIndexResponse": {
      "members": {
        "applicationId": {
          "shape": "ApplicationId"
        },
        "capacityConfiguration": {
          "shape": "IndexCapacityConfiguration"
        },
        "createdAt": {
          "shape": "Timestamp"
        },
        "description": {
          "shape": "Description"
        },
        "displayName": {
          "shape": "IndexName"
        },
        "documentAttributeConfigurations": {
          "shape": "DocumentAttributeConfigurations"
        },
        "error": {
          "shape": "ErrorDetail"
        },
        "indexArn": {
          "shape": "IndexArn"
        },
        "indexId": {
          "shape": "IndexId"
        },
        "indexStatistics": {
          "shape": "IndexStatistics"
        },
        "status": {
          "shape": "IndexStatus"
        },
        "type": {
          "shape": "IndexType"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetPluginRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "pluginId": {
          "location": "uri",
          "locationName": "pluginId",
          "shape": "PluginId"
        }
      },
      "required": [
        "applicationId",
        "pluginId"
      ],
      "type": "structure"
    },
    "GetPluginResponse": {
      "members": {
        "applicationId": {
          "shape": "ApplicationId"
        },
        "authConfiguration": {
          "shape": "PluginAuthConfiguration"
        },
        "buildStatus": {
          "shape": "PluginBuildStatus"
        },
        "createdAt": {
          "shape": "Timestamp"
        },
        "customPluginConfiguration": {
          "shape": "CustomPluginConfiguration"
        },
        "displayName": {
          "shape": "PluginName"
        },
        "pluginArn": {
          "shape": "PluginArn"
        },
        "pluginId": {
          "shape": "PluginId"
        },
        "serverUrl": {
          "shape": "Url"
        },
        "state": {
          "shape": "PluginState"
        },
        "type": {
          "shape": "PluginType"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetRetrieverRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "retrieverId": {
          "location": "uri",
          "locationName": "retrieverId",
          "shape": "RetrieverId"
        }
      },
      "required": [
        "applicationId",
        "retrieverId"
      ],
      "type": "structure"
    },
    "GetRetrieverResponse": {
      "members": {
        "applicationId": {
          "shape": "ApplicationId"
        },
        "configuration": {
          "shape": "RetrieverConfiguration"
        },
        "createdAt": {
          "shape": "Timestamp"
        },
        "displayName": {
          "shape": "RetrieverName"
        },
        "retrieverArn": {
          "shape": "RetrieverArn"
        },
        "retrieverId": {
          "shape": "RetrieverId"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "status": {
          "shape": "RetrieverStatus"
        },
        "type": {
          "shape": "RetrieverType"
        },
        "updatedAt": {
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetUserRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "userId": {
          "location": "uri",
          "locationName": "userId",
          "shape": "String"
        }
      },
      "required": [
        "applicationId",
        "userId"
      ],
      "type": "structure"
    },
    "GetUserResponse": {
      "members": {
        "userAliases": {
          "shape": "UserAliases"
        }
      },
      "type": "structure"
    },
    "GetWebExperienceRequest": {
      "members": {
        "applicationId": {
          "location": "uri",
          "locationName": "applicationId",
          "shape": "ApplicationId"
        },
        "webExperienceId": {
          "location": "uri",
          "locationName": "webExperienceId",
          "shape": "WebExperienceId"
        }
      },
      "required": [
        "applicationId",
        "webExperienceId"
      ],
      "type": "structure"
    },
    "GetWebExperienceResponse": {
      "members": {
        "applicationId": {
          "shape": "ApplicationId"
        },
        "authenticationConfiguration": {
          "deprecated": true,
          "deprecatedMessage": "Property associated with legacy SAML IdP flow. Deprecated in favor of using AWS IAM Identity Center for user management.",
          "shape": "WebExperienceAuthConfiguration"
        },
        "createdAt": {
          "shape": "Timestamp"
        },
        "defaultEndpoint": {
          "shape": "Url"
        },
        "error": {
          "shape": "ErrorDetail"
        },
        "roleArn": {
          "shape": "RoleArn"
        },
        "samplePromptsControlMode": {
          "shape": "WebExperienceSamplePromptsControlMode"
        },
        "status": {
          "shape": "WebExperienceStatus"
        },
        "subtitle": {
          "shape": "WebExperienceSubtitle"
        },
        "title": {
          "shape": "WebExperienceTitle"
        },
        "updatedAt": {
          "shape": "Timestamp"
        },
        "webExperienceArn": {
          "shape": "WebExperienceArn"
        },
        "webExperienceId": {
          "shape": "WebExperienceId"
        },
        "welcomeMessage": {
          "shape": "WebExperienceWelcomeMessage"
        }
      },
      "type": "structure"
    },
    "GroupMembers": {
      "members": {
        "memberGroups": {
          "shape": "MemberGroups"
        },
        "memberUsers": {
          "shape": "MemberUsers"
        }
      },
      "type": "structure"
    },
    "GroupName": {
      "max": 1024,
      "min": 1,
      "pattern": "\\P{C}*",
      "type": "string"
    },
    "GroupStatus": {
      "enum": [
        "FAILED",
        "SUCCEEDED",
        "PROCESSING",
        "DELETING",
        "DELETED"
      ],
      "type": "string"
    },
    "GroupStatusDetail": {
      "members": {
        "errorDetail": {
          "shape": "ErrorDetail"
        },
        "lastUpdatedAt": {
          "shape": "Timestamp"
        },
        "status": {
          "shape": "GroupStatus"
        }
      },
      "type": "structure"
    },
    "GroupStatusDetails": {
      "member": {
        "shape": "GroupStatusDetail"
      },
      "type": "list"
    },
[...]
