name: Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  spell-fmt-check:
    uses: unionlabs/workflows/.github/workflows/build.yml@6a25268367666aab8120d568c757deb54c8a8b15
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      filter_builds: |
        (
          (.top_attr == "checks") and
          (.system == "x86_64-linux") and 
          ( 
            (
              # Do not run on both systems
              [.attr] | inside(
                [
                  "spellcheck",
                  "treefmt-check"
                ]
              )
            )
          )
        )
  build:
    needs: [ spell-fmt-check ]
    if: |
      !cancelled()
      && (contains(needs.*.result, 'success') || github.event.pull_request.draft == true)
    uses: unionlabs/workflows/.github/workflows/build.yml@6a25268367666aab8120d568c757deb54c8a8b15
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      filter_builds: |
        (
          (.top_attr == "packages" or .top_attr == "devShells") and
          (.system == "x86_64-linux" or .system == "aarch64-linux") and 
          ( 
            (
              # Do not run on both systems
              [.attr] | inside(
                [
                  "uniond-release",
                  "devnet",
                  "devnet-simd",
                  "devnet-union",
                  "devnet-eth",
                  "docgen",
                  "download-circuit",
                  "evm",
                  "evm-contracts",
                  "fuzz",
                  "generate-sol-proto",
                  "generate-prover-proto",
                  "generate-rust-proto",
                  "gen-proto",
                  "githook",
                  "go-vendor",
                  "rust-proto",
                  "site-static",
                  "site-server",
                  "voyager-queue",
                  "sqlx-cli",
                  "fetchRustStdCargoLock",
                  "fetch-membership-data",
                  "gen-eth-lc-update-test-data",
                  "impure-site-deploy",
                  "rust-sol-bindings",
                  "vendor-tools",
                  "impure-site-deploy",
                  "generate-rust-sol-bindings"
                ]
              )
            ) or 
            (.attr | test("eth-.*-deploy")) | 
            not
          ) or 
          ( 
            # x86_64 only
            .system == "x86_64-linux" and 
            (
              [.attr] | inside(
                [
                  "devnet",
                  "devnet-simd",
                  "devnet-union",
                  "devnet-eth",
                  "evm",
                  "evm-contracts"
                ]
              )
            )
          )
        )
  test:
    needs: [ spell-fmt-check ]
    if: |
      !cancelled()
      && (contains(needs.*.result, 'success') || github.event.pull_request.draft == true)
    uses: unionlabs/workflows/.github/workflows/build.yml@6a25268367666aab8120d568c757deb54c8a8b15
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      filter_builds: |
        (
          (.top_attr == "checks") and
          (.system == "x86_64-linux") and 
          ( 
            (
              # Do not run
              [.attr] | inside(
                [
                  "ensure-blocks",
                  "epoch-completes",
                  "forced-set-rotation",
                  "pre-commit",
                  "pre-commit-check",
                  "sepolia-runs",
                  "spellcheck",
                  "treefmt-check",
                  "union-runs",
                  "upgrade-from-genesis",
                  "upgrade-with-tokenfactory-state",
                  "virtualisation-works",
                  "voyager-queue"
                ]
              )
            ) | not
          )
        )
