name: Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    uses: unionlabs/workflows/.github/workflows/build.yml@d0880ca9903bd66043d640f531f046bf76129668
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      eval_target: 'build'
      eval_top_attr: 'packages'
  dev:
    uses: unionlabs/workflows/.github/workflows/build.yml@d0880ca9903bd66043d640f531f046bf76129668
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      eval_target: 'dev'
      eval_top_attr: 'devShells'
  test:
    uses: unionlabs/workflows/.github/workflows/build.yml@d0880ca9903bd66043d640f531f046bf76129668
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      eval_target: 'test'
      eval_top_attr: 'checks'
