name: Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    uses: unionlabs/workflows/.github/workflows/build.yml@2c94f6f3acb2d7d9222f8fa05f43eb8c3ed2e758
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      filter_builds: |
        '(
          (.top_attr == "checks" or .top_attr == "packages" or .top_attr == "devShells") and
          (.system == "x86_64-linux" or .system == "aarch64-linux") and 
          ( 
            [.attr] | inside(
              [
                "bundle-mainnet", 
                "bundle-testnet", 
                "generate-evm-proto", 
                "generate-prover-proto", 
                "gen-proto", 
                "pre-commit-check", 
                "pre-commit", 
                "devnet", 
                "devnet-cosmos", 
                "devnet-evm", 
                "rust-proto", 
                "generate-rust-proto", 
                "go-vendor", 
                "evm-contracts", 
                "virtualisation-works", 
                "ensure-blocks", 
                "union-runs", 
                "sepolia-runs", 
                "epoch-completes",
                "forced-set-rotation"
              ]
            ) | not
          ) or 
          (.attr == "evm-contracts" and .system == "x86_64-linux") or 
          (.attr == "devnet" and .system == "x86_64-linux") or 
          (.attr == "devnet-cosmos" and .system == "x86_64-linux") or 
          (.attr == "devnet-evm" and .system == "x86_64-linux")
        )'
