name: Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  spell-fmt-check:
    uses: unionlabs/workflows/.github/workflows/build.yml@4ab8d3d304d8085b5ef569a124e02c4794fa5b74
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      filter_builds: |
        (
          (.top_attr == "checks") and
          (.system == "x86_64-linux") and 
          ( 
            (
              # Do not run on both systems
              [.attr] | inside(
                [
                  "spellcheck",
                  "treefmt-check"
                ]
              )
            )
          )
        )
  build:
    needs: [ spell-fmt-check ]
    if: |
      !cancelled()
      && (contains(needs.*.result, 'success') || github.event.pull_request.draft == true)
    uses: unionlabs/workflows/.github/workflows/build.yml@4ab8d3d304d8085b5ef569a124e02c4794fa5b74
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      filter_builds: |
        (
          (.top_attr == "packages" or .top_attr == "devShells") and
          (.system == "x86_64-linux" or .system == "aarch64-linux") and 
          ( 
            (
              # Do not run on both systems
              [.attr] | inside(
                [
                  "devnet",
                  "devnet-cosmos",
                  "devnet-evm",
                  "docgen",
                  "download-circuit",
                  "evm",
                  "evm-contracts",
                  "fuzz",
                  "generate-evm-proto",
                  "generate-prover-proto",
                  "generate-rust-proto",
                  "gen-proto",
                  "githook",
                  "go-vendor",
                  "rust-proto"
                ]
              )
            ) or 
            (.attr | test("evm-.*-deploy")) | 
            not
          ) or 
          ( 
            # x86_64 only
            .system == "x86_64-linux" and 
            (
              [.attr] | inside(
                [
                  "devnet",
                  "devnet-cosmos",
                  "devnet-evm",
                  "evm",
                  "evm-contracts"
                ]
              )
            )
          )
        )
  test:
    needs: [ build ]
    if: |
      !cancelled()
      && contains(needs.*.result, 'success')
    uses: unionlabs/workflows/.github/workflows/build.yml@4ab8d3d304d8085b5ef569a124e02c4794fa5b74
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      access-tokens: github.com=${{ secrets.GITHUB_TOKEN }}
    with:
      filter_builds: |
        (
          (.top_attr == "checks") and
          (.system == "x86_64-linux") and 
          ( 
            (
              # Do not run
              [.attr] | inside(
                [
                  "ensure-blocks",
                  "epoch-completes",
                  "forced-set-rotation",
                  "pre-commit",
                  "pre-commit-check",
                  "sepolia-runs",
                  "spellcheck",
                  "treefmt-check",
                  "union-runs",
                  "upgrade-from-genesis",
                  "virtualisation-works"
                ]
              )
            ) | not
          )
        )
