name: e2e

on:
  workflow_dispatch:
    inputs:
      repository:
        description: 'The repository from which the slash command was dispatched'
        required: true
      comment-id:
        description: 'The comment-id of the slash command'
        required: true
  pull_request:
    branches:
      - main
jobs:
  start-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v2
        with:
          application_id: ${{ vars.GOLEM_APPLICATION_ID }}
          application_private_key: ${{ secrets.GOLEM_PRIVATE_KEY }}
          organization: unionlabs
      - uses: LouisBrunner/checks-action@v1.6.1
        with:
          token: ${{ steps.get_workflow_token.outputs.token }}
          name: e2e
          status: in_progress
          details_url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

  e2e:
    uses: ./.github/workflows/e2e.yml
    secrets:
      nixbuild_token: ${{ secrets.nixbuild_token }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
    needs: [ start-check ] 

  respond:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    needs: [ e2e ] 
    if: always()
    steps:
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v2
        with:
          application_id: ${{ vars.GOLEM_APPLICATION_ID }}
          application_private_key: ${{ secrets.GOLEM_PRIVATE_KEY }}
          organization: unionlabs
      - uses: technote-space/workflow-conclusion-action@v3
        with:
          GITHUB_TOKEN: ${{ steps.get_workflow_token.outputs.token }}
      - uses: LouisBrunner/checks-action@v1.6.1
        with:
          token: ${{ steps.get_workflow_token.outputs.token }}
          name: e2e
          status: completed
          conclusion: ${{ env.WORKFLOW_CONCLUSION }}