{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-02-17",
    "endpointPrefix":"cleanrooms",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWS Clean Rooms Service",
    "serviceId":"CleanRooms",
    "signatureVersion":"v4",
    "signingName":"cleanrooms",
    "uid":"cleanrooms-2022-02-17"
  },
  "operations":{
    "BatchGetCollaborationAnalysisTemplate":{
      "name":"BatchGetCollaborationAnalysisTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/collaborations/{collaborationIdentifier}/batch-analysistemplates",
        "responseCode":200
      },
      "input":{"shape":"BatchGetCollaborationAnalysisTemplateInput"},
      "output":{"shape":"BatchGetCollaborationAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "BatchGetSchema":{
      "name":"BatchGetSchema",
      "http":{
        "method":"POST",
        "requestUri":"/collaborations/{collaborationIdentifier}/batch-schema",
        "responseCode":200
      },
      "input":{"shape":"BatchGetSchemaInput"},
      "output":{"shape":"BatchGetSchemaOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "BatchGetSchemaAnalysisRule":{
      "name":"BatchGetSchemaAnalysisRule",
      "http":{
        "method":"POST",
        "requestUri":"/collaborations/{collaborationIdentifier}/batch-schema-analysis-rule",
        "responseCode":200
      },
      "input":{"shape":"BatchGetSchemaAnalysisRuleInput"},
      "output":{"shape":"BatchGetSchemaAnalysisRuleOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "CreateAnalysisTemplate":{
      "name":"CreateAnalysisTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode":200
      },
      "input":{"shape":"CreateAnalysisTemplateInput"},
      "output":{"shape":"CreateAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "CreateCollaboration":{
      "name":"CreateCollaboration",
      "http":{
        "method":"POST",
        "requestUri":"/collaborations",
        "responseCode":200
      },
      "input":{"shape":"CreateCollaborationInput"},
      "output":{"shape":"CreateCollaborationOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "CreateConfiguredAudienceModelAssociation":{
      "name":"CreateConfiguredAudienceModelAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"CreateConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "CreateConfiguredTable":{
      "name":"CreateConfiguredTable",
      "http":{
        "method":"POST",
        "requestUri":"/configuredTables",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredTableInput"},
      "output":{"shape":"CreateConfiguredTableOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "CreateConfiguredTableAnalysisRule":{
      "name":"CreateConfiguredTableAnalysisRule",
      "http":{
        "method":"POST",
        "requestUri":"/configuredTables/{configuredTableIdentifier}/analysisRule",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredTableAnalysisRuleInput"},
      "output":{"shape":"CreateConfiguredTableAnalysisRuleOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "CreateConfiguredTableAssociation":{
      "name":"CreateConfiguredTableAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredTableAssociationInput"},
      "output":{"shape":"CreateConfiguredTableAssociationOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "CreateMembership":{
      "name":"CreateMembership",
      "http":{
        "method":"POST",
        "requestUri":"/memberships",
        "responseCode":200
      },
      "input":{"shape":"CreateMembershipInput"},
      "output":{"shape":"CreateMembershipOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "CreatePrivacyBudgetTemplate":{
      "name":"CreatePrivacyBudgetTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode":200
      },
      "input":{"shape":"CreatePrivacyBudgetTemplateInput"},
      "output":{"shape":"CreatePrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "DeleteAnalysisTemplate":{
      "name":"DeleteAnalysisTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAnalysisTemplateInput"},
      "output":{"shape":"DeleteAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "DeleteCollaboration":{
      "name":"DeleteCollaboration",
      "http":{
        "method":"DELETE",
        "requestUri":"/collaborations/{collaborationIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCollaborationInput"},
      "output":{"shape":"DeleteCollaborationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "DeleteConfiguredAudienceModelAssociation":{
      "name":"DeleteConfiguredAudienceModelAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"DeleteConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "DeleteConfiguredTable":{
      "name":"DeleteConfiguredTable",
      "http":{
        "method":"DELETE",
        "requestUri":"/configuredTables/{configuredTableIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConfiguredTableInput"},
      "output":{"shape":"DeleteConfiguredTableOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "DeleteConfiguredTableAnalysisRule":{
      "name":"DeleteConfiguredTableAnalysisRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConfiguredTableAnalysisRuleInput"},
      "output":{"shape":"DeleteConfiguredTableAnalysisRuleOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "DeleteConfiguredTableAssociation":{
      "name":"DeleteConfiguredTableAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConfiguredTableAssociationInput"},
      "output":{"shape":"DeleteConfiguredTableAssociationOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "DeleteMember":{
      "name":"DeleteMember",
      "http":{
        "method":"DELETE",
        "requestUri":"/collaborations/{collaborationIdentifier}/member/{accountId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMemberInput"},
      "output":{"shape":"DeleteMemberOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "DeleteMembership":{
      "name":"DeleteMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMembershipInput"},
      "output":{"shape":"DeleteMembershipOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "DeletePrivacyBudgetTemplate":{
      "name":"DeletePrivacyBudgetTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeletePrivacyBudgetTemplateInput"},
      "output":{"shape":"DeletePrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    },
    "GetAnalysisTemplate":{
      "name":"GetAnalysisTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAnalysisTemplateInput"},
      "output":{"shape":"GetAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetCollaboration":{
      "name":"GetCollaboration",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationInput"},
      "output":{"shape":"GetCollaborationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetCollaborationAnalysisTemplate":{
      "name":"GetCollaborationAnalysisTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/analysistemplates/{analysisTemplateArn}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationAnalysisTemplateInput"},
      "output":{"shape":"GetCollaborationAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetCollaborationConfiguredAudienceModelAssociation":{
      "name":"GetCollaborationConfiguredAudienceModelAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"GetCollaborationConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetCollaborationPrivacyBudgetTemplate":{
      "name":"GetCollaborationPrivacyBudgetTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationPrivacyBudgetTemplateInput"},
      "output":{"shape":"GetCollaborationPrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetConfiguredAudienceModelAssociation":{
      "name":"GetConfiguredAudienceModelAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"GetConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetConfiguredTable":{
      "name":"GetConfiguredTable",
      "http":{
        "method":"GET",
        "requestUri":"/configuredTables/{configuredTableIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredTableInput"},
      "output":{"shape":"GetConfiguredTableOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetConfiguredTableAnalysisRule":{
      "name":"GetConfiguredTableAnalysisRule",
      "http":{
        "method":"GET",
        "requestUri":"/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredTableAnalysisRuleInput"},
      "output":{"shape":"GetConfiguredTableAnalysisRuleOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetConfiguredTableAssociation":{
      "name":"GetConfiguredTableAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredTableAssociationInput"},
      "output":{"shape":"GetConfiguredTableAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetMembership":{
      "name":"GetMembership",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetMembershipInput"},
      "output":{"shape":"GetMembershipOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetPrivacyBudgetTemplate":{
      "name":"GetPrivacyBudgetTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetPrivacyBudgetTemplateInput"},
      "output":{"shape":"GetPrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetProtectedQuery":{
      "name":"GetProtectedQuery",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetProtectedQueryInput"},
      "output":{"shape":"GetProtectedQueryOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetSchema":{
      "name":"GetSchema",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/schemas/{name}",
        "responseCode":200
      },
      "input":{"shape":"GetSchemaInput"},
      "output":{"shape":"GetSchemaOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "GetSchemaAnalysisRule":{
      "name":"GetSchemaAnalysisRule",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/schemas/{name}/analysisRule/{type}",
        "responseCode":200
      },
      "input":{"shape":"GetSchemaAnalysisRuleInput"},
      "output":{"shape":"GetSchemaAnalysisRuleOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListAnalysisTemplates":{
      "name":"ListAnalysisTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode":200
      },
      "input":{"shape":"ListAnalysisTemplatesInput"},
      "output":{"shape":"ListAnalysisTemplatesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListCollaborationAnalysisTemplates":{
      "name":"ListCollaborationAnalysisTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/analysistemplates",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationAnalysisTemplatesInput"},
      "output":{"shape":"ListCollaborationAnalysisTemplatesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListCollaborationConfiguredAudienceModelAssociations":{
      "name":"ListCollaborationConfiguredAudienceModelAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationConfiguredAudienceModelAssociationsInput"},
      "output":{"shape":"ListCollaborationConfiguredAudienceModelAssociationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListCollaborationPrivacyBudgetTemplates":{
      "name":"ListCollaborationPrivacyBudgetTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/privacybudgettemplates",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationPrivacyBudgetTemplatesInput"},
      "output":{"shape":"ListCollaborationPrivacyBudgetTemplatesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListCollaborationPrivacyBudgets":{
      "name":"ListCollaborationPrivacyBudgets",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/privacybudgets",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationPrivacyBudgetsInput"},
      "output":{"shape":"ListCollaborationPrivacyBudgetsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListCollaborations":{
      "name":"ListCollaborations",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationsInput"},
      "output":{"shape":"ListCollaborationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListConfiguredAudienceModelAssociations":{
      "name":"ListConfiguredAudienceModelAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode":200
      },
      "input":{"shape":"ListConfiguredAudienceModelAssociationsInput"},
      "output":{"shape":"ListConfiguredAudienceModelAssociationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListConfiguredTableAssociations":{
      "name":"ListConfiguredTableAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode":200
      },
      "input":{"shape":"ListConfiguredTableAssociationsInput"},
      "output":{"shape":"ListConfiguredTableAssociationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListConfiguredTables":{
      "name":"ListConfiguredTables",
      "http":{
        "method":"GET",
        "requestUri":"/configuredTables",
        "responseCode":200
      },
      "input":{"shape":"ListConfiguredTablesInput"},
      "output":{"shape":"ListConfiguredTablesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListMembers":{
      "name":"ListMembers",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/members",
        "responseCode":200
      },
      "input":{"shape":"ListMembersInput"},
      "output":{"shape":"ListMembersOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListMemberships":{
      "name":"ListMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/memberships",
        "responseCode":200
      },
      "input":{"shape":"ListMembershipsInput"},
      "output":{"shape":"ListMembershipsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListPrivacyBudgetTemplates":{
      "name":"ListPrivacyBudgetTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode":200
      },
      "input":{"shape":"ListPrivacyBudgetTemplatesInput"},
      "output":{"shape":"ListPrivacyBudgetTemplatesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListPrivacyBudgets":{
      "name":"ListPrivacyBudgets",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgets",
        "responseCode":200
      },
      "input":{"shape":"ListPrivacyBudgetsInput"},
      "output":{"shape":"ListPrivacyBudgetsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListProtectedQueries":{
      "name":"ListProtectedQueries",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode":200
      },
      "input":{"shape":"ListProtectedQueriesInput"},
      "output":{"shape":"ListProtectedQueriesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListSchemas":{
      "name":"ListSchemas",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/schemas",
        "responseCode":200
      },
      "input":{"shape":"ListSchemasInput"},
      "output":{"shape":"ListSchemasOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ]
    },
    "PreviewPrivacyImpact":{
      "name":"PreviewPrivacyImpact",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/previewprivacyimpact",
        "responseCode":200
      },
      "input":{"shape":"PreviewPrivacyImpactInput"},
      "output":{"shape":"PreviewPrivacyImpactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "StartProtectedQuery":{
      "name":"StartProtectedQuery",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode":200
      },
      "input":{"shape":"StartProtectedQueryInput"},
      "output":{"shape":"StartProtectedQueryOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ]
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ]
    },
    "UpdateAnalysisTemplate":{
      "name":"UpdateAnalysisTemplate",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAnalysisTemplateInput"},
      "output":{"shape":"UpdateAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdateCollaboration":{
      "name":"UpdateCollaboration",
      "http":{
        "method":"PATCH",
        "requestUri":"/collaborations/{collaborationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateCollaborationInput"},
      "output":{"shape":"UpdateCollaborationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdateConfiguredAudienceModelAssociation":{
      "name":"UpdateConfiguredAudienceModelAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"UpdateConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdateConfiguredTable":{
      "name":"UpdateConfiguredTable",
      "http":{
        "method":"PATCH",
        "requestUri":"/configuredTables/{configuredTableIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredTableInput"},
      "output":{"shape":"UpdateConfiguredTableOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdateConfiguredTableAnalysisRule":{
      "name":"UpdateConfiguredTableAnalysisRule",
      "http":{
        "method":"PATCH",
        "requestUri":"/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredTableAnalysisRuleInput"},
      "output":{"shape":"UpdateConfiguredTableAnalysisRuleOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdateConfiguredTableAssociation":{
      "name":"UpdateConfiguredTableAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredTableAssociationInput"},
      "output":{"shape":"UpdateConfiguredTableAssociationOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdateMembership":{
      "name":"UpdateMembership",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMembershipInput"},
      "output":{"shape":"UpdateMembershipOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdatePrivacyBudgetTemplate":{
      "name":"UpdatePrivacyBudgetTemplate",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdatePrivacyBudgetTemplateInput"},
      "output":{"shape":"UpdatePrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "UpdateProtectedQuery":{
      "name":"UpdateProtectedQuery",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateProtectedQueryInput"},
      "output":{"shape":"UpdateProtectedQueryOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"},
        "reason":{"shape":"AccessDeniedExceptionReason"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessDeniedExceptionReason":{
      "type":"string",
      "enum":["INSUFFICIENT_PERMISSIONS"]
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"\\d+"
    },
    "AggregateColumn":{
      "type":"structure",
      "required":[
        "columnNames",
        "function"
      ],
      "members":{
        "columnNames":{"shape":"AggregateColumnColumnNamesList"},
        "function":{"shape":"AggregateFunctionName"}
      }
    },
    "AggregateColumnColumnNamesList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleColumnName"},
      "min":1
    },
    "AggregateFunctionName":{
      "type":"string",
      "enum":[
        "SUM",
        "SUM_DISTINCT",
        "COUNT",
        "COUNT_DISTINCT",
        "AVG"
      ]
    },
    "AggregationConstraint":{
      "type":"structure",
      "required":[
        "columnName",
        "minimum",
        "type"
      ],
      "members":{
        "columnName":{"shape":"AnalysisRuleColumnName"},
        "minimum":{"shape":"AggregationConstraintMinimumInteger"},
        "type":{"shape":"AggregationType"}
      }
    },
    "AggregationConstraintMinimumInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":2
    },
    "AggregationConstraints":{
      "type":"list",
      "member":{"shape":"AggregationConstraint"},
      "min":1
    },
    "AggregationType":{
      "type":"string",
      "enum":["COUNT_DISTINCT"]
    },
    "AllowedColumnList":{
      "type":"list",
      "member":{"shape":"ColumnName"},
      "max":225,
      "min":1
    },
    "AnalysisFormat":{
      "type":"string",
      "enum":["SQL"]
    },
    "AnalysisMethod":{
      "type":"string",
      "enum":["DIRECT_QUERY"]
    },
    "AnalysisParameter":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "name":{"shape":"ParameterName"},
        "type":{"shape":"ParameterType"},
        "defaultValue":{"shape":"ParameterValue"}
      },
      "sensitive":true
    },
    "AnalysisParameterList":{
      "type":"list",
      "member":{"shape":"AnalysisParameter"},
      "max":10,
      "min":0
    },
    "AnalysisRule":{
      "type":"structure",
      "required":[
        "collaborationId",
        "type",
        "name",
        "createTime",
        "updateTime",
        "policy"
      ],
      "members":{
        "collaborationId":{"shape":"CollaborationIdentifier"},
        "type":{"shape":"AnalysisRuleType"},
        "name":{"shape":"TableAlias"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "policy":{"shape":"AnalysisRulePolicy"}
      }
    },
    "AnalysisRuleAggregation":{
      "type":"structure",
      "required":[
        "aggregateColumns",
        "joinColumns",
        "dimensionColumns",
        "scalarFunctions",
        "outputConstraints"
      ],
      "members":{
        "aggregateColumns":{"shape":"AnalysisRuleAggregationAggregateColumnsList"},
        "joinColumns":{"shape":"AnalysisRuleColumnList"},
        "joinRequired":{"shape":"JoinRequiredOption"},
        "allowedJoinOperators":{"shape":"JoinOperatorsList"},
        "dimensionColumns":{"shape":"AnalysisRuleColumnList"},
        "scalarFunctions":{"shape":"ScalarFunctionsList"},
        "outputConstraints":{"shape":"AggregationConstraints"}
      }
    },
    "AnalysisRuleAggregationAggregateColumnsList":{
      "type":"list",
      "member":{"shape":"AggregateColumn"},
      "min":1
    },
    "AnalysisRuleColumnList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleColumnName"}
    },
    "AnalysisRuleColumnName":{
      "type":"string",
      "max":127,
      "min":1,
      "pattern":"[a-z0-9_](([a-z0-9_ ]+-)*([a-z0-9_ ]+))?"
    },
    "AnalysisRuleCustom":{
      "type":"structure",
      "required":["allowedAnalyses"],
      "members":{
        "allowedAnalyses":{"shape":"AnalysisRuleCustomAllowedAnalysesList"},
        "allowedAnalysisProviders":{"shape":"AnalysisRuleCustomAllowedAnalysisProvidersList"},
        "differentialPrivacy":{"shape":"DifferentialPrivacyConfiguration"}
      }
    },
    "AnalysisRuleCustomAllowedAnalysesList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateArnOrQueryWildcard"},
      "min":0
    },
    "AnalysisRuleCustomAllowedAnalysisProvidersList":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "min":0
    },
    "AnalysisRuleList":{
      "type":"structure",
      "required":[
        "joinColumns",
        "listColumns"
      ],
      "members":{
        "joinColumns":{"shape":"AnalysisRuleListJoinColumnsList"},
        "allowedJoinOperators":{"shape":"JoinOperatorsList"},
        "listColumns":{"shape":"AnalysisRuleColumnList"}
      }
    },
    "AnalysisRuleListJoinColumnsList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleColumnName"},
      "min":1
    },
    "AnalysisRulePolicy":{
      "type":"structure",
      "members":{
        "v1":{"shape":"AnalysisRulePolicyV1"}
      },
      "union":true
    },
    "AnalysisRulePolicyV1":{
      "type":"structure",
      "members":{
        "list":{"shape":"AnalysisRuleList"},
        "aggregation":{"shape":"AnalysisRuleAggregation"},
        "custom":{"shape":"AnalysisRuleCustom"}
      },
      "union":true
    },
    "AnalysisRuleType":{
      "type":"string",
      "enum":[
        "AGGREGATION",
        "LIST",
        "CUSTOM"
      ]
    },
    "AnalysisRuleTypeList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleType"}
    },
    "AnalysisSchema":{
      "type":"structure",
      "members":{
        "referencedTables":{"shape":"QueryTables"}
      }
    },
    "AnalysisSource":{
      "type":"structure",
      "members":{
        "text":{"shape":"AnalysisTemplateText"}
      },
      "sensitive":true,
      "union":true
    },
    "AnalysisTemplate":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "membershipId",
        "membershipArn",
        "name",
        "createTime",
        "updateTime",
        "schema",
        "format",
        "source"
      ],
      "members":{
        "id":{"shape":"AnalysisTemplateIdentifier"},
        "arn":{"shape":"AnalysisTemplateArn"},
        "collaborationId":{"shape":"UUID"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "membershipId":{"shape":"UUID"},
        "membershipArn":{"shape":"MembershipArn"},
        "description":{"shape":"ResourceDescription"},
        "name":{"shape":"ResourceAlias"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "schema":{"shape":"AnalysisSchema"},
        "format":{"shape":"AnalysisFormat"},
        "source":{"shape":"AnalysisSource"},
        "analysisParameters":{"shape":"AnalysisParameterList"},
        "validations":{"shape":"AnalysisTemplateValidationStatusDetailList"}
      }
    },
    "AnalysisTemplateArn":{
      "type":"string",
      "max":200,
      "min":0,
      "pattern":"arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+"
    },
    "AnalysisTemplateArnList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateArn"},
      "max":10,
      "min":1
    },
    "AnalysisTemplateArnOrQueryWildcard":{
      "type":"string",
      "max":200,
      "min":0,
      "pattern":"(ANY_QUERY|arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+)"
    },
    "AnalysisTemplateIdentifier":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "AnalysisTemplateSummary":{
      "type":"structure",
      "required":[
        "arn",
        "createTime",
        "id",
        "name",
        "updateTime",
        "membershipArn",
        "membershipId",
        "collaborationArn",
        "collaborationId"
      ],
      "members":{
        "arn":{"shape":"AnalysisTemplateArn"},
        "createTime":{"shape":"Timestamp"},
        "id":{"shape":"AnalysisTemplateIdentifier"},
        "name":{"shape":"ResourceAlias"},
        "updateTime":{"shape":"Timestamp"},
        "membershipArn":{"shape":"MembershipArn"},
        "membershipId":{"shape":"UUID"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "collaborationId":{"shape":"UUID"},
        "description":{"shape":"ResourceDescription"}
      }
    },
    "AnalysisTemplateSummaryList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateSummary"}
    },
    "AnalysisTemplateText":{
      "type":"string",
      "max":90000,
      "min":0
    },
    "AnalysisTemplateValidationStatus":{
      "type":"string",
      "enum":[
        "VALID",
        "INVALID",
        "UNABLE_TO_VALIDATE"
      ]
    },
    "AnalysisTemplateValidationStatusDetail":{
      "type":"structure",
      "required":[
        "type",
        "status"
      ],
      "members":{
        "type":{"shape":"AnalysisTemplateValidationType"},
        "status":{"shape":"AnalysisTemplateValidationStatus"},
        "reasons":{"shape":"AnalysisTemplateValidationStatusReasonList"}
      }
    },
    "AnalysisTemplateValidationStatusDetailList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateValidationStatusDetail"}
    },
    "AnalysisTemplateValidationStatusReason":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      }
    },
    "AnalysisTemplateValidationStatusReasonList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateValidationStatusReason"}
    },
    "AnalysisTemplateValidationType":{
      "type":"string",
      "enum":["DIFFERENTIAL_PRIVACY"]
    },
    "BatchGetCollaborationAnalysisTemplateError":{
      "type":"structure",
      "required":[
        "arn",
        "code",
        "message"
      ],
      "members":{
        "arn":{"shape":"AnalysisTemplateArn"},
        "code":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "BatchGetCollaborationAnalysisTemplateErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetCollaborationAnalysisTemplateError"},
      "max":10,
      "min":0
    },
    "BatchGetCollaborationAnalysisTemplateInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "analysisTemplateArns"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "analysisTemplateArns":{"shape":"AnalysisTemplateArnList"}
      }
    },
    "BatchGetCollaborationAnalysisTemplateOutput":{
      "type":"structure",
      "required":[
        "collaborationAnalysisTemplates",
        "errors"
      ],
      "members":{
        "collaborationAnalysisTemplates":{"shape":"CollaborationAnalysisTemplateList"},
        "errors":{"shape":"BatchGetCollaborationAnalysisTemplateErrorList"}
      }
    },
    "BatchGetSchemaAnalysisRuleError":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "code",
        "message"
      ],
      "members":{
        "name":{"shape":"TableAlias"},
        "type":{"shape":"AnalysisRuleType"},
        "code":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "BatchGetSchemaAnalysisRuleErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetSchemaAnalysisRuleError"},
      "max":25,
      "min":0
    },
    "BatchGetSchemaAnalysisRuleInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "schemaAnalysisRuleRequests"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "schemaAnalysisRuleRequests":{"shape":"SchemaAnalysisRuleRequestList"}
      }
    },
    "BatchGetSchemaAnalysisRuleOutput":{
      "type":"structure",
      "required":[
        "analysisRules",
        "errors"
      ],
      "members":{
        "analysisRules":{"shape":"SchemaAnalysisRuleList"},
        "errors":{"shape":"BatchGetSchemaAnalysisRuleErrorList"}
      }
    },
    "BatchGetSchemaError":{
      "type":"structure",
      "required":[
        "name",
        "code",
        "message"
      ],
      "members":{
        "name":{"shape":"TableAlias"},
        "code":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "BatchGetSchemaErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetSchemaError"},
      "max":25,
      "min":0
    },
    "BatchGetSchemaInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "names"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "names":{"shape":"TableAliasList"}
      }
    },
    "BatchGetSchemaOutput":{
      "type":"structure",
      "required":[
        "schemas",
        "errors"
      ],
      "members":{
        "schemas":{"shape":"SchemaList"},
        "errors":{"shape":"BatchGetSchemaErrorList"}
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CleanroomsArn":{
      "type":"string",
      "max":100,
      "min":0,
      "pattern":"arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:[\\d\\w/-]+"
    },
    "Collaboration":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "name",
        "creatorAccountId",
        "creatorDisplayName",
        "createTime",
        "updateTime",
        "memberStatus",
        "queryLogStatus"
      ],
      "members":{
        "id":{"shape":"UUID"},
        "arn":{"shape":"CollaborationArn"},
        "name":{"shape":"CollaborationName"},
        "description":{"shape":"CollaborationDescription"},
        "creatorAccountId":{"shape":"AccountId"},
        "creatorDisplayName":{"shape":"DisplayName"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "memberStatus":{"shape":"MemberStatus"},
        "membershipId":{"shape":"UUID"},
        "membershipArn":{"shape":"MembershipArn"},
        "dataEncryptionMetadata":{"shape":"DataEncryptionMetadata"},
        "queryLogStatus":{"shape":"CollaborationQueryLogStatus"}
      }
    },
    "CollaborationAnalysisTemplate":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "name",
        "createTime",
        "updateTime",
        "schema",
        "format",
        "source"
      ],
      "members":{
        "id":{"shape":"AnalysisTemplateIdentifier"},
        "arn":{"shape":"AnalysisTemplateArn"},
        "collaborationId":{"shape":"UUID"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "description":{"shape":"ResourceDescription"},
        "creatorAccountId":{"shape":"AccountId"},
        "name":{"shape":"ResourceAlias"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "schema":{"shape":"AnalysisSchema"},
        "format":{"shape":"AnalysisFormat"},
        "source":{"shape":"AnalysisSource"},
        "analysisParameters":{"shape":"AnalysisParameterList"},
        "validations":{"shape":"AnalysisTemplateValidationStatusDetailList"}
      }
    },
    "CollaborationAnalysisTemplateList":{
      "type":"list",
      "member":{"shape":"CollaborationAnalysisTemplate"},
      "max":10,
      "min":0
    },
    "CollaborationAnalysisTemplateSummary":{
      "type":"structure",
      "required":[
        "arn",
        "createTime",
        "id",
        "name",
        "updateTime",
        "collaborationArn",
        "collaborationId",
        "creatorAccountId"
      ],
      "members":{
        "arn":{"shape":"AnalysisTemplateArn"},
        "createTime":{"shape":"Timestamp"},
        "id":{"shape":"AnalysisTemplateIdentifier"},
        "name":{"shape":"ResourceAlias"},
        "updateTime":{"shape":"Timestamp"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "collaborationId":{"shape":"UUID"},
        "creatorAccountId":{"shape":"AccountId"},
        "description":{"shape":"ResourceDescription"}
      }
    },
    "CollaborationAnalysisTemplateSummaryList":{
      "type":"list",
      "member":{"shape":"CollaborationAnalysisTemplateSummary"}
    },
    "CollaborationArn":{
      "type":"string",
      "max":100,
      "min":0,
      "pattern":"arn:aws:[\\w]+:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:collaboration/[\\d\\w-]+"
    },
    "CollaborationConfiguredAudienceModelAssociation":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "configuredAudienceModelArn",
        "name",
        "creatorAccountId",
        "createTime",
        "updateTime"
      ],
      "members":{
        "id":{"shape":"ConfiguredAudienceModelAssociationIdentifier"},
        "arn":{"shape":"ConfiguredAudienceModelAssociationArn"},
        "collaborationId":{"shape":"UUID"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "configuredAudienceModelArn":{"shape":"ConfiguredAudienceModelArn"},
        "name":{"shape":"ConfiguredAudienceModelAssociationName"},
        "description":{"shape":"ResourceDescription"},
        "creatorAccountId":{"shape":"AccountId"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"}
      }
    },
    "CollaborationConfiguredAudienceModelAssociationSummary":{
      "type":"structure",
      "required":[
        "arn",
        "createTime",
        "id",
        "name",
        "updateTime",
        "collaborationArn",
        "collaborationId",
        "creatorAccountId"
      ],
      "members":{
        "arn":{"shape":"ConfiguredAudienceModelAssociationArn"},
        "createTime":{"shape":"Timestamp"},
        "id":{"shape":"ConfiguredAudienceModelAssociationIdentifier"},
        "name":{"shape":"ConfiguredAudienceModelAssociationName"},
        "updateTime":{"shape":"Timestamp"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "collaborationId":{"shape":"UUID"},
        "creatorAccountId":{"shape":"AccountId"},
        "description":{"shape":"ResourceDescription"}
      }
    },
    "CollaborationConfiguredAudienceModelAssociationSummaryList":{
      "type":"list",
      "member":{"shape":"CollaborationConfiguredAudienceModelAssociationSummary"}
    },
    "CollaborationDescription":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t\\r\\n]*"
    },
    "CollaborationIdentifier":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "CollaborationName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*"
    },
    "CollaborationPrivacyBudgetSummary":{
      "type":"structure",
      "required":[
        "id",
        "privacyBudgetTemplateId",
        "privacyBudgetTemplateArn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "type",
        "createTime",
        "updateTime",
        "budget"
      ],
      "members":{
        "id":{"shape":"UUID"},
        "privacyBudgetTemplateId":{"shape":"PrivacyBudgetTemplateIdentifier"},
        "privacyBudgetTemplateArn":{"shape":"PrivacyBudgetTemplateArn"},
        "collaborationId":{"shape":"UUID"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "creatorAccountId":{"shape":"AccountId"},
        "type":{"shape":"PrivacyBudgetType"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "budget":{"shape":"PrivacyBudget"}
      }
    },
    "CollaborationPrivacyBudgetSummaryList":{
      "type":"list",
      "member":{"shape":"CollaborationPrivacyBudgetSummary"}
    },
    "CollaborationPrivacyBudgetTemplate":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "createTime",
        "updateTime",
        "privacyBudgetType",
        "autoRefresh",
        "parameters"
      ],
      "members":{
        "id":{"shape":"PrivacyBudgetTemplateIdentifier"},
        "arn":{"shape":"PrivacyBudgetTemplateArn"},
        "collaborationId":{"shape":"UUID"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "creatorAccountId":{"shape":"AccountId"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "privacyBudgetType":{"shape":"PrivacyBudgetType"},
        "autoRefresh":{"shape":"PrivacyBudgetTemplateAutoRefresh"},
        "parameters":{"shape":"PrivacyBudgetTemplateParametersOutput"}
      }
    },
    "CollaborationPrivacyBudgetTemplateSummary":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "creatorAccountId",
        "privacyBudgetType",
        "createTime",
        "updateTime"
      ],
      "members":{
        "id":{"shape":"PrivacyBudgetTemplateIdentifier"},
        "arn":{"shape":"PrivacyBudgetTemplateArn"},
        "collaborationId":{"shape":"UUID"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "creatorAccountId":{"shape":"AccountId"},
        "privacyBudgetType":{"shape":"PrivacyBudgetType"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"}
      }
    },
    "CollaborationPrivacyBudgetTemplateSummaryList":{
      "type":"list",
      "member":{"shape":"CollaborationPrivacyBudgetTemplateSummary"}
    },
    "CollaborationQueryLogStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "CollaborationSummary":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "name",
        "creatorAccountId",
        "creatorDisplayName",
        "createTime",
        "updateTime",
        "memberStatus"
      ],
      "members":{
        "id":{"shape":"UUID"},
        "arn":{"shape":"CollaborationArn"},
        "name":{"shape":"CollaborationName"},
        "creatorAccountId":{"shape":"AccountId"},
        "creatorDisplayName":{"shape":"DisplayName"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "memberStatus":{"shape":"MemberStatus"},
        "membershipId":{"shape":"UUID"},
        "membershipArn":{"shape":"MembershipArn"}
      }
    },
    "CollaborationSummaryList":{
      "type":"list",
      "member":{"shape":"CollaborationSummary"}
    },
    "Column":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "name":{"shape":"ColumnName"},
        "type":{"shape":"ColumnTypeString"}
      }
    },
    "ColumnList":{
      "type":"list",
      "member":{"shape":"Column"}
    },
    "ColumnName":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"[a-z0-9_](([a-z0-9_ ]+-)*([a-z0-9_ ]+))?"
    },
    "ColumnTypeString":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*"
    },
    "ConfiguredAudienceModelArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:configured-audience-model/[-a-zA-Z0-9_/.]+"
    },
    "ConfiguredAudienceModelAssociation":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "configuredAudienceModelArn",
        "membershipId",
        "membershipArn",
        "collaborationId",
        "collaborationArn",
        "name",
        "manageResourcePolicies",
        "createTime",
        "updateTime"
      ],
      "members":{
        "id":{"shape":"ConfiguredAudienceModelAssociationIdentifier"},
        "arn":{"shape":"ConfiguredAudienceModelAssociationArn"},
        "configuredAudienceModelArn":{"shape":"ConfiguredAudienceModelArn"},
        "membershipId":{"shape":"UUID"},
        "membershipArn":{"shape":"MembershipArn"},
        "collaborationId":{"shape":"UUID"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "name":{"shape":"ConfiguredAudienceModelAssociationName"},
        "manageResourcePolicies":{"shape":"Boolean"},
        "description":{"shape":"ResourceDescription"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"}
      }
    },
    "ConfiguredAudienceModelAssociationArn":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/configuredaudiencemodelassociation/[\\d\\w-]+"
    },
    "ConfiguredAudienceModelAssociationIdentifier":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "ConfiguredAudienceModelAssociationName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*"
    },
    "ConfiguredAudienceModelAssociationSummary":{
      "type":"structure",
      "required":[
        "membershipId",
        "membershipArn",
        "collaborationArn",
        "collaborationId",
        "createTime",
        "updateTime",
        "id",
        "arn",
        "name",
        "configuredAudienceModelArn"
      ],
      "members":{
        "membershipId":{"shape":"MembershipIdentifier"},
        "membershipArn":{"shape":"MembershipArn"},
        "collaborationArn":{"shape":"CollaborationArn"},
        "collaborationId":{"shape":"UUID"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "id":{"shape":"UUID"},
        "arn":{"shape":"ConfiguredAudienceModelAssociationArn"},
        "name":{"shape":"ConfiguredAudienceModelAssociationName"},
        "configuredAudienceModelArn":{"shape":"ConfiguredAudienceModelArn"},
        "description":{"shape":"ResourceDescription"}
      }
    },
    "ConfiguredAudienceModelAssociationSummaryList":{
      "type":"list",
      "member":{"shape":"ConfiguredAudienceModelAssociationSummary"}
    },
    "ConfiguredTable":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "name",
        "tableReference",
        "createTime",
        "updateTime",
        "analysisRuleTypes",
        "analysisMethod",
        "allowedColumns"
      ],
      "members":{
        "id":{"shape":"UUID"},
        "arn":{"shape":"ConfiguredTableArn"},
        "name":{"shape":"DisplayName"},
        "description":{"shape":"TableDescription"},
        "tableReference":{"shape":"TableReference"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "analysisRuleTypes":{"shape":"ConfiguredTableAnalysisRuleTypeList"},
        "analysisMethod":{"shape":"AnalysisMethod"},
        "allowedColumns":{"shape":"AllowedColumnList"}
      }
    },
    "ConfiguredTableAnalysisRule":{
      "type":"structure",
      "required":[
        "configuredTableId",
        "configuredTableArn",
        "policy",
        "type",
        "createTime",
        "updateTime"
      ],
      "members":{
        "configuredTableId":{"shape":"UUID"},
        "configuredTableArn":{"shape":"ConfiguredTableArn"},
        "policy":{"shape":"ConfiguredTableAnalysisRulePolicy"},
        "type":{"shape":"ConfiguredTableAnalysisRuleType"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"}
      }
    },
    "ConfiguredTableAnalysisRulePolicy":{
      "type":"structure",
      "members":{
        "v1":{"shape":"ConfiguredTableAnalysisRulePolicyV1"}
      },
      "union":true
    },
    "ConfiguredTableAnalysisRulePolicyV1":{
      "type":"structure",
      "members":{
        "list":{"shape":"AnalysisRuleList"},
        "aggregation":{"shape":"AnalysisRuleAggregation"},
        "custom":{"shape":"AnalysisRuleCustom"}
      },
      "union":true
    },
    "ConfiguredTableAnalysisRuleType":{
      "type":"string",
      "enum":[
        "AGGREGATION",
        "LIST",
        "CUSTOM"
      ]
    },
    "ConfiguredTableAnalysisRuleTypeList":{
      "type":"list",
      "member":{"shape":"ConfiguredTableAnalysisRuleType"}
    },
    "ConfiguredTableArn":{
      "type":"string",
      "max":100,
      "min":0,
      "pattern":"arn:aws:[\\w]+:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:configuredtable/[\\d\\w-]+"
    },
    "ConfiguredTableAssociation":{
      "type":"structure",
      "required":[
        "arn",
        "id",
        "configuredTableId",
        "configuredTableArn",
        "membershipId",
        "membershipArn",
        "roleArn",
        "name",
        "createTime",
        "updateTime"
      ],
      "members":{
        "arn":{"shape":"ConfiguredTableAssociationArn"},
        "id":{"shape":"UUID"},
        "configuredTableId":{"shape":"UUID"},
        "configuredTableArn":{"shape":"ConfiguredTableArn"},
        "membershipId":{"shape":"UUID"},
        "membershipArn":{"shape":"MembershipArn"},
        "roleArn":{"shape":"RoleArn"},
        "name":{"shape":"TableAlias"},
        "description":{"shape":"TableDescription"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"}
      }
    },
    "ConfiguredTableAssociationArn":{
      "type":"string",
      "max":100,
      "min":0,
      "pattern":"arn:aws:[\\w]+:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:configuredtableassociation/[\\d\\w-]+/[\\d\\w-]+"
    },
    "ConfiguredTableAssociationIdentifier":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "ConfiguredTableAssociationSummary":{
      "type":"structure",
      "required":[
        "configuredTableId",
        "membershipId",
        "membershipArn",
        "name",
        "createTime",
        "updateTime",
        "id",
        "arn"
      ],
      "members":{
        "configuredTableId":{"shape":"UUID"},
        "membershipId":{"shape":"MembershipIdentifier"},
        "membershipArn":{"shape":"MembershipArn"},
        "name":{"shape":"TableAlias"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "id":{"shape":"UUID"},
        "arn":{"shape":"ConfiguredTableAssociationArn"}
      }
    },
    "ConfiguredTableAssociationSummaryList":{
      "type":"list",
      "member":{"shape":"ConfiguredTableAssociationSummary"}
    },
    "ConfiguredTableIdentifier":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "ConfiguredTableSummary":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "name",
        "createTime",
        "updateTime",
        "analysisRuleTypes",
        "analysisMethod"
      ],
      "members":{
        "id":{"shape":"ConfiguredTableIdentifier"},
        "arn":{"shape":"ConfiguredTableArn"},
        "name":{"shape":"DisplayName"},
        "createTime":{"shape":"Timestamp"},
        "updateTime":{"shape":"Timestamp"},
        "analysisRuleTypes":{"shape":"ConfiguredTableAnalysisRuleTypeList"},
        "analysisMethod":{"shape":"AnalysisMethod"}
      }
    },
    "ConfiguredTableSummaryList":{
      "type":"list",
      "member":{"shape":"ConfiguredTableSummary"}
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"},
        "resourceId":{"shape":"String"},
        "resourceType":{"shape":"ResourceType"},
        "reason":{"shape":"ConflictExceptionReason"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConflictExceptionReason":{
      "type":"string",
      "enum":[
        "ALREADY_EXISTS",
        "SUBRESOURCES_EXIST",
        "INVALID_STATE"
      ]
    },
    "CreateAnalysisTemplateInput":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "name",
        "format",
        "source"
      ],
      "members":{
        "description":{"shape":"ResourceDescription"},
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "name":{"shape":"TableAlias"},
        "format":{"shape":"AnalysisFormat"},
        "source":{"shape":"AnalysisSource"},
        "tags":{"shape":"TagMap"},
        "analysisParameters":{"shape":"AnalysisParameterList"}
      }
    },
    "CreateAnalysisTemplateOutput":{
      "type":"structure",
      "required":["analysisTemplate"],
      "members":{
        "analysisTemplate":{"shape":"AnalysisTemplate"}
      }
    },
    "CreateCollaborationInput":{
      "type":"structure",
      "required":[
        "members",
        "name",
        "description",
        "creatorMemberAbilities",
        "creatorDisplayName",
        "queryLogStatus"
      ],
      "members":{
        "members":{"shape":"MemberList"},
        "name":{"shape":"CollaborationName"},
        "description":{"shape":"CollaborationDescription"},
        "creatorMemberAbilities":{"shape":"MemberAbilities"},
        "creatorDisplayName":{"shape":"DisplayName"},
        "dataEncryptionMetadata":{"shape":"DataEncryptionMetadata"},
        "queryLogStatus":{"shape":"CollaborationQueryLogStatus"},
        "tags":{"shape":"TagMap"},
        "creatorPaymentConfiguration":{"shape":"PaymentConfiguration"}
      }
    },
    "CreateCollaborationOutput":{
      "type":"structure",
      "required":["collaboration"],
      "members":{
        "collaboration":{"shape":"Collaboration"}
      }
    },
    "CreateConfiguredAudienceModelAssociationInput":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "configuredAudienceModelArn",
        "configuredAudienceModelAssociationName",
        "manageResourcePolicies"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "configuredAudienceModelArn":{"shape":"ConfiguredAudienceModelArn"},
        "configuredAudienceModelAssociationName":{"shape":"ConfiguredAudienceModelAssociationName"},
        "manageResourcePolicies":{"shape":"Boolean"},
        "tags":{"shape":"TagMap"},
        "description":{"shape":"ResourceDescription"}
      }
    },
    "CreateConfiguredAudienceModelAssociationOutput":{
      "type":"structure",
      "required":["configuredAudienceModelAssociation"],
      "members":{
        "configuredAudienceModelAssociation":{"shape":"ConfiguredAudienceModelAssociation"}
      }
    },
    "CreateConfiguredTableAnalysisRuleInput":{
      "type":"structure",
      "required":[
        "configuredTableIdentifier",
        "analysisRuleType",
        "analysisRulePolicy"
      ],
      "members":{
        "configuredTableIdentifier":{
          "shape":"ConfiguredTableIdentifier",
          "location":"uri",
          "locationName":"configuredTableIdentifier"
        },
        "analysisRuleType":{"shape":"ConfiguredTableAnalysisRuleType"},
        "analysisRulePolicy":{"shape":"ConfiguredTableAnalysisRulePolicy"}
      }
    },
    "CreateConfiguredTableAnalysisRuleOutput":{
      "type":"structure",
      "required":["analysisRule"],
      "members":{
        "analysisRule":{"shape":"ConfiguredTableAnalysisRule"}
      }
    },
    "CreateConfiguredTableAssociationInput":{
      "type":"structure",
      "required":[
        "name",
        "membershipIdentifier",
        "configuredTableIdentifier",
        "roleArn"
      ],
      "members":{
        "name":{"shape":"TableAlias"},
        "description":{"shape":"TableDescription"},
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "configuredTableIdentifier":{"shape":"ConfiguredTableIdentifier"},
        "roleArn":{"shape":"RoleArn"},
        "tags":{"shape":"TagMap"}
      }
    },
    "CreateConfiguredTableAssociationOutput":{
      "type":"structure",
      "required":["configuredTableAssociation"],
      "members":{
        "configuredTableAssociation":{"shape":"ConfiguredTableAssociation"}
      }
    },
    "CreateConfiguredTableInput":{
      "type":"structure",
      "required":[
        "name",
        "tableReference",
        "allowedColumns",
        "analysisMethod"
      ],
      "members":{
        "name":{"shape":"DisplayName"},
        "description":{"shape":"TableDescription"},
        "tableReference":{"shape":"TableReference"},
        "allowedColumns":{"shape":"AllowedColumnList"},
        "analysisMethod":{"shape":"AnalysisMethod"},
        "tags":{"shape":"TagMap"}
      }
    },
    "CreateConfiguredTableOutput":{
      "type":"structure",
      "required":["configuredTable"],
      "members":{
        "configuredTable":{"shape":"ConfiguredTable"}
      }
    },
    "CreateMembershipInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "queryLogStatus"
      ],
      "members":{
        "collaborationIdentifier":{"shape":"CollaborationIdentifier"},
        "queryLogStatus":{"shape":"MembershipQueryLogStatus"},
        "tags":{"shape":"TagMap"},
        "defaultResultConfiguration":{"shape":"MembershipProtectedQueryResultConfiguration"},
        "paymentConfiguration":{"shape":"MembershipPaymentConfiguration"}
      }
    },
    "CreateMembershipOutput":{
      "type":"structure",
      "required":["membership"],
      "members":{
        "membership":{"shape":"Membership"}
      }
    },
    "CreatePrivacyBudgetTemplateInput":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "autoRefresh",
        "privacyBudgetType",
        "parameters"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "autoRefresh":{"shape":"PrivacyBudgetTemplateAutoRefresh"},
        "privacyBudgetType":{"shape":"PrivacyBudgetType"},
        "parameters":{"shape":"PrivacyBudgetTemplateParametersInput"},
        "tags":{"shape":"TagMap"}
      }
    },
    "CreatePrivacyBudgetTemplateOutput":{
      "type":"structure",
      "required":["privacyBudgetTemplate"],
      "members":{
        "privacyBudgetTemplate":{"shape":"PrivacyBudgetTemplate"}
      }
    },
    "DataEncryptionMetadata":{
      "type":"structure",
      "required":[
        "allowCleartext",
        "allowDuplicates",
        "allowJoinsOnColumnsWithDifferentNames",
        "preserveNulls"
      ],
      "members":{
        "allowCleartext":{"shape":"Boolean"},
        "allowDuplicates":{"shape":"Boolean"},
        "allowJoinsOnColumnsWithDifferentNames":{"shape":"Boolean"},
        "preserveNulls":{"shape":"Boolean"}
      }
    },
    "DeleteAnalysisTemplateInput":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "analysisTemplateIdentifier"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "analysisTemplateIdentifier":{
          "shape":"AnalysisTemplateIdentifier",
          "location":"uri",
          "locationName":"analysisTemplateIdentifier"
        }
      }
    },
    "DeleteAnalysisTemplateOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteCollaborationInput":{
      "type":"structure",
      "required":["collaborationIdentifier"],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        }
      }
    },
    "DeleteCollaborationOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteConfiguredAudienceModelAssociationInput":{
      "type":"structure",
      "required":[
        "configuredAudienceModelAssociationIdentifier",
        "membershipIdentifier"
      ],
      "members":{
        "configuredAudienceModelAssociationIdentifier":{
          "shape":"ConfiguredAudienceModelAssociationIdentifier",
          "location":"uri",
          "locationName":"configuredAudienceModelAssociationIdentifier"
        },
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        }
      }
    },
    "DeleteConfiguredAudienceModelAssociationOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteConfiguredTableAnalysisRuleInput":{
      "type":"structure",
      "required":[
        "configuredTableIdentifier",
        "analysisRuleType"
      ],
      "members":{
        "configuredTableIdentifier":{
          "shape":"ConfiguredTableIdentifier",
          "location":"uri",
          "locationName":"configuredTableIdentifier"
        },
        "analysisRuleType":{
          "shape":"ConfiguredTableAnalysisRuleType",
          "location":"uri",
          "locationName":"analysisRuleType"
        }
      }
    },
    "DeleteConfiguredTableAnalysisRuleOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteConfiguredTableAssociationInput":{
      "type":"structure",
      "required":[
        "configuredTableAssociationIdentifier",
        "membershipIdentifier"
      ],
      "members":{
        "configuredTableAssociationIdentifier":{
          "shape":"ConfiguredTableAssociationIdentifier",
          "location":"uri",
          "locationName":"configuredTableAssociationIdentifier"
        },
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        }
      }
    },
    "DeleteConfiguredTableAssociationOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteConfiguredTableInput":{
      "type":"structure",
      "required":["configuredTableIdentifier"],
      "members":{
        "configuredTableIdentifier":{
          "shape":"ConfiguredTableIdentifier",
          "location":"uri",
          "locationName":"configuredTableIdentifier"
        }
      }
    },
    "DeleteConfiguredTableOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteMemberInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "accountId"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "accountId":{
          "shape":"AccountId",
          "location":"uri",
          "locationName":"accountId"
        }
      }
    },
    "DeleteMemberOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteMembershipInput":{
      "type":"structure",
      "required":["membershipIdentifier"],
      "members":{
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        }
      }
    },
    "DeleteMembershipOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeletePrivacyBudgetTemplateInput":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "privacyBudgetTemplateIdentifier"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "privacyBudgetTemplateIdentifier":{
          "shape":"PrivacyBudgetTemplateIdentifier",
          "location":"uri",
          "locationName":"privacyBudgetTemplateIdentifier"
        }
      }
    },
    "DeletePrivacyBudgetTemplateOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DifferentialPrivacyAggregationExpression":{
      "type":"string",
      "min":1
    },
    "DifferentialPrivacyAggregationType":{
      "type":"string",
      "enum":[
        "AVG",
        "COUNT",
        "COUNT_DISTINCT",
        "SUM",
        "STDDEV"
      ]
    },
    "DifferentialPrivacyColumn":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"String"}
      }
    },
    "DifferentialPrivacyColumnList":{
      "type":"list",
      "member":{"shape":"DifferentialPrivacyColumn"},
      "max":1,
      "min":1
    },
    "DifferentialPrivacyConfiguration":{
      "type":"structure",
      "required":["columns"],
      "members":{
        "columns":{"shape":"DifferentialPrivacyColumnList"}
      }
    },
    "DifferentialPrivacyParameters":{
      "type":"structure",
      "required":["sensitivityParameters"],
      "members":{
        "sensitivityParameters":{"shape":"DifferentialPrivacySensitivityParametersList"}
      }
    },
    "DifferentialPrivacyPreviewAggregation":{
      "type":"structure",
      "required":[
        "type",
        "maxCount"
      ],
      "members":{
        "type":{"shape":"DifferentialPrivacyAggregationType"},
        "maxCount":{"shape":"DifferentialPrivacyPreviewAggregationMaxCountInteger"}
      }
    },
    "DifferentialPrivacyPreviewAggregationList":{
      "type":"list",
      "member":{"shape":"DifferentialPrivacyPreviewAggregation"}
    },
    "DifferentialPrivacyPreviewAggregationMaxCountInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "DifferentialPrivacyPreviewParametersInput":{
      "type":"structure",
      "required":[
        "epsilon",
        "usersNoisePerQuery"
      ],
      "members":{
        "epsilon":{"shape":"Epsilon"},
        "usersNoisePerQuery":{"shape":"UsersNoisePerQuery"}
      }
    },
    "DifferentialPrivacyPrivacyBudget":{
      "type":"structure",
      "required":[
        "aggregations",
        "epsilon"
      ],
      "members":{
        "aggregations":{"shape":"DifferentialPrivacyPrivacyBudgetAggregationList"},
        "epsilon":{"shape":"Epsilon"}
      }
    },
    "DifferentialPrivacyPrivacyBudgetAggregation":{
      "type":"structure",
      "required":[
        "type",
        "maxCount",
        "remainingCount"
      ],
      "members":{
        "type":{"shape":"DifferentialPrivacyAggregationType"},
        "maxCount":{"shape":"DifferentialPrivacyPrivacyBudgetAggregationMaxCountInteger"},
        "remainingCount":{"shape":"DifferentialPrivacyPrivacyBudgetAggregationRemainingCountInteger"}
      }
    },
    "DifferentialPrivacyPrivacyBudgetAggregationList":{
      "type":"list",
      "member":{"shape":"DifferentialPrivacyPrivacyBudgetAggregation"}
    },
    "DifferentialPrivacyPrivacyBudgetAggregationMaxCountInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "DifferentialPrivacyPrivacyBudgetAggregationRemainingCountInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "DifferentialPrivacyPrivacyImpact":{
      "type":"structure",
      "required":["aggregations"],
      "members":{
        "aggregations":{"shape":"DifferentialPrivacyPreviewAggregationList"}
      }
    },
    "DifferentialPrivacySensitivityParameters":{
      "type":"structure",
      "required":[
        "aggregationType",
        "aggregationExpression",
        "userContributionLimit"
      ],
      "members":{
        "aggregationType":{"shape":"DifferentialPrivacyAggregationType"},
        "aggregationExpression":{"shape":"DifferentialPrivacyAggregationExpression"},
        "userContributionLimit":{"shape":"DifferentialPrivacySensitivityParametersUserContributionLimitInteger"},
        "minColumnValue":{"shape":"Float"},
        "maxColumnValue":{"shape":"Float"}
      }
    },
    "DifferentialPrivacySensitivityParametersList":{
      "type":"list",
      "member":{"shape":"DifferentialPrivacySensitivityParameters"}
    },
    "DifferentialPrivacySensitivityParametersUserContributionLimitInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "DifferentialPrivacyTemplateParametersInput":{
      "type":"structure",
      "required":[
        "epsilon",
        "usersNoisePerQuery"
      ],
      "members":{
        "epsilon":{"shape":"Epsilon"},
        "usersNoisePerQuery":{"shape":"UsersNoisePerQuery"}
      }
    },
    "DifferentialPrivacyTemplateParametersOutput":{
      "type":"structure",
      "required":[
        "epsilon",
        "usersNoisePerQuery"
      ],
      "members":{
        "epsilon":{"shape":"Epsilon"},
        "usersNoisePerQuery":{"shape":"UsersNoisePerQuery"}
      }
    },
    "DifferentialPrivacyTemplateUpdateParameters":{
      "type":"structure",
      "members":{
        "epsilon":{"shape":"Epsilon"},
        "usersNoisePerQuery":{"shape":"UsersNoisePerQuery"}
      }
    },
    "DisplayName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*"
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "Epsilon":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "FilterableMemberStatus":{
      "type":"string",
      "enum":[
        "INVITED",
        "ACTIVE"
      ]
    },
    "Float":{
      "type":"float",
      "box":true
    },
    "GetAnalysisTemplateInput":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "analysisTemplateIdentifier"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "analysisTemplateIdentifier":{
          "shape":"AnalysisTemplateIdentifier",
          "location":"uri",
          "locationName":"analysisTemplateIdentifier"
        }
      }
    },
    "GetAnalysisTemplateOutput":{
      "type":"structure",
      "required":["analysisTemplate"],
      "members":{
        "analysisTemplate":{"shape":"AnalysisTemplate"}
      }
    },
    "GetCollaborationAnalysisTemplateInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "analysisTemplateArn"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "analysisTemplateArn":{
          "shape":"AnalysisTemplateArn",
          "location":"uri",
          "locationName":"analysisTemplateArn"
        }
      }
    },
    "GetCollaborationAnalysisTemplateOutput":{
      "type":"structure",
      "required":["collaborationAnalysisTemplate"],
      "members":{
        "collaborationAnalysisTemplate":{"shape":"CollaborationAnalysisTemplate"}
      }
    },
    "GetCollaborationConfiguredAudienceModelAssociationInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "configuredAudienceModelAssociationIdentifier"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "configuredAudienceModelAssociationIdentifier":{
          "shape":"ConfiguredAudienceModelAssociationIdentifier",
          "location":"uri",
          "locationName":"configuredAudienceModelAssociationIdentifier"
        }
      }
    },
    "GetCollaborationConfiguredAudienceModelAssociationOutput":{
      "type":"structure",
      "required":["collaborationConfiguredAudienceModelAssociation"],
      "members":{
        "collaborationConfiguredAudienceModelAssociation":{"shape":"CollaborationConfiguredAudienceModelAssociation"}
      }
    },
    "GetCollaborationInput":{
      "type":"structure",
      "required":["collaborationIdentifier"],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        }
      }
    },
    "GetCollaborationOutput":{
      "type":"structure",
      "required":["collaboration"],
      "members":{
        "collaboration":{"shape":"Collaboration"}
      }
    },
    "GetCollaborationPrivacyBudgetTemplateInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "privacyBudgetTemplateIdentifier"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "privacyBudgetTemplateIdentifier":{
          "shape":"PrivacyBudgetTemplateIdentifier",
          "location":"uri",
          "locationName":"privacyBudgetTemplateIdentifier"
        }
      }
    },
    "GetCollaborationPrivacyBudgetTemplateOutput":{
      "type":"structure",
      "required":["collaborationPrivacyBudgetTemplate"],
      "members":{
        "collaborationPrivacyBudgetTemplate":{"shape":"CollaborationPrivacyBudgetTemplate"}
      }
    },
    "GetConfiguredAudienceModelAssociationInput":{
      "type":"structure",
      "required":[
        "configuredAudienceModelAssociationIdentifier",
        "membershipIdentifier"
      ],
      "members":{
        "configuredAudienceModelAssociationIdentifier":{
          "shape":"ConfiguredAudienceModelAssociationIdentifier",
          "location":"uri",
          "locationName":"configuredAudienceModelAssociationIdentifier"
        },
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        }
      }
    },
    "GetConfiguredAudienceModelAssociationOutput":{
      "type":"structure",
      "required":["configuredAudienceModelAssociation"],
      "members":{
        "configuredAudienceModelAssociation":{"shape":"ConfiguredAudienceModelAssociation"}
      }
    },
    "GetConfiguredTableAnalysisRuleInput":{
      "type":"structure",
      "required":[
        "configuredTableIdentifier",
        "analysisRuleType"
      ],
      "members":{
        "configuredTableIdentifier":{
          "shape":"ConfiguredTableIdentifier",
          "location":"uri",
          "locationName":"configuredTableIdentifier"
        },
        "analysisRuleType":{
          "shape":"ConfiguredTableAnalysisRuleType",
          "location":"uri",
          "locationName":"analysisRuleType"
        }
      }
    },
    "GetConfiguredTableAnalysisRuleOutput":{
      "type":"structure",
      "required":["analysisRule"],
      "members":{
        "analysisRule":{"shape":"ConfiguredTableAnalysisRule"}
      }
    },
    "GetConfiguredTableAssociationInput":{
      "type":"structure",
      "required":[
        "configuredTableAssociationIdentifier",
        "membershipIdentifier"
      ],
      "members":{
        "configuredTableAssociationIdentifier":{
          "shape":"ConfiguredTableAssociationIdentifier",
          "location":"uri",
          "locationName":"configuredTableAssociationIdentifier"
        },
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        }
      }
    },
    "GetConfiguredTableAssociationOutput":{
      "type":"structure",
      "required":["configuredTableAssociation"],
      "members":{
        "configuredTableAssociation":{"shape":"ConfiguredTableAssociation"}
      }
    },
    "GetConfiguredTableInput":{
      "type":"structure",
      "required":["configuredTableIdentifier"],
      "members":{
        "configuredTableIdentifier":{
          "shape":"ConfiguredTableIdentifier",
          "location":"uri",
          "locationName":"configuredTableIdentifier"
        }
      }
    },
    "GetConfiguredTableOutput":{
      "type":"structure",
      "required":["configuredTable"],
      "members":{
        "configuredTable":{"shape":"ConfiguredTable"}
      }
    },
    "GetMembershipInput":{
      "type":"structure",
      "required":["membershipIdentifier"],
      "members":{
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        }
      }
    },
    "GetMembershipOutput":{
      "type":"structure",
      "required":["membership"],
      "members":{
        "membership":{"shape":"Membership"}
      }
    },
    "GetPrivacyBudgetTemplateInput":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "privacyBudgetTemplateIdentifier"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "privacyBudgetTemplateIdentifier":{
          "shape":"PrivacyBudgetTemplateIdentifier",
          "location":"uri",
          "locationName":"privacyBudgetTemplateIdentifier"
        }
      }
    },
    "GetPrivacyBudgetTemplateOutput":{
      "type":"structure",
      "required":["privacyBudgetTemplate"],
      "members":{
        "privacyBudgetTemplate":{"shape":"PrivacyBudgetTemplate"}
      }
    },
    "GetProtectedQueryInput":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "protectedQueryIdentifier"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"MembershipIdentifier",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "protectedQueryIdentifier":{
          "shape":"ProtectedQueryIdentifier",
          "location":"uri",
          "locationName":"protectedQueryIdentifier"
        }
      }
    },
    "GetProtectedQueryOutput":{
      "type":"structure",
      "required":["protectedQuery"],
      "members":{
        "protectedQuery":{"shape":"ProtectedQuery"}
      }
    },
    "GetSchemaAnalysisRuleInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "name",
        "type"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "name":{
          "shape":"TableAlias",
          "location":"uri",
          "locationName":"name"
        },
        "type":{
          "shape":"AnalysisRuleType",
          "location":"uri",
          "locationName":"type"
        }
      }
    },
    "GetSchemaAnalysisRuleOutput":{
      "type":"structure",
      "required":["analysisRule"],
      "members":{
        "analysisRule":{"shape":"AnalysisRule"}
      }
    },
    "GetSchemaInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "name"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "name":{
          "shape":"TableAlias",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetSchemaOutput":{
      "type":"structure",
      "required":["schema"],
      "members":{
        "schema":{"shape":"Schema"}
      }
    },
    "GlueDatabaseName":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"[a-zA-Z0-9_](([a-zA-Z0-9_]+-)*([a-zA-Z0-9_]+))?"
    },
    "GlueTableName":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"[a-zA-Z0-9_](([a-zA-Z0-9_ ]+-)*([a-zA-Z0-9_ ]+))?"
    },
    "GlueTableReference":{
      "type":"structure",
      "required":[
        "tableName",
        "databaseName"
      ],
      "members":{
[...]
